---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","client_conn_throttle":20,"tags":null,"firewall_id":640319}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 767905, "label": "balancer767905", "region": "us-southeast", "hostname":
      "45-79-244-22.ip.linodeusercontent.com", "ipv4": "45.79.244.22", "ipv6": "1234::5678",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "client_conn_throttle":
      20, "tags": [], "transfer": {"in": null, "out": null, "total": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/767905/configs
    method: POST
  response:
    body: '{"id": 1266954, "port": 80, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 31, "check_timeout":
      30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      767905, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"us-southeast","type":"g6-nanode-1","label":"nodebalancer-example-instance","root_pass":"o\u003cF.F29=e\u003c2:{U28l5z2[w96()3TM\\bxaxjAUV*FhAfk2[-2YrC43E^H\u0026I8Hb}r0","image":"linode/debian9","firewall_id":640319,"booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 61170530, "label": "nodebalancer-example-instance", "group": "",
      "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.105.159.61"], "ipv6": "1234::5678/128",
      "image": "linode/debian9", "region": "us-southeast", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": true, "available": false, "schedule": {"day": null, "window":
      null}, "last_successful": null}, "hypervisor": "kvm", "watchdog_enabled": true,
      "tags": [], "host_uuid": "69f0154caa24252c418222748af95908224f0aeb", "has_user_data":
      false, "placement_group": null, "lke_cluster_id": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/61170530/ips
    method: POST
  response:
    body: '{"address": "192.168.230.18", "gateway": null, "subnet_mask": "255.255.128.0",
      "prefix": 17, "type": "ipv4", "public": false, "rdns": null, "linode_id": 61170530,
      "region": "us-southeast", "vpc_nat_1_1": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.230.18:80","label":"node-192.168.230.18"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/767905/configs/1266954/nodes
    method: POST
  response:
    body: '{"id": 2051559125, "address": "192.168.230.18:80", "label": "node-192.168.230.18",
      "status": "Unknown", "weight": 50, "mode": "accept", "config_id": 1266954, "nodebalancer_id":
      767905}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.230.18:8080","label":"node-192.168.230.18","weight":50,"mode":"accept"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/767905/configs/1266954/nodes/2051559125
    method: PUT
  response:
    body: '{"id": 2051559125, "address": "192.168.230.18:8080", "label": "node-192.168.230.18",
      "status": "Unknown", "weight": 50, "mode": "accept", "config_id": 1266954, "nodebalancer_id":
      767905}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/767905/configs/1266954/nodes?page=1
    method: GET
  response:
    body: '{"data": [{"id": 2051559125, "address": "192.168.230.18:8080", "label":
      "node-192.168.230.18", "status": "Unknown", "weight": 50, "mode": "accept",
      "config_id": 1266954, "nodebalancer_id": 767905}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/767905/configs/1266954
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/767905
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/61170530
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
