---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1193755, "username": "jrzavaschi1992", "user_gravatar_id":
      "6c0262d5482846284b510b579df19fdd", "label": "PHP", "description": "", "ordinal":
      0, "logo_url": "", "images": ["linode/ubuntu14.04lts", "linode/centos7", "linode/debian8",
      "linode/fedora22"], "deployments_total": 0, "deployments_active": 0, "is_public":
      true, "mine": false, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "rev_note": "v1.0.1", "script": "#!/usr/bin/env python\n\n\"\"\"\nPHP StackScript\n\t\n\tAuthor:
      Ricardo N Feliciano <rfeliciano@linode.com>\n\tVersion: 1.0.1.2\n\tRequirements:\n\t\t-
      ss://linode/python-library <ssinclude StackScriptID=\"3\">\n\nThis StackScript
      both deploys as well as provides a library of functions for\nPHP. The functions
      in this StackScript are designed to be run across the \nLinode Core Distributions:\n\t-
      Ubuntu\n\t- CentOS\n\t- Debian\n\t- Fedora\n\"\"\"\n\nimport os\nimport subprocess\nimport
      sys\n\ntry: # we''ll need to rename included StackScripts before we can import
      them\n\tos.rename(\"/root/ssinclude-3\", \"/root/pythonlib.py\")\nexcept:\n\tpass\n\nimport[...]
