---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users?page=1
    method: GET
  response:
    body: '{"data": [{"username": "ErikZilber", "email": "ezilber@akamai.com", "restricted":
      false, "ssh_keys": [], "tfa_enabled": false, "verified_phone_number": "+11234567890",
      "password_created": "2018-01-02T03:04:05", "last_login": {"login_datetime":
      "2018-01-02T03:04:05", "status": "successful"}, "user_type": "default"}], "page":
      1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
