---
version: 1
interactions:
- request:
    body: '{"label":"example stackscript 2024-05-31 10:04:42.930229 -0700 PDT m=+25.142787667","description":"description
      for example stackscript 2024-05-31 10:04:42.930224 -0700 PDT m=+25.142783033","images":["linode/debian9","linode/ubuntu18.04"],"is_public":false,"rev_note":"revision
      1","script":"#!/bin/bash\n"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts
    method: POST
  response:
    body: '{"id": 1384476, "username": "youjungk01", "user_gravatar_id": "89c3034428203ecf41c0c4795ac9f651",
      "label": "example stackscript 2024-05-31 10:04:42.930229 -0700 PDT m=+25.142787667",
      "description": "description for example stackscript 2024-05-31 10:04:42.930224
      -0700 PDT m=+25.142783033", "ordinal": 0, "logo_url": "", "images": ["linode/debian9",
      "linode/ubuntu18.04"], "deployments_total": 0, "deployments_active": 0, "is_public":
      false, "mine": true, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "rev_note": "revision 1", "script": "#!/bin/bash\n", "user_defined_fields":
      []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"2 example stackscript 2024-05-31 10:04:42.930229 -0700 PDT m=+25.142787667","description":"description
      for example stackscript 2024-05-31 10:04:42.930224 -0700 PDT m=+25.142783033","images":["linode/debian9","linode/ubuntu18.04"],"is_public":false,"rev_note":"revision
      2","script":"#!/bin/bash\necho 2\n"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts/1384476
    method:[...]
[...]
