---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/1231
    method: GET
  response:
    body: '{"errors": [{"reason": "Not found"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: GET
  response:
    body: '{"data": [{"id": 29745916, "label": "workdev", "group": "", "status": "running",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "type":
      "g6-standard-2", "ipv4": ["139.177.207.51"], "ipv6": "1234::5678/128",
      "image": "linode/fedora34", "region": "us-southeast", "specs": {"disk": 81920,
      "memory": 4096, "vcpus": 2, "gpus": 0, "transfer": 4000}, "alerts": {"cpu":
      180, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": ["linuke-keep"]}],
      "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/29745916/configs
    method: GET
  response:
    body: '{"data": [{"id": 31906080, "label": "My Fedora 34 Disk Profile", "helpers":
      {"updatedb_disabled": true, "distro": true, "modules_dep": true, "network":
      true, "devtmpfs_automount": true}, "kernel": "linode/grub2", "comments": "",
      "memory_limit": 0, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "root_device": "/dev/sda", "devices": {"sda": {"disk_id": 60063322, "volume_id":
      null}, "sdb": {"disk_id": 60063323, "volume_id": null}, "sdc": null, "sdd":
      null, "sde": null, "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level":
      "default", "virt_mode": "paravirt", "interfaces": []}], "page": 1, "pages":
      1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/29745916/configs/31906080
    method: GET
  response:
    body: '{"id": 31906080, "label": "My Fedora 34 Disk Profile", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/grub2", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": {"disk_id": 60063322, "volume_id": null}, "sdb": {"disk_id":
      60063323, "volume_id": null}, "sdc": null, "sdd": null, "sde": null, "sdf":
      null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default", "virt_mode":
      "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/29745916/disks
    method: GET
  response:
    body: '{"data": [{"id": 60063322, "status": "ready", "label": "Fedora 34 Disk",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 81408}, {"id": 60063323, "status": "ready", "label": "512 MB
      Swap Image", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "filesystem": "swap", "size": 512}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/29745916/disks/60063322
    method: GET
  response:
    body: '{"id": 60063322, "status": "ready", "label": "Fedora 34 Disk", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem": "ext4",
      "size": 81408}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/29745916/backups
    method: GET
  response:
    body: '{"automatic": [], "snapshot": {"current": null, "in_progress": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/29745916/volumes
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"mine":true}'
    url: https://api.linode.com/v4beta/linode/stackscripts
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
