---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","client_conn_throttle":20,"tags":null,"firewall_id":2677167}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 1595316, "label": "balancer1595316", "region": "us-southeast", "type":
      "common", "hostname": "139-144-167-102.ip.linodeusercontent.com", "ipv4": "139.144.167.102",
      "ipv6": "1234::5678", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "client_conn_throttle": 20, "client_udp_sess_throttle":
      0, "lke_cluster": null, "tags": [], "transfer": {"in": null, "out": null, "total":
      null}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"check_interval":30,"check_attempts":5,"check_timeout":5}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1595316/configs
    method: POST
  response:
    body: '{"id": 2450487, "port": 80, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 30, "check_timeout":
      5, "check_attempts": 5, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      1595316, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}, "udp_check_port": 80, "udp_session_timeout":
      16}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":8080,"protocol":"http","proxy_protocol":"none","algorithm":"roundrobin","stickiness":"none","check":"none","check_interval":30,"check_attempts":5,"check_passive":true,"check_timeout":5,"cipher_suite":"recommended"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1595316/configs/2450487
    method: PUT
  response:
    body: '{"id": 2450487, "port": 8080, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 30, "check_timeout":
      5, "check_attempts": 5, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      1595316, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}, "udp_check_port": 80, "udp_session_timeout":
      16}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1595316/configs?page=1
    method: GET
  response:
    body: '{"data": [{"id": 2450487, "port": 8080, "protocol": "http", "algorithm":
      "roundrobin", "stickiness": "none", "check": "none", "check_interval": 30, "check_timeout":
      5, "check_attempts": 5, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      1595316, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}, "udp_check_port": 80, "udp_session_timeout":
      16}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1595316
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
