---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","client_conn_throttle":20,"tags":null,"firewall_id":2677167}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 1595317, "label": "balancer1595317", "region": "us-southeast", "type":
      "common", "hostname": "139-144-166-98.ip.linodeusercontent.com", "ipv4": "139.144.166.98",
      "ipv6": "1234::5678", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "client_conn_throttle": 20, "client_udp_sess_throttle":
      0, "lke_cluster": null, "tags": [], "transfer": {"in": null, "out": null, "total":
      null}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1595317/configs
    method: POST
  response:
    body: '{"id": 2450488, "port": 80, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 31, "check_timeout":
      30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      1595317, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}, "udp_check_port": 80, "udp_session_timeout":
      16}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"us-southeast","type":"g6-nanode-1","label":"nodebalancer-example-instance","root_pass":"X''9kGnlSpG8\\2X[6]P6k}r716kEd9AD(I;xGu#6s?2-,C*;s`N*f{0uS7Ygi107T","image":"linode/debian12","firewall_id":2677167,"booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 77641926, "label": "nodebalancer-example-instance", "group": "",
      "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.105.159.223"], "ipv6": "1234::5678/128",
      "image": "linode/debian12", "region": "us-southeast", "site_type": "core", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": false, "available": false, "schedule":
      {"day": null, "window": null}, "last_successful": null}, "hypervisor": "kvm",
      "watchdog_enabled": true, "tags": [], "host_uuid": "cbc420fe867d435bccf07a10228d423527722e59",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": [], "interface_generation": "legacy_config"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/77641926/ips
    method: POST
  response:
    body: '{"address": "192.168.230.214", "gateway": null, "subnet_mask": "255.255.128.0",
      "prefix": 17, "type": "ipv4", "public": false, "rdns": null, "linode_id": 77641926,
      "interface_id": null, "region": "us-southeast", "vpc_nat_1_1": null, "reserved":
      false, "assigned_entity": {"id": 77641926, "type": "linode", "label": "nodebalancer-example-instance",
      "url": "/v4/linode/instances/77641926"}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.230.214:80","label":"node-192.168.230.214"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1595317/configs/2450488/nodes
    method: POST
  response:
    body: '{"id": 2104029484, "address": "192.168.230.214:80", "label": "node-192.168.230.214",
      "status": "Unknown", "weight": 50, "mode": "accept", "config_id": 2450488, "nodebalancer_id":
      1595317, "vpc_config_id": null}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.230.214:8080","label":"node-192.168.230.214","weight":50,"mode":"accept"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1595317/configs/2450488/nodes/2104029484
    method: PUT
  response:
    body: '{"id": 2104029484, "address": "192.168.230.214:8080", "label": "node-192.168.230.214",
      "status": "Unknown", "weight": 50, "mode": "accept", "config_id": 2450488, "nodebalancer_id":
      1595317, "vpc_config_id": null}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1595317/configs/2450488/nodes?page=1
    method: GET
  response:
    body: '{"data": [{"id": 2104029484, "address": "192.168.230.214:8080", "label":
      "node-192.168.230.214", "status": "Unknown", "weight": 50, "mode": "accept",
      "config_id": 2450488, "nodebalancer_id": 1595317, "vpc_config_id": null}], "page":
      1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1595317/configs/2450488
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1595317
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/77641926
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
