---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/kernels?page=1
    method: GET
  response:
    body: '{"data": [{"id": "linode/latest-2.6-32bit", "label": "Latest 2.6 (2.6.39.1-linode34)",
      "version": "2.6.39", "kvm": false, "architecture": "i386", "pvops": true, "deprecated":
      true, "built": "2018-01-02T03:04:05"}, {"id": "linode/latest-2.6", "label":
      "Latest 2.6 Stable (2.6.23.17-linode44)", "version": "2.6.24", "kvm": false,
      "architecture": "i386", "pvops": false, "deprecated": true, "built": "2018-01-02T03:04:05"},
      {"id": "linode/latest-32bit", "label": "Latest 32 bit (5.19.2-x86-linode176)",
      "version": "5.19.2", "kvm": true, "architecture": "i386", "pvops": true, "deprecated":
      false, "built": "2018-01-02T03:04:05"}, {"id": "linode/2.6.18.8-linode22[...]
