---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts?page=1
    method: GET
  response:
    body: '{"data": [{"id": 623104, "username": "octane3333", "user_gravatar_id":
      "3e9341b887a3183cc653e488a37b83b8", "label": "onmouseover=alert(0)", "description":
      "onmouseover=alert(0)", "ordinal": 0, "logo_url": "", "images": ["linode/fedora29"],
      "deployments_total": 0, "deployments_active": 0, "is_public": true, "mine":
      false, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "rev_note":
      "Initial import", "script": "#!/bin/bash\nonmouseover=alert(0)", "user_defined_fields":
      []}, {"id": 6146, "username": "north5", "user_gravatar_id": "4719cf3a5ab3123f9ee536c796788b68",
      "label": "north5_ubuntu_basic", "description": "Basic lib of bash functions",
      "ordinal": 0, "logo_url": "", "images": ["linode/ubuntu10.04lts32bit", "linode/ubuntu10.04lts",
      "linode/ubuntu12.04lts32bit", null, "linode/ubuntu12.1032bit", "linode/ubuntu12.10"],
      "deployments_total": 0, "deployments_active": 0, "is_public": true, "mine":
      false, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "rev_note":
      "short hostname recoord added to /etc/hosts", "script": "#!/bin/bash\n\n# <udf
      name=\"ubuntu_mirror\" label=\"ubuntu mirror url\" default=\"http://archive.ubuntu.com/ubuntu/\">\n#
      <udf name=\"hostname\" label=\"hostname\">\n\n# Set software sources\nfunction
      set_sources_list() {\n  echo \"Adjusting sources.list (destructively)\" >> $logfile\n  CODENAME=$(lsb_release
      -sc)\n\n  cat >/etc/apt/sources.list <<EOF\ndeb $UBUNTU_MIRROR $CODENAME main
      restricted universe multiverse\ndeb-src $UBUNTU_MIRROR $CODENAME main restricted
      universe multiverse\n\ndeb $UBUNTU_MIRROR $CODENAME-updates main restricted
      universe multiverse\ndeb-src $UBUNTU_MIRROR $CODENA[...]
