---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/kernels/linode/latest-32bit
    method: GET
  response:
    body: '{"id": "linode/latest-32bit", "label": "Latest 32 bit (5.16.13-x86-linode173)",
      "version": "5.16.13", "kvm": true, "architecture": "i386", "pvops": true, "deprecated":
      false, "built": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
