---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"label":"5.17.5-x86_64-linode154"}'
    url: https://api.linode.com/v4beta/linode/kernels
    method: GET
  response:
    body: '{"data": [{"id": "linode/5.17.5-x86_64-linode154", "label": "5.17.5-x86_64-linode154",
      "version": "5.17.5", "kvm": true, "architecture": "x86_64", "pvops": true, "deprecated":
      false, "built": "2018-01-02T03:04:05"}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
