---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"foo":"bar"}'
    url: https://api.linode.com/v4beta/images?page=1
    method: GET
  response:
    body: '{"errors": [{"reason": "Cannot filter on foo", "field": "X-Filter"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 400 Bad Request
    code: 400
    duration: ""
