---
version: 1
interactions:
- request:
    body: '{"label":"example stackscript 2022-05-04 01:26:13.800022973 +0000 UTC m=+1323.485689211","description":"description
      for example stackscript 2022-05-04 01:26:13.800006103 +0000 UTC m=+1323.485672351","images":["linode/debian9","linode/ubuntu18.04"],"is_public":false,"rev_note":"revision
      1","script":"#!/bin/bash\n"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts
    method: POST
  response:
    body: '{"id": 1004489, "username": "jriddle-dev", "user_gravatar_id": "d3270279f01c3808197f56f0e8bf9f42",
      "label": "example stackscript 2022-05-04 01:26:13.800022973 +0000 UTC m=+1323.485689211",
      "description": "description for example stackscript 2022-05-04 01:26:13.800006103
      +0000 UTC m=+1323.485672351", "ordinal": 0, "logo_url": "", "images": ["linode/debian9",
      "linode/ubuntu18.04"], "deployments_total": 0, "deployments_active": 0, "is_public":
      false, "mine": true, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "rev_note": "revision 1", "script": "#!/bin/bash\n", "user_defined_fields":
      []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"2 example stackscript 2022-05-04 01:26:13.800022973 +0000 UTC
      m=+1323.485689211","description":"description for example stackscript 2022-05-04
      01:26:13.800006103 +0000 UTC m=+1323.485672351","images":["linode/debian9","linode/ubuntu18.04"],"is_public":false,"rev_note":"revision
      2","script":"#!/bin/bash\necho 2\n"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts/1004489
    method: PUT
  response:
    body: '{"id": 1004489, "username": "jriddle-dev", "user_gravatar_id": "d3270279f01c3808197f56f0e8bf9f42",
      "label": "2 example stackscript 2022-05-04 01:26:13.800022973 +0000 UTC m=+1323.485689211",
      "description": "description for example stackscript 2022-05-04 01:26:13.800006103
      +0000 UTC m=+1323.485672351", "ordinal": 0, "logo_url": "", "images": ["linode/debian9",
      "linode/ubuntu18.04"], "deployments_total": 0, "deployments_active": 0, "is_public":
      false, "mine": true, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "rev_note": "revision 2", "script": "#!/bin/bash\necho 2\n", "user_defined_fields":
      []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
