---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","client_conn_throttle":20,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 259599, "label": "balancer259599", "region": "us-southeast", "hostname":
      "139-144-164-54.ip.linodeusercontent.com", "ipv4": "139.144.164.54", "ipv6":
      "1234::5678", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "client_conn_throttle": 20, "tags": [], "transfer": {"in": null, "out": null,
      "total": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/259599
    method: GET
  response:
    body: '{"id": 259599, "label": "balancer259599", "region": "us-southeast", "hostname":
      "139-144-164-54.ip.linodeusercontent.com", "ipv4": "139.144.164.54", "ipv6":
      "1234::5678", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "client_conn_throttle": 20, "tags": [], "transfer": {"in": null, "out": null,
      "total": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
