---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/1231
    method: GET
  response:
    body: '{"errors": [{"reason": "Not found"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: GET
  response:
    body: '{"data": [{"id": 59542994, "label": "go-test-ins-3812seykyn76", "group":
      "", "status": "running", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["194.195.118.209"], "ipv6": "1234::5678/128",
      "image": "linode/debian9", "region": "ap-west", "specs": {"disk": 25600, "memory":
      1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      true, "available": true, "schedule": {"day": "Scheduling", "window": "Scheduling"},
      "last_successful": "2018-01-02T03:04:05"}, "hypervisor": "kvm", "watchdog_enabled":
      true, "tags": [], "host_uuid": "0b2d5aae2f89f7a14796533db6c3fd605a035d50", "has_user_data":
      false, "placement_group": null}, {"id": 59543048, "label": "go-test-ins-wo-disk-v6p8qg0b815q",
      "group": "", "status": "offline", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "type": "g6-nanode-1", "ipv4": ["194.195.118.254"], "ipv6":
      "1234::5678/128", "image": null, "region": "ap-west", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts":
      {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io":
      10000}, [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59542994/configs
    method: GET
  response:
    body: '{"data": [{"id": 62729621, "label": "My Debian 9 Disk Profile", "helpers":
      {"updatedb_disabled": true, "distro": true, "modules_dep": true, "network":
      true, "devtmpfs_automount": true}, "kernel": "linode/grub2", "comments": "",
      "memory_limit": 0, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "root_device": "/dev/sda", "devices": {"sda": {"disk_id": 117262206, "volume_id":
      null}, "sdb": {"disk_id": 117262207, "volume_id": null}, "sdc": null, "sdd":
      null, "sde": null, "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level":
      "default", "virt_mode": "paravirt", "interfaces": []}], "page": 1, "pages":
      1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59542994/configs/62729621
    method: GET
  response:
    body: '{"id": 62729621, "label": "My Debian 9 Disk Profile", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/grub2", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": {"disk_id": 117262206, "volume_id": null}, "sdb": {"disk_id":
      117262207, "volume_id": null}, "sdc": null, "sdd": null, "sde": null, "sdf":
      null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default", "virt_mode":
      "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59542994/disks
    method: GET
  response:
    body: '{"data": [{"id": 117262206, "status": "ready", "label": "Debian 9 Disk",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 25088}, {"id": 117262207, "status": "ready", "label": "512 MB
      Swap Image", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "filesystem": "swap", "size": 512}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59542994/disks/117262206
    method: GET
  response:
    body: '{"id": 117262206, "status": "ready", "label": "Debian 9 Disk", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem": "ext4",
      "size": 25088}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59542994/backups
    method: GET
  response:
    body: '{"automatic": [{"id": 292760380, "region": "ap-west", "type": "auto", "status":
      "successful", "available": true, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "finished": "2018-01-02T03:04:05", "label": null, "configs":
      ["My Debian 9 Disk Profile"], "disks": [{"label": "Debian 9 Disk", "size": 25088,
      "filesystem": "ext4"}, {"label": "512 MB Swap Image", "size": 512, "filesystem":
      "swap"}]}], "snapshot": {"current": null, "in_progress": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59542994/volumes
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"mine":true}'
    url: https://api.linode.com/v4beta/linode/stackscripts
    method: GET
  response:
    body: '{"data": [{"id": 1354525, "username": "youjungk01", "user_gravatar_id":
      "89c3034428203ecf41c0c4795ac9f651", "label": "Demonstration_Public", "description":
      "", "ordinal": 0, "logo_url": "", "images": ["linode/debian11"], "deployments_total":
      9, "deployments_active": 0, "is_public": true, "mine": true, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "rev_note": "", "script": "#!/bin/bash", "user_defined_fields":
      []}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
