---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/subscriptions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "longview-3", "label": "Longview Pro 3 pack", "price":
      {"hourly": 0.03, "monthly": 20.0}, "clients_included": 3}, {"id": "longview-10",
      "label": "Longview Pro 10 pack", "price": {"hourly": 0.06, "monthly": 40.0},
      "clients_included": 10}, {"id": "longview-40", "label": "Longview Pro 40 pack",
      "price": {"hourly": 0.15, "monthly": 100.0}, "clients_included": 40}, {"id":
      "longview-100", "label": "Longview Pro 100 pack", "price": {"hourly": 0.3, "monthly":
      200.0}, "clients_included": 100}], "page": 1, "pages": 1, "results": 4}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
