---
version: 1
interactions:
- request:
    body: '{"label":"example stackscript 2024-07-11 14:35:59.602577 -0400 EDT m=+1.641587543","description":"description
      for example stackscript 2024-07-11 14:35:59.602562 -0400 EDT m=+1.641572501","images":["linode/debian9","linode/ubuntu18.04"],"is_public":false,"rev_note":"revision
      1","script":"#!/bin/bash\n"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts
    method: POST
  response:
    body: '{"id": 1413819, "username": "ErikZilber", "user_gravatar_id": "dea680eaec3cc565140cd87c663c1100",
      "label": "example stackscript 2024-07-11 14:35:59.602577 -0400 EDT m=+1.641587543",
      "description": "description for example stackscript 2024-07-11 14:35:59.602562
      -0400 EDT m=+1.641572501", "ordinal": 0, "logo_url": "", "images": ["linode/debian9",
      "linode/ubuntu18.04"], "deployments_total": 0, "deployments_active": 0, "is_public":
      false, "mine": true, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "rev_note": "revision 1", "script": "#!/bin/bash\n", "user_defined_fields":
      []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"2 example stackscript 2024-07-11 14:35:59.602577 -0400 EDT m=+1.641587543","description":"description
      for example stackscript 2024-07-11 14:35:59.602562 -0400 EDT m=+1.641572501","images":["linode/debian9","linode/ubuntu18.04"],"is_public":false,"rev_note":"revision
      2","script":"#!/bin/bash\necho 2\n"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts/1413819
    method: PUT
  response:
    body: '{"id": 1413819, "username": "ErikZilber", "user_gravatar_id": "dea680eaec3cc565140cd87c663c1100",
      "label": "2 example stackscript 2024-07-11 14:35:59.602577 -0400 EDT m=+1.641587543",
      "description": "description for example stackscript 2024-07-11 14:35:59.602562
      -0400 EDT m=+1.641572501", "ordinal": 0, "logo_url": "", "images": ["linode/debian9",
      "linode/ubuntu18.04"], "deployments_total": 0, "deployments_active": 0, "is_public":
      false, "mine": true, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "rev_note": "revision 2", "script": "#!/bin/bash\necho 2\n", "user_defined_fields":
      []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
