---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account
    method: GET
  response:
    body: '{"company": "Linode", "email": "foo@linode.com", "first_name": "foo",
      "last_name": "bar", "address_1": "123 Street Street", "address_2": "NA",
      "city": "Philadelphia", "state": "PA", "zip": "30000", "country": "US", "phone":
      "1234567891", "balance": 0.0, "tax_id": "", "billing_source": "linode", "credit_card":
      {"last_four": "1234", "expiry": "02/2020"}, "balance_uninvoiced": 0.0, "active_since":
      "2018-01-02T03:04:05", "capabilities": ["Linodes", "NodeBalancers", "Block Storage",
      "Object Storage", "Kubernetes", "Cloud Firewall", "Vlans", "LKE HA Control Planes",
      "Machine Images", "Managed Databases"], "active_promotions": [], "euuid": "FFFFFFFF-2E4D-47CE-FFFFFFFFFFFFFFFFF"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
