---
version: 1
interactions:
- request:
    body: '{"label":"example stackscript 2022-10-10 16:10:36.04733161 -0400 EDT m=+9.216397383","description":"description
      for example stackscript 2022-10-10 16:10:36.04732714 -0400 EDT m=+9.216392933","images":["linode/debian9","linode/ubuntu18.04"],"is_public":false,"rev_note":"revision
      1","script":"#!/bin/bash\n"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts
    method: POST
  response:
    body: '{"id": 1071542, "username": "lgarber-dev", "user_gravatar_id": "0cb09f223e7ea849a635f016355fba33",
      "label": "example stackscript 2022-10-10 16:10:36.04733161 -0400 EDT m=+9.216397383",
      "description": "description for example stackscript 2022-10-10 16:10:36.04732714
      -0400 EDT m=+9.216392933", "ordinal": 0, "logo_url": "", "images": ["linode/debian9",
      "linode/ubuntu18.04"], "deployments_total": 0, "deployments_active": 0, "is_public":
      false, "mine": true, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "rev_note": "revision 1", "script": "#!/bin/bash\n", "user_defined_fields":
      []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"2 example stackscript 2022-10-10 16:10:36.04733161 -0400 EDT
      m=+9.216397383","description":"description for example stackscript 2022-10-10
      16:10:36.04732714 -0400 EDT m=+9.216392933","images":["linode/debian9","linode/ubuntu18.04"],"is_public":false,"rev_note":"revision
      2","script":"#!/bin/bash\necho 2\n"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts/1071542
    method: PUT
  response:
    body: '{"id": 1071542, "username": "lgarber-dev", "user_gravatar_id": "0cb09f223e7ea849a635f016355fba33",
      "label": "2 example stackscript 2022-10-10 16:10:36.04733161 -0400 EDT m=+9.216397383",
      "description": "description for example stackscript 2022-10-10 16:10:36.04732714
      -0400 EDT m=+9.216392933", "ordinal": 0, "logo_url": "", "images": ["linode/debian9",
      "linode/ubuntu18.04"], "deployments_total": 0, "deployments_active": 0, "is_public":
      false, "mine": true, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "rev_note": "revision 2", "script": "#!/bin/bash\necho 2\n", "user_defined_fields":
      []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
