---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: GET
  response:
    body: '{"data": [{"username": "youjungk01", "email": "ykim@akamai.com", "restricted":
      false, "ssh_keys": ["tf_test_authorized_keys", "my ssh key", "sshkeyinternal",
      "tf_test-6848912169107459461-1", "tf_test-6848912169107459461-0", "id_rsa",
      "test_id_rsa"], "tfa_enabled": true, "verified_phone_number": null, "password_created":
      null, "last_login": {"login_datetime": "2018-01-02T03:04:05", "status": "successful"},
      "user_type": "default"}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
