---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account
    method: GET
  response:
    body: '{"company": "Linode", "email": "lgarber@linode.com", "first_name": "Lena",
      "last_name": "Garber", "address_1": "2228 Lenox Ridge Ct NE", "address_2": "NA",
      "city": "Atlanta", "state": "GA", "zip": "30319", "country": "US", "phone":
      "6787613864", "balance": 0.0, "tax_id": "", "billing_source": "linode", "credit_card":
      {"last_four": "1488", "expiry": "02/2022"}, "balance_uninvoiced": 0.0, "active_since":
      "2018-01-02T03:04:05", "capabilities": ["Linodes", "NodeBalancers", "Block Storage",
      "Object Storage", "Kubernetes", "Cloud Firewall", "Vlans", "LKE HA Control Planes",
      "Machine Images", "Managed Databases"], "active_promotions": [], "euuid": "590F6313-2E4D-47CE-90943D2F724A87CB"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
