---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/1231
    method: GET
  response:
    body: '{"errors": [{"reason": "Not found"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: GET
  response:
    body: '{"data": [{"id": 59516630, "label": "go-test-ins-wo-disk-2scn613h30uy",
      "group": "", "status": "offline", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "type": "g6-nanode-1", "ipv4": ["170.187.249.159"], "ipv6":
      "2400:8904::f03c:94ff:fe49:bc65/128", "image": null, "region": "ap-west", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts":
      {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io":
      10000}, "backups": {"enabled": true, "available": true, "schedule": {"day":
      "Scheduling", "window": "Scheduling"}, "last_successful": "2018-01-02T03:04:05"},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid": "7fdf322e2ed0b87edd2d0bebb1d41b2ea93e2f19",
      "has_user_data": false, "placement_group": null}, {"id": 59516929, "label":
      "go-test-ins-h3i28f6f46zc", "group": "", "status": "running", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "type": "g6-nanode-1", "ipv4": ["192.46.210.59"],
      "ipv6": "2400:8904::f03c:94ff:fe49:bb39/128", "image": "linode/debian9", "region":
      "ap-west", "specs": {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer":
      1000}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": true, "available": true, "schedule":
      {"day": "Scheduling", "window": "Scheduling"}, "last_successful": "2018-01-02T03:04:05"},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid": "27bad4d7c10af5bb36764a47a6793c636ab584fe",
      "has_user_data": false, "placement_group": null}], "page": 1, "pages": 1, "results":
      2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59516630/configs
    method: GET
  response:
    body: '{"data": [{"id": 62702873, "label": "go-test-conf-8a032x9gxz1i", "helpers":
      {"updatedb_disabled": true, "distro": true, "modules_dep": true, "network":
      true, "devtmpfs_automount": true}, "kernel": "linode/latest-64bit", "comments":
      "", "memory_limit": 0, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "root_device": "/dev/sda", "devices": {"sda": null, "sdb": null, "sdc": null,
      "sdd": null, "sde": null, "sdf": null, "sdg": null, "sdh": null}, "initrd":
      null, "run_level": "default", "virt_mode": "paravirt", "interfaces": []}], "page":
      1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59516630/configs/62702873
    method: GET
  response:
    body: '{"id": 62702873, "label": "go-test-conf-8a032x9gxz1i", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59516630/disks
    method: GET
  response:
    body: '{"data": [{"id": 117214517, "status": "ready", "label": "disk-test-ivb447z36vn5",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 2000}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59516630/disks/117214517
    method: GET
  response:
    body: '{"id": 117214517, "status": "ready", "label": "disk-test-ivb447z36vn5",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 2000}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59516630/backups
    method: GET
  response:
    body: '{"automatic": [{"id": 292744322, "region": "ap-west", "type": "auto", "status":
      "successful", "available": true, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "finished": "2018-01-02T03:04:05", "label": null, "configs":
      ["go-test-conf-8a032x9gxz1i"], "disks": [{"label": "disk-test-ivb447z36vn5",
      "size": 2000, "filesystem": "ext4"}]}], "snapshot": {"current": null, "in_progress":
      null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/59516630/volumes
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"mine":true}'
    url: https://api.linode.com/v4beta/linode/stackscripts
    method: GET
  response:
    body: '{"data": [{"id": 1354525, "username": "youjungk01", "user_gravatar_id":
      "89c3034428203ecf41c0c4795ac9f651", "label": "Demonstration_Public", "description":
      "", "ordinal": 0, "logo_url": "", "images": ["linode/debian11"], "deployments_total":
      9, "deployments_active": 0, "is_public": true, "mine": true, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "rev_note": "", "script": "#!/bin/bash", "user_defined_fields":
      []}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - stackscripts:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
