---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/quotas?page=1
    method: GET
  response:
    body: '{"data": [{"quota_id": "obj-buckets-br-gru-1.linodeobjects.com", "quota_name":
      "max_buckets", "endpoint_type": "E1", "s3_endpoint": "br-gru-1.linodeobjects.com",
      "description": "Maximum number of buckets this customer is allowed to have on
      this endpoint", "quota_limit": 1000, "resource_metric": "bucket"}, {"quota_id":
      "obj-bytes-br-gru-1.linodeobjects.com", "quota_name": "max_bytes", "endpoint_type":
      "E1", "s3_endpoint": "br-gru-1.linodeobjects.com", "description": "Maximum number
      of bytes this customer is allowed to have on this endpoint", "quota_limit":
      107374182400, "resource_metric": "byte"}, {"quota_id": "obj-objects-br-gru-1.linodeobjects.com",
      "quota_name": "max_objects", "endpoint_type": "E1", "s3_endpoint": "br-gru-1.linodeobjects.com",
      "de[...]
