---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://71c58187-efcb-465a-8328-2c380b4aedf8.cpc1-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"270"},"items":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://71c58187-efcb-465a-8328-2c380b4aedf8.cpc1-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"634"},"items":[{"metadata":{"name":"lke3809-4999-5e9f6c96a7a7","selfLink":"/api/v1/nodes/lke3809-4999-5e9f6c96a7a7","uid":"00327c5c-66c6-4219-8e1f-3674c4fe1513","resourceVersion":"629","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke3809-4999-5e9f6c96a7a7","kubernetes.io/os":"linux"},"annotations":{"node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"}},"spec":{"podCIDR":"10.20.30.40/24","podCIDRs":["10.20.30.40/24"],"taints":[{"key":"node.cloudprovider.kubernetes.io/uninitialized","value":"true","effect":"NoSchedule"},{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82535088Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4050744Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76064336975","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3948344Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized, CSINodeInfo is not yet initialized]"}],"addresses":[{"type":"InternalIP","address":"10.20.30.40"},{"type":"Hostname","address":"lke3809-4999-5e9f6c96a7a7"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"7078339962a34bd8ba58c29475aa08a5","systemUUID":"7078339962a34bd8ba58c29475aa08a5","bootID":"498970f4-696d-4826-9227-36509c67a686","kernelVersion":"4.9.0-11-amd64","osImage":"Debian GNU/Linux 9 (stretch)","containerRuntimeVersion":"docker://18.9.9","kubeletVersion":"v1.17.0","kubeProxyVersion":"v1.17.0","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://71c58187-efcb-465a-8328-2c380b4aedf8.cpc1-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"778"},"items":[{"metadata":{"name":"lke3809-4999-5e9f6c96a080","selfLink":"/api/v1/nodes/lke3809-4999-5e9f6c96a080","uid":"6ed757bc-c9ba-474d-9cd2-3f0c84e6cb1b","resourceVersion":"776","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"us-central","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke3809-4999-5e9f6c96a080","kubernetes.io/os":"linux","lke.linode.com/pool-id":"4999"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"/var/run/dockershim.sock","lke.linode.com/machine":"kube-system-lke3809/4999-5e9f6c96a080","lke.linode.com/wgip":"10.20.30.40","lke.linode.com/wgpub":"+BkOcEUMlqDdUKpUxXDCO1C+MVCRijNowtrrKPAId0Y=","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"}},"spec":{"podCIDR":"10.20.30.40/24","podCIDRs":["10.20.30.40/24"],"providerID":"linode://20196818","taints":[{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82535088Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4050736Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76064336975","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3948336Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T0[...]
[...]
