---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/plan
    method: GET
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"longview_subscription":"longview-10"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/plan
    method: PUT
  response:
    body: '{"id": "longview-10", "label": "Longview Pro 10 pack", "price": {"hourly":
      0.06, "monthly": 40.0}, "clients_included": 10}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
