---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-token","scopes":"linodes:read_only","expiry":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 39817133, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-test-token", "token": "009b701cfe3eb6fa936d2fdcd23ba6e581fd8234b6ad547b620e7881fa3859bb",
      "expiry": "2999-12-12T05:00:00"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/39817133
    method: GET
  response:
    body: '{"id": 39817133, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-test-token", "token": "009b701cfe3eb6fa", "expiry": "2999-12-12T05:00:00"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
