---
version: 1
interactions:
- request:
    body: '{"region":"us-east","type":"g6-nanode-1","label":"go-test-ins-reserved-ip-0o62pm90bd4t","root_pass":"VCfbt8Zxf+;ZSjTO0Q*p?rX365R5.l4\u003e8Ki2M0/Z\u003eln3Wj\\3(s2*WD1z$9[h@7}`","image":"linode/alpine3.20","booted":false,"ipv4":[""],"interfaces":[{"purpose":"public"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"errors": [{"reason": "Must provide a single valid reserved ipv4 address",
      "field": "ipv4"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 400 Bad Request
    code: 400
    duration: ""
