---
version: 1
interactions:
- request:
    body: '{"label":"testing"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients
    method: POST
  response:
    body: '{"id": 342826, "label": "testing", "api_key": "DD873740-C520-49DE-825B296BA2ABCED7",
      "install_code": "AACFFDDF-C094-4A3C-8288B2883AEECFC1", "apps": {"apache": 0,
      "nginx": 0, "mysql": 0}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients/342826
    method: GET
  response:
    body: '{"id": 342826, "label": "testing", "api_key": "DD873740-C520-49DE-825B296BA2ABCED7",
      "install_code": "AACFFDDF-C094-4A3C-8288B2883AEECFC1", "apps": {"apache": false,
      "nginx": false, "mysql": false}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
