---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/profile
    method: GET
  response:
    body: '{"uid": 661, "username": "vshanthe-cx", "email": "vshanthe@akamai.com",
      "verified_phone_number": "555-555-5555", "timezone": "GMT", "email_notifications":
      true, "referrals": {"code": "", "url": "", "total": 0, "completed": 0, "pending":
      0, "credit": 0}, "ip_whitelist_enabled": false, "lish_auth_method": "password_keys",
      "authorized_keys": null, "two_factor_auth": false, "restricted": false, "authentication_type":
      "password", "user_type": "default"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/iam/users/vshanthe-cx/role-permissions
    method: GET
  response:
    body: '{"account_access": ["account_admin"], "entity_access": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
