---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "au-mel", "label": "Melbourne, AU", "country": "au", "capabilities":
      ["Linodes", "Block Storage Encryption", "LA Disk Encryption", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Kubernetes", "Cloud Firewall",
      "Vlans", "VPCs", "VPC Dual Stack", "Managed Databases", "Metadata", "Premium
      Plans", "Placement Group", "StackScripts", "Maintenance Policy", "Linode Interfaces"],
      "monitors": {"alerts": ["Managed Databases", "NodeBalancers", "Object Storage"],
      "metrics": ["Managed Databases", "NodeBalancers", "Object Storage"]}, "status":
      "ok", "resolvers": {"ipv4": "172.236.32.23,172.236.32.35,172.236.32.30,172.236.32.28,172.236.32.32,172.236.32.33,172.236.32.27,172.236.32.37,172.236.32.29,172.236.32.34",
      "ipv6": "2600:3c14:e001:15::1,2600:3c14:e001:15::2,2600:3c14:e001:15::3,2600:3c14:e001:15::4,2600:3c14:e001:15::5,2600:3c14:e001:15::6,2600:3c14:e001:15::7,2600:3c14:e001:15::8,2600:3c14:e001:15::9,2600:3c14:e001:15::10"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 250}, "site_type": "core"}, {"id": "es-mad",
      "label": "Madrid, ES", "country": "es", "capabilities": ["Linodes", "Block Storage
      Encryption", "LA Disk Encryption", "Disk Encryption", "Backups", "Premium NodeBalancers",
      "NodeBalancers", "Block Storage", "Kubernetes", "Cloud Firewall", "Vlans", "VPCs",
      "VPC Dual Stack", "Managed Databases", "Metadata", "Premium Plans", "Placement
      Group", "StackScripts", "Maintenance Policy", "Linode Interfaces"], "monitors":
      {"alerts": ["Managed D[...]
- request:
    body: '{"label":"go-valkey-test-5k2rlp18w9c9","region":"au-mel","type":"g7-dedicated-4-2","engine":"valkey/8.1","allow_list":["203.0.113.1"],"cluster_size":1}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/valkey/instances
    method: POST
  response:
    body: '{"allow_list": ["203.0.113.1/32"], "available_restore_times": [], "cluster_size":
      1, "created": "2018-01-02T03:04:05", "encrypted": true, "engine": "valkey",
      "engine_config": {"frequent_snapshots": true, "valkey_active_expire_effort":
      1, "valkey_activedefrag": false, "valkey_lfu_decay_time": 1, "valkey_lfu_log_factor":
      10, "valkey_maxmemory_policy": "noeviction", "valkey_timeout": 300}, "hosts":
      {"endpoints": [{"address": "a527646-akamai-prod-5951780-default.g2a.akamaidb.net",
      "port": 27283, "public_access": true, "role": "primary"}], "primary": "a527646-akamai-prod-5951780-default.g2a.akamaidb.net"},
      "id": 527646, "label": "go-valkey-test-5k2rlp18w9c9", "members": {}, "port":
      27283, "private_network": null, "region": "au-mel", "ssl_connection": true,
      "status": "provisioning", "total_disk_size_gb": 0, "type": "g7-dedicated-4-2",
      "updated": "2018-01-02T03:04:05", "updates": {"day_of_week": 2, "duration":
      4, "frequency": "weekly", "hour_of_day": 8, "pending": []}, "used_disk_size_gb":
      null, "version": "8.1", "platform": "rdbms-default"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2026-09-17T18:45:30"},"entity.id":527646,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1696663738, "created": "2018-01-02T03:04:05", "seen":
      false, "read": false, "percent_complete": null, "time_remaining": null, "rate":
      null, "duration": null, "action": "database_create", "username": "anmsharm1",
      "entity": {"label": "go-valkey-test-5k2rlp18w9c9", "id": 527646, "type": "database",
      "url": "/v4/databases/valkey/instances/527646"}, "status": "notification", "secondary_entity":
      null, "message": "", "details": {}}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/valkey/instances/527646
    method: GET
  response:
    body: '{"allow_list": ["203.0.113.1/32"], "available_restore_times": ["2018-01-02T03:04:05"],
      "cluster_size": 1, "created": "2018-01-02T03:04:05", "encrypted": true, "engine":
      "valkey", "engine_config": {"frequent_snapshots": true, "valkey_active_expire_effort":
      1, "valkey_activede[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/valkey/instances?page=1
    method: GET
  response:
    body: '{"data": [{"allow_list": [], "available_restore_times": ["2018-01-02T03:04:05",
      "2018-01-02T03:04:05", "2018-01-02T03:04:05", "2018-01-02T03:04:05", "2018-01-02T03:04:05",
      "2018-01-02T03:04:05", "2018-01-02T03:04:05", "2018-01-02T03:04:05", "2018-01-02T03:04:05",
      "2018-01-02[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/valkey/instances/527646/ssl
    method: GET
  response:
    body: '{"ca_certificate": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVRVENDQXFtZ0F3SUJBZ0lVYzM5VU1MVXI2RUF1aE9Kb05OdnlDU0UwRDFnd0RRWUpLb1pJaHZjTkFRRU0KQlFBd09qRTRNRFlHQTFVRUF3d3ZOV1ZrTVdVeU1qRXRZelZsTmkwME1EQXpMV0kyTmpndE5tUXpZVE01TVdRegpOakpoSUZCeWIycGxZM1FnUTBFd0hoY05NalF4TURBeE1qQXlOakl4V2hjTk16UXdPVEk1TWpBeU5qSXhXakE2Ck1UZ3dOZ1lEVlFRRERDODFaV1F4WlRJeU1TMWpOV1UyTFRRd01ETXRZalkyT0MwMlpETmhNemt4WkRNMk1tRWcKVUhKdmFtVmpkQ0JEUVRDQ0FhSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnR1BBRENDQVlvQ2dnR0JBTncwTVZHUwpFQllXdHQwU0pXaEFZUzFGMU9vY0[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/valkey/instances/527646/credentials
    method: GET
  response:
    body: '{"password": "sanitized-valkey-password-before-reset", "username": "akmadmin"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/valkey/instances/527646/credentials/reset
    method: POST
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/valkey/instances/527646/patch
    method: POST
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/valkey/instances/527646/suspend
    method: POST
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/valkey/instances/527646/resume
    method: POST
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
