---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://c022c5b2-730b-4ac2-8bbb-6a9153722152.ap-west-2-gw.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"655"},"items":[{"metadata":{"name":"lke398327-606489-4508ef550000","uid":"4c641910-32b1-46b5-8bb8-810a12976890","resourceVersion":"650","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-1","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"ap-west","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke398327-606489-4508ef550000","kubernetes.io/os":"linux","node.k8s.linode.com/host-uuid":"008119ee08dd75aa96e8022e9beed31edf35a2d8","node.kubernetes.io/instance-type":"g6-standard-1","topology.kubernetes.io/region":"ap-west"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"unix:///run/containerd/containerd.sock","node.alpha.kubernetes.io/ttl":"0","node.k8s.linode.com/private-ip":"192.168.129.112","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.1.0/25\"":{}}}}},{"manager":"kubeadm","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:kubeadm.alpha.kubernetes.io/cri-socket":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}}}},{"manager":"linode-cloud-controller-manager-linux","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.k8s.linode.com/private-ip":{}},"f:labels":{"f:beta.kubernetes.io/instance-type":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:node.k8s.linode.com/host-uuid":{},"f:node.kubernetes.io/instance-type":{},"f:topology.kubernetes.io/region":{}}},"f:spec":{"f:providerID":{},"f:taints":{}}}},{"manager":"linode-cloud-controller-manager-linux","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:addresses":{"k:{\"type\":\"ExternalIP\"}":{},"k:{\"type\":\"InternalIP\"}":{".":{},"f:address":{},"f:type":{}}}}},"subresource":"status"}]},"spec":{"podCIDR":"10.2.1.0/25","podCIDRs":["10.2.1.0/25"],"providerID":"linode://75002499","taints":[{"key":"lke.linode.com/labels-taints","value":"waiting","effect":"NoSchedule"},{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"1","ephemeral-storage":"51524172Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"2027300Ki","pods":"110"},"allocatable":{"cpu":"1","ephemeral-storage":"47484676837","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"1924900Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:Network plugin returns error: cni plugin not initialized, CSINode is not yet initialized]"}],"addresses":[{"type":"Hostname","address":"lke398327-606489-4508ef550000"},{"type":"ExternalIP","address":"139.144.1.27"},{"type":"ExternalIP","address":"1234::5678"},{"type":"InternalIP","address":"192.168.129.112"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"0dc704d24baa41e28480f997b1cc252e","systemUUID":"0dc704d24baa41e28480f997b1cc252e","bootID":"0d70b12e-f338-4f66-960f-a95ce62626b9","kernelVersion":"6.1.0-27-cloud-amd64","osImage":"Debian GNU/Linux 12 (bookworm)","containerRuntimeVersion":"containerd://1.7.22","kubeletVersion":"v1.31.0","kubeProxyVersion":"","operatingSystem":"linux","architecture":"amd64"}}},{"metadata":{"name":"lke398327-606489-4a6081340000","uid":"f836f4a3-24a6-48e3-9513-cf2156ebd97a","resourceVersion":"579","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-1","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"ap-west","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke398327-606489-4a6081340000","kubernetes.io/os":"linux","lke.linode.com/pool-id":"606489[...]
[...]
