---
version: 1
interactions:
- request:
    body: '{"allow_list":["203.0.113.1","192.0.1.0/24"],"label":"linodego-test-mysql-database","region":"us-east","type":"g6-nanode-1","engine":"mysql/8.0.26","replication_type":"semi_synch","cluster_size":3,"encrypted":false,"ssl_connection":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances
    method: POST
  response:
    body: '{"id": 3760, "label": "linodego-test-mysql-database", "type": "g6-nanode-1",
      "engine": "mysql", "version": "8.0.26", "region": "us-east", "status": "provisioning",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": null, "secondary": null}, "ssl_connection": false, "replication_type":
      "semi_synch", "port": 3306, "updates": {"frequency": "weekly", "duration": 3,
      "hour_of_day": 0, "day_of_week": null, "week_of_month": null}, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2022-06-03T20:10:45"},"entity.id":3760,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 317685803, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "jriddle-dev", "entity":
      {"label": "linodego-test-mysql-database", "id": 3760, "type": "database", "url":
      "/v4/databases/mysql/instances/3760"}, "status": "notification", "secondary_entity":
      null, "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/3760
    method: GET
  response:
    body: '{"id": 3760, "label": "linodego-test-mysql-database", "type": "g6-nanode-1",
      "engine": "mysql", "version": "8.0.26", "region": "us-east", "status": "active",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": "lin-3760-3468-mysql-primary.servers.linodedb.net",
      "secondary": "lin-3760-3468-mysql-primary-private.servers.linodedb.net"}, "ssl_connection":
      false, "replication_type": "semi_synch", "port": 3306, "updates": {"frequency":
      "weekly", "duration": 3, "hour_of_day": 3, "day_of_week": 6, "week_of_month":
      null}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/3760/ssl
    method: GET
  response:
    body: '{"ca_certificate": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/3760/credentials
    method: GET
  response:
    body: '{"username": "linroot", "password": "YND5iaRn#Xd96fY9"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/3760/credentials/reset
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/3760/patch
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"reallycoolbackup","target":"primary"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/3760/backups
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/3760/backups/44150
    method: GET
  response:
    body: '{"id": 44150, "type": "snapshot", "label": "reallycoolbackup", "created":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
