---
version: 1
interactions:
- request:
    body: '{"cluster":"us-east-1","label":"linodego-test-bucket-1607101121388790000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "linodego-test-bucket-1607101121388790000.us-east-1.linodeobjects.com", "label": "linodego-test-bucket-1607101121388790000", "created": "2018-01-02T03:04:05", "cluster": "us-east-1", "size": 0, "objects": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test","method":"PUT","content_type":"text/plain","content_disposition":"","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/linodego-test-bucket-1607101121388790000/object-url
    method: POST
  response:
    body: '{"url": "https://us-east-1.linodeobjects.com:443/linodego-test-bucket-1607101121388790000/test?Signature=HutIT9nn4tWxIaTc1MYA4psders%3D&Expires=1607101484&AWSAccessKeyID=SANITIZED", "exists": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/linodego-test-bucket-1607101121388790000/object-acl?name=test
    method: GET
  response:
    body: '{"acl": "private", "acl_xml": "<AccessControlPolicy xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Owner><ID>17317231-305e-409c-a314-8582759b94a2</ID><DisplayName>17317231-305e-409c-a314-8582759b94a2</DisplayName></Owner><AccessControlList><Grant><Grantee xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"CanonicalUser\"><ID>17317231-305e-409c-a314-8582759b94a2</ID><DisplayName>17317231-305e-409c-a314-8582759b94a2</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test","acl":"public-read"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/linodego-test-bucket-1607101121388790000/object-acl
    method: PUT
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/linodego-test-bucket-1607101121388790000/object-acl?name=test
    method: GET
  response:
    body: '{"acl": "public-read", "acl_xml": "<AccessControlPolicy xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Owner><ID>17317231-305e-409c-a314-8582759b94a2</ID><DisplayName>17317231-305e-409c-a314-8582759b94a2</DisplayName></Owner><AccessControlList><Grant><Grantee xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"Group\"><URI>http://acs.amazonaws.com/groups/global/AllUsers</URI></Grantee><Permission>READ</Permission></Grant><Grant><Grantee xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"CanonicalUser\"><ID>17317231-305e-409c-a314-8582759b94a2</ID><DisplayName>17317231-305e-409c-a314-8582759b94a2</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/linodego-test-bucket-1607101121388790000
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
