---
version: 1
interactions:
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing","region":"us-west","client_conn_throttle":20,"tags":null}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"ipv6": "1234::5678", "ipv4": "10.20.30.40", "region":
      "us-west", "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com",
      "label": "lpq6h62z88m4-linodego-testing", "updated": "2018-01-02T03:04:05",
      "client_conn_throttle": 20, "created": "2018-01-02T03:04:05", "tags": [], "id":
      53606, "transfer": {"out": null, "total": null, "in": null}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "113"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660871"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53606/configs
    method: POST
  response:
    body: '{"stickiness": "none", "port": 80, "check_path": "", "check_interval":
      0, "ssl_fingerprint": "", "id": 48072, "check": "none", "nodebalancer_id": 53606,
      "check_attempts": 3, "ssl_commonname": "", "check_body": "", "ssl_cert": null,
      "protocol": "http", "nodes_status": {"up": 0, "down": 0}, "check_timeout": 30,
      "cipher_suite": "recommended", "algorithm": "roundrobin", "check_passive": true,
      "ssl_key": null}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660877"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53606/configs/48072
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660879"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53606
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660880"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
