---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/transfer
    method: GET
  response:
    body: '{
      "billable": 100,
      "quota": 1000,
      "used": 200,
      "region_transfers": [
        {
          "id": "us-east",
          "billable": 50,
          "quota": 500,
          "used": 100
        },
        {
          "id": "us-west",
          "billable": 50,
          "quota": 500,
          "used": 100
        }
      ]
    }'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - account:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
