---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","label":"go-test-logs-destination-1777367849643592000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1777367849643592000.us-southeast-1.linodeobjects.com",
      "label": "go-test-logs-destination-1777367849643592000", "created": "2018-01-02T03:04:05",
      "region": "us-southeast", "cluster": "us-southeast-1", "size": 0, "objects":
      0, "endpoint_type": "E0", "s3_endpoint": "us-southeast-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1777367850850781000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3461736, "label": "go-test-logs-destination-1777367850850781000",
      "access_key": "66U9V5UKWGH44VKCS1TM", "secret_key": "fcNPXB1zOzT3o8IMFc9sVM0WdeOnPI494hjNnwoO",
      "limited": false, "bucket_access": null, "regions": [{"id": "us-east", "s3_endpoint":
      "us-east-1.linodeobjects.com", "endpoint_type": "E0"}, {"id": "us-iad", "s3_endpoint":
      "us-iad-10.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-4.linodeobjects.com", "endpoint_type": "E3"}, {"id": "us-mia", "s3_endpoint":
      "us-mia-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-10.linodeobjects.com", "endpoint_type": "E3"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-sea", "s3_endpoint":
      "us-sea-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-southeast",
      "s3_endpoint": "us-southeast-1.linodeobjects.com", "endpoint_type": "E0"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1777367853154875000","type":"akamai_object_storage","details":{"access_key_id":"66U9V5UKWGH44VKCS1TM","access_key_secret":"fcNPXB1zOzT3o8IMFc9sVM0WdeOnPI494hjNnwoO","bucket_name":"go-test-logs-destination-1777367849643592000","host":"go-test-logs-destination-1777367849643592000.us-southeast-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 299, "label": "go-test-logs-destination-1777367853154875000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1777367849643592000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777367849643592000", "access_key_id":
      "66U9V5UKWGH44VKCS1TM"}, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05Z", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"destinations":[299],"label":"go-test-log-stream-1777367853935688000","type":"audit_logs"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams
    method: POST
  response:
    body: '{"id": 150, "label": "go-test-log-stream-1777367853935688000", "type":
      "audit_logs", "destinations": [{"id": 299, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1777367853154875000", "details": {"host":
      "go-test-logs-destination-1777367849643592000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777367849643592000", "access_key_id":
      "66U9V5UKWGH44VKCS1TM"}}], "details": null, "version": 1, "status": "provisioning",
      "created_by": "dola-klipensk", "created": "2018-01-02T03:04:05Z", "updated_by":
      "dola-klipensk", "updated": "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account
    method: GET
  response:
    body: '{"company": "Akamai Technologies - Edge Experience - Dola", "email": "dl-pdx-dw-dola@akamai.com",
      "first_name": "", "last_name": "", "address_1": "", "address_2": "", "city":
      "", "state": "MA", "zip": "02142", "country": "US", "phone": "", "balance":
      0.0, "tax_id": "", "billing_source": "linode", "credit_card": {"last_four":
      null, "expiry": null}, "balance_uninvoiced": 0.0, "active_since": "2018-01-02T03:04:05",
      "capabilities": ["Linodes", "NodeBalancers", "Block Storage", "Object Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "LKE HA Control Planes", "VPCs", "Block
      Storage Encryption", "Machine Images", "Managed Databases", "Akamai Cloud Pulse
      Logs", "LKE Network Access Control List (IP ACL)", "Placement Group", "Object
      Storage Access Key Regions", "Object Storage Endpoint Types", "Disk Encryption",
      "LA Disk Encryption", "SMTP Enabled", "NETINT Quadra T1U", "Linode Interfaces"],
      "active_promotions": [], "euuid": "BED02C05-67D6-4FAA-BC8BB63BB77C1197"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/150
    method: GET
  response:
    body: '{"id": 150, "label": "go-test-log-stream-1777367853935688000", "type":
      "audit_logs", "destinations": [{"id": 299, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1777367853154875000", "details": {"host":
      "go-test-logs-destination-1777367849643592000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777367849643592000", "access_key_id":
      "66U9V5UKWGH44VKCS1TM"}}], "details": null, "version": 1, "status": "active",
      "created_by": "dola-klipensk", "created": "2018-01-02T03:04:05Z", "updated_by":
      "dola-klipensk", "updated": "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/150
    method: GET
  response:
    body: '{"errors": [{"reason": "Stream not found"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/299
    method: GET
  response:
    body: '{"id": 299, "label": "go-test-logs-destination-1777367853154875000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1777367849643592000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777367849643592000", "access_key_id":
      "66U9V5UKWGH44VKCS1TM"}, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05Z", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3461736
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1777367849643592000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/04/28/akamai_log-043083-1777368782-158401-config.gz",
      "size": 576, "last_modified": "2018-01-02T03:04:05.332Z", "etag": "184bb0deea447ccdfd1918eb09785352",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/04/28/akamai_log-120157-1777368391-729331-config.gz",
      "size": 577, "last_modified": "2018-01-02T03:04:05.851Z", "etag": "3048be732eb3bbce798bd07eca9c58fc",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/04/28/akamai_log-499706-1777368221-191293-config.gz",
      "size": 576, "last_modified": "2018-01-02T03:04:05.248Z", "etag": "6f23c8b53d0d692950643f509bae2362",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "cloud-logs-test-connection-20260428T091733",
      "size": 9, "last_modified": "2018-01-02T03:04:05.721Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/04/28/akamai_log-043083-1777368782-158401-config.gz","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast-1/go-test-logs-destination-1777367849643592000/object-url
    method: POST
  response:
    body: '{"url": "https://us-southeast-1.linodeobjects.com:443/go-test-logs-destination-1777367849643592000/audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/04/28/akamai_log-043083-1777368782-158401-config.gz?Signature=nr5v3yvueUJ5yEuaZYPnUEgxyew%3D&Expires=1777369609&AWSAccessKeyID=SANITIZED",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1777367849643592000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
