---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-volume-w5wb95s3","region":"us-southeast","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes
    method: POST
  response:
    body: '{"id": 330002, "status": "creating", "label": "linodego-test-volume-w5wb95s3",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume-w5wb95s3", "size":
      20, "linode_id": null, "linode_label": null, "region": "us-southeast", "tags":
      [], "hardware_type": "nvme"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"our-testing-volume"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/330002
    method: PUT
  response:
    body: '{"id": 330002, "status": "creating", "label": "our-testing-volume", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_our-testing-volume", "size": 20, "linode_id":
      null, "linode_label": null, "region": "us-southeast", "tags": [], "hardware_type":
      "nvme"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
