---
version: 1
interactions:
- request:
    body: '{"domain":"xdtiw8963eld70i94r94fm5h32w9gc28-linodego-testing.com","type":"master","soa_email":"example@example.com","master_ips":null,"axfr_ips":null,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/domains
    method: POST
  response:
    body: '{"id": 1810437, "type": "master", "domain": "xdtiw8963eld70i94r94fm5h32w9gc28-linodego-testing.com",
      "tags": [], "group": "", "status": "active", "errors": "", "description": "",
      "soa_email": "example@example.com", "retry_sec": 0, "master_ips": [], "axfr_ips":
      [], "expire_sec": 0, "refresh_sec": 0, "ttl_sec": 0, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - domains:read_write
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/domains/1810437
    method: GET
  response:
    body: '{"id": 1810437, "type": "master", "domain": "xdtiw8963eld70i94r94fm5h32w9gc28-linodego-testing.com",
      "tags": [], "group": "", "status": "active", "errors": "", "description": "",
      "soa_email": "example@example.com", "retry_sec": 0, "master_ips": [], "axfr_ips":
      [], "expire_sec": 0, "refresh_sec": 0, "ttl_sec": 0, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - domains:read_only
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
[...]
