---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images
    method: GET
  response:
    body: '{"data": [{"id": "linode/almalinux8", "label": "AlmaLinux 8", "deprecated":
      false, "size": 1700, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "description": "", "created_by": "linode", "type": "manual", "is_public": true,
      "vendor": "AlmaLinux", "expiry": null, "eol": "2018-01-02T03:04:05", "status":
      "available"}, {"id": "linode/alpine3.12", "label": "Alpine 3.12", "deprecated":
      false, "size": 300, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "description": "", "created_by": "linode", "type": "manual", "is_public": true,
      "vendor": "Alpine", "expiry": null, "eol": "2018-01-02T03:04:05", "status":
      "available"}, {"id": "linode/alpine3.13", "label": "Alpine 3.13", "deprecated":
      false, "size": 300, "created": "2018-01-02T03:04:05", "upda[...]
