---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "Disk Encryption", "Backups", "NodeBalancers", "Block Storage",
      "GPU Linodes", "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations",
      "Managed Databases", "Metadata", "Placement Group", "StackScripts"], "status":
      "ok", "resolvers": {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5}, "site_type": "core"}, {"id": "ca-central", "label": "Toronto, CA", "country":
      "ca", "capabilities": ["Linodes", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations",
      "Managed Databases", "Metadata", "Placement Group", "StackScripts"], "status":
      "ok", "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6[...]
- request:
    body: '{"label":"go-postgres-testing-defg02323nvin1r","region":"ap-west","type":"g6-nanode-1","engine":"postgresql/14","allow_list":["203.0.113.1","192.0.1.0/24"],"cluster_size":3}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances
    method: POST
  response:
    body: '{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size": 3, "created":
      "2018-01-02T03:04:05", "encrypted": true, "engine": "postgresql", "hosts": {"primary":
      "a210830-akamai-prod-5782758-default.g2a.akamaidb.net", "standby": "replica-a210830-akamai-prod-5782758-default.g2a.akamaidb.net"},
      "id": 210830, "label": "go-postgres-testing-defg02323nvin1r", "members": {},
      "port": 18319, "region": "ap-west", "ssl_connection": true, "status": "provisioning",
      "total_disk_size_gb": 9, "type": "g6-nanode-1", "updated": "2018-01-02T03:04:05",
      "updates": {"day_of_week": 3, "duration": 4, "frequency": "weekly", "hour_of_day":
      18, "pending": []}, "used_disk_size_gb": null, "version": "14", "platform":
      "rdbms-default"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2025-01-22T15:49:28"},"entity.id":210830,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 934275685, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "ErikZilber", "entity":
      {"label": "go-postgres-testing-defg02323nvin1r", "id": 210830, "type": "database",
      "url": "/v4/databases/postgresql/instances/210830"}, "status": "notification",
      "secondary_entity": null, "message": ""}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances?page=1
    method: GET
  response:
    body: '{"data": [{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size":
      3, "created": "2018-01-02T03:04:05", "encrypted": true, "engine": "postgresql",
      "hosts": {"primary": "a210830-akamai-prod-5782758-default.g2a.akamaidb.net",
      "standby": "replica-a210830-akamai-prod-5782758-default.g2a.akamaidb.net"},
      "id": 210830, "label": "go-postgres-testing-defg02323nvin1r", "members": {"172.105.56.179":
      "failover", "172.105.56.41": "failover", "45.79.125.252": "primary"}, "oldest_restore_time":
      "2018-01-02T03:04:05", "port": 18319, "region": "ap-west", "ssl_connection":
      true, "status": "active", "total_disk_size_gb": 9, "type": "g6-nanode-1", "updated":
      "2018-01-02T03:04:05", "updates": {"day_of_week": 3, "duration": 4, "frequency":
      "weekly", "hour_of_day": 18, "pending": []}, "used_disk_size_gb": 0, "version":
      "14.15", "platform": "rdbms-default"}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/210830
    method: GET
  response:
    body: '{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size": 3, "created":
      "2018-01-02T03:04:05", "encrypted": true, "engine": "postgresql", "hosts": {"primary":
      "a210830-akamai-prod-5782758-default.g2a.akamaidb.net", "standby": "replica-a210830-akamai-prod-5782758-default.g2a.akamaidb.net"},
      "id": 210830, "label": "go-postgres-testing-defg02323nvin1r", "members": {"172.105.56.179":
      "failover", "172.105.56.41": "failover", "45.79.125.252": "primary"}, "oldest_restore_time":
      "2018-01-02T03:04:05", "port": 18319, "region": "ap-west", "ssl_connection":
      true, "status": "active", "total_disk_size_gb": 9, "type": "g6-nanode-1", "updated":
      "2018-01-02T03:04:05", "updates": {"day_of_week": 3, "duration": 4, "frequency":
      "weekly", "hour_of_day": 18, "pending": []}, "used_disk_size_gb": 0, "version":
      "14.15", "platform": "rdbms-default"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/210830/ssl
    method: GET
  response:
    body: '{"ca_certificate": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVRVENDQXFtZ0F3SUJBZ0lVSGw2WFlseHA0MTFpVUMwU294VkYzUmpkUXpBd0RRWUpLb1pJaHZjTkFRRU0KQlFBd09qRTRNRFlHQTFVRUF3d3ZZakF3TkRoaU4yRXRPR0ZrWVMwMFpUWXlMV0UyTXprdFpEazROakU1WXpJeApaR1ZsSUZCeWIycGxZM1FnUTBFd0hoY05NalF4TVRBMk1Ua3hOVFV5V2hjTk16UXhNVEEwTVRreE5UVXlXakE2Ck1UZ3dOZ1lEVlFRRERDOWlNREEwT0dJM1lTMDRZV1JoTFRSbE5qSXRZVFl6T1Mxa09UZzJNVGxqTWpGa1pXVWcKVUhKdmFtVmpkQ0JEUVRDQ0FhSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnR1BBRENDQVlvQ2dnR0JBTXUrMXNuVQpYdXplSUI3U05ReUE5K0JFdkFJYz[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/210830/credentials
    method: GET
  response:
    body: '{"password": "@S3cur3P@ssw0rd", "username": "aCoolUsername"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/210830/credentials/reset
    method: POST
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/210830/patch
    method: POST
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
