---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/global-quotas?page=1
    method: GET
  response:
    body: '{"data": [{"quota_id": "keys", "quota_name": "Number of Access Keys", "quota_type":
      "keys", "description": "Current number of access keys per account", "quota_limit":
      100, "resource_metric": "key", "has_usage": true}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
