---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/types?page=1
    method: GET
  response:
    body: '{"data": [{"id": "lke-sa", "label": "LKE Standard Availability", "price":
      {"hourly": 0.0, "monthly": 0.0}, "region_prices": [], "transfer": 0}, {"id":
      "lke-ha", "label": "LKE High Availability", "price": {"hourly": 0.09, "monthly":
      60.0}, "region_prices": [{"id": "id-cgk", "hourly": 0.108, "monthly": 72.0},
      {"id": "br-gru", "hourly": 0.126, "monthly": 84.0}], "transfer": 0}], "page":
      1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
