---
version: 1
interactions:
- request:
    body: '{"region":"eu-central","type":"g6-nanode-1","label":"linodego-test-ipv6range","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 36017511, "label": "linodego-test-ipv6range", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.104.203.125"], "ipv6": "2a01:7e01::f03c:93ff:fe2c:0244/128",
      "image": "linode/debian9", "region": "eu-central", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"linode_id":36017511,"prefix_length":64}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/ipv6/ranges
    method: POST
  response:
    body: '{"range": "2a01:7e01:e001:281::/64", "route_target": "2a01:7e01::f03c:93ff:fe2c:0244"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ips":["2a01:7e01:e001:281::"],"linode_id":36017511}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/ips/share
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/36017513/ips
    method: GET
  response:
    body: '{"ipv4": {"public": [{"address": "139.162.177.179", "gateway": "139.162.177.1",
      "subnet_mask": "255.255.255.0", "prefix": 24, "type": "ipv4", "public": true,
      "rdns": "139-162-177-179.ip.linodeusercontent.com", "linode_id": 36017513, "region":
      "eu-central"}], "private": [], "shared": [], "reserved": []}, "ipv6": {"slaac":
      {"address": "2a01:7e01::f03c:93ff:fe2c:02b7", "gateway": "fe80::1", "subnet_mask":
      "ffff:ffff:ffff:ffff::", "prefix": 64, "type": "ipv6", "rdns": null, "linode_id":
      36017513, "region": "eu-central", "public": true}, "link_local": {"address":
      "fe80::f03c:93ff:fe2c:02b7", "gateway": "fe80::1", "subnet_mask": "ffff:ffff:ffff:ffff::",
      "prefix": 64, "type": "ipv6", "rdns": null, "linode_id": 36017513, "region":
      "eu-central", "public": false}, "global": [{"range": "2a01:7e01:e001:281::",
      "prefix": 64, "region": "eu-central", "route_target": null}]}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/36017513
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: 'https://api.linode.com/v4beta/networking/ipv6/ranges/2a01:7e01:e001:281::'
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
