---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://781a8856-776d-48c3-a3f2-41f34aa59627.cpc2-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"536"},"items":[]}
    headers:
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 4ffdae06-5f35-4bf2-8b53-ed1fe1990002
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 29b87b2b-5e25-43e9-8ac0-c0cd002276e1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://781a8856-776d-48c3-a3f2-41f34aa59627.cpc2-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"647"},"items":[{"metadata":{"name":"lke55441-87021-623384941c91","uid":"002584ba-2128-45ac-99db-f821cb767ab2","resourceVersion":"646","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"us-central","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke55441-87021-623384941c91","kubernetes.io/os":"linux","node.kubernetes.io/instance-type":"g6-standard-2","topology.kubernetes.io/region":"us-central"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"/var/run/dockershim.sock","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.1.0/24\"":{}}}}},{"manager":"kubeadm","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:kubeadm.alpha.kubernetes.io/cri-socket":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}},"f:status":{"f:allocatable":{"f:ephemeral-storage":{}},"f:capacity":{"f:ephemeral-storage":{}},"f:conditions":{"k:{\"type\":\"Ready\"}":{"f:message":{}}}}}},{"manager":"linode-cloud-controller-manager-linux-amd64","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:beta.kubernetes.io/instance-type":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:node.kubernetes.io/instance-type":{},"f:topology.kubernetes.io/region":{}}},"f:spec":{"f:providerID":{},"f:taints":{}},"f:status":{"f:addresses":{"k:{\"type\":\"ExternalIP\"}":{".":{},"f:address":{},"f:type":{}},"k:{\"type\":\"InternalIP\"}":{"f:address":{}}}}}}]},"spec":{"podCIDR":"10.2.1.0/24","podCIDRs":["10.2.1.0/24"],"providerID":"linode://35421137","taints":[{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82535088Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4028116Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76064336975","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3925716Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized, CSINode is not yet initialized]"}],"addresses":[{"type":"Hostname","address":"lke55441-87021-623384941c91"},{"type":"ExternalIP","address":"45.79.25.136"},{"type":"InternalIP","address":"192.168.030.0409"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"17b2664f79674c848cc8bae48c1b1bb1","systemUUID":"17b2664f79674c848cc8bae48c1b1bb1","bootID":"14e64fad-ff0b-42c7-887a-dad4db81c84a","kernelVersion":"5.10.0-11-cloud-amd64","osImage":"Debian GNU/Linux 11 (bullseye)","containerRuntimeVersion":"docker://20.10.12","kubeletVersion":"v1.21.9","kubeProxyVersion":"v1.21.9","operatingSystem":"linux","architecture":"amd64"}}},{"metadata":{"name":"lke55441-87021-623384942509","uid":"a835cc9c-6c45-4f4d-9c62-121ee14ff1e1","resourceVersion":"611","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"us-central","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke55441-87021-623384942509","kubernetes.io/os":"linux","lke.linode.com/pool-id":"87021",[...]
[...]
