---
version: 1
interactions:
- request:
    body: '{"entity_ids":[222628,278180,279705,305998],"filters":null,"metrics":[{"name":"avg_read_iops","aggregate_function":"avg"}],"time_granularity":null,"relative_time_duration":{"unit":"hr","value":1},"absolute_time_duration":{"start":"0001-01-01T00:00:00Z","end":"0001-01-01T00:00:00Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://monitor-api.linode.com/v2beta/monitor/services/dbaas/metrics
    method: POST
  response:
    body: '{"errors":[{"reason":"Invalid Token"}]}'
    headers:
      Content-Type:
      - application/json
      Mime-Version:
      - "1.0"
    status: 401 Unauthorized
    code: 401
    duration: ""
