---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance-wo-disk","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"group": "", "type": "g6-nanode-1", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "backups": {"schedule": {"day": null, "window":
      null}, "enabled": false}, "specs": {"memory": 1024, "gpus": 0, "disk": 25600,
      "vcpus": 1, "transfer": 1000}, "id": 18673809, "ipv4": ["10.20.30.40"], "status":
      "provisioning", "tags": [], "hypervisor": "kvm", "ipv6": "1234::5678/64",
      "watchdog_enabled": true, "label": "linodego-test-instance-wo-disk", "alerts":
      {"cpu": 90, "network_in": 10, "io": 10000, "transfer_quota": 80, "network_out":
      10}, "image": null, "region": "us-west"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1575308954"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18673809/configs
    method: POST
  response:
    body: '{"id": 19924146, "kernel": "linode/latest-64bit", "run_level": "default",
      "label": "linodego-test-config", "created": "2018-01-02T03:04:05", "comments":
      "", "updated": "2018-01-02T03:04:05", "initrd": null, "helpers": {"updatedb_disabled":
      true, "network": true, "distro": true, "modules_dep": true, "devtmpfs_automount":
      true}, "memory_limit": 0, "devices": {"sdh": null, "sdc": null, "sdf": null,
      "sdd": null, "sde": null, "sda": null, "sdg": null, "sdb": null}, "virt_mode":
      "paravirt", "root_device": "/dev/sda"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1575308956"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18673809
    method: GET
  response:
    body: '{"region": "us-west", "specs": {"memory": 1024, "vcpus": 1, "disk": 25600,
      "gpus": 0, "transfer": 1000}, "label": "linodego-test-instance-wo-disk", "group":
      "", "tags": [], "image": null, "id": 18673809, "hypervisor": "kvm", "created":
      "2018-01-02T03:04:05", "ipv6": "1234::5678/64", "backups":
      {"schedule": {"window": null, "day": null}, "enabled": false}, "status": "provisioning",
      "updated": "2018-01-02T03:04:05", "ipv4": ["10.20.30.40"], "type": "g6-nanode-1",
      "alerts": {"network_out": 10, "network_in": 10, "io": 10000, "transfer_quota":
      80, "cpu": 90}, "watchdog_enabled": true}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1575308961"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","entity.id":18673799,"entity.type":"linode","seen":false}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"pages": 1, "results": 3, "data": [{"percent_complete": 52, "seen": false,
      "rate": null, "created": "2018-01-02T03:04:05", "status": "started", "entity":
      {"id": 18673799, "url": "/v4/linode/instances/18673799", "type": "linode", "label":
      "linodego-test-instance"}, "action": "disk_imagize", "read": false, "id": 62501935,
      "secondary_entity": {"url": "/v4/images/private/7805155", "id": 7805155, "type":
      "image", "label": "linodego-test-image"}, "duration": 19.632761, "time_remaining":
      null, "username": "pccampbell"}, {"percent_complete": 100, "seen": false, "rate":
      null, "created": "2018-01-02T03:04:05", "status": "finished", "entity": {"id":
      18673799, "url": "/v4/linode/instances/18673799", "type": "linode", "label":
      "linodego-test-instance"}, "action": "linode_boot", "read": false, "id": 62501866,
      "secondary_entity": {"id": 19924137, "url": "/v4/linode/instances/18673799/configs/19924137",
      "type": "linode_config", "label": "My Debian 9 Disk Profile"}, "duration": 28.0,
      "time_remaining": 0, "username": "pccampbell"}, {"percent_complete": 100, "seen":
      false, "rate": null, "created": "2018-01-02T03:04:05", "status": "finished",
      "entity": {"id": 18673799, "url": "/v4/linode/instances/18673799", "type": "linode",
      "label": "linodego-test-instance"}, "action": "linode_create", "read": false,
      "id": 62501865, "secondary_entity": {"id": "linode/debian9", "url": "/v4/images/linode/debian9",
      "type": "image", "label": "Debian 9"}, "duration": 3.0, "time_remaining": 0,
      "username": "pccampbell"}], "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1575308973"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"linodego-test-instancedisk","size":2000,"image":"private/7805155","root_pass":"R34lBAdP455"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18673809/disks
    method: POST
  response:
    body: '{"id": 38285918, "label": "linodego-test-instancedisk", "created": "2018-01-02T03:04:05",
      "status": "not ready", "filesystem": "ext4", "size": 1395, "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "77"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1575308985"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-2","size":2000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18673809/disks
    method: POST
  response:
    body: '{"errors": [{"reason": "Linode busy."}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1575309027"
      X-Spec-Version:
      - 4.9.0
    status: 400 BAD REQUEST
    code: 400
    duration: ""
[...]
