---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://b93a171f-fa72-47c1-b670-3408daa3ed81.cpc2-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"536"},"items":[]}
    headers:
      Audit-Id:
      - a10adaf9-9d1e-4714-a04b-453cea061788
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 74c59226-0e33-4106-b254-dfb2e5064b35
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - dfe4b5fd-fe69-4e29-91e7-ffdd108ce7b1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://b93a171f-fa72-47c1-b670-3408daa3ed81.cpc2-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"655"},"items":[{"metadata":{"name":"lke58193-90901-625f196dadcb","uid":"577a6c6c-32c7-4561-aaa0-db42e19dfe6d","resourceVersion":"621","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke58193-90901-625f196dadcb","kubernetes.io/os":"linux","lke.linode.com/pool-id":"90901"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"/var/run/dockershim.sock","lke.linode.com/wgip":"172.31.0.1","lke.linode.com/wgpub":"wD0Hk3t/mR2Tobqy2NBfl14vj+LHCbc5nboQWvY23EM=","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/24\"":{}}}}},{"manager":"Go-http-client","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:kubeadm.alpha.kubernetes.io/cri-socket":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}},"f:spec":{"f:taints":{}}}},{"manager":"kubectl-annotate","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:lke.linode.com/wgip":{},"f:lke.linode.com/wgpub":{}}}}},{"manager":"kubectl-label","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:lke.linode.com/pool-id":{}}}}},{"manager":"Go-http-client","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:conditions":{"k:{\"type\":\"DiskPressure\"}":{"f:lastHeartbeatTime":{}},"k:{\"type\":\"MemoryPressure\"}":{"f:lastHeartbeatTime":{}},"k:{\"type\":\"PIDPressure\"}":{"f:lastHeartbeatTime":{}},"k:{\"type\":\"Ready\"}":{"f:lastHeartbeatTime":{},"f:message":{}}},"f:images":{}}},"subresource":"status"}]},"spec":{"podCIDR":"10.2.0.0/24","podCIDRs":["10.2.0.0/24"],"taints":[{"key":"node.cloudprovider.kubernetes.io/uninitialized","value":"true","effect":"NoSchedule"},{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82535088Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4028112Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76064336975","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3925712Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized"}],"addresses":[{"type":"InternalIP","address":"45.79.53.177"},{"type":"Hostname","address":"lke58193-90901-625f196dadcb"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"0ae49e3338934d5292b6b5c0a865948b","systemUUID":"0ae49e3338934d5292b6b5c0a865948b","bootID":"31654eaa-2fa9-4649-a257-98637b222d58","kernelVersion":"5.10.0-12-cloud-amd64","osImage":"Debian GNU/Linux 11 (bullseye)","containerRuntimeVersion":"docker://20.10.13","kubeletVersion":"v1.23.4","kubeProxyVersion":"v1.23.4","operatingSystem":"linux","architecture":"amd64"},"images":[{"names":["linode/pause@sha256:4a1c4b21597c1b4415bdbecb28a3296c6b5e23ca4f9feeb599860a1dac6a0108","linode/pause:3.2"],"sizeBytes":682696}]}},{"metadata":{"name":"lke58193-90901-625f196dc13f","uid":"8d5269b5-7213-4d99-8279-5230d377317f","resourceVersion":"644","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke58193-90901-625f196dc13f","kubernetes.io/os":"linux"},"annotations":{"node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manag[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://b93a171f-fa72-47c1-b670-3408daa3ed81.cpc2-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"816"},"items":[{"metadata":{"name":"lke58193-90901-625f196dadcb","uid":"577a6c6c-32c7-4561-aaa0-db42e19dfe6d","resourceVersion":"816","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"us-central","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke58193-90901-625f196dadcb","kubernetes.io/os":"linux","lke.linode.com/pool-id":"90901","node.kubernetes.io/instance-type":"g6-standard-2","topology.kubernetes.io/region":"us-central","topology.linode.com/region":"us-central"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"linodebs.csi.linode.com\":\"35970979\"}","kubeadm.alpha.kubernetes.io/cri-socket":"/var/run/dockershim.sock","lke.linode.com/wgip":"172.31.0.1","lke.linode.com/wgpub":"wD0Hk3t/mR2Tobqy2NBfl14vj+LHCbc5nboQWvY23EM=","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernet[...]
