---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/dashboards?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1, "type": "standard", "service_type": "dbaas", "label":
      "Resource Usage", "group_by": ["entity_id"], "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "widgets": [{"metric": "cpu_usage", "unit":
      "%", "label": "CPU Usage", "color": "default", "size": 12, "chart_type": "area",
      "y_label": "cpu_usage", "description": null, "aggregate_function": "avg"}, {"metric":
      "memory_usage", "unit": "%", "label": "Memory Usage", "color": "default", "size":
      6, "chart_type": "area", "y_label": "memory_usage", "description": null, "aggregate_function":
      "avg"}, {"metric": "available_memory", "unit": "GB", "label": "Available Memory",
      "color": "default", "size": 6, "chart_type": "area", "y_label": "available_memory",
      "description": null, "aggregate_function": "avg"}, {"metric": "disk_usage",
      "unit": "%", "label": "Di[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/dashboards/1
    method: GET
  response:
    body: '{"id": 1, "type": "standard", "service_type": "dbaas", "label": "Resource
      Usage", "group_by": ["entity_id"], "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "widgets": [{"metric": "cpu_usage", "unit": "%", "label":
      "CPU Usage", "color": "default", "size": 12, "chart_t[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/dashboards?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1, "type": "standard", "service_type": "dbaas", "label":
      "Resource Usage", "group_by": ["entity_id"], "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "widgets": [{"metric": "cpu_usage", "unit":
      "%", "label": "CPU Usage", "color": "[...]
