---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions/availability
    method: GET
  response:
    body: '{"data": [{"region": "us-central", "plan": "gpu-rtx6000-1.1", "available":
      false}, {"region": "us-central", "plan": "gpu-rtx6000-2.1", "available": false},
      {"region": "us-central", "plan": "gpu-rtx6000-3.1", "available": false}, {"region":
      "us-central", "plan": "gpu-rtx6000-4.1", "available": false}, {"region": "us-central",
      "plan": "premium131072.7", "available": false}, {"region": "us-central", "plan":
      "premium16384.7", "available": false}, {"region": "us-central", "plan": "premium262144.7",
      "available": false}, {"region": "us-cen[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions/availability?page=2
    method: GET
  response:
    body: '{"data": [{"region": "ap-west", "plan": "premium524288.7", "available":
      false}, {"region": "ap-west", "plan": "premium65536.7", "available": false},
      {"region": "ap-west", "plan": "premium8192.7", "available": false}, {"region":
      "ap-west", "plan": "premium98304.7", "available": fal[...]
[...]
