---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "LA Disk Encryption",
      "Disk Encryption", "Backups", "NodeBalancers", "Block Storage", "Object Storage",
      "GPU Linodes", "Kubernetes", "Kubernetes Enterprise", "Cloud Firewall", "Vlans",
      "VPCs", "VPC Dual Stack", "Block Storage Migrations", "Managed Databases", "Metadata",
      "Premium Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Interfaces", "Network LoadBalancer", "ACLP Logs Datacenter
      LKE-E"], "monitors": {"alerts": ["Block Storage", "Cloud Firewall", "Kubernetes",
      "Linodes", "Managed Databases", "Network LoadBalancer", "NodeBalancers", "Object
      Storage", "logs"], "metrics": ["Block Storage", "Cloud Firewall", "Kubernetes",
      "Linodes", "Managed Databases", "Network LoadBalancer", "NodeBalancers", "Object
      Storage", "logs"]}, "status": "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "us-labedgeeat-2",
      "label": "East Wenatchee, US", "country": "us", "capabilities": ["Linodes",
      "Disk Encryption", "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "Metadata",
      "Distributed Plans", "Linode Interfaces"], "monitors": {"alerts": [], "metrics":
      []}, "status": "ok", "resolvers": {"ipv4": "173.223.100.53,173.223.101.53",
      "ipv6": "1234::5678,1234::5678"}, "placement_group_limits": {"maximum_pgs_per_customer":
      0, "maximum_linodes_per_pg": 0, "maximum_linodes_per_flexible_pg": 0}, "site_type":
      "distributed"}, {"id": "us-labedgeeat-3", "label": "East Wenatchee, US", "country":
      "us", "capabilities": ["Linodes", "Disk Encryption", "Cloud Firewall", "Metadata",
      "Distributed Plans"], "monitors": {"alerts": [], "metrics": []}, "status": "ok",
      "resolvers": {"ipv4": "173.223.100.53,173.223.101.53", "ipv6": "1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": 0, "maximum_linodes_per_pg":
      0, "maximum_linodes_per_flexible_pg": 0}, "site_type": "distributed"}], "page":
      1, "pages": 1, "results": 3}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","label":"go-test-logs-destination-1778158524428891000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1778158524428891000.pl-labkrk2-1.devcloud.linodeobjects.com",
      "label": "go-test-logs-destination-1778158524428891000", "created": "2018-01-02T03:04:05",
      "region": "pl-labkrk-2", "cluster": "pl-labkrk2-1", "size": 0, "objects": 0,
      "endpoint_type": "E1", "s3_endpoint": "pl-labkrk2-1.devcloud.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "12"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778158525239516000","regions":["pl-labkrk-2"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 341690, "label": "go-test-logs-destination-1778158525239516000",
      "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]", "limited": false,
      "bucket_access": null, "regions": [{"id": "pl-labkrk-2", "s3_endpoint": "pl-labkrk2-1.devcloud.linodeobjects.com",
      "endpoint_type": "E1"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "12"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778158525883457000","type":"akamai_object_storage","details":{"access_key_id":"5GTU0WAFDFN2QWGPU25L","access_key_secret":"7JnChJAdELfVN1cyAWvDSXoqtbsxhXPWbh8y2RkI","bucket_name":"go-test-logs-destination-1778158524428891000","host":"go-test-logs-destination-1778158524428891000.pl-labkrk2-1.devcloud.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 1133, "label": "go-test-logs-destination-1778158525883457000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778158524428891000.pl-labkrk2-1.devcloud.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778158524428891000", "access_key_id":
      "5GTU0WAFDFN2QWGPU25L"}, "version": 1, "status": "active", "created_by": "klipensk-aclp",
      "created": "2018-01-02T03:04:05", "updated_by": "klipensk-aclp", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778158525883457000-upd","details":{"access_key_id":"5GTU0WAFDFN2QWGPU25L","access_key_secret":"7JnChJAdELfVN1cyAWvDSXoqtbsxhXPWbh8y2RkI","bucket_name":"go-test-logs-destination-1778158524428891000","host":"go-test-logs-destination-1778158524428891000.pl-labkrk2-1.devcloud.linodeobjects.com","path":"updated/logs/path/"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/monitor/streams/destinations/1133
    method: PUT
  response:
    body: '{"id": 1133, "label": "go-test-logs-destination-1778158525883457000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778158524428891000.pl-labkrk2-1.devcloud.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778158524428891000", "path": "updated/logs/path/",
      "access_key_id": "5GTU0WAFDFN2QWGPU25L"}, "version": 2, "status": "active",
      "created_by": "klipensk-aclp", "created": "2018-01-02T03:04:05", "updated_by":
      "klipensk-aclp", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/monitor/streams/destinations/1133/history?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 1133, "label": "go-test-logs-destination-1778158525883457000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778158524428891000.pl-labkrk2-1.devcloud.linodeobjects.com",
 [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/monitor/streams/destinations/1133
    method: GET
  response:
    body: '{"id": 1133, "label": "go-test-logs-destination-1778158525883457000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778158524428891000.pl-labkrk2-1.devcloud.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778158524428891000", "path": "updated/logs/path/",
      "access_key_id": "5GTU0WAFDFN2QWGPU25L"}, "version": 2, "status": "active",
      "created_by": "klipensk-aclp", "created": "2018-01-02T03:04:05", "updated_by":
      "klipensk-aclp", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/object-storage/keys/341690
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "12"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/object-storage/buckets/pl-labkrk-2/go-test-logs-destination-1778158524428891000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "cloud-logs-test-connection-20260507T125526", "size":
      9, "last_modified": "2018-01-02T03:04:05.650Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "512fe32a-48a2-4a57-8a11-0eef806858d3"}, {"name": "updated/logs/path/",
      "size": 0, "last_modified": "2018-01-02T03:04:05.109Z", "etag": "d41d8cd98f00b204e9800998ecf8427e",
      "owner": "512fe32a-48a2-4a57-8a11-0eef806858d3"}, {"name": "updated/logs/path/cloud-logs-test-connection-20260507T125529",
      "size": 9, "last_modified": "2018-01-02T03:04:05.153Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "512fe32a-48a2-4a57-8a11-0eef806858d3"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cloud-logs-test-connection-20260507T125526","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/object-storage/buckets/pl-labkrk-2/go-test-logs-destination-1778158524428891000/object-url
    method: POST
  response:
    body: '{"url": "https://pl-labkrk2-1.devcloud.linodeobjects.com:443/go-test-logs-destination-1778158524428891000/cloud-logs-test-connection-20260507T125526?Signature=u5NU8RldK%2BeSzUBPV6sODON6Qe0%3D&Expires=1778158896&AWSAccessKeyID=SANITIZED",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/object-storage/buckets/pl-labkrk-2/go-test-logs-destination-1778158524428891000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
