---
version: 1
interactions:
- request:
    body: '{"label":"linodego-fw-test","rules":{"inbound":[{"action":"ACCEPT","label":"go-fwrule-test","ports":"22","protocol":"TCP","addresses":{"ipv4":["0.0.0.0/0"],"ipv6":["1234::5678/0"]}}],"inbound_policy":"ACCEPT","outbound":[{"action":"ACCEPT","label":"go-fwrule-test","ports":"22","protocol":"TCP","addresses":{"ipv4":["0.0.0.0/0"],"ipv6":["1234::5678/0"]}}],"outbound_policy":"ACCEPT"},"tags":["testing"],"devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls
    method: POST
  response:
    body: '{"id": 498951, "label": "linodego-fw-test", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"action": "ACCEPT", "label": "go-fwrule-test", "ports": "22", "protocol":
      "TCP", "addresses": {"ipv4": ["0.0.0.0/0"], "ipv6": ["1234::5678/0"]}}], "inbound_policy":
      "ACCEPT", "outbound": [{"action": "ACCEPT", "label": "go-fwrule-test", "ports":
      "22", "protocol": "TCP", "addresses": {"ipv4": ["0.0.0.0/0"], "ipv6": ["1234::5678/0"]}}],
      "outbound_policy": "ACCEPT", "version": 1, "fingerprint": "7bcc0f03"}, "tags":
      ["testing"], "entities": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls
    method: GET
  response:
    body: '{"data": [{"id": 498514, "label": "linode-cloud-firewall-for-tests", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "status": "enabled",
      "rules": {"inbound": [{"action": "ACCEPT", "label": "ssh-inbound-accept-local",
      "ports": "22", "protocol": "TCP", "addresses": {"ipv4": ["66.183.56.141/32"]}}],
      "inbound_policy": "DROP", "outbound": [], "outbound_policy": "ACCEPT", "version":
      1, "fingerprint": "34cf15cc"}, "tags": [], "entities": []}, {"id": 498547, "label":
      "cloudfw-1717110724453403000", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound": [{"action":
      "ACCEPT", "label": "ssh-inbound-accept-local", "ports": "22", "protocol": "TCP",
      "addresses": {"ipv4": ["66.183.56.141/32"]}}], "inbound_policy": "DROP", "outbound":
      [], "outbound_policy": "ACCEPT", "version": 1, "fingerprint": "34cf15cc"}, "tags":
      [], "entities": []}, {"id": 498717, "label": "cloudfw-1717112023872350000",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "status":
      "enabled", "rules": {"inbound": [{"action": "ACCEPT", "label": "ssh-inbound-accept-local",
      "ports": "22", "protocol": "TCP", "addresses": {"ipv4": ["66.183.56.141/32"]}}],
      "inbound_policy": "DROP", "outbound": [], "outbound_policy": "ACCEPT", "version":
      1, "fingerprint": "34cf15cc"}, "tags": [], "entities": [{"id": 59509096, "type":
      "linode", "label": "linodego-fw-inst-test", "url": "/v4/linode/instances/59509096"}]},
      {"id": 498760, "label": "cloudfw-1717112426680913000", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"action": "ACCEPT", "label": "ssh-inbound-accept-local", "ports": "22", "protocol":
      "TCP", "addresses": {"ipv4": ["66.183.56.141/32"]}}], "inbound_policy": "DROP",
      "outbound": [], "outbound_policy": "ACCEPT", [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls/498951
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
