---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-volume-858xxd7q","region":"us-southeast","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes
    method: POST
  response:
    body: '{"id": 330004, "status": "creating", "label": "linodego-test-volume-858xxd7q",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume-858xxd7q", "size":
      20, "linode_id": null, "linode_label": null, "region": "us-southeast", "tags":
      [], "hardware_type": "nvme"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/330004
    method: GET
  response:
    body: '{"id": 330004, "status": "active", "label": "linodego-test-volume-858xxd7q",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume-858xxd7q", "size":
      20, "linode_id": null, "linode_label": null, "region": "us-southeast", "tags":
      [], "hardware_type": "nvme"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"size": 21}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/330004/resize
    method: POST
  response:
    body: '{"id": 330004, "status": "resizing", "label": "linodego-test-volume-858xxd7q",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume-858xxd7q", "size":
      21, "linode_id": null, "linode_label": null, "region": "us-southeast", "tags":
      [], "hardware_type": "nvme"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
