---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.dev.linode.com/v4beta/betas/active_closed
    method: GET
  response:
    body: '{"id": "active_closed", "label": "active closed beta", "description": "An
      active closed beta", "started": "2018-01-02T03:04:05", "ended": null, "greenlight_only":
      true, "more_info": "a link with even more info"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
