---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"updated": "2018-01-02T03:04:05", "ipv4": ["10.20.30.40"], "alerts": {"cpu":
      90, "transfer_quota": 80, "network_in": 10, "io": 10000, "network_out": 10},
      "backups": {"schedule": {"day": null, "window": null}, "enabled": false}, "image":
      "linode/debian9", "specs": {"disk": 25600, "gpus": 0, "vcpus": 1, "memory":
      1024, "transfer": 1000}, "hypervisor": "kvm", "status": "provisioning", "tags":
      [], "type": "g6-nanode-1", "region": "us-west", "label": "linodego-test-instance",
      "ipv6": "1234::5678/64", "watchdog_enabled": true, "created":
      "2018-01-02T03:04:05", "group": "", "id": 18425284}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660878"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425284/ips
    method: POST
  response:
    body: '{"linode_id": 18425284, "address": "10.0.0.1", "gateway": null, "subnet_mask":
      "10.20.30.40", "prefix": 17, "rdns": null, "region": "us-west", "public":
      false, "type": "ipv4"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660878"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"10.0.0.1:8080","label":"test-label","weight":10,"mode":"accept"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53606/configs/48072/nodes
    method: POST
  response:
    body: '{"weight": 10, "id": 466778, "nodebalancer_id": 53606, "config_id": 48072,
      "label": "test-label", "address": "10.0.0.1:8080", "status": "Unknown",
      "mode": "accept"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660879"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53606/configs/48072/nodes
    method: GET
  response:
    body: '{"pages": 1, "results": 1, "page": 1, "data": [{"nodebalancer_id": 53606,
      "status": "Unknown", "weight": 10, "label": "test-label", "address": "10.0.0.1:8080",
      "id": 466778, "mode": "accept", "config_id": 48072}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "20"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660780"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53606/configs/48072/nodes/466778
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "17"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1573660777"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425284
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "90"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660851"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
