---
version: 1
interactions:
- request:
    body: '{"label":"go-test-logs-monitoring-1789372929673125000","type":"custom_https","details":{"endpoint_url":"https://pl-labkrk-2-https-server-dev.cloud-streams-dev.akadns.net/stream-custom-https-server-api/logs/no-auth","authentication":{"type":"none"},"content_type":"application/json","custom_headers":[{"name":"X-Logs-Custom-Path","value":"linodego-e2e-test"}],"data_compression":"gzip"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 308, "label": "go-test-logs-monitoring-1789372929673125000", "type":
      "custom_https", "details": {"endpoint_url": "https://pl-labkrk-2-https-server-dev.cloud-streams-dev.akadns.net/stream-custom-https-server-api/logs/no-auth",
      "authentication": {"type": "none"}, "data_compression": "gzip", "content_type":
      "application/json", "custom_headers": [{"name": "X-Logs-Custom-Path", "value":
      "linodego-e2e-test"}]}, "version": 1, "status": "active", "created_by": "[SANITIZED]",
      "created": "2018-01-02T03:04:05", "updated_by": "[SANITIZED]", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams?page=1
    method: GET
  response:
    body: '{"pages": 0, "page": 1, "results": 0, "data": []}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"destinations":[308],"label":"go-test-http-destination-stream-1789372932952823000","type":"audit_logs"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams
    method: POST
  response:
    body: '{"id": 95, "label": "go-test-http-destination-stream-1789372932952823000",
      "type": "audit_logs", "destinations": [{"id": 308, "type": "custom_https", "label":
      "go-test-logs-monitoring-1789372929673125000", "details": {"endpoint_url": "https://pl-labkrk-2-https-server-dev.cloud-streams-dev.akadns.net/stream-custom-https-server-api/logs/no-auth",
      "authentication": {"type": "none"}, "data_compression": "gzip", "content_type":
      "application/json", "custom_headers": [{"name": "X-Logs-Custom-Path", "value":
      "linodego-e2e-test"}]}}], "details": null, "version": 1, "status": "provisioning",
      "created_by": "[SANITIZED]", "created": "2018-01-02T03:04:05", "updated_by": "[SANITIZED]", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/95
    method: GET
  response:
    body: '{"id": 95, "label": "go-test-http-destination-stream-1789372932952823000",
      "type": "audit_logs", "destinations": [{"id": 308, "type": "custom_https", "label":
      "go-test-logs-monitoring-1789372929673125000", "details": {"endpoint_url": "https://pl-labkrk-2-https-server-dev.cloud-streams-dev.akadns.net/stream-custom-https-server-api/logs/no-auth",
      "authentication": {"type": "none"}, "data_compression": "gzip", "content_type":
      "application/json", "custom_headers": [{"name": "X-Logs-Custom-Path", "value":
      "linodego-e2e-test"}]}}], "details": null, "version": 1, "status": "provisioning",
      "created_by": "[SANITIZED]", "created": "2018-01-02T03:04:05", "updated_by": "[SANITIZED]", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/95
    method: GET
  response:
    body: '{"errors": [{"reason": "Stream not found"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 404 NOT FOUND
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/308
    method: GET
  response:
    body: '{"id": 308, "label": "go-test-logs-monitoring-1789372929673125000", "type":
      "custom_https", "details": {"endpoint_url": "https://pl-labkrk-2-https-server-dev.cloud-streams-dev.akadns.net/stream-custom-https-server-api/logs/no-auth",
      "authentication": {"type": "none"}, "data_compression": "gzip", "content_type":
      "application/json", "custom_headers": [{"name": "X-Logs-Custom-Path", "value":
      "linodego-e2e-test"}]}, "version": 1, "status": "active", "created_by": "[SANITIZED]",
      "created": "2018-01-02T03:04:05", "updated_by": "[SANITIZED]", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
