---
version: 1
interactions:
- request:
    body: '{"label":"go-test-def"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 1654584, "label": "go-test-def", "access_key": "[SANITIZED]", "secret_key":
      "[SANITIZED]", "limited": false, "bucket_access": null, "regions": [{"id": "ap-south",
      "s3_endpoint": "ap-south-1.linodeobjects.com", "endpoint_type": "E0"}, {"id":
      "br-gru", "s3_endpoint": "br-gru-1.linodeobjects.com", "endpoint_type": "E1"},
      {"id": "es-mad", "s3_endpoint": "es-mad-1.linodeobjects.com", "endpoint_type":
      "E1"}, {"id": "eu-central", "s3_endpoint": "eu-central-1.linodeobjects.com",
      "endpoint_type": "E0"}, {"id": "fr-par", "s3_endpoint": "fr-par-1.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "id-cgk", "s3_endpoint": "id-cgk-1.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "in-maa", "[...]
- request:
    body: '{"label":"go-test-def_r"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/1654584
    method: PUT
  response:
    body: '{"id": 1654584, "label": "go-test-def_r", "access_key": "[SANITIZED]",
      "secret_key": "[REDACTED]", "limited": false, "bucket_access": null, "regions":
      [{"id": "ap-south", "s3_endpoint": "ap-south-1.linodeobjects.com", "endpoint_type":
      "E0"}, {"id": "br-gru[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/1654584
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
