---
version: 1
interactions:
- request:
    body: '{"allow_list":["203.0.113.1","192.0.1.0/24"],"label":"basic-mysql-linodemdgo3-testing","region":"us-east","type":"g6-nanode-1","engine":"mysql/8.0.26","replication_type":"semi_synch","cluster_size":3,"encrypted":false,"ssl_connection":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.staging.linode.com/v4beta/databases/mysql/instances
    method: POST
  response:
    body: '{"id": 2794, "label": "basic-mysql-linodemdgo3-testing", "type": "g6-nanode-1",
      "engine": "mysql", "version": "8.0.26", "region": "us-east", "status": "provisioning",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": null, "secondary": null}, "ssl_connection": false, "replication_type":
      "semi_synch", "port": 3306, "updates": {"frequency": "weekly", "duration": 3,
      "hour_of_day": 0, "day_of_week": null, "week_of_month": null}, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2022-05-16T17:33:33"},"entity.id":2794,"entity.type":"database"}'
    url: https://api.staging.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 310875250, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "lgarber-dev", "entity":
      {"label": "basic-mysql-linodemdgo3-testing", "id": 2794, "type": "database",
      "url": "/v4/databases/mysql/instances/2794"}, "status": "notification", "secondary_entity":
      null, "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.staging.linode.com/v4beta/databases/instances
    method: GET
  response:
    body: '{"data": [{"id": 522, "label": "scalegridgoestojapanpt2", "type": "g6-nanode-1",
      "engine": "mysql", "version": "8.0.26", "region": "ap-northeast", "status":
      "provisioning", "encrypted": false, "allow_list": ["172.104.2.4/32"], "cluster_size":
      1, "hosts": {"primary": null, "secondary": null}, "port": 3306, "updates": {"frequency":
      "weekly", "duration": 3, "hour_of_day": 0, "day_of_week": null, "week_of_month":
      null}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "instance_uri":
      "/v4/databases/mysql/instances/522"}, {"id": 2776, "label": "basic-mysql-linodedgdo-testing",
      "type": "g6-nanode-1", "engine": "mysql", "version": "8.0.26", "region": "us-east",
      "status": "active", "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"],
      "cluster_size": 3, "hosts": {"primary": "lin-2776-2859-mysql-primary.servers.linodedb.net",
      "secondary": "lin-2776-2859-mysql-primary-private.servers.linodedb.net"}, "port":
      3306, "updates": {"frequ[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.staging.linode.com/v4beta/databases/mysql/instances/2794
    method: GET
  response:
    body: '{"id": 2794, "label": "basic-mysql-linodemdgo3-testing", "type": "g6-nanode-1",
      "engine": "mysql", "version": "8.0.26", "region": "us-east", "status": "active",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": "lin-2794-2874-mysql-primary.servers.linodedb.net",
      "secondary": "lin-2794-2874-mysql-primary-private.servers.linodedb.net"}, "ssl_connection":
      false, "replication_type": "semi_synch", "port": 3306, "updates": {"frequency":
      "weekly", "duration": 3, "hour_of_day": 1, "day_of_week": 6, "week_of_month":
      null}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.staging.linode.com/v4beta/databases/mysql/instances/2794/ssl
    method: GET
  response:
    body: '{"ca_certificate": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.staging.linode.com/v4beta/databases/mysql/instances/2794/credentials
    method: GET
  response:
    body: '{"username": "linroot", "password": "R,q2J88ZmAItpbmi"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.staging.linode.com/v4beta/databases/mysql/instances/2794/credentials/reset
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"reallycoolbackup","target":"primary"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.staging.linode.com/v4beta/databases/mysql/instances/2794/backups
    method: POST
  response:
    body: '{"errors": [{"reason": "The backup snapshot failed, please open a support
      ticket."}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 500 Internal Server Error
    code: 500
    duration: ""
[...]
