---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile
    method: GET
  response:
    body: '{"uid": 2897900, "username": "prod-test-022", "email": "dl-linode-devs@akamai.com",
      "verified_phone_number": null, "timezone": "GMT", "email_notifications": true,
      "referrals": {"code": "", "url": "", "total": 0, "completed": 0, "pending":
      0, "credit": 0}, "ip_whitelist_enabled": false, "lish_auth_method": "password_keys",
      "authorized_keys": null, "two_factor_auth": true, "restricted": false, "authentication_type":
      "password", "user_type": "default"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/entities?page=1
    method: GET
  response:
    body: '{"data": [{"id": 3621380, "label": "cloudfw-1766398891376188000", "type":
      "firewall"}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/iam/users/prod-test-022/permissions/firewall/3621380
    method: GET
  response:
    body: '["view_firewall", "list_firewall_rules", "view_firewall_device", "update_firewall",
      "delete_firewall_device", "update_firewall_rules", "list_firewall_devices",
      "delete_firewall", "list_firewall_rule_versions", "view_firewall_rule_version",
      "create_firewall_device"]'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
