---
version: 1
interactions:
- request:
    body: '{"label":"go-test-logs-monitoring-1789125838603717000","type":"custom_https","details":{"endpoint_url":"https://pl-labkrk-2-https-server-dev.cloud-streams-dev.akadns.net/stream-custom-https-server-api/logs/no-auth","authentication":{"type":"none"},"content_type":"application/json","custom_headers":[{"name":"X-Logs-Custom-Path","value":"linodego-e2e-test"}],"data_compression":"gzip"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 96, "label": "go-test-logs-monitoring-1789125838603717000", "type":
      "custom_https", "details": {"endpoint_url": "https://pl-labkrk-2-https-server-dev.cloud-streams-dev.akadns.net/stream-custom-https-server-api/logs/no-auth",
      "authentication": {"type": "none"}, "data_compression": "gzip", "content_type":
      "application/json", "custom_headers": [{"name": "X-Logs-Custom-Path", "value":
      "linodego-e2e-test"}]}, "version": 1, "status": "active", "created_by": "[SANITIZED]",
      "created": "2018-01-02T03:04:05", "updated_by": "[SANITIZED]", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/96/history?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 96, "label": "go-test-logs-monitoring-1789125838603717000-updated",
      "type": "custom_https", "details": {"endpoint_url": "https://pl-labkrk-2-https-server-dev.cloud-streams-dev.akadns.net/stream-custom-https-server-api/logs/no-auth",
      "authentication": {"type": "none"}, "data_compression": "gzip", "content_type":
      "application/json; charset=utf-8", "custom_headers": [{"name": "X-Logs-Custom-Path",
      "value": "linodego-e2e-test"}]}, "version": 2, "status": "active", "c[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/96
    method: GET
  response:
    body: '{"id": 96, "label": "go-test-logs-monitoring-1789125838603717000-updated",
      "type": "custom_https", "details": {"endpoint_url": "https://pl-labkrk-2-https-server-dev.cloud-streams-dev.akadns.net/stream-custom-https-server-api/logs/no-auth",
      "authentication": {"type": "none"}, "data_compression": "gzip", "content_type":
      "application/json; charset=utf-8", "custom_headers": [{"name": "X-Logs-Custom-Path",
      "value": "linodego-e2e-test"}]}, "version": 2, "status": "active", "created_by": "[SANITIZED]", "created": "2018-01-02T03:04:05", "updated_by": "[SANITIZED]",
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
