---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/tiers/enterprise/versions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "v1.31.8+lke1", "tier": "enterprise"}], "page": 1, "pages":
      1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2","disks":null,"tags":["test"],"labels":null,"taints":null}],"label":"go-test-def","region":"us-lax","k8s_version":"v1.31.8+lke1","tags":["testing"],"tier":"enterprise"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 433099, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "go-test-def", "region": "us-lax", "k8s_version":
      "v1.31.8+lke1", "tier": "enterprise", "control_plane": {"high_availability":
      true}, "apl_enabled": false, "tags": ["testing"]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/433099
    method: GET
  response:
    body: '{"id": 433099, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "go-test-def", "region": "us-lax", "k8s_version":
      "v1.31.8+lke1", "tier": "enterprise", "control_plane": {"high_availability":
      true}, "apl_enabled": false, "tags": ["testing"]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
