---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "NodeBalancers", "Block Storage", "GPU Linodes", "Kubernetes", "Cloud
      Firewall", "Vlans", "Block Storage Migrations", "Managed Databases"], "status":
      "ok", "resolvers": {"ipv4": "172.105.34.5, 172.105.35.5, 172.105.36.5, 172.105.37.5,
      172.105.38.5, 172.105.39.5, 172.105.40.5, 172.105.41.5, 172.105.42.5, 172.105.43.5",
      "ipv6": "1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678"}}, {"id": "ca-central", "label": "Toronto, CA",
      "country": "ca", "capabilities": ["Linodes", "NodeBalancers", "Block Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations", "Managed
      Databases"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5, 172.105.3.5,
      172.105.4.5, 172.105.5.5, 172.105.6.5, 172.105.7.5, 1[...]
- request:
    body: '{"region":"ap-west","type":"g6-nanode-1","label":"go-ins-poll-test","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 48058285, "label": "go-ins-poll-test", "group": "", "status": "provisioning",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "type":
      "g6-nanode-1", "ipv4": ["172.105.43.138"], "ipv6": "1234::5678/128",
      "image": null, "region": "ap-west", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "available": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "71943b7db55fadab33ab3a638a6626fbcb4583e7"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"linode_create","entity.id":48058285,"entity.type":"linode"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 535066527, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": 0, "time_remaining": null, "rate": null,
      "duration": null, "action": "linode_create", "username": "lgarber-dev", "entity":
      {"label": "go-ins-poll-test", "id": 48058285, "type": "linode", "url": "/v4/linode/instances/48058285"},
      "status": "scheduled", "secondary_entity": null, "message": ""}], "page": 1,
      "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/events/535066527
    method: GET
  response:
    body: '{"id": 535066527, "created": "2018-01-02T03:04:05", "seen": false, "read":
      false, "percent_complete": 0, "time_remaining": null, "rate": null, "duration":
      null, "action": "linode_create", "username": "lgarber-dev", "entity": {"label":
      "go-ins-poll-test", "id": 48058285, "type": "linode", "url": "/v4/linode/instances/48058285"},
      "status": "scheduled", "secondary_entity": null, "message": ""}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"disk-0","size":512}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/48058285/disks
    method: POST
  response:
    body: '{"id": 95703754, "status": "not ready", "label": "disk-0", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "filesystem": "ext4", "size": 512}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"disk-1","size":512}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/48058285/disks
    method: POST
  response:
    body: '{"errors": [{"reason": "Linode busy."}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/48058285/disks/95703754
    method: DELETE
  response:
    body: '{"errors": [{"reason": "Linode busy."}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/48058285
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
