---
version: 1
interactions:
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2","disks":null,"tags":["test"]}],"label":"96q1c3f46szx-linodego-testing","region":"us-central","k8s_version":"1.21","tags":["testing"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 55446, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "96q1c3f46szx-linodego-testing", "region": "us-central",
      "k8s_version": "1.21", "control_plane": {"high_availability": false}, "tags":
      ["testing"]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/55446/api-endpoints
    method: GET
  response:
    body: '{"errors": [{"reason": "Cluster API Endpoints are not yet available. Please
      try again later."}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
    status: 503 Service Unavailable
    code: 503
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/55446/api-endpoints
    method: GET
  response:
    body: '{"page": 1, "pages": 1, "results": 4, "data": [{"endpoint": "https://4279fa55-1cca-4aa9-9d39-bf204132a163.cpc2-us-central.linodelke.net:443"},
      {"endpoint": "https://4279fa55-1cca-4aa9-9d39-bf204132a163.cpc2-us-central.linodelke.net:6443"},
      {"endpoint": "https://45.79.241.235:443"}, {"endpoint": "https://45.79.241.235:6443"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/55446
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
