---
version: 1
interactions:
- request:
    body: '{"label":"testing"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients
    method: POST
  response:
    body: '{"id": 342827, "label": "testing", "api_key": "41828261-BFF9-4B4F-8FFCCC356F7A62D8",
      "install_code": "67B4F710-089D-4F40-964E6D1002E6CE4F", "apps": {"apache": 0,
      "nginx": 0, "mysql": 0}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients/342827
    method: GET
  response:
    body: '{"id": 342827, "label": "testing", "api_key": "41828261-BFF9-4B4F-8FFCCC356F7A62D8",
      "install_code": "67B4F710-089D-4F40-964E6D1002E6CE4F", "apps": {"apache": false,
      "nginx": false, "mysql": false}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients?page=1
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
