---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "au-mel", "label": "Melbourne, AU", "country": "au", "capabilities":
      ["Linodes", "Block Storage Encryption", "LA Disk Encryption", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Object Storage", "Kubernetes",
      "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC IPv6 Stack", "Managed
      Databases", "Metadata", "Premium Plans", "Placement Group", "StackScripts",
      "Maintenance Policy", "Linode Interfaces"], "monitors": {"alerts": ["Managed
      Databases", "NodeBalancers"], "metrics": ["Managed Databases", "NodeBalancers"]},
      "status": "ok", "resolvers": {"ipv4": "192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "es-mad",
      "label": "Madrid, ES", "country": "es", "capabilities": ["Linodes", "Block Storage
      Encryption", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes", "Kubernetes
      Enterprise", "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC IPv6
      Stack", "Managed Databases", "Metadata", "Premium Plans", "Placement Group",
      "StackScripts", "Maintenance Policy", "Lino[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/tiers/standard/versions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "1.35", "tier": "standard"}, {"id": "1.34", "tier": "standard"},
      {"id": "1.33", "tier": "standard"}, {"id": "1.32", "tier": "standard"}, {"id":
      "1.31", "tier": "standard"}, {"id": "1.30", "tier": "standard"}, {"id": "1.29",
      "tier": "standard"}, {"id": "1.28", "tier": "standard"}, {"id": "1.27", "tier":
      "standard"}, {"id": "1.26", "tier": "standard"}, {"id": "1.25", "tier": "standard"},
      {"id": "1.24", "tier": "standard"}, {"id": "1.23", "tier": "standard"}, {"id":
      "1.22", "tier": "standard"}, {"id": "1.21", "tier": "standard"}, {"id": "1.20",
      "tier": "standard"}, {"id": "1.19", "tier": "standard"}, {"id": "1.18", "tier":
      "standard"}, {"id": "1.17", "tier": "standard"}, {"id": "1.15", "tier": "standard"},
      {"id": "1.16", "tier": "standard"}, {"id": "1.14", "tier": "standard"}, {"id":
      "1.13", "tier": "standard"}], "page": 1, "pages": 1, "results": 23}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2","disks":null,"tags":["test"],"labels":null,"taints":null}],"label":"go-lke-test-def","region":"au-mel","k8s_version":"1.35","tags":["testing"],"tier":"standard"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 584692, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "go-lke-test-def", "region": "au-mel", "k8s_version":
      "1.35", "tier": "standard", "control_plane": {"high_availability": false}, "apl_enabled":
      false, "tags": ["testing"], "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"count":2,"type":"g6-standard-2","disks":[{"size":1000,"type":"ext4"}],"tags":["testing"],"labels":null,"taints":null,"disk_encryption":"enabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/584692/pools
    method: POST
  response:
    body: '{"id": 855492, "type": "g6-standard-2", "label": "", "count": 2, "nodes":
      [{"id": "855492-566dd8fc0000", "instance_id": null, "status": "not_ready"},
      {"id": "855492-6732aa670000", "instance_id": 94907006, "status": "not_ready"}],
      "disks": [{"size": 1000, "type": "ext4"}], "autoscaler": {"enabled": false,
      "min": 2, "max": 2}, "labels": {}, "taints": [], "tags": ["testing"], "disk_encryption":
      "enabled", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/584692/pools/855492
    method: GET
  response:
    body: '{"id": 855492, "type": "g6-standard-2", "label": "", "count": 2, "nodes":
      [{"id": "855492-566dd8fc0000", "instance_id": 94907010, "status": "not_ready"},
      {"id": "855492-6732aa670000", "instance_id": 94907006, "status": "not_ready"}],
      "disks": [{"size": 1000, "type": "ext4"}], "autoscaler": {"enabled": false,
      "min": 2, "max": 2}, "labels": {}, "taints": [], "tags": ["testing"], "disk_encryption":
      "enabled", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/584692/kubeconfig
    method: GET
  response:
    body: '{"errors": [{"reason": "Cluster kubeconfig is not yet available. Please
      try again later."}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 503 Service Unavailable
    code: 503
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/584692/kubeconfig
    method: GET
  response:
    body: '{"kubeconfig": "CmFwaVZlcnNpb246IHYxCmtpbmQ6IENvbmZpZwpwcmVmZXJlbmNlczoge30KCmNsdXN0ZXJzOgotIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVUkNWRU5EUVdVeVowRjNTVUpCWjBsSlRWUlNZa1JDU0dRd1pHTjNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGRHVkVWVVRVSkZSMEV4VlVVS1FYaE5TMkV6Vm1sYVdFcDFXbGhTYkdONlFXVkdkekI1VG1wQmVrMXFXWGhQVkVFMVRYcFNZVVozTUhwT2FrRjZUV3BOZUU5VVJUQk5lbEpoVFVKVmVBcEZla0ZTUW1kT1ZrSkJUVlJEYlhReFdXMVdlV0p0VmpCYVdFMTNaMmRGYVUxQk1FZERVM0ZIVTBsaU0wUlJSVU[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/94907010
    method: GET
  response:
    body: '{"id": 94907010, "label": "lke584692-855492-566dd8fc0000", "group": "",
      "status": "offline", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-standard-2", "ipv4": ["192.0.2.0", "192.0.2.0"], "ipv6":
      "1234::5678/128", "image": null, "region": "au-mel", "site_type":
      "core", "specs": {"disk": 81920, "memory": 4096, "vcpus": 2, "gpus": 0, "transfer":
      4000, "accelerated_devices": 0}, "alerts": {"cpu": 180, "network_in": 10, "network_out":
      10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled": true, "available":
      true, "schedule": {"day": "Scheduling", "window": "Scheduling"}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "580d082ddaa5351153f6c72ee623fd5f95040116", "has_user_data": false, "placement_group":
      null, "disk_encryption": "enabled", "lke_cluster_id": 584692, "capabilities":
      ["Block Storage Encryption", "SMTP Enabled", "Maintenance Policy"], "interface_generation":
      "legacy_config", "maintenance_policy": "linode/power_off_on", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/584692
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
