---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/engines?page=1
    method: GET
  response:
    body: '{"data": [{"engine": "mysql", "id": "mysql/8", "version": "8"}, {"engine":
      "postgresql", "id": "postgresql/13", "version": "13"}, {"engine": "postgresql",
      "id": "postgresql/14", "version": "14"}, {"engine": "postgresql", "id": "postgresql/15",
      "version": "15"}, {"engine": "postgresql", "id": "postgresql/16", "version":
      "16"}, {"engine": "postgresql", "id": "postgresql/17", "version": "17"}], "page":
      1, "pages": 1, "results": 6}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/engines/mysql%2F8
    method: GET
  response:
    body: '{"engine": "mysql", "id": "mysql/8", "version": "8"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
