---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "GPU Linodes", "Kubernetes", "Cloud Firewall", "Vlans", "Block
      Storage Migrations", "Managed Databases", "Metadata", "Placement Group", "StackScripts",
      "Linode Interfaces"], "status": "ok", "resolvers": {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5}, "site_type": "core"}, {"id": "ca-central", "label": "Toronto, CA", "country":
      "ca", "capabilities": ["Linodes", "LA Disk Encryption", "Disk Encryption", "Backups",
      "NodeBalancers", "Block Storage", "Kubernetes", "Cloud Firewall", "Vlans", "Block
      Storage Migrations", "Managed Databases", "Metadata", "Placement Group", "StackScripts",
      "Linode Interfaces"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/tiers/standard/versions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "1.32", "tier": "standard"}, {"id": "1.31", "tier": "standard"}],
      "page": 1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2","disks":null,"tags":["test"],"labels":null,"taints":null}],"label":"go-lke-test-def","region":"ap-west","k8s_version":"1.32","tags":["testing"],"tier":"standard"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 433265, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "go-lke-test-def", "region": "ap-west", "k8s_version":
      "1.32", "tier": "standard", "control_plane": {"high_availability": false}, "apl_enabled":
      false, "tags": ["testing"]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"count":2,"type":"g6-standard-2","disks":[{"size":1000,"type":"ext4"}],"tags":["testing"],"labels":null,"taints":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/433265/pools
    method: POST
  response:
    body: '{"id": 645088, "type": "g6-standard-2", "count": 2, "nodes": [{"id": "645088-160292b90000",
      "instance_id": 76876980, "status": "not_ready"}, {"id": "645088-506959720000",
      "instance_id": null, "status": "not_ready"}], "disks": [{"size": 1000, "type":
      "ext4"}], "autoscaler": {"enabled": false, "min": 2, "max": 2}, "labels": {},
      "taints": [], "tags": ["testing"], "disk_encryption": "disabled"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/433265/pools?page=1
    method: GET
  response:
    body: '{"data": [{"id": 645087, "type": "g6-standard-2", "count": 1, "nodes":
      [{"id": "645087-0b0fdbe10000", "instance_id": 76876979, "status": "not_ready"}],
      "disks": [], "autoscaler": {"enabled": false, "min": 1, "max": 1}, "labels":
      {}, "taints": [], "tags": ["test"], "disk_encryption": "disabled"}, {"id": 645088,
      "type": "g6-standard-2", "count": 2, "nodes": [{"id": "645088-160292b90000",
      "instance_id": 76876980, "status": "not_ready"}, {"id": "645088-506959720000",
      "instance_id": 76876981, "status": "not_ready"}], "disks": [{"size": 1000, "type":
      "ext4"}], "autoscaler": {"enabled": false, "min": 2, "max": 2}, "labels": {},
      "taints": [], "tags": ["testing"], "disk_encryption": "disabled"}], "page":
      1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/433265/pools/645088
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/433265
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
