---
version: 1
interactions:
- request:
    body: '{"backups_enabled":false,"longview_subscription":"longview-10","network_helper":false,"maintenance_policy":"linode/migrate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/account/settings
    method: PUT
  response:
    body: '{"errors": [{"reason": "longview_subscription editing at this location
      is no longer available. Please use the /longview/plan endpoint instead.", "field":
      "longview_subscription"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 400 BAD REQUEST
    code: 400
    duration: ""
