---
version: 1
interactions:
- request:
    body: '{"label":"go-token-test-1e8iwoqj6847","scopes":"linodes:read_only","expiry":"2022-09-15T19:53:08"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 40563737, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "go-token-test-1e8iwoqj6847", "token": "0a3f4046fb59009db3d119d4ab6a10ac0182413adc89425c598a6a310d00cdb1",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/40563737
    method: GET
  response:
    body: '{"id": 40563737, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "go-token-test-1e8iwoqj6847", "token": "0a3f4046fb59009d", "expiry":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
