---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/quotas?page=1
    method: GET
  response:
    body: '{"data": [{"quota_id": "obj-bytes-us-mia-1.linodeobjects.com", "quota_name":
      "Total Capacity", "quota_type": "obj-bytes", "endpoint_type": "E1", "s3_endpoint":
      "us-mia-1.linodeobjects.com", "description": "Current total capacity per account,
      per endpoint", "quota_limit": 109951162777600, "resource_metric": "byte", "has_usage":
      true}, {"quota_id": "obj-objects-us-mia-1.linodeobjects.com", "quota_name":
      "Number of Objects", "quota_type": "obj-objects", "endpoint_type": "E1", "s3_endpoint":
      "us-mia-1.linodeobjects.com", "description": "Current number of objects per
      account, per endpoint", "quota_limit": 100000000, "resource_metric": "object",
      "has_usage": true}, {"quota_id": "obj-buckets-us-mia-1.linodeobjects.com", "quota_name":
      "Number of Buckets", "quota_type": "obj-buckets", "endp[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/quotas?page=2
    method: GET
  response:
    body: '{"data": [{"quota_id": "obj-bytes-us-ord-1.linodeobjects.com", "quota_name":
      "Total Capacity", "quota_type": "obj-bytes", "endpoint_type": "E1", "s3_endpoint":
      "us-ord-1.linodeobjects.com", "description": "Current total capacity per account,
      per endpoint", "quota_limit": 109951162777600, "resource_metric": "byte", "has_usage":
      true}, {"quota_id": "obj-objects-us-ord-1.linodeobjects.com", "quota_name":
      "Number of Objects", "quota_type": "obj-objects", "endpoint_type": "E1", "s3_endpoint":
      "us-ord-1.linodeobjects.com", "description": "Current number of objects per
      account, per endpoint", "quota_limit": 100000000, "resource_metric": "object",
      "has_usage": true}, {"quota_id": "obj-buckets-us-ord-1.linodeobjects.com", "quota_name":
      "Number of Buckets", "quota_type": "obj-buckets", "endpoint_type": "E1", "s3_endpoint":
      "us-ord-1.linodeobjects.com", "description": "Current number of buckets per
      account, per endpoint", "quota_limit": 1000, "resource_metric": "bucket", "has_usage":
      true}], "page": 2, "pages": 2, "results": 103}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
