---
version: 1
interactions:
- request:
    body: '{"username":"linodegotest-updateusergrantsna","email":"linodegotest-updateusergrants@example.com","restricted":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: POST
  response:
    body: '{"username": "linodegotest-updateusergrantsna", "email": "linodegotest-updateusergrants@example.com",
      "restricted": true, "ssh_keys": [], "tfa_enabled": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"global":{"account_access":null,"add_domains":false,"add_firewalls":false,"add_images":false,"add_linodes":false,"add_longview":false,"add_nodebalancers":false,"add_stackscripts":false,"add_volumes":false,"cancel_account":false,"longview_subscription":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-updateusergrantsna/grants
    method: PUT
  response:
    body: '{"linode": [{"id": 29745916, "label": "workdev", "permissions": null}],
      "nodebalancer": [], "domain": [], "stackscript": [], "longview": [], "image":
      [], "volume": [{"id": 284063, "label": "linodego-test-volume", "permissions":
      null}], "firewall": [], "global": {"add_domains": false, "add_linodes": false,
      "add_longview": false, "longview_subscription": false, "add_stackscripts": false,
      "add_nodebalancers": false, "add_images": false, "add_volumes": false, "add_firewalls":
      false, "account_access": null, "cancel_account": false}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-updateusergrantsna
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
