---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "Disk Encryption", "Backups",
      "NodeBalancers", "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes",
      "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "Block Storage Migrations",
      "Managed Databases", "Metadata", "Premium Plans", "Placement Group", "StackScripts",
      "NETINT Quadra T1U", "Maintenance Policy", "Linode Interfaces"], "monitors":
      {"alerts": ["Managed Databases"], "metrics": ["Managed Databases"]}, "status":
      "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "us-labedgeeat-3",
      "label": "East Wenatchee, US", "country": "us", "capabilities": ["Linodes",
      "Disk Encryption", "Cloud Firewall", "Metadata", "Distributed Plans"], "monitors":
      {"alerts": [], "metrics": []}, "status": "ok", "resolvers": {"ipv4": "173.223.100.53,173.223.101.53",
      "ipv6": "1234::5678,1234::5678"}, "placement_group_limits": {"maximum_pgs_per_customer":
      0, "maximum_linodes_per_pg": 0, "maximum_linodes_per_flexible_pg": 0}, "site_type":
      "distributed"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-standard-6","label":"go-test-ins-wo-disk-66m7vrj756hp","firewall_id":679847,"booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 100553819, "label": "go-test-ins-wo-disk-66m7vrj756hp", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-standard-6", "ipv4": ["172.24.215.20"], "ipv6": "1234::5678/128",
      "image": null, "region": "pl-labkrk-2", "site_type": "core", "specs": {"disk":
      327680, "memory": 16384, "vcpus": 6, "gpus": 0, "transfer": 8000, "accelerated_devices":
      0}, "alerts": {"cpu": 540, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": false, "available": false, "schedule":
      {"day": null, "window": null}, "last_successful": null}, "hypervisor": "kvm",
      "watchdog_enabled": true, "tags": [], "host_uuid": "e7dbe65d12caf5c1a1de6dc8a495aeb8cc383445",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": ["Block Storage Encryption", "SMTP Enabled",
      "Maintenance Policy"], "interface_generation": "legacy_config", "maintenance_policy":
      "linode/power_off_on", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-m8k5hdz9i241","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/100553819/configs
    method: POST
  response:
    body: '{"id": 1470341, "label": "go-test-conf-m8k5hdz9i241", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"test-disk","size":1024,"filesystem":"ext4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/100553819/disks
    method: POST
  response:
    body: '{"errors": [{"reason": "Linode busy."}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 400 BAD REQUEST
    code: 400
    duration: ""
[...]
- request:
    body: '{"label":"go-vol-test7top75lg3o09","region":"pl-labkrk-2","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes
    method: POST
  response:
    body: '{"id": 154352, "status": "creating", "label": "go-vol-test7top75lg3o09",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_go-vol-test7top75lg3o09", "size": 20, "linode_id":
      null, "linode_label": null, "io_ready": false, "region": "pl-labkrk-2", "tags":
      [], "hardware_type": "nvme", "encryption": "disabled"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/154352
    method: GET
  response:
    body: '{"id": 154352, "status": "active", "label": "go-vol-test7top75lg3o09",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_go-vol-test7top75lg3o09", "size": 20, "linode_id":
      null, "linode_label": null, "io_ready": false, "region": "pl-labkrk-2", "tags":
      [], "hardware_type": "nvme", "encryption": "disabled"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"comments":"","devices":{"sda":{"disk_id":2534088},"sdk":{"volume_id":154353},"sdl":{"volume_id":154352}},"interfaces":null,"memory_limit":0,"init_rd":null,"root_device":"/dev/sdac"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/100553819/configs/1470341
    method: PUT
  response:
    body: '{"id": 1470341, "label": "go-test-conf-m8k5hdz9i241", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sdac",
      "devices": {"sda": {"disk_id": 2534088, "volume_id": null}, "sdb": null, "sdc":
      null, "sdd": null, "sde": null, "sdf": null, "sdg": null, "sdh": null, "sdi":
      null, "sdj": null, "sdk": {"disk_id": null, "volume_id": 154353}, "sdl": {"disk_id":
      null, "volume_id": 154352}}, "initrd": null, "run_level": "default", "virt_mode":
      "paravirt", "interfaces": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/100553819
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
