---
version: 1
interactions:
- request:
    body: '{"label":"go-fw-test-0rg91523zvuo","rules":{"inbound":[{"action":"DROP","label":"go-fwrule-test-e25ov7q1sz50","protocol":"ICMP","addresses":{"ipv4":["0.0.0.0/0"]}}],"inbound_policy":"ACCEPT","outbound":null,"outbound_policy":"ACCEPT"},"tags":["test"],"devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls
    method: POST
  response:
    body: '{"id": 86000, "label": "go-fw-test-0rg91523zvuo", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"action": "DROP", "label": "go-fwrule-test-e25ov7q1sz50", "protocol": "ICMP",
      "addresses": {"ipv4": ["0.0.0.0/0"]}}], "inbound_policy": "ACCEPT", "outbound":
      null, "outbound_policy": "ACCEPT"}, "tags": ["test"]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-fw-test-0rg91523zvuo-updated","status":"disabled","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls/86000
    method: PUT
  response:
    body: '{"id": 86000, "label": "go-fw-test-0rg91523zvuo-updated", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "disabled", "rules": {"inbound":
      [{"action": "DROP", "label": "go-fwrule-test-e25ov7q1sz50", "protocol": "ICMP",
      "addresses": {"ipv4": ["0.0.0.0/0"]}}], "inbound_policy": "ACCEPT", "outbound":
      null, "outbound_policy": "ACCEPT"}, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
