---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-volume","region":"us-west","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes
    method: POST
  response:
    body: '{"id": 173619, "status": "creating", "label": "linodego-test-volume", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume", "size": 20, "linode_id":
      null, "linode_label": null, "region": "us-west", "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - volumes:read_write
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"our-testing-volume"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/173619
    method: PUT
  response:
    body: '{"id": 173619, "status": "creating", "label": "our-testing-volume", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_our-testing-volume", "size": 20, "linode_id":
      null, "linode_label": null, "region": "us-west", "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - volumes:read_write
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
