---
version: 1
interactions:
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing","region":"us-west","client_conn_throttle":20,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 94286, "label": "lpq6h62z88m4-linodego-testing", "region": "us-west", "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com", "ipv4": "10.20.30.40", "ipv6": "1234::5678", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "client_conn_throttle": 20, "tags": [], "transfer": {"in": null, "out": null, "total": null}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "58"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Ratelimit-Remaining:
      - "799"
      X-Ratelimit-Reset:
      - "1599579376"
      X-Spec-Version:
      - 4.73.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/94286/configs
    method: POST
  response:
    body: '{"id": 106179, "port": 80, "protocol": "http", "algorithm": "roundrobin", "stickiness": "none", "check": "none", "check_interval": 0, "check_timeout": 30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive": true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id": 94286, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key": null, "nodes_status": {"up": 0, "down": 0}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "58"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Ratelimit-Remaining:
      - "798"
      X-Ratelimit-Reset:
      - "1599579376"
      X-Spec-Version:
      - 4.73.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":8080,"protocol":"tcp","proxy_protocol":"v2","algorithm":"leastconn"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/94286/configs/106179
    method: PUT
  response:
    body: '{"id": 106179, "port": 8080, "protocol": "tcp", "algorithm": "leastconn", "stickiness": "none", "check": "none", "check_interval": 0, "check_timeout": 30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive": true, "proxy_protocol": "v2", "cipher_suite": "recommended", "nodebalancer_id": 94286, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key": null, "nodes_status": {"up": 0, "down": 0}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "58"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Ratelimit-Remaining:
      - "797"
      X-Ratelimit-Reset:
      - "1599579376"
      X-Spec-Version:
      - 4.73.5
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/94286
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "58"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Ratelimit-Remaining:
      - "795"
      X-Ratelimit-Reset:
      - "1599579377"
      X-Spec-Version:
      - 4.73.5
    status: 200 OK
    code: 200
    duration: ""
