---
version: 1
interactions:
- request:
    body: '{"region":"us-east","type":"g6-nanode-1","label":"go-test-ins-reserved-ip-843dn5nr00iy","root_pass":"\u003e4!\u0026yS,ww6r|W\u003eoy|Tb75S2j3+8''9Z70jVCfXHmMrHtW${7/B`h6w^o1=T9Q3(I3","image":"linode/alpine3.20","booted":false,"ipv4":["192.0.2.1"],"interfaces":[{"purpose":"public"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"errors": [{"reason": "Must provide a single valid reserved ipv4 address",
      "field": "ipv4"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 400 Bad Request
    code: 400
    duration: ""
