---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 19967871, "label": "linodego-test-instance", "group": "", "status":
      "provisioning", "created": "2020-04-01T15:14:50", "updated": "2020-04-01T15:14:50",
      "type": "g6-nanode-1", "ipv4": ["45.33.51.250"], "ipv6": "2600:3c01::f03c:92ff:fe60:c1b2/64",
      "image": "linode/debian9", "region": "us-west", "specs": {"disk": 25600, "memory":
      1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "106"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1595"
      X-Ratelimit-Reset:
      - "1585754198"
      X-Spec-Version:
      - 4.60.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/19967871/configs
    method: POST
  response:
    body: '{"id": 21348302, "label": "linodego-test-config", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2020-04-01T15:14:51", "updated": "2020-04-01T15:14:51", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "105"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1594"
      X-Ratelimit-Reset:
      - "1585754197"
      X-Spec-Version:
      - 4.60.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"entity.id":19967871, "entity.type": "linode"}'
    url: https://api.linode.com/v4beta/account/events
    method: GET
  response:
    body: '{"data": [{"id": 79166449, "created": "2020-04-01T15:14:51", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "linode_config_create", "username": "pccampbell",
      "entity": {"label": "linodego-test-instance", "id": 19967871, "type": "linode",
      "url": "/v4/linode/instances/19967871"}, "status": "notification", "secondary_entity":
      {"id": 21348302, "type": "linode_config", "label": "linodego-test-config", "url":
      "/v4/linode/instances/19967871/configs/21348302"}}, {"id": 79166446, "created":
      "2020-04-01T15:14:51", "seen": false, "read": false, "percent_complete": 0,
      "time_remaining": null, "rate": null, "duration": null, "action": "linode_create",
      "username": "pccampbell", "entity": {"label": "linodego-test-instance", "id":
      19967871, "type": "linode", "url": "/v4/linode/instances/19967871"}, "status":
      "scheduled", "secondary_entity": {"id": "linode/debian9", "type": "image", "label":
      "Debian 9", "url": "/v4/images/linode/debian9"}}], "page": 1, "pages": 1, "results":
      2}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "105"
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1593"
      X-Ratelimit-Reset:
      - "1585754198"
      X-Spec-Version:
      - 4.60.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/19967871
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "104"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1592"
      X-Ratelimit-Reset:
      - "1585754197"
      X-Spec-Version:
      - 4.60.0
    status: 200 OK
    code: 200
    duration: ""
