---
version: 1
interactions:
- request:
    body: '{"label":"linodego-token-test","scopes":"linodes:read_only","expiry":"2022-10-04T14:59:13"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 41023744, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-token-test", "token": "8fef40517e30c4f301a9e894aa8368de3ef371ef6156e8e982ba1a23178311ce",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/41023744
    method: GET
  response:
    body: '{"id": 41023744, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-token-test", "token": "8fef40517e30c4f3", "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
