---
version: 1
interactions:
- request:
    body: '{"backups_enabled":false,"network_helper":false,"interfaces_for_new_linodes":"legacy_config_default_but_linode_allowed"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/settings
    method: PUT
  response:
    body: '{"managed": false, "network_helper": false, "longview_subscription": null,
      "backups_enabled": false, "object_storage": "active", "interfaces_for_new_linodes":
      "legacy_config_default_but_linode_allowed"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
