---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/versions
    method: GET
  response:
    body: '{"data": [{"id": "1.17"}, {"id": "1.15"}, {"id": "1.16"}], "page": 1, "pages":
      1, "results": 3}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "116"
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1579028367"
      X-Spec-Version:
      - 4.12.0
    status: 200 OK
    code: 200
    duration: ""
