---
version: 1
interactions:
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2"}],"label":"dj7861ur2d2m-linodego-testing","region":"us-central","k8s_version":"1.17","tags":["testing"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 893, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "dj7861ur2d2m-linodego-testing", "region": "us-central",
      "k8s_version": "1.17", "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1579028367"
      X-Spec-Version:
      - 4.12.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: GET
  response:
    body: '{"data": [{"id": 102, "status": "ready", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "label": "lke", "region": "us-central", "k8s_version":
      "1.17", "tags": []}, {"id": 893, "status": "ready", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "label": "dj7861ur2d2m-linodego-testing",
      "region": "us-central", "k8s_version": "1.17", "tags": []}], "page": 1, "pages":
      1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1579028369"
      X-Spec-Version:
      - 4.12.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/893
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1579028370"
      X-Spec-Version:
      - 4.12.0
    status: 200 OK
    code: 200
    duration: ""
