---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://45375e73-78a6-45a5-b370-25b69c6bf286.cpc2-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"538"},"items":[]}
    headers:
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - db37e6ac-e2ef-4a29-abca-d3daa388283c
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 9f0ec813-c1cb-46d0-b6b0-14da74a7fbcd
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://45375e73-78a6-45a5-b370-25b69c6bf286.cpc2-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"599"},"items":[{"metadata":{"name":"lke57130-89425-624efaeffc2e","uid":"fd0f367c-8cc1-49ba-8ada-c6efedf6a5d3","resourceVersion":"596","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke57130-89425-624efaeffc2e","kubernetes.io/os":"linux","lke.linode.com/pool-id":"89425"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"/var/run/dockershim.sock","lke.linode.com/wgip":"172.31.0.1","lke.linode.com/wgpub":"eB+pFEV9qG/cBecEO4RISnSKFXH2JiW0Rg6fAZlj10s=","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/24\"":{}}}}},{"manager":"kubeadm","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:kubeadm.alpha.kubernetes.io/cri-socket":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}},"f:spec":{"f:taints":{}}}},{"manager":"kubectl-annotate","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:lke.linode.com/wgip":{},"f:lke.linode.com/wgpub":{}}}}},{"manager":"kubectl-label","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:lke.linode.com/pool-id":{}}}}}]},"spec":{"podCIDR":"10.2.0.0/24","podCIDRs":["10.2.0.0/24"],"taints":[{"key":"node.cloudprovider.kubernetes.io/uninitialized","value":"true","effect":"NoSchedule"},{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82535088Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4028108Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76064336975","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3925708Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized, Failed to initialize CSINode: error updating CSINode annotation: timed out waiting for the condition; caused by: nodes \"lke57130-89425-624efaeffc2e\" not found]"}],"addresses":[{"type":"InternalIP","address":"69.164.199.198"},{"type":"Hostname","address":"lke57130-89425-624efaeffc2e"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"2862d130d30b4daaa4b3d9c9a9df8c02","systemUUID":"2862d130d30b4daaa4b3d9c9a9df8c02","bootID":"06691916-c7f0-420a-95b0-3b0a5e42174c","kernelVersion":"5.10.0-11-cloud-amd64","osImage":"Debian GNU/Linux 11 (bullseye)","containerRuntimeVersion":"docker://20.10.12","kubeletVersion":"v1.21.9","kubeProxyVersion":"v1.21.9","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - db37e6ac-e2ef-4a29-abca-d3daa388283c
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 9f0ec813-c1cb-46d0-b6b0-14da74a7fbcd
    status: 200 OK
    code: 200
    duration: ""
[...]
