---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/330001
    method: GET
  response:
    body: '{"id": 330001, "status": "active", "label": "linodego-test-volume-4cn6vd19",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume-4cn6vd19", "size":
      20, "linode_id": 36182641, "linode_label": "linodego-test-instance", "region":
      "us-southeast", "tags": [], "hardware_type": "nvme"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
