---
version: 1
interactions:
- request:
    body: '{"region":"us-east","type":"g6-nanode-1","label":"test-instance-for-ip-reservation","root_pass":"-H~]1qcz32[;5j^3KT=''sOf~T6-IyJ975~9xmK7?VKo8R,04CvbG$30^l^OAFwsh"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 82372537, "label": "test-instance-for-ip-reservation", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.104.215.54"], "ipv6": "1234::5678/128",
      "image": null, "region": "us-east", "site_type": "core", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": false, "available": false, "schedule":
      {"day": null, "window": null}, "last_successful": null}, "hypervisor": "kvm",
      "watchdog_enabled": true, "tags": [], "host_uuid": "3e0b72a174519259b7d08494416447addea79cba",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": [], "interface_generation": "legacy_config"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"us-east"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips
    method: POST
  response:
    body: '{"address": "45.33.88.15", "gateway": "45.33.88.1", "subnet_mask": "255.255.255.0",
      "prefix": 24, "type": "ipv4", "public": true, "rdns": null, "linode_id": null,
      "interface_id": null, "region": "us-east", "vpc_nat_1_1": null, "reserved":
      true, "assigned_entity": null}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":true,"address":"45.33.88.15"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/82372537/ips
    method: POST
  response:
    body: '{"address": "45.33.88.15", "gateway": "45.33.88.1", "subnet_mask": "255.255.255.0",
      "prefix": 24, "type": "ipv4", "public": true, "rdns": "45-33-88-15.ip.linodeusercontent.com",
      "linode_id": 82372537, "interface_id": null, "region": "us-east", "vpc_nat_1_1":
      null, "reserved": true, "assigned_entity": {"id": 82372537, "type": "linode",
      "label": "test-instance-for-ip-reservation", "url": "/v4/linode/instances/82372537"}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":false,"address":"45.33.88.15"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/82372537/ips
    method: POST
  response:
    body: '{"errors": [{"reason": "Cannot reserve a private address.", "field": "address"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips/45.33.88.68
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/82372537
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
