---
version: 1
interactions:
- request:
    body: '{"label":"go-test-alert-definition-idempotency-1768579458757163000","severity":2,"channel_ids":[10000],"rule_criteria":{"rules":[{"aggregate_function":"avg","dimension_filters":[{"dimension_label":"node_type","operator":"eq","value":"primary"}],"metric":"memory_usage","operator":"gt","threshold":90}]},"trigger_conditions":{"criteria_condition":"ALL","evaluation_period_seconds":300,"polling_interval_seconds":300,"trigger_occurrences":1},"description":"Test
      alert definition creation with idempotency"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions
    method: POST
  response:
    body: '{"id": 10727, "label": "go-test-alert-definition-idempotency-1768579458757163000",
      "description": "Test alert definition creation with idempotency", "service_type":
      "dbaas", "type": "user", "scope": "entity", "class": null, "regions": [], "status":
      "enabled", "entity_ids": [], "has_more_resources": false, "severity": 2, "rule_criteria":
      {"rules": [{"label": "Memory Usage", "metric": "memory_usage", "unit": "percent",
      "aggregate_function": "avg", "operator": "gt", "threshold": 90, "dimension_filters":
      [{"label": "Node Type", "dimension_label": "node_type", "operator": "eq", "value":
      "primary"}]}]}, "alert_channels": [{"id": 10000, "label": "Read-Write Channel",
      "url": "/monitor/alert-channels/10000", "type": "alert-channels"}], "trigger_conditions":
      {"criteria_condition": "ALL", "polling_interval_seconds": 300, "evaluation_period_seconds":
      300, "trigger_occurrences": 1}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "created_by": "ychen123", "updated_by": "ychen123"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-alert-definition-idempotency-1768579458757163000","severity":2,"channel_ids":[10000],"rule_criteria":{"rules":[{"aggregate_function":"avg","dimension_filters":[{"dimension_label":"node_type","operator":"eq","value":"primary"}],"metric":"memory_usage","operator":"gt","threshold":90}]},"trigger_conditions":{"criteria_condition":"ALL","evaluation_period_seconds":300,"polling_interval_seconds":300,"trigger_occurrences":1},"description":"Test
      alert definition creation with idempotency"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions
    method: POST
  response:
    body: '{"errors": [{"reason": "An alert with this label already exists", "field":
      "label"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions/10727
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
