---
version: 1
interactions:
- request:
    body: '{"label":"linodego-fw-test","rules":{"inbound":[{"action":"DROP","label":"linodego-fwrule-test","protocol":"ICMP","addresses":{"ipv4":["0.0.0.0/0"]}}],"inbound_policy":"ACCEPT","outbound":null,"outbound_policy":"ACCEPT"},"tags":["test"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls
    method: POST
  response:
    body: '{"id": 3885332, "label": "linodego-fw-test", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"protocol": "ICMP", "addresses": {"ipv4": ["0.0.0.0/0"]}, "action": "DROP",
      "label": "linodego-fwrule-test"}], "inbound_policy": "ACCEPT", "outbound": null,
      "outbound_policy": "ACCEPT", "version": 1, "fingerprint": "1f57ba72"}, "tags":
      ["test"], "entities": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-fw-test-updated","status":"disabled","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls/3885332
    method: PUT
  response:
    body: '{"id": 3885332, "label": "linodego-fw-test-updated", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "disabled", "rules": {"inbound":
      [{"protocol": "ICMP", "addresses": {"ipv4": ["0.0.0.0/0"]}, "action": "DROP",
      "label": "linodego-fwrule-test"}], "inbound_policy": "ACCEPT", "outbound": null,
      "outbound_policy": "ACCEPT", "version": 1, "fingerprint": "1f57ba72"}, "tags":
      [], "entities": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
