---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/engines
    method: GET
  response:
    body: '{"data": [{"id": "mysql/5.7.30", "engine": "mysql", "version": "5.7.30"},
      {"id": "mysql/8.0.26", "engine": "mysql", "version": "8.0.26"}], "page": 1,
      "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/engines/mysql/5.7.30
    method: GET
  response:
    body: '{"id": "mysql/5.7.30", "engine": "mysql", "version": "5.7.30"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
    status: 200 OK
    code: 200
    duration: ""
