---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 37699012, "label": "linodego-test-instance", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["139.144.29.4"], "ipv6": "1234::5678/128",
      "image": "linode/debian9", "region": "us-southeast", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"linode_boot","entity.id":37699012,"entity.type":"linode"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/37699012/boot
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"linode_boot","entity.id":37699012,"entity.type":"linode"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 341342457, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": 0, "time_remaining": null, "rate": null,
      "duration": null, "action": "linode_boot", "username": "lgarber-dev", "entity":
      {"label": "linodego-test-instance", "id": 37699012, "type": "linode", "url":
      "/v4/linode/instances/37699012"}, "status": "scheduled", "secondary_entity":
      {"id": 40155616, "type": "linode_config", "label": "My Debian 9 Disk Profile",
      "url": "/v4/linode/instances/37699012/configs/40155616"}, "message": ""}], "page":
      1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/events/341342457
    method: GET
  response:
    body: '{"id": 341342457, "created": "2018-01-02T03:04:05", "seen": false, "read":
      false, "percent_complete": 0, "time_remaining": null, "rate": null, "duration":
      null, "action": "linode_boot", "username": "lgarber-dev", "entity": {"label":
      "linodego-test-instance", "id": 37699012, "type": "linode", "url": "/v4/linode/instances/37699012"},
      "status": "scheduled", "secondary_entity": {"id": 40155616, "type": "linode_config",
      "label": "My Debian 9 Disk Profile", "url": "/v4/linode/instances/37699012/configs/40155616"},
      "message": ""}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/37699012
    method: GET
  response:
    body: '{"id": 37699012, "label": "linodego-test-instance", "group": "", "status":
      "running", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["139.144.29.4"], "ipv6": "1234::5678/128",
      "image": "linode/debian9", "region": "us-southeast", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/37699012/shutdown
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
