---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://527aaa9b-de31-4a99-a253-31c74a6503a3.au-mel-2-gw.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"833"},"items":[{"metadata":{"name":"lke584692-855491-1bc1c89c0000","uid":"1e1ce00c-aa53-42ec-9c4e-a286df283790","resourceVersion":"815","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"au-mel","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke584692-855491-1bc1c89c0000","kubernetes.io/os":"linux","lke.linode.com/pool-id":"855491","node.k8s.linode.com/host-uuid":"8ed57c99100cea41b2ad2b7247e9e168b87f49d8","node.kubernetes.io/instance-type":"g6-standard-2","topology.kubernetes.io/region":"au-mel","topology.linode.com/region":"au-mel"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"linodebs.csi.linode.com\":\"94907004\"}","lke.linode.com/wgip":"172.31.0.1","lke.linode.com/wgpub":"LcP5Gln/Hb/D52yvI+h8q4DecbXzKgMYIX1B7/H3a1A=","node.alpha.kubernetes.io/ttl":"0","node.k8s.linode.com/private-ip":"192.168.128.24","node.k8s.linode.com/public-ipv6":"1234::5678/128","projectcalico.org/IPv4Address":"192.168.128.24/17","projectcalico.org/IPv4IPIPTunnelAddr":"10.2.0.1","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/25\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname[...]
