---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://7d9cd5aa-86c9-4045-8b6c-a6b539179557.cpc1-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"461"},"items":[]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://7d9cd5aa-86c9-4045-8b6c-a6b539179557.cpc1-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"609"},"items":[{"metadata":{"name":"lke3937-5127-5ea38792cd90","selfLink":"/api/v1/nodes/lke3937-5127-5ea38792cd90","uid":"d38c19f0-dae6-4fac-90ee-6f1543cd58c1","resourceVersion":"609","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke3937-5127-5ea38792cd90","kubernetes.io/os":"linux"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"/var/run/dockershim.sock","lke.linode.com/machine":"kube-system-lke3937/5127-5ea38792cd90","lke.linode.com/wgip":"10.20.30.40","lke.linode.com/wgpub":"Xhl8WAcTHBGQbDXriiCcXruNjdMS3jgF5r/aQ3D5qEs=","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"}},"spec":{"podCIDR":"10.20.30.40/24","podCIDRs":["10.20.30.40/24"],"taints":[{"key":"node.cloudprovider.kubernetes.io/uninitialized","value":"true","effect":"NoSchedule"},{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82535088Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4050736Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76064336975","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3948336Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized, CSINodeInfo is not yet initialized]"}],"addresses":[{"type":"InternalIP","address":"10.20.30.40"},{"type":"Hostname","address":"lke3937-5127-5ea38792cd90"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"7078339962a34bd8ba58c29475aa08a5","systemUUID":"7078339962a34bd8ba58c29475aa08a5","bootID":"2be16afc-6c9c-46a3-86f8-250287e4fd10","kernelVersion":"4.9.0-11-amd64","osImage":"Debian GNU/Linux 9 (stretch)","containerRuntimeVersion":"docker://18.9.9","kubeletVersion":"v1.17.0","kubeProxyVersion":"v1.17.0","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://7d9cd5aa-86c9-4045-8b6c-a6b539179557.cpc1-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"689"},"items":[{"metadata":{"name":"lke3937-5127-5ea38792cd90","selfLink":"/api/v1/nodes/lke3937-5127-5ea38792cd90","uid":"d38c19f0-dae6-4fac-90ee-6f1543cd58c1","resourceVersion":"622","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"us-central","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke3937-5127-5ea38792cd90","kubernetes.io/os":"linux","lke.linode.com/pool-id":"5127"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"/var/run/dockershim.sock","lke.linode.com/machine":"kube-system-lke3937/5127-5ea38792cd90","lke.linode.com/wgip":"10.20.30.40","lke.linode.com/wgpub":"Xhl8WAcTHBGQbDXriiCcXruNjdMS3jgF5r/aQ3D5qEs=","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"}},"spec":{"podCIDR":"10.20.30.40/24","podCIDRs":["10.20.30.40/24"],"providerID":"linode://20233979","taints":[{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82535088Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4050736Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76064336975","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3948336Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T0[...]
[...]
