---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"hypervisor": "kvm", "type": "g6-nanode-1", "region": "us-west", "status":
      "provisioning", "tags": [], "alerts": {"cpu": 90, "network_out": 10, "network_in":
      10, "transfer_quota": 80, "io": 10000}, "ipv6": "1234::5678/64",
      "image": null, "group": "", "id": 10341639, "backups": {"schedule": {"day":
      null, "window": null}, "enabled": false}, "updated": "2018-01-02T03:04:05",
      "created": "2018-01-02T03:04:05", "ipv4": ["10.0.0.1"], "label": "linodego-test-instance",
      "watchdog_enabled": true, "specs": {"memory": 1024, "vcpus": 1, "transfer":
      1000, "disk": 25600}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537388673"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/10341639/configs
    method: POST
  response:
    body: '{"comments": "", "label": "linodego-test-config", "root_device": "/dev/sda",
      "helpers": {"updatedb_disabled": true, "devtmpfs_automount": true, "modules_dep":
      true, "distro": true, "network": true}, "created": "2018-01-02T03:04:05", "kernel":
      "linode/latest-64bit", "updated": "2018-01-02T03:04:05", "initrd": null, "devices":
      {"sdg": null, "sda": null, "sdf": null, "sdh": null, "sdb": null, "sdc": null,
      "sdd": null, "sde": null}, "memory_limit": 0, "id": 11588309, "virt_mode": "paravirt",
      "run_level": "default"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537388674"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/10341639
    method: GET
  response:
    body: '{"hypervisor": "kvm", "type": "g6-nanode-1", "region": "us-west", "status":
      "offline", "tags": [], "alerts": {"cpu": 90, "network_out": 10, "network_in":
      10, "transfer_quota": 80, "io": 10000}, "ipv6": "1234::5678/64",
      "image": null, "group": "", "id": 10341639, "backups": {"schedule": {"day":
      null, "window": null}, "enabled": false}, "updated": "2018-01-02T03:04:05",
      "created": "2018-01-02T03:04:05", "ipv4": ["10.0.0.1"], "label": "linodego-test-instance",
      "watchdog_enabled": true, "specs": {"memory": 1024, "vcpus": 1, "transfer":
      1000, "disk": 25600}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "114"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1537388678"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"test","size":2000,"filesystem":"ext4"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/10341639/disks
    method: POST
  response:
    body: '{"updated": "2018-01-02T03:04:05", "status": "not ready", "id": 22109252,
      "label": "test", "created": "2018-01-02T03:04:05", "size": 2000, "filesystem":
      "ext4"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "111"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1537388675"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/10341639/disks
    method: GET
  response:
    body: '{"results": 1, "page": 1, "data": [{"id": 22109252, "filesystem": "ext4",
      "status": "ready", "created": "2018-01-02T03:04:05", "size": 2000, "label":
      "test", "updated": "2018-01-02T03:04:05"}], "pages": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "100"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "391"
      X-Ratelimit-Reset:
      - "1537388673"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"size":4000}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/10341639/disks/22109252/resize
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "111"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1537388684"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
[...]
