---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images?page=1
    method: GET
  response:
    body: '{"pages": 1, "data": [{"id": "private/84470", "label": "linode-cli-test-image-sharing-image",
      "description": "", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 366, "created_by": "psnoch", "type": "manual", "tags": [], "is_public":
      false, "is_shared": false, "deprecated": false, "vendor": null, "expiry": null,
      "eol": null, "status": "available", "capabilities": ["distributed-sites"], "regions":
      [{"region": "pl-labkrk-2", "status": "available"}], "total_size": 366, "image_sharing":
      {"shared_with": {"sharegroup_count": 0, "sharegroup_list_url": "/images/private/84470/sharegroups"},
      "shared_by": null}}, {"id": "private/84492", "label": "linode-cli-test-image-sharing-image",
      "description": "", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 366, "created_by": "psnoch", "type": "manual", "tags": [], "is_public":
      false, "is_shared": true, "deprecated": false, "vendor": null, "expiry": null,
      "eol": null, "status": "available", "capabilities": ["distributed-sites"], "regions":
      [{"region": "pl-labkrk-2", "status": "available"}], "tota[...]
