---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls/templates?page=1
    method: GET
  response:
    body: '{"data": [{"slug": "akamai-non-prod", "rules": {"inbound": [{"protocol":
      "ICMP", "addresses": {"ipv6": ["1234::5678/0"], "ipv4": ["0.0.0.0/0"]}, "action": "ACCEPT",
      "label": "accept-inbound-icmp", "description": "Accept inbound ICMP"}, {"protocol":
      "TCP", "addresses": {"ipv6": ["1234::5678/128", "1234::5678/128",
      "1234::5678/128", "1234::5678/128",
      "1234::5678/128", "1234::5678/128",
      "1234::5678/128", "1234::5678/128",
      "1234::5678/128"], "ipv4": ["172.236.119.4/30", "172.234.160.4/30",
      "172.236.94.4/30"]}, "action": "ACCEPT", "label": "accept-inbound-tcp-ssh-proxies",
      "ports": "22,443", "description": "Accept inbound TCP from SSH proxies"}, {"protocol":
      "TCP", "addresses": {"ipv4": ["192.0.2.0/31", "192.0.2.0/31"]}, "action":
      "ACCEPT", "label": "accept-inbound-tcp-eaa-proxies", "ports": "22,443", "description":
      "Accept inbound TCP from EAA proxies"}], "inbound_policy": "DROP", "outbound":
      [], "outbound_policy": "ACCEPT"}}, {"slug": "vpc", "rules": {"inbound": [{"protocol":
      "TCP", "addresses": {"ipv6": ["1234::5678/0"], "ipv4": ["0.0.0.0/0"]}, "action": "ACCEPT",
      "label": "accept-inbound-ssh", "ports": "22", "description": "Accept inbound
      SSH"}, {"protocol": "ICMP", "addresses": {"ipv6": ["1234::5678/0"], "ipv4": ["0.0.0.0/0"]},
      "action": "ACCEPT", "label": "accept-inbound-icmp", "description": "Accept inbound
      ICMP"}, {"protocol": "TCP", "addresses": {"ipv4": ["10.0.0.0/8", "192.168.0.0/17",
      "172.16.0.0/12"]}, "action": "ACCEPT", "label": "accept-inbound-rfc1918", "ports":
      "1-65535", "description": "Accept inbound RFC-1918"}, {"protocol": "UDP", "addresses":
      {"ipv4": ["10.0.0.0/8", "192.168.0.0/17", "172.16.0.0/12"]}, "action": "ACCEPT",
      "label": "accept-inbound-rfc1918", "ports": "1-65535", "description": "Accept
      inbound RFC-1918"}], "inbound_policy": "DROP", "outbound": [], "outbound_policy":
      "ACCEPT"}}, {"slug": "public", "rules": {"inbound": [{"protocol": "TCP", "addresses":
      {"ipv6": ["1234::5678/0"], "ipv4": ["0.0.0.0/0"]}, "action": "ACCEPT", "label": "accept-inbound-ssh",
      "ports": "22", "description": "Accept inbound SSH"}, {"protocol": "ICMP", "addresses":
      {"ipv6": ["1234::5678/0"], "ipv4": ["0.0.0.0/0"]}, "action": "ACCEPT", "label": "accept-inbound-icmp",
      "description": "Accept inbound ICMP"}], "inbound_policy": "DROP", "outbound":
      [], "outbound_policy": "ACCEPT"}}], "page": 1, "pages": 1, "results": 3}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
