---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/48744
    method: GET
  response:
    body: '{"size": 20, "updated": "2018-01-02T03:04:05", "region": "us-west", "id":
      48744, "created": "2018-01-02T03:04:05", "tags": [], "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "status": "active", "linode_id": 18512749, "label": "linodego-test-volume"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "81"
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1574092372"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
