---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/tiers/enterprise/versions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "v1.32.9+lke2", "tier": "enterprise"}, {"id": "v1.31.9+lke7",
      "tier": "enterprise"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2","disks":null,"tags":["test"],"labels":null,"taints":null}],"label":"go-test-def","region":"gb-lon","k8s_version":"v1.32.9+lke2","tags":["testing"],"tier":"enterprise","vpc_id":498061,"stack_type":"ipv4-ipv6"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 607988, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "go-test-def", "region": "gb-lon", "k8s_version":
      "v1.32.9+lke2", "tier": "enterprise", "control_plane": {"high_availability":
      true}, "apl_enabled": false, "vpc_id": 498061, "subnet_id": null, "tags": ["testing"],
      "stack_type": "ipv4-ipv6", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/607988
    method: GET
  response:
    body: '{"id": 607988, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "go-test-def", "region": "gb-lon", "k8s_version":
      "v1.32.9+lke2", "tier": "enterprise", "control_plane": {"high_availability":
      true}, "apl_enabled": false, "vpc_id": 498061, "subnet_id": null, "tags": ["testing"],
      "stack_type": "ipv4-ipv6", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
