---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/types/g6-standard-1
    method: GET
  response:
    body: '{"id": "g6-standard-1", "label": "Linode 2GB", "price": {"hourly": 0.015,
      "monthly": 10.0}, "addons": {"backups": {"price": {"hourly": 0.004, "monthly":
      2.5}}}, "memory": 2048, "disk": 51200, "transfer": 2000, "vcpus": 1, "gpus":
      0, "network_out": 2000, "class": "standard", "successor": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
