---
version: 1
interactions:
- request:
    body: '{"label":"bzi7l8090x1m-linodego-testing","bucket_access":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 339052, "label": "bzi7l8090x1m-linodego-testing", "access_key":
      "[SANITIZED]", "secret_key": "[SANITIZED]", "limited": false, "bucket_access":
      null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/339052
    method: GET
  response:
    body: '{"id": 339052, "label": "bzi7l8090x1m-linodego-testing", "access_key":
      "[SANITIZED]", "secret_key": "[REDACTED]", "limited": false, "bucket_access":
      null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
