---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-definitions?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 14, "data": [{"id": 10000, "label":
      "High Memory Usage Plan Dedicated", "description": "Alert triggers when dedicated
      plan nodes consistently reach critical memory usage, risking application performance
      degradation.", "service_type": "dbaas", "type": "system", "scope": "entity",
      "class": "dedicated", "regions": [], "status": "enabled", "entity_ids": [],
      "has_more_resources": false, "severity": 2, "rule_criteria": {"rules": [{"label":
      "Memory Usage", "metric": "memory_usage", "unit": "percent", "aggregate_function":
      "avg", "operator": "gt", "threshold": 95, "dimension_filters": []}]}, "alert_channels":
      [{"id": 10000, "label": "Read-Write Channel", "url": "/monitor/alert-channels/10000",
      "type": "alert-channels"}], "trigger_conditions": {"criteria_condition": "ALL",
      "polling_interval_seconds": 300, "evaluation_period_seconds": 300, "trigger_occurrences":
      3}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "created_by":
      "system", "updated_by": "system"}, {"id": 10001, "label": "High Memory Usage
      Plan Shared", "description": "Alert triggers when shared plan nodes consistently
      reach critical memory usage, risking application performance degradation.",
      "service_type": "dbaas", "type": "system", "scope": "entity", "class": "shared",
      "regions": [], "status": "enabled", "entity_ids": ["389481", "395222"], "has_more_resources":
      false, "severity": 2, "rule_criteria": {"rules": [{"label": "Memory Usage",
      "m[...]
