---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images?page=1
    method: GET
  response:
    body: '{"pages": 1, "data": [{"id": "private/26425827", "label": "test_1721924280886354",
      "description": "Test description", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "size": 1293, "created_by": "ychen123", "type": "manual",
      "tags": ["test"], "is_public": false, "deprecated": false, "vendor": null, "expiry":
      null, "eol": null, "status": "available", "capabilities": []}, {"id": "private/26426164",
      "label": "test_1721925185088324", "description": "Test description", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "size": 1292, "created_by":
      "ychen123", "type": "manual", "tags": ["test"], "is_public": false, "deprecated":
      false, "vendor": null, "expiry": null, "eol": null, "status": "available", "capabilities":
      []}, {"id": "linode/almalinux8", "label": "AlmaLinux 8", "deprecated": false,
      "size": 2700, "[...]
