---
version: 1
interactions:
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing","limited":true,"bucket_access":[{"cluster":"us-east-1","bucket_name":"linodego-test-bucket-1603309943521033000","permissions":"read_only"},{"cluster":"us-east-1","bucket_name":"linodego-test-bucket-1603309943521033000","permissions":"read_write"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 48242, "label": "lpq6h62z88m4-linodego-testing", "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]", "limited": true, "bucket_access": [{"cluster": "us-east-1", "bucket_name": "linodego-test-bucket-1603309943521033000", "permissions": "read_only"}, {"cluster": "us-east-1", "bucket_name": "linodego-test-bucket-1603309943521033000", "permissions": "read_write"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Spec-Version:
      - 4.78.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/48242
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Spec-Version:
      - 4.78.3
    status: 200 OK
    code: 200
    duration: ""
