---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/betas?page=1
    method: GET
  response:
    body: '{"data": [{"id": "rtx_4000_ada_beta", "label": "NVIDIA RTX 4000 Ada Series
      GPU Beta", "description": "Our new cloud GPUs are available to a limited number
      of customers for early access. Powered by the NVIDIA Quadro RTX 4000 Ada generation
      GPU cards, these GPUs are optimized for media workloads such as media transcoding,
      but fit a range of use cases for parallelization such as training for AI models
      and data analysis. If accepted for early access participation, you will be notified
      via support ticket with instructions and resources. Beta GPUs are subject to
      standard charges.", "started": "2018-01-02T03:04:05", "ended": null, "greenlight_only":
      false, "more_info": "https://www.linode.com/docs/products/compute/compute-instances/plans/gpu/"}],
      "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/betas/rtx_4000_ada_beta
    method: GET
  response:
    body: '{"id": "rtx_4000_ada_beta", "label": "NVIDIA RTX 4000 Ada Series GPU Beta",
      "description": "Our new cloud GPUs are available to a limited number of customers
      for early access. Powered by the NVIDIA Quadro RTX 4000 Ada generation GPU cards,
      these GPUs are optimized for media workloads [...]
