---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "NodeBalancers", "Block Storage", "GPU Linodes", "Kubernetes", "Cloud
      Firewall", "Vlans", "Block Storage Migrations", "Managed Databases"], "status":
      "ok", "resolvers": {"ipv4": "172.105.34.5, 172.105.35.5, 172.105.36.5, 172.105.37.5,
      172.105.38.5, 172.105.39.5, 172.105.40.5, 172.105.41.5, 172.105.42.5, 172.105.43.5",
      "ipv6": "1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678"}}, {"id": "ca-central", "label": "Toronto, CA",
      "country": "ca", "capabilities": ["Linodes", "NodeBalancers", "Block Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations", "Managed
      Databases"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5, 172.105.3.5,
      172.105.4.5, 172.105.5.5, 172.105.6.5, 172.105.7.5, 1[...]
- request:
    body: '{"region":"ap-west","type":"g6-nanode-1","label":"go-test-ins-wo-disk-gpu3sht33630","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 54933962, "label": "go-test-ins-wo-disk-gpu3sht33630", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.105.60.121"], "ipv6": "1234::5678/128",
      "image": null, "region": "ap-west", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "available": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "2cd9a951a620396bd65ebd2d676659eb27ab7ac7", "has_user_data": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-84i9yt4m2jk6","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/54933962/configs
    method: POST
  response:
    body: '{"id": 58038389, "label": "go-test-conf-84i9yt4m2jk6", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/54933962
    method: GET
  response:
    body: '{"id": 54933962, "label": "go-test-ins-wo-disk-gpu3sht33630", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.105.60.121"], "ipv6": "1234::5678/128",
      "image": null, "region": "ap-west", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "available": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "2cd9a951a620396bd65ebd2d676659eb27ab7ac7", "has_user_data": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"disk_imagize","created":{"+gte":"2018-01-02T03:04:05"},"entity.id":54933906,"entity.type":"linode"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 649332307, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": 83, "time_remaining": null, "rate": null,
      "duration": 46.035006, "action": "disk_imagize", "username": "zliang27", "entity":
      {"label": "go-test-ins-v3n5as9q33a8", "id": 54933906, "type": "linode", "url":
      "/v4/linode/instances/54933906"}, "status": "started", "secondary_entity": {"id":
      23818909, "type": "image", "label": "go-test-image-it4l6zvi9837", "url": "/v4/images/private/23818909"},
      "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"go-disk-test-7wua1247bc6h","size":2000,"image":"private/23818909","root_pass":"\u00268O2NPuZ;WB4h#Rv=)1n$20/7?eR]2K\u0026t\\7+5RWb4Ul\u003eh29CjDgxuW=981jGx\u0026m;"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/54933962/disks
    method: POST
  response:
    body: '{"id": 108752642, "status": "not ready", "label": "go-disk-test-7wua1247bc6h",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 1042}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-disk-test-4w3k34u2zh2l","size":2000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/54933962/disks
    method: POST
  response:
    body: '{"errors": [{"reason": "Linode busy."}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
