---
version: 1
interactions:
- request:
    body: '{"region":"us-ord","label":"linodego-image-test","description":"An image
      that does stuff."}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/upload
    method: POST
  response:
    body: '{"upload_to": "https://us-ord-1.linodeobjects.com:443/linode-production-machine-images-uploads/25476392?Signature=ZL7JALnUFwvCWqx7UIVT6HAgMh8%3D&Expires=1717261716&AWSAccessKeyID=SANITIZED",
      "image": {"id": "private/25476392", "label": "linodego-image-test", "description":
      "An image that does stuff.", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 0, "created_by": "youjungk01", "type": "manual", "tags": [], "is_public":
      false, "deprecated": false, "vendor": null, "expiry": null, "eol": null, "status":
      "pending_upload", "capabilities": []}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private%2F25476392
    method: GET
  response:
    body: '{"id": "private/25476392", "label": "linodego-image-test", "description":
      "An image that does stuff.", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 0, "created_by": "youjungk01", "type": "manual", "tags": [], "is_public":
      false, "deprecated": false, "vendor": null, "expiry": null, "eol": null, "status":
      "pending_upload", "capabilities": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
