---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/maintenance/policies?page=1
    method: GET
  response:
    body: '{"data": [{"slug": "linode/migrate", "label": "Migrate", "description":
      "Migrates the Linode to a new host while it remains fully operational. Recommended
      for maximizing availability.", "type": "migrate", "notification_period_sec":
      10800, "is_default": true}, {"slug": "linode/power_off_on", "label": "Power
      Off / Power On", "description": "Powers off the Linode at the start of the maintenance
      event and reboots it once the maintenance finishes. Recommended for maximizing
      performance.", "type": "power_off_on", "notification_period_sec": 604800, "is_default":
      false}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
