---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/logins?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1570617688, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}, {"id":
      1570661980, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}, {"id":
      1570727356, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}, {"id":
      1570740884, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}, {"id":
      1[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/logins/1570617688
    method: GET
  response:
    body: '{"id": 1570617688, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
