---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/logins?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1571371160, "datetime": "2018-01-02T03:04:05", "ip": "207.172.164.59",
      "username": "ychen123", "status": "successful", "restricted": false}, {"id":
      1571930431, "datetime": "2018-01-02T03:04:05", "ip": "207.172.164.59", "username":
      "ychen123", "status": "successful", "restricted": false}, {"id": 1572136305,
      "datetime": "2018-01-02T03:04:05", "ip": "207.172.164.59", "username": "ychen123",
      "status": "successful", "restricted": false}, {"id": 1572315925, "datetime":
      "2018-01-02T03:04:05", "ip": "207.172.164.59", "username": "ychen123", "status":
      "successful", "restricted": false}, {"id": 1572346753, "datetime": "2018-01-02T03:04:05",
      "ip": "50.116.59.237", "username": "ychen123", "status": "successful", "restricted":
      false}, {"id": 1572356544, "datetime": "2018-01-02T03:04:05", "ip": "50.116.59.237",
      "username": "ychen123", "status": "successful", "restricted": false}], "page":
      1, "pages": 1, "results": 6}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/logins/1571371160
    method: GET
  response:
    body: '{"id": 1571371160, "datetime": "2018-01-02T03:04:05", "ip": "207.172.164.59",
      "username": "ychen123", "status": "successful", "restricted": false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
