---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"go-test-ins-wo-disk-p6xxu28b258m","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 39240985, "label": "go-test-ins-wo-disk-p6xxu28b258m", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["50.116.12.159"], "ipv6": "1234::5678/128",
      "image": null, "region": "us-west", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-fdu7989vt05t","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/39240985/configs
    method: POST
  response:
    body: '{"id": 41782273, "label": "go-test-conf-fdu7989vt05t", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"linode_id":39240985}'
    url: https://api.linode.com/v4beta/networking/ips
    method: GET
  response:
    body: '{"page": 1, "pages": 1, "results": 55, "data": [{"address": "139.177.207.51",
      "gateway": "139.177.207.1", "subnet_mask": "255.255.255.0", "prefix": 24, "type":
      "ipv4", "public": true, "rdns": "li2289-51.members.linode.com", "linode_id":
      29745916, "region": "us-southeast"}, {"address": "192.168.143.150", "gateway":
      null, "subnet_mask": "255.255.128.0", "prefix": 17, "type": "ipv4", "public":
      false, "rdns": null, "linode_id": 39240861, "region": "us-southeast"}, {"address":
      "45.79.208.9", "gateway": "45.79.208.1", "subnet_mask": "255.255.255.0", "prefix":
      24, "type": "ipv4", "public": true, "rdns": "45-79-208-9.ip.linodeusercontent.com",
      "linode_id"[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/39240985
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
