---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions/availability
    method: GET
  response:
    body: '{"data": [{"region": "us-central", "plan": "g1-gpu-rtx6000-1", "available":
      false}, {"region": "us-central", "plan": "g1-gpu-rtx6000-2", "available": false},
      {"region": "us-central", "plan": "g1-gpu-rtx6000-3", "available": false}, {"region":
      "us-central", "plan": "g1-gpu-rtx6000-4", "available": false}, {"region": "us-central",
      "plan": "g7-premium-2", "available": false}, {"region": "us-central", "plan":
      "g7-premium-4", "available": false}, {"region": "us-central", "plan": "g7-premium-8",
      "available": false}, {"region": "us-central"[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions/availability?page=2
    method: GET
  response:
    body: '{"data": [{"region": "ap-south", "plan": "g7-premium-50", "available":
      false}, {"region": "ap-south", "plan": "g7-premium-56", "available": false},
      {"region": "ap-south", "plan": "g7-premium-64", "available": false}, {"region":
      "ap-south", "plan": "g1-gpu-rtx4000a-1", "available":[...]
[...]
