---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"region": "us-west", "group": "", "label": "linodego-test-instance", "watchdog_enabled":
      true, "status": "provisioning", "created": "2018-01-02T03:04:05", "hypervisor":
      "kvm", "updated": "2018-01-02T03:04:05", "ipv6": "1234::5678/64",
      "alerts": {"network_in": 10, "network_out": 10, "io": 10000, "transfer_quota":
      80, "cpu": 90}, "backups": {"enabled": false, "schedule": {"day": null, "window":
      null}}, "ipv4": ["10.20.30.40"], "type": "g6-nanode-1", "id": 18425328, "specs":
      {"vcpus": 1, "gpus": 0, "memory": 1024, "disk": 25600, "transfer": 1000}, "image":
      "linode/debian9", "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661091"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425328/ips
    method: POST
  response:
    body: '{"subnet_mask": "10.20.30.40", "gateway": null, "public": false, "type":
      "ipv4", "rdns": null, "address": "192.168.030.040", "prefix": 17, "linode_id":
      18425328, "region": "us-west"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661092"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.030.040:8080","label":"test-label","weight":10,"mode":"accept"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53609/configs/48075/nodes
    method: POST
  response:
    body: '{"address": "192.168.030.040:8080", "config_id": 48075, "weight": 10, "label":
      "test-label", "status": "Unknown", "id": 466781, "nodebalancer_id": 53609, "mode":
      "accept"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661093"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin","stickiness":"none","check":"none","check_attempts":3,"check_passive":true,"check_timeout":30,"cipher_suite":"recommended","nodes":[]}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53609/configs/48075/rebuild
    method: POST
  response:
    body: '{"ssl_fingerprint": "", "id": 48075, "check": "none", "nodes_status": {"down":
      1, "up": 0}, "ssl_commonname": "", "nodebalancer_id": 53609, "stickiness": "none",
      "check_timeout": 30, "check_passive": true, "algorithm": "roundrobin", "check_body":
      "", "check_attempts": 3, "port": 80, "protocol": "http", "check_interval": 0,
      "check_path": "", "ssl_key": null, "cipher_suite": "recommended", "ssl_cert":
      null}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661093"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53609/configs/48075/nodes/466781
    method: DELETE
  response:
    body: '{"errors": [{"reason": "Not found"}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661093"
      X-Spec-Version:
      - 4.7.0
    status: 404 NOT FOUND
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425328
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661094"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
