---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/security-questions
    method: GET
  response:
    body: '{"security_questions": [{"id": 1, "question": "What was the name of your first pet?", "response": null}, {"id": 2, "question": "What is the name of your oldest sibling?", "response": null}, {"id": 3, "question": "What was the first concert you attended?", "response": null}, {"id": 4, "question": "What was the make and model of your first car?", "response": null}, {"id": 5, "question": "In what city or town did your parents meet?", "response": null}, {"id": 6, "question": "What is the name of a college you applied to but did not attend?", "[...]
