---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "Disk Encryption", "Backups",
      "NodeBalancers", "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes",
      "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC IPv6 Stack", "Block
      Storage Migrations", "Managed Databases", "Metadata", "Premium Plans", "Placement
      Group", "StackScripts", "NETINT Quadra T1U", "Maintenance Policy", "Linode Interfaces",
      "ACLP Logs Datacenter LKE-E"], "monitors": {"alerts": ["Linodes", "Managed Databases",
      "NodeBalancers"], "metrics": ["Linodes", "Managed Databases", "NodeBalancers"]},
      "status": "ok", "resolvers": {"ipv4": "192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "us-labedgeeat-2",
      "label": "East Wenatchee, US", "country": "us", "capabilities": ["Linodes",
      "Disk Encryption", "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC
      IPv6 Stack", "Metadata", "Distributed Plans", "Linode Interfaces"], "monitors":
      {"alerts": [], "metrics": []}, "status": "ok", "resolvers": {"ipv4": "192.0.2.0,192.0.2.0",
      "ipv6": "1234::5678,1234::5678"}, "placement_group_limits": {"maximum_pgs_per_customer":
      0, "maximum_linodes_per_pg": 0, "maximum_linodes_per_flexible_pg": 0}, "site_type":
      "distributed"}, {"id": "us-labedgeeat-3", "label": "East Wenatchee, US", "country":
      "us", "capabilities": ["Linodes", "Disk Encryption", "Cloud Firewall", "Metadata",
      "Distributed Plans"], "monitors": {"alerts": [], "metrics": []}, "status": "ok",
      "resolvers": {"ipv4": "192.0.2.0,192.0.2.0", "ipv6": "1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": 0, "maximum_linodes_per_pg":
      0, "maximum_linodes_per_flexible_pg": 0}, "site_type": "distributed"}], "page":
      1, "pages": 1, "results": 3}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","label":"go-test-ins-s97188hmw2qo","root_pass":"thisIsYourRootPassword","image":"linode/alpine3.22","firewall_id":1286587,"booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 101560404, "label": "go-test-ins-s97188hmw2qo", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["192.0.2.0"], "ipv6": "1234::5678/128",
      "image": "linode/alpine3.22", "region": "pl-labkrk-2", "site_type": "core",
      "specs": {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer":
      1000, "accelerated_devices": 0}, "alerts": {"cpu": 90, "network_in": 10, "network_out":
      10, "transfer_quota": 80, "io": 10000, "system_alerts": [], "user_alerts": []},
      "backups": {"enabled": false, "available": false, "schedule": {"day": null,
      "window": null}, "last_successful": null}, "hypervisor": "kvm", "watchdog_enabled":
      true, "tags": [], "host_uuid": "9836b79b7f5984dcf5faa04a7587feffeafa5360", "has_user_data":
      false, "placement_group": null, "disk_encryption": "enabled", "lke_cluster_id":
      null, "capabilities": ["Block Storage Encryption", "SMTP Enabled", "Maintenance
      Policy"], "interface_generation": "legacy_config", "maintenance_policy": "linode/migrate",
      "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/101560404/disks?page=1
    method: GET
  response:
    body: '{"data": [{"id": 4336475, "status": "not ready", "label": "Alpine 3.22
      Disk", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 25088, "disk_encryption": "enabled"}, {"id": 4336476, "status":
      "not ready", "label": "512 MB Swap Image", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "filesystem": "swap", "size": 512, "disk_encryption":
      "enabled"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk_id":4336475,"label":"linodego-test-image-sharing-image"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images
    method: POST
  response:
    body: '{"id": "private/160700", "label": "linodego-test-image-sharing-image",
      "description": "", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 25088, "created_by": "psnoch", "type": "manual", "tags": [], "is_public":
      false, "is_shared": false, "deprecated": false, "vendor": null, "expiry": null,
      "eol": null, "status": "creating", "capabilities": [], "regions": [], "total_size":
      25088, "image_sharing": {"shared_with": {"sharegroup_count": 0, "sharegroup_list_url":
      "/images/private/160700/sharegroups"}, "shared_by": null}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write,linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private%2F160700
    method: GET
  response:
    body: '{"id": "private/160700", "label": "linodego-test-image-sharing-image",
      "description": "", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 25088, "created_by": "psnoch", "type": "manual", "tags": [], "is_public":
      false, "is_shared": false, "deprecated": false, "vendor": null, "expiry": null,
      "eol": null, "status": "creating", "capabilities": [], "regions": [], "total_size":
      25088, "image_sharing": {"shared_with": {"sharegroup_count": 0, "sharegroup_list_url":
      "/images/private/160700/sharegroups"}, "shared_by": null}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"linodego-test-image-sharing-image-share-group"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups
    method: POST
  response:
    body: '{"id": 8306, "uuid": "955860b2-60b3-4a48-ba1b-d51e85da5074", "label": "linodego-test-image-sharing-image-share-group",
      "description": "", "is_suspended": false, "created": "2018-01-02T03:04:05",
      "updated": null, "expiry": null, "images_count": 0, "members_count": 0}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"private/160700","label":"A label.","description":"A description."}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups/8306/images?page=1
    method: POST
  response:
    body: '{"pages": 1, "data": [{"id": "shared/5854", "label": "A label.", "description":
      "A description.", "created": "2018-01-02T03:04:05", "updated": null, "size":
      366, "status": "available", "capabilities": ["distributed-sites"], "tags": [],
      "is_public": false, "is_shared": null, "type": "shared", "deprecated": false,
      "regions": [{"region": "pl-labkrk-2", "status": "available"}], "total_size":
      366, "image_sharing": {"shared_with": null, "shared_by": {"sharegroup_id": 8306,
      "sharegroup_uuid": "955860b2-60b3-4a48-ba1b-d51e85da5074", "sharegroup_label":
      "linodego-test-image-sharing-image-share-group", "source_image_id": "private/160700"}},
      "created_by": null, "vendor": null, "expiry": null, "eol": null}], "results":
      1, "page": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images?page=1
    method: GET
  response:
    body: '{"pages": 1, "data": [{"id": "private/84470", "label": "linode-cli-test-image-sharing-image",
      "description": "", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 366, "created_by": "psnoch", "type": "manual", "tags": [], "is_public":
      false, "is_shared": false, "deprec[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private%2F160700/sharegroups?page=1
    method: GET
  response:
    body: '{"data": [{"id": 8306, "uuid": "955860b2-60b3-4a48-ba1b-d51e85da5074",
      "label": "linodego-test-image-sharing-image-share-group", "description": "",
      "is_suspended": false, "created": "2018-01-02T03:04:05", "updated": null, "expiry":
      null, "images_count": 1, "members_count": 0}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1632, "uuid": "476fb338-36b0-4d52-a672-1b6a5d8cd88d",
      "label": "Updated label", "description": "Updated description", "is_suspended":
      false, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "expiry":
      null, "images_count": 0, "members_count": 0}, {"id": 8306, "uuid": "955860b2-60b3-4a48-ba1b-d51e85da5074",
      "label": "linodego-test-image-sharing-image-share-group", "description": "",
      "is_suspended": false, "created": "2018-01-02T03:04:05", "updated": null, "expiry":
      null, "images_count": 1, "members_count": 0}], "page": 1, "pages": 1, "results":
      2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups/8306
    method: GET
  response:
    body: '{"id": 8306, "uuid": "955860b2-60b3-4a48-ba1b-d51e85da5074", "label": "linodego-test-image-sharing-image-share-group",
      "description": "", "is_suspended": false, "created": "2018-01-02T03:04:05",
      "updated": null, "expiry": null, "images_count": 1, "members_count": 0}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups/8306/members?page=1
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"Updated label","description":"Updated description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups/8306/images/shared%2F5854
    method: PUT
  response:
    body: '{"id": "shared/5854", "label": "Updated label", "description": "Updated
      description", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 366, "status": "available", "capabilities": ["distributed-sites"], "tags":
      [], "is_public": false, "is_shared": null, "type": "shared", "deprecated": false,
      "regions": [{"region": "pl-labkrk-2", "status": "available"}], "total_size":
      366, "image_sharing": {"shared_with": null, "shared_by": {"sharegroup_id": 8306,
      "sharegroup_uuid": "955860b2-60b3-4a48-ba1b-d51e85da5074", "sharegroup_label":
      "Updated label", "source_image_id": "private/160700"}}, "created_by": null,
      "vendor": null, "expiry": null, "eol": null}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/101560404
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
