---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"go-test-ins-wo-disk-rq47szi7m043","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 39240651, "label": "go-test-ins-wo-disk-rq47szi7m043", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["45.33.41.245"], "ipv6": "1234::5678/128",
      "image": null, "region": "us-west", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-z34o91m5of5n","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/39240651/configs
    method: POST
  response:
    body: '{"id": 41781972, "label": "go-test-conf-z34o91m5of5n", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/39240651
    method: GET
  response:
    body: '{"id": 39240651, "label": "go-test-ins-wo-disk-rq47szi7m043", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["45.33.41.245"], "ipv6": "1234::5678/128",
      "image": null, "region": "us-west", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"disk_imagize","created":{"+gte":"2018-01-02T03:04:05"},"entity.id":39240629,"entity.type":"linode"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 370467132, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": 88, "time_remaining": null, "rate": null,
      "duration": 55.214789, "action": "disk_imagize", "username": "jriddle-dev",
      "entity": {"label": "go-test-ins-2va95i03kw9j", "id": 39240629, "type": "linode",
      "url": "/v4/linode/instances/39240629"}, "status": "started", "secondary_entity":
      {"id": 17508296, "type": "image", "label": "go-test-image-wg543k38spd3", "url":
      "/v4/images/private/17508296"}, "message": ""}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"go-disk-test-9rj6yuh0344d","size":2000,"image":"private/17508296","root_pass":"R34lBAdP455"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/39240651/disks
    method: POST
  response:
    body: '{"id": 78660282, "status": "not ready", "label": "go-disk-test-9rj6yuh0344d",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 1039}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-disk-test-79bfty447j0g","size":2000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/39240651/disks
    method: POST
  response:
    body: '{"errors": [{"reason": "Linode busy."}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
