---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/availability
    method: GET
  response:
    body: '{"data": [{"region": "us-central", "unavailable": []}, {"region": "us-west",
      "unavailable": []}, {"region": "us-southeast", "unavailable": []}, {"region":
      "us-east", "unavailable": []}, {"region": "eu-west", "unavailable": []}, {"region":
      "ap-south", "unavailable": []}, {"region": "eu-central", "unavailable": []},
      {"region": "ap-northeast", "unavailable": ["Linodes", "NodeBalancers", "Block
      Storage", "Kubernetes"]}, {"region": "ap-west", "unavailable": []}, {"region":
      "ca-central", "unavailable": []}, {"region": "ap-southeast", "unavailable":
      []}, {"region": "us-iad", "unavailable": ["NodeBalancers", "Block Storage"]},
      {"region": "us-ord", "unavailable": []}, {"region": "fr-par", "unavailable":
      []}, {"region": "us-sea", "unavailable": []}, {"region": "br-gru", "unavailable":
      []}, {"region": "nl-ams", "unavailable": []}, {"region": "se-sto", "unavailable":
      []}, {"region": "es-mad", "unavailable": []}, {"region": "in-maa", "unavailable":
      []}, {"region": "jp-osa", "unavailable": []}, {"region": "it-mil", "unavailable":
      []}, {"region": "us-mia", "unavailable": []}, {"region": "id-cgk", "unavailable":
      []}, {"region": "us-lax", "unavailable": []}], "page": 1, "pages": 1, "results":
      25}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
