---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile
    method: GET
  response:
    body: '{"uid": 2897900, "username": "prod-test-022", "email": "dl-linode-devs@akamai.com",
      "verified_phone_number": null, "timezone": "GMT", "email_notifications": true,
      "referrals": {"code": "", "url": "", "total": 0, "completed": 0, "pending":
      0, "credit": 0}, "ip_whitelist_enabled": false, "lish_auth_method": "password_keys",
      "authorized_keys": null, "two_factor_auth": true, "restricted": false, "authentication_type":
      "password", "user_type": "default"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/iam/users/prod-test-022/permissions/account
    method: GET
  response:
    body: '["list_events", "view_account_settings", "view_invoice_item", "cancel_account",
      "create_vpc", "create_payment_method", "reset_oauth_client_secret", "list_account_logins",
      "delete_oauth_client", "update_delegate_users", "enable_managed", "set_default_payment_method",
    [...]
