---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/child-accounts?page=1
    method: GET
  response:
    body: '{"data": [{"company": "DX Child Account", "email": "dl-linode-dev-dx@akamai.com",
      "first_name": "DX-Child", "last_name": "Team", "address_1": "", "address_2":
      "", "city": "", "state": "", "zip": "", "country": "", "phone": "", "balance":
      0.0, "tax_id": "", "billing_source": "akamai", "credit_card": {"last_four":
      null, "expiry": null}, "balance_uninvoiced": 0.0, "active_since": "2018-01-02T03:04:05",
      "capabilities": ["Linodes", "NodeBalancers", "Block Storage", "Object Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "LKE HA Control Planes", "Machine Images",
      "VPCs"], "active_promotions": [], "euuid": "E89C475E-7476-4B95-95EA82BB4EE866E3"}],
      "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - child_account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/child-accounts/E89C475E-7476-4B95-95EA82BB4EE866E3
    method: GET
  response:
    body: '{"company": "DX Child Account", "email": "dl-linode-dev-dx@akamai.com",
      "first_name": "DX-Child", "last_name": "Team", "address_1": "", "address_2":
      "", "city": "", "state": "", "zip": "", "country": "", "phone": "", "balance":
      0.0, "tax_id": "", "billing_source": "akamai", "credit_card": {"last_four":
      null, "expiry": null}, "balance_uninvoiced": 0.0, "active_since": "2018-01-02T03:04:05",
      "capabilities": ["Linodes", "NodeBalancers", "Block Storage", "Object Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "LKE HA Control Planes", "Machine Images",
      "VPCs"], "active_promotions": [], "euuid": "E89C475E-7476-4B95-95EA82BB4EE866E3"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - child_account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/child-accounts/E89C475E-7476-4B95-95EA82BB4EE866E3/token
    method: POST
  response:
    body: '{"id": 118004, "scopes": "*", "created": "2018-01-02T03:04:05", "label":
      "dx-parent-account_411983_1709054360", "token": "db2d8f40da05fba684005d3262015237c80f0638a37df67e67e24f576e1e3c7b",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - child_account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
