---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "Disk Encryption", "Backups",
      "NodeBalancers", "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes",
      "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC IPv6 Stack", "Block
      Storage Migrations", "Managed Databases", "Metadata", "Premium Plans", "Placement
      Group", "StackScripts", "NETINT Quadra T1U", "Maintenance Policy", "Linode Interfaces",
      "ACLP Logs Datacenter LKE-E"], "monitors": {"alerts": ["Linodes", "Managed Databases",
      "NodeBalancers"], "metrics": ["Linodes", "Managed Databases", "NodeBalancers"]},
      "status": "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "us-labedgeeat-2",
      "label": "East Wenatchee, US", "country": "us", "capabilities": ["Linodes",
      "Disk Encryption", "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC
      IPv6 Stack", "Metadata", "Distributed Plans", "Linode Interfaces"], "monitors":
      {"alerts": [], "metrics": []}, "status": "ok", "resolvers": {"ipv4": "173.223.100.53,173.223.101.53",
      "ipv6": "1234::5678,1234::5678"}, "placement_group_limits": {"maximum_pgs_per_customer":
      0, "maximum_linodes_per_pg": 0, "maximum_linodes_per_flexible_pg": 0}, "site_type":
      "distributed"}, {"id": "us-labedgeeat-3", "label": "East Wenatchee, US", "country":
      "us", "capabilities": ["Linodes", "Disk Encryption", "Cloud Firewall", "Metadata",
      "Distributed Plans"], "monitors": {"alerts": [], "metrics": []}, "status": "ok",
      "resolvers": {"ipv4": "173.223.100.53,173.223.101.53", "ipv6": "1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": 0, "maximum_linodes_per_pg":
      0, "maximum_linodes_per_flexible_pg": 0}, "site_type": "distributed"}], "page":
      1, "pages": 1, "results": 3}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","label":"go-test-ins-th3a924h5i6z","root_pass":"+O1r5~#I2A[M273qh`0i''TKAgFPk4K+4:Ge4{\u003cr#q4\\,{793#mUj8oB7qykNY.Rv","image":"linode/debian12","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 101511601, "label": "go-test-ins-th3a924h5i6z", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.24.242.248"], "ipv6": "1234::5678/128",
      "image": "linode/debian12", "region": "pl-labkrk-2", "site_type": "core", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000, "system_alerts": [], "user_alerts": []}, "backups": {"enabled":
      false, "available": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "9836b79b7f5984dcf5faa04a7587feffeafa5360", "has_user_data": false, "placement_group":
      null, "disk_encryption": "enabled", "lke_cluster_id": null, "capabilities":
      ["Block Storage Encryption", "SMTP Enabled", "Maintenance Policy"], "interface_generation":
      "legacy_config", "maintenance_policy": "linode/migrate", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 6, "data": [{"id": 1, "label": "High
      Memory Usage Plan Dedicated", "description": "Alert triggers when dedicated
      plan nodes consistently reach critical memory usage, risking application performance
      degradation.", "service_type": "dbaas", "type": "system", "scope": "entity",
      "class": "dedicated", "regions": [], "status": "enabled", "entity_ids": [],
      "has_more_resources": false, "severity": 2, "rule_criteria": {"rules": [{"label":
      "Memory Usage", "metric": "memory_usage", "unit": "percent", "aggregate_function":
      "avg", "operator": "gt", "threshold": 95, "dimension_filters": []}]}, "alert_channels":
      [{"id": 1, "label": "Read-Write Channel", "url": "/monitor/alert-channels/1",
      "type": "alert-channels"}], "trigger_conditions": {"criteria_condition": "ALL",
      "polling_interval_seconds": 300, "evaluation_period_seconds": 300, "trigger_occurrences":
      3}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "created_by":
      "system", "updated_by": "system", "entities": {"url": "/monitor/services/dbaas/alert-definitions/1/entities",
      "has_more_resources": false, "count": 0}}, {"id": 2, "label": "High Memory Usage
      Plan Shared", "description": "Alert triggers when shared plan nodes consistently
      reach critical memory usage, risking application performance degradation.",
      "service_type": "dbaas", "type": "system", "scope": "entity", "class": "shared",
      "regions": [], "status": "enabled", "entity_ids": ["2671", "2672"], "has_more_resources":
      false, "severity": 2, "rule_criteria": {"rules": [{"label": "Memory Usage",
      "metric": "memor[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-channels?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 1, "data": [{"id": 1, "label": "Read-Write
      Channel", "channel_type": "email", "type": "system", "content": {"email": {"email_addresses":
      ["Users-with-read-write-access-to-resources"]}}, "details": {"email": {"usernames":
      [], "recipient_type": "read_write_users"}}, "alerts": {"url": "/monitor/alert-channels/1/alerts",
      "type": "alerts-definitions", "alert_count": 17}, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "created_by": "system", "updated_by": "system"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"test-1777469260161278000-service-definition","severity":1,"channel_ids":[1],"rule_criteria":{"rules":[{"aggregate_function":"min","dimension_filters":[{"dimension_label":"node_type","operator":"eq","value":"primary"}],"metric":"memory_usage","operator":"eq","threshold":95}]},"trigger_conditions":{"criteria_condition":"ALL","evaluation_period_seconds":300,"polling_interval_seconds":900,"trigger_occurrences":3}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions
    method: POST
  response:
    body: '{"id": 1201, "label": "test-1777469260161278000-service-definition", "description":
      null, "ser[...]
- request:
    body: '{"label":"go-test-ins-th3a924h5i6z","alerts":{"cpu":0,"io":0,"network_in":0,"network_out":0,"transfer_quota":0,"system_alerts":[1],"user_alerts":[1201]},"watchdog_enabled":true,"tags":[],"group":"","maintenance_policy":"linode/migrate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/101511601
    method: PUT
  response:
    body: '{"id": 101511601, "label": "go-test-ins-th3a924h5i6z", "group": [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions/1201
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
