---
version: 1
interactions:
- request:
    body: '{"label":"go-vol-test-def","region":"us-west","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes
    method: POST
  response:
    body: '{"id": 554547, "status": "creating", "label": "go-vol-test-def", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_go-vol-test-def", "size": 20, "linode_id":
      null, "linode_label": null, "region": "us-west", "tags": [], "hardware_type":
      "hdd"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/554547
    method: GET
  response:
    body: '{"id": 554547, "status": "active", "label": "go-vol-test-def", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_go-vol-test-def", "size": 20, "linode_id":
      null, "linode_label": null, "region": "us-west", "tags": [], "hardware_type":
      "hdd"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"size": 21}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/554547/resize
    method: POST
  response:
    body: '{"id": 554547, "status": "resizing", "label": "go-vol-test-def", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_go-vol-test-def", "size": 21, "linode_id":
      null, "linode_label": null, "region": "us-west", "tags": [], "hardware_type":
      "hdd"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
