---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/entities?page=1
    method: GET
  response:
    body: '{"data": [{"id": 99284883, "label": "devenv-devcloud", "type": "linode"},
      {"id": 99290132, "label": "test-linode", "type": "linode"}, {"id": 99294751,
      "label": "lalenche-cometlab", "type": "linode"}, {"id": 99298866, "label": "dx-devenv-test",
      "type": "linode"}, {"id": 99301780, "label": "ubuntu-22.04-devenv", "type":
      "linode"}, {"id": 99351123, "label": "linode99351123", "type": "linode"}, {"id":
      99366809, "label": "lke12802-21188-4808a4ae0000", "type": "linode"}, {"id":
      99366813, "label": "lke12802-21190-32c7acac0000",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/entities?page=5
    method: GET
  response:
    body: '{"data": [{"id": 63448, "label": "lke35928", "type": "vpc"}, {"id": 64718,
      "label": "lke36826", "type": "vpc"}, {"id": 70846, "label": "banks-testing-ipv6-vpc",
      "type": "vpc"}, {"id": 12802, "label": "test-restricted-lke", "type": "lkecluster"},
      {"id": 12804, "label": "test-lke-123", "type": "lkecluster"}, {"id": 20671,
      "label": "xtKp6C3zgm3sxgJz9MeqzTBrXzODW4", "type": "lkecluster"}, {"id": 31683,
      "label": "lke-e", "type": "lkecluster"}, {"id": 31986, "label": "lke-e-with-byo-vpc-mjacobs",
      "type": "lkecluster"}, {"id": 36826, "label": "lke-e-mjacobs", "type": "lkecluster"},
      {"id": 37015, "label": "corya-read-write-kubernetes", "type": "lkecluster"},
      {"id": 38753, "label": "lke-e-devcloud-test", "type": "lkecluster"}], "page":
      5, "pages": 5, "results": 411}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
