---
version: 1
interactions:
- request:
    body: '{"label":"aSTefFgoEhTM-linodego-testing","rules":{"inbound":[{"protocol":"ICMP","addresses":{"ipv4":["10.20.30.40/0"],"ipv6":null}}]},"tags":["testing"],"devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls
    method: POST
  response:
    body: '{"id": 246, "label": "aSTefFgoEhTM-linodego-testing", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"protocol": "ICMP", "addresses": {"ipv4": ["10.20.30.40/0"], "ipv6": null}}]},
      "tags": ["testing"]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1595"
      X-Ratelimit-Reset:
      - "1590084849"
      X-Spec-Version:
      - 4.65.1
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"updatedFirewallLabel","status":"disabled","tags":["newTag"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls/246
    method: PUT
  response:
    body: '{"id": 246, "label": "updatedFirewallLabel", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "disabled", "rules": {"inbound":
      [{"protocol": "ICMP", "addresses": {"ipv4": ["10.20.30.40/0"], "ipv6": null}}]},
      "tags": ["newTag"]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1594"
      X-Ratelimit-Reset:
      - "1590084850"
      X-Spec-Version:
      - 4.65.1
    status: 200 OK
    code: 200
    duration: ""
[...]
