---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile
    method: GET
  response:
    body: '{"uid": 1989909, "username": "jriddle-dev", "email": "jriddle@linode.com",
      "verified_phone_number": null, "timezone": "America/New_York", "email_notifications":
      true, "referrals": {"code": "0761a00bbd775f368f20d00b9967a3b56dbdf552", "url":
      "https://www.linode.com/lp/refer/?r=0761a00bbd775f368f20d00b9967a3b56dbdf552",
      "total": 0, "completed": 0, "pending": 0, "credit": 0}, "ip_whitelist_enabled":
      false, "lish_auth_method": "password_keys", "authorized_keys": null, "two_factor_auth":
      false, "restricted": false, "authentication_type": "password"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
