---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://146d0e27-cc3f-4c09-a50c-a1b138fa043b.ap-west-2.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"530"},"items":[]}
    headers:
      Audit-Id:
      - 9fe3b0b9-6be8-4bc5-8fb5-a5de89ad0ad2
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 89083a2b-4ffe-48eb-ba1a-e2ca012cadd7
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 3833eb11-2ae9-4b3a-991a-57858f5ff927
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://146d0e27-cc3f-4c09-a50c-a1b138fa043b.ap-west-2.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"602"},"items":[{"metadata":{"name":"lke76162-118349-634837eff28c","uid":"887829d5-ff94-4545-b16e-4860be6648b3","resourceVersion":"598","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"ap-west","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke76162-118349-634837eff28c","kubernetes.io/os":"linux","node.kubernetes.io/instance-type":"g6-standard-2","topology.kubernetes.io/region":"ap-west"},"annotations":{"node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/24\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:allocatable":{"f:ephemeral-storage":{}},"f:capacity":{"f:ephemeral-storage":{}},"f:conditions":{"k:{\"type\":\"Ready\"}":{"f:message":{}}}}}},{"manager":"linode-cloud-controller-manager-linux-amd64","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:beta.kubernetes.io/instance-type":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:node.kubernetes.io/instance-type":{},"f:topology.kubernetes.io/region":{}}},"f:spec":{"f:providerID":{},"f:taints":{}}}},{"manager":"linode-cloud-controller-manager-linux-amd64","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:addresses":{"k:{\"type\":\"ExternalIP\"}":{".":{},"f:address":{},"f:type":{}},"k:{\"type\":\"InternalIP\"}":{"f:address":{}}}}},"subresource":"status"}]},"spec":{"podCIDR":"10.2.0.0/24","podCIDRs":["10.2.0.0/24"],"providerID":"linode://39523013","taints":[{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82517840Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4028096Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76048441219","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3925696Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized"}],"addresses":[{"type":"Hostname","address":"lke76162-118349-634837eff28c"},{"type":"ExternalIP","address":"172.105.62.27"},{"type":"InternalIP","address":"192.168.141.86"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"53a924549f02403785267878854d7b25","systemUUID":"53a924549f02403785267878854d7b25","bootID":"0fb3be06-012f-4937-bb32-588a29856d58","kernelVersion":"5.10.0-14-cloud-amd64","osImage":"Debian GNU/Linux 11 (bullseye)","containerRuntimeVersion":"docker://20.10.15","kubeletVersion":"v1.23.6","kubeProxyVersion":"v1.23.6","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Audit-Id:
      - c2e927b3-b829-4d55-bb47-1d1c74de2e5e
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 89083a2b-4ffe-48eb-ba1a-e2ca012cadd7
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 3833eb11-2ae9-4b3a-991a-57858f5ff927
    status: 200 OK
    code: 200
    duration: ""
[...]
