---
version: 1
interactions:
- request:
    body: '{"region":"us-east","label":"linodego-image-replication","description":"An
      image that does stuff."}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/upload
    method: POST
  response:
    body: '{"upload_to": "https://us-east-1.linodeobjects.com:443/linode-production-machine-images-uploads/26428975?Signature=qRpBKGnJQWZYB7YGXwcW%2BAg3EbQ%3D&Expires=1722022419&AWSAccessKeyID=SANITIZED",
      "image": {"id": "private/26428975", "label": "linodego-image-replication", "description":
      "An image that does stuff.", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 0, "created_by": "ychen123", "type": "manual", "tags": [], "is_public":
      false, "deprecated": false, "vendor": null, "expiry": null, "eol": null, "status":
      "pending_upload", "capabilities": [], "regions": [], "total_size": 0}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private%2F26428975
    method: GET
  response:
    body: '{"id": "private/26428975", "label": "linodego-image-replication", "description":
      "An image that does stuff.", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 0, "created_by": "ychen123", "type": "manual", "tags": [], "is_public":
      false, "deprecated": false, "vendor": null, "expiry": null, "eol": null, "status":
      "pending_upload", "capabilities": [], "regions": [], "total_size": 0}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"regions":["us-east","eu-west"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private%2F26428975/regions
    method: POST
  response:
    body: '{"id": "private/26428975", "label": "linodego-image-replication", "description":
      "An image that does stuff.", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 1, "created_by": "ychen123", "type": "manual", "tags": [], "is_public":
      false, "deprecated": false, "vendor": null, "expiry": null, "eol": null, "status":
      "available", "capabilities": [], "regions": [{"region": "us-east", "status":
      "available"}, {"region": "eu-west", "status": "pending replication"}], "total_size":
      1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
