---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/maintenance/policies
    method: GET
  response:
    body: '{"data": [{"slug": "linode/migrate", "label": "Migrate", "description":
      "Migrates the Linode to a new host while it remains fully operational. Recommended
      for maximizing availability.", "type": "migrate", "notification_period_sec":
      300, "is_default": true}, {"slug": "linode/power_off_on", "label": "Power-off/on",
      "description": "Powers off the Linode at the start of the maintenance event
      and reboots it once the maintenance finishes. Recommended for maximizing performance.",
      "type": "power_off_on", "notification_period_sec": 1800, "is_default": false}],
      "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
