---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "Backups", "NodeBalancers", "Block Storage", "GPU Linodes", "Kubernetes",
      "Cloud Firewall", "Vlans", "Block Storage Migrations", "Managed Databases",
      "Metadata"], "status": "ok", "resolvers": {"ipv4": "172.105.34.5, 172.105.35.5,
      172.105.36.5, 172.105.37.5, 172.105.38.5, 172.105.39.5, 172.105.40.5, 172.105.41.5,
      172.105.42.5, 172.105.43.5", "ipv6": "1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678"}, "placement_group_limits":
      {"maximum_pgs_per_customer": 100, "maximum_linodes_per_pg": 5}, "site_type":
      "core"}, {"id": "ca-central", "label": "Toronto, CA", "country": "ca", "capabilities":
      ["Linodes", "Backups", "NodeBalancers", "Block Storage", "Kubernetes", "Cloud
      Firewall", "Vlans", "Block Storage Migrations", "Managed Databases", "Metadata"],
      "status": "ok", "resolvers": {"ipv4": "172.105.0.5, 172.105.3.5, 172.105.4.5,
      172.105.5.5, 172.105.6.5, 172.105.7.5, 172.105.8.5, 172.105.9.5, 172.105.10.5,
      172.105.11.5", "ipv6": "1234::5678, 1234::5678,
      1234:[...]
- request:
    body: '{"label":"go-postgres-testing-def","region":"ap-west","type":"g6-nanode-1","engine":"postgresql/14.6","allow_list":["203.0.113.1","192.0.1.0/24"],"cluster_size":3,"replication_type":"asynch"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances
    method: POST
  response:
    body: '{"id": 133345, "label": "go-postgres-testing-def", "type": "g6-nanode-1",
      "engine": "postgresql", "version": "14.6", "region": "ap-west", "status": "provisioning",
      "port": 5432, "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"],
      "cluster_size": 3, "hosts": {"primary": null, "secondary": null}, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "total_disk_size_gb":
      null, "used_disk_size_gb": null, "members": {}, "ssl_connection": false, "replication_type":
      "asynch", "updates": {"frequency": "weekly", "duration": 3, "hour_of_day": 0,
      "day_of_week": null, "week_of_month": null}, "replication_commit_type": "local"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2024-06-24T16:45:40"},"entity.id":133345,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 755284949, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "lgarber-dx", "entity":
      {"label": "go-postgres-testing-def", "id": 133345, "type": "database", "url":
      "/v4/databases/postgresql/instances/133345"}, "status": "notification", "secondary_entity":
      null, "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/instances?page=1
    method: GET
  response:
    body: '{"data": [{"id": 133345, "label": "go-postgres-testing-def", "type": "g6-nanode-1",
      "engine": "postgresql", "version": "14.6", "region": "ap-west", "status": "active",
      "port": 5432, "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"],
      "cluster_size": 3, "hosts": {"primary": "lin-133345-103182-pgsql-primary.servers.linodedb.net",
      "secondary": "lin-133345-103182-pgsql-primary-private.servers.linodedb.net"},
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "total_disk_size_gb":
      0, "used_disk_size_gb": 0, "members": {"170.187.251.168": "failover", "170.187.251.240":
      "failover", "170.187.251.7": "primary"}, "updates": {"frequency": "weekly",
      "duration": 3, "hour_of_day": 2, "day_of_week": 7, "week_of_month": null}, "instance_uri":
      "/v4/databases/postgresql/instances/133345"}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/133345
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
