---
version: 1
interactions:
- request:
    body: '{"label":"testing"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients
    method: POST
  response:
    body: '{"id": 297841, "label": "testing", "api_key": "DCB2C833-9ABF-40D8-B986D9B5E62475AB",
      "install_code": "D21C8D44-D169-43D3-A04D234C1FFCE621", "apps": {"apache": 0,
      "nginx": 0, "mysql": 0}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients/297841
    method: GET
  response:
    body: '{"id": 297841, "label": "testing", "api_key": "DCB2C833-9ABF-40D8-B986D9B5E62475AB",
      "install_code": "D21C8D44-D169-43D3-A04D234C1FFCE621", "apps": {"apache": false,
      "nginx": false, "mysql": false}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients
    method: GET
  response:
    body: '{"data": [{"id": 297841, "label": "testing", "api_key": "DCB2C833-9ABF-40D8-B986D9B5E62475AB",
      "install_code": "D21C8D44-D169-43D3-A04D234C1FFCE621", "apps": {"apache": false,
      "nginx": false, "mysql": false}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05"}, {"id": 297759, "label": "testing_updated", "api_key":
      "D3C3F4FD-4E01-47EE-92A5055CEE3116D9", "install_code": "7C690D25-77C9-4207-A09693CCA51A4066",
      "apps": {"apache": false, "nginx": false, "mysql": false}, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
