---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"region": "us-west", "group": "", "label": "linodego-test-instance", "watchdog_enabled":
      true, "status": "provisioning", "created": "2018-01-02T03:04:05", "hypervisor":
      "kvm", "updated": "2018-01-02T03:04:05", "ipv6": "1234::5678/64",
      "alerts": {"network_in": 10, "network_out": 10, "io": 10000, "transfer_quota":
      80, "cpu": 90}, "backups": {"enabled": false, "schedule": {"day": null, "window":
      null}}, "ipv4": ["10.20.30.40"], "type": "g6-nanode-1", "id": 18425286, "specs":
      {"vcpus": 1, "gpus": 0, "memory": 1024, "disk": 25600, "transfer": 1000}, "image":
      "linode/debian9", "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "17"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660779"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425286/ips
    method: POST
  response:
    body: '{"subnet_mask": "10.20.30.40", "gateway": null, "public": false, "type":
      "ipv4", "rdns": null, "address": "10.0.0.1", "prefix": 17, "linode_id":
      18425286, "region": "us-west"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660882"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"10.0.0.1:8080","label":"test-label","weight":10,"mode":"accept"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53607/configs/48073/nodes
    method: POST
  response:
    body: '{"label": "test-label", "nodebalancer_id": 53607, "id": 466779, "address":
      "10.0.0.1:8080", "config_id": 48073, "mode": "accept", "status": "Unknown",
      "weight": 10}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "88"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660851"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53607/configs/48073/nodes
    method: GET
  response:
    body: '{"pages": 1, "results": 1, "page": 1, "data": [{"nodebalancer_id": 53607,
      "status": "Unknown", "weight": 10, "label": "test-label", "address": "10.0.0.1:8080",
      "id": 466779, "mode": "accept", "config_id": 48073}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660882"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53607/configs/48073/nodes/466779
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "88"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1573660851"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425286
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660881"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
