---
version: 1
interactions:
- request:
    body: '{"cluster":"us-east-1","label":"go-bucket-test-def"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-bucket-test-def.us-east-1.linodeobjects.com", "label":
      "go-bucket-test-def", "created": "2018-01-02T03:04:05", "region": "us-east",
      "cluster": "us-east-1", "size": 0, "objects": 0}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test","method":"PUT","content_type":"text/plain","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/go-bucket-test-def/object-url
    method: POST
  response:
    body: '{"url": "https://us-east-1.linodeobjects.com:443/go-bucket-test-def/test?Signature=k0XyLLvzmzaHLogj2FDHySorg6E%3D&Expires=1732717660&AWSAccessKeyID=SANITIZED",
      "exists": false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/go-bucket-test-def/object-acl?name=test
    method: GET
  response:
    body: '{"acl": "private", "acl_xml": "<AccessControlPolicy xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Owner><ID>640757b5-ebe9-45b1-abd5-581f215ef89e</ID><DisplayName>640757b5-ebe9-45b1-abd5-581f215ef89e</DisplayName></Owner><AccessControlList><Grant><Grantee
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"CanonicalUser\"><ID>640757b5-ebe9-45b1-abd5-581f215ef89e</ID><DisplayName>640757b5-ebe9-45b1-abd5-581f215ef89e</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/go-bucket-test-def/object-list
    method: GET
  response:
    body: '{"data": [{"name": "test", "size": 10, "last_modified": "2018-01-02T03:04:05.263Z",
      "etag": "7f2ababa423061c509f4923dd04b6cf1", "owner": "640757b5-ebe9-45b1-abd5-581f215ef89e"}],
      "next_marker": null, "is_truncated": false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test","acl":"public-read"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/go-bucket-test-def/object-acl
    method: PUT
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/go-bucket-test-def/object-acl?name=test
    method: GET
  response:
    body: '{"acl": "public-read", "acl_xml": "<AccessControlPolicy xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Owner><ID>640757b5-ebe9-45b1-abd5-581f215ef89e</ID><DisplayName>640757b5-ebe9-45b1-abd5-581f215ef89e</DisplayName></Owner><AccessControlList><Grant><Grantee
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"Group\"><URI>http://acs.amazonaws.com/groups/global/AllUsers</URI></Grantee><Permission>READ</Permission></Grant><Grant><Grantee
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"CanonicalUser\"><ID>640757b5-ebe9-45b1-abd5-581f215ef89e</ID><DisplayName>640757b5-ebe9-45b1-abd5-581f215ef89e</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/go-bucket-test-def
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
