---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","label":"go-test-logs-destination-1776935197455018000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1776935197455018000.us-southeast-1.linodeobjects.com",
      "label": "go-test-logs-destination-1776935197455018000", "created": "2018-01-02T03:04:05",
      "region": "us-southeast", "cluster": "us-southeast-1", "size": 0, "objects":
      0, "endpoint_type": "E0", "s3_endpoint": "us-southeast-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1776935198633001000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3392837, "label": "go-test-logs-destination-1776935198633001000",
      "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]",
      "limited": false, "bucket_access": null, "regions": [{"id": "us-east", "s3_endpoint":
      "us-east-1.linodeobjects.com", "endpoint_type": "E0"}, {"id": "us-iad", "s3_endpoint":
      "us-iad-10.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-4.linodeobjects.com", "endpoint_type": "E3"}, {"id": "us-mia", "s3_endpoint":
      "us-mia-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-10.linodeobjects.com", "endpoint_type": "E3"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-sea", "s3_endpoint":
      "us-sea-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-southeast",
      "s3_endpoint": "us-southeast-1.linodeobjects.com", "endpoint_type": "E0"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1776935201441637000","type":"akamai_object_storage","details":{"access_key_id":"C69TET90S1S6AS5S91UM","access_key_secret":"hovvXOq9Oe4MGNZoq7OliUGZ5L7xQByYEDxiwyFy","bucket_name":"go-test-logs-destination-1776935197455018000","host":"go-test-logs-destination-1776935197455018000.us-southeast-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 290, "label": "go-test-logs-destination-1776935201441637000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1776935197455018000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1776935197455018000", "access_key_id":
      "C69TET90S1S6AS5S91UM"}, "version": 1, "status": "active", "created_by": "akrzyszt_dola_testnet_admin",
      "created": "2018-01-02T03:04:05Z", "updated_by": "akrzyszt_dola_testnet_admin",
      "updated": "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1776935201441637000-upd","details":{"access_key_id":"C69TET90S1S6AS5S91UM","access_key_secret":"hovvXOq9Oe4MGNZoq7OliUGZ5L7xQByYEDxiwyFy","bucket_name":"go-test-logs-destination-1776935197455018000","host":"go-test-logs-destination-1776935197455018000.us-southeast-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/290
    method: PUT
  response:
    body: '{"id": 290, "label": "go-test-logs-destination-1776935201441637000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1776935197455018000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1776935197455018000", "access_key_id":
      "C69TET90S1S6AS5S91UM"}, "version": 2, "status": "active", "created_by": "akrzyszt_dola_testnet_admin",
      "created": "2018-01-02T03:04:05Z", "updated_by": "akrzyszt_dola_testnet_admin",
      "updated": "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/290/history?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 290, "label": "go-test-logs-destination-1776935201441637000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1776935197455018000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1776935197455018000", "access_key_id":
      "C69TET90S1S6AS5S91UM"}, "version": 2, "status": "active", "created_by": "akrzyszt_dola_testnet_admin",
      "created": "2018-01-02T03:04:05Z", "updated_by": "akrzyszt_dola_testnet_admin",
      "updated": "2018-01-02T03:04:05Z"}, {"id": 290, "label": "go-test-logs-destination-1776935201441637000",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1776935197455018000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1776935197455018000", "access_key_id":
      "C69TET90S1S6AS5S91UM"}, "version": 1, "status": "inactive", "created_by": "akrzyszt_dola_testnet_admin",
      "created": "2018-01-02T03:04:05Z", "updated_by": "akrzyszt_dola_testnet_admin",
      "updated": "2018-01-02T03:04:05Z"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3392837
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1776935197455018000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "cloud-logs-test-connection-20260423T090641", "size":
      9, "last_modified": "2018-01-02T03:04:05.043Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "cloud-logs-test-connection-20260423T090642",
      "size": 9, "last_modified": "2018-01-02T03:04:05.912Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cloud-logs-test-connection-20260423T090641","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast-1/go-test-logs-destination-1776935197455018000/object-url
    method: POST
  response:
    body: '{"url": "https://us-southeast-1.linodeobjects.com:443/go-test-logs-destination-1776935197455018000/cloud-logs-test-connection-20260423T090641?Signature=wx4Ocqt0a%2FU5rZS5K7hgFPciPNg%3D&Expires=1776935568&AWSAccessKeyID=SANITIZED",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1776935197455018000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
