---
version: 1
interactions:
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2","disks":null}],"label":"a83ef3go2h76-linodego-testing","region":"us-central","k8s_version":"1.17","tags":["testing"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 8265, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "a83ef3go2h76-linodego-testing", "region": "us-central",
      "k8s_version": "1.17", "tags": ["testing"]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "53"
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Ratelimit-Remaining:
      - "799"
      X-Ratelimit-Reset:
      - "1595868183"
      X-Spec-Version:
      - 4.69.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"count":1,"type":"g6-standard-2","disks":[{"size":1000,"type":"ext4"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/8265/pools
    method: POST
  response:
    body: '{"id": 10373, "type": "g6-standard-2", "count": 1, "nodes": [{"id": "10373-5f1f03e19443",
      "instance_id": null, "status": "not_ready"}], "disks": [{"size": 1000, "type":
      "ext4"}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "53"
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Ratelimit-Remaining:
      - "798"
      X-Ratelimit-Reset:
      - "1595868183"
      X-Spec-Version:
      - 4.69.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/8265/pools
    method: GET
  response:
    body: '{"data": [{"id": 10372, "type": "g6-standard-2", "count": 1, "nodes": [{"id":
      "10372-5f1f03e14188", "instance_id": null, "status": "not_ready"}], "disks":
      []}, {"id": 10373, "type": "g6-standard-2", "count": 1, "nodes": [{"id": "10373-5f1f03e19443",
      "instance_id": null, "status": "not_ready"}], "disks": [{"size": 1000, "type":
      "ext4"}]}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "53"
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Ratelimit-Remaining:
      - "797"
      X-Ratelimit-Reset:
      - "1595868183"
      X-Spec-Version:
      - 4.69.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/8265/pools/10373
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "52"
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Ratelimit-Remaining:
      - "796"
      X-Ratelimit-Reset:
      - "1595868183"
      X-Spec-Version:
      - 4.69.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/8265
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "52"
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Ratelimit-Remaining:
      - "795"
      X-Ratelimit-Reset:
      - "1595868183"
      X-Spec-Version:
      - 4.69.2
    status: 200 OK
    code: 200
    duration: ""
