---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account
    method: GET
  response:
    body: '{"company": "Linode", "email": "jriddle@linode.com", "first_name": "REDACTED",
      "last_name": "REDACTED", "address_1": "REDACTED", "address_2": "Unit E", "city":
      "Mooresville", "state": "REDACTED", "zip": "REDACTED", "country": "US", "phone": "REDACTED",
      "balance": -25.0, "tax_id": "", "credit_card": {"last_four": "REDACTED", "expiry":
      "REDACTED"}, "balance_uninvoiced": 0.0, "active_since": "2018-01-02T03:04:05",
      "capabilities": ["Linodes", "NodeBalancers", "Block Storage", "Object Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "LKE HA Control Planes", "Machine Images",
      "Managed Databases"], "active_promotions": [], "euuid": "REDACTED"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
