---
version: 1
interactions:
- request:
    body: '{"region":"us-east","type":"g6-nanode-1","label":"go-test-ins-reserved-ip-mnff61t6045y","root_pass":"MfG\\2W2x8{Tc1ZY4yx$W4~\u0026b\u003e|1X6;AFT89C`h3B[:0@5ollon/A4~jP|2Ze/ha1","image":"linode/alpine3.20","booted":false,"ipv4":["198.51.100.1"],"interfaces":[{"purpose":"public"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"errors": [{"reason": "Must provide a single valid reserved ipv4 address",
      "field": "ipv4"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 400 Bad Request
    code: 400
    duration: ""
