---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://59044572-44f0-47b2-b956-90ee7361bbe7.ap-west-1-gw.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"773"},"items":[{"metadata":{"name":"lke398390-606571-65341b710000","uid":"643b3a02-8317-4cb8-aa36-78b7947c2c7e","resourceVersion":"773","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"ap-west","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke398390-606571-65341b710000","kubernetes.io/os":"linux","lke.linode.com/pool-id":"606571","node.k8s.linode.com/host-uuid":"889f20e8f8117bcba05ac62c37c78a4970fc8a60","node.kubernetes.io/instance-type":"g6-standard-2","topology.kubernetes.io/region":"ap-west"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"unix:///run/containerd/containerd.sock","lke.linode.com/wgip":"172.31.0.1","lke.linode.com/wgpub":"rlxt+8T+splwH0vSv/uTVMRywjlSb3TeA78rrxa04BI=","node.alpha.kubernetes.io/ttl":"0","node.k8s.linode.com/private-ip":"192.168.137.49","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/25\"":{}}}}},{"manager":"kubeadm","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:kubeadm.alpha.kubernetes.io/cri-socket":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}}}},{"manager":"linode-cloud-controller-manager-linux","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:addresses":{"k:{\"type\":\"ExternalIP\"}":{},"k:{\"type\":\"InternalIP\"}":{".":{},"f:address":{},"f:type":{}}}}},"subresource":"status"},{"manager":"linode-cloud-controller-manager-linux","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.k8s.linode.com/private-ip":{}},"f:labels":{"f:beta.kubernetes.io/instance-type":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:node.k8s.linode.com/host-uuid":{},"f:node.kubernetes.io/instance-type":{},"f:topology.kubernetes.io/region":{}}},"f:spec":{"f:providerID":{}}}},{"manager":"kubectl-annotate","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:lke.linode.com/wgip":{},"f:lke.linode.com/wgpub":{}}}}},{"manager":"kubectl-label","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:lke.linode.com/pool-id":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:conditions":{"k:{\"type\":\"DiskPressure\"}":{"f:lastHeartbeatTime":{}},"k:{\"type\":\"MemoryPressure\"}":{"f:lastHeartbeatTime":{}},"k:{\"type\":\"PIDPressure\"}":{"f:lastHeartbeatTime":{}},"k:{\"type\":\"Ready\"}":{"f:lastHeartbeatTime":{},"f:lastTransitionTime":{},"f:message":{},"f:reason":{},"f:status":{}}},"f:images":{}}},"subresource":"status"}]},"spec":{"podCIDR":"10.2.0.0/25","podCIDRs":["10.2.0.0/25"],"providerID":"linode://75004287"},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82486728Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4022060Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76019768399","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3919660Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"True","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletReady","message":"kubelet is posting ready status"}],"addresses":[{"type":"Hostname","address":"lke398390-606571-65341b710000"},{"type":"ExternalIP","address":"45.79.126.230"},{"type":"ExternalIP","address":"1234::5678"},{"type":"InternalIP","address":"192.168.137.49"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"9edc65c6b4a24b888b6fed08346c125b","systemUUID":"9edc65c6b4a24b888b6fed08346c125b","bootID":"42e258cd-5709-424e-9486-024bd9b96321","kernelVersion":"6.1.0-27-cloud-amd64","osImage":"Debian GNU/Linux 12 (bookworm)","containerRuntimeVersion":"containerd://1.7.22","kubeletVersion":"v1.31.0","kubeProxyVersion":"","operatingSystem":"linux","architecture":"amd64"},"images":[{"names":["docker.io/bitnami/kubectl@sha256:0ed36a7f6a94c1b82d70811ed03caf3df92b4b2b8f8817d0f726f0f3a26e64af","docker.io/bitnami/kubectl:1.32"],"sizeBytes":111999415},{"names":["docker.io/calico/cni@sha256:a38d53cb8688944eafede2f0eadc478b1b403cefeff7953da57fe9cd2d65e977","docker.io/calico/cni:v3.25.0"],"sizeBytes":87984941},{"names":["docker.io/linode/kube-proxy-amd64@sha256:24a9d41bbdf437a8110841791769bd931cbc34a0be0b7bff637c36fcf63e8893","docker.io/linode/kube-proxy-amd64:v1.31.6"],"sizeBytes":30226768},{"names":["docker.io/linode/csi-node-driver-registrar@sha256:d8c1e3e9955e304361f228f5314ed5e1960fc4593867e89e8db1a90e906a4677","docker.io/linode/[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://59044572-44f0-47b2-b956-90ee7361bbe7.ap-west-1-gw.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"843"},"items":[{"metadata":{"name":"lke398390-606571-65341b710000","uid":"643b3a02-8317-4cb8-aa36-78b7947c2c7e","resourceVersion":"840","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"ap-west","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke398390-606571-65341b710000","kubernetes.io/os":"linux","lke.linode.com/pool-id":"606571","node.k8s.linode.com/host-uuid":"889f20e8f8117bcba05ac62c37c78a4970fc8a60","node.kubernetes.io/instance-type":"g6-standard-2","topology.kubernetes.io/region":"ap-west","topology.linode.com/region":"ap-west"},"annotations":{"csi.volume.kubernetes.io/nodeid":"{\"linodebs.csi.linode.com\":\"75004287\"}","kubeadm.alpha.kubernetes.io/cri-socket":"unix:///run/containerd/containerd.sock","lke.linode.com/wgip":"172.31.0.1","lke.linode.com/wgpub":"rlxt+8T+splwH0vSv/uTVMRywjlSb3TeA78rrxa04BI=","node.alpha.kubernetes.io/ttl":"0","node.k8s.linode.com/private-ip":"192.168.137.49","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","[...]
