---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "LA Disk Encryption",
      "Disk Encryption", "Backups", "NodeBalancers", "Block Storage", "Object Storage",
      "GPU Linodes", "Kubernetes", "Kubernetes Enterprise", "Cloud Firewall", "Vlans",
      "VPCs", "Block Storage Migrations", "Managed Databases", "Metadata", "Premium
      Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Interfaces"], "status": "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}], "page": 1,
      "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","label":"go-test-ins-243ash36n9hm","root_pass":"Y`\u0026aN?!''w6dtTZ16762ET~T\u0026J1/Vn\\qt9\u003e1}~7-ar''5bW1EjAkwk4N97$mITF''g6","image":"linode/debian12","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 99559026, "label": "go-test-ins-243ash36n9hm", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.24.247.226"], "ipv6": "1234::5678/128",
      "image": "linode/debian12", "region": "pl-labkrk-2", "site_type": "core", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": true, "available": false, "schedule":
      {"day": null, "window": null}, "last_successful": null}, "hypervisor": "kvm",
      "watchdog_enabled": true, "tags": [], "host_uuid": "0b60da7bdd2d3b117efa510652703d3035797129",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": ["Block Storage Encryption", "SMTP Enabled",
      "Maintenance Policy"], "interface_generation": "legacy_config", "maintenance_policy":
      "linode/migrate"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"go-test-ins-fqb547r5qz75","alerts":{"cpu":90,"io":10000,"network_in":10,"network_out":10,"transfer_quota":80},"watchdog_enabled":true,"tags":[],"group":"","maintenance_policy":"linode/migrate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/linode/instances/99559028
    method: PUT
  response:
    body: '{"id": 99559028, "label": "go-test-ins-fqb547r5qz75", "group": "", "status":
      "provi[...]
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","label":"go-test-ins-34f107wmxvk5","root_pass":"D`9QJA''V/gg009A397u0$!pBHKj),y=ps=2As4+BR2Z88hExvL4`k^''Ta9|n`7:k","image":"linode/debian12","booted":false,"maintenance_policy":"invalid_policy"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"errors": [{"reason": "Unsupported maintenance policy slug format."}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 400 BAD REQUEST
    code: 400
    duration: ""
- request:
    body: '{"label":"go-test-ins-fqb547r5qz75","alerts":{"cpu":90,"io":10000,"network_in":10,"network_out":10,"transfer_quota":80},"watchdog_enabled":true,"tags":[],"group":"","maintenance_policy":"invalid_policy"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/linode/instances/99559028
    method: PUT
  response:
    body: '{"errors": [{"reason": "Unsupported maintenance policy slug format."},
      {"reason": "Invalid value", "field": "maintenance_policy"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 400 BAD REQUEST
    code: 400
    duration: ""
[...]
