---
version: 1
interactions:
- request:
    body: '{"region":"us-ord","label":"linodego-image-test","description":"An image
      that does stuff."}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/upload
    method: POST
  response:
    body: '{"upload_to": "https://us-ord-1.linodeobjects.com:443/linode-production-machine-images-uploads/22961819?Signature=GRF9N7TR3tEl1JPipZFOT%2FKQd9g%3D&Expires=1702420468&AWSAccessKeyID=SANITIZED",
      "image": {"id": "private/22961819", "label": "linodego-image-test", "description":
      "An image that does stuff.", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 0, "created_by": "youjungk01", "type": "manual", "is_public": false,
      "deprecated": false, "vendor": null, "expiry": null, "eol": null, "status":
      "pending_upload", "capabilities": []}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private%2F22961819
    method: GET
  response:
    body: '{"id": "private/22961819", "label": "linodego-image-test", "description":
      "An image that does stuff.", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 0, "created_by": "youjungk01", "type": "manual", "is_public": false,
      "deprecated": false, "vendor": null, "expiry": null, "eol": null, "status":
      "pending_upload", "capabilities": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
