---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "Backups", "NodeBalancers", "Block Storage", "GPU Linodes", "Kubernetes",
      "Cloud Firewall", "Vlans", "Block Storage Migrations", "Managed Databases",
      "Metadata"], "status": "ok", "resolvers": {"ipv4": "172.105.34.5, 172.105.35.5,
      172.105.36.5, 172.105.37.5, 172.105.38.5, 172.105.39.5, 172.105.40.5, 172.105.41.5,
      172.105.42.5, 172.105.43.5", "ipv6": "1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678"}, "placement_group_limits":
      {"maximum_pgs_per_customer": 100, "maximum_linodes_per_pg": 5}, "site_type":
      "core"}, {"id": "ca-central", "label": "Toronto, CA", "country": "ca", "capabilities":
      ["Linodes", "Backups", "NodeBalancers", "Block Storage", "Kubernetes", "Cloud
      Firewall", "Vlans", "Block Storage Migrations", "Managed Databases", "Metadata"],
      "status": "ok", "resolvers": {"ipv4": "172.105.0.5, 172.105.3.5, 172.105.4.5,
      172.105.5.5, 172.105.6.5, 172.105.7.5, 172.105.8.5, 172.105.9.5, 172.105.10.5,
      172.105.11.5", "ipv6": "1234::5678, 1234::5678,
      1234:[...]
- request:
    body: '{"label":"go-mysql-test-defi8q3a5p4b65g","region":"ap-west","type":"g6-nanode-1","engine":"mysql/8.0.30","allow_list":["203.0.113.1","192.0.1.0/24"],"replication_type":"semi_synch","cluster_size":3}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances
    method: POST
  response:
    body: '{"id": 137649, "label": "go-mysql-test-defi8q3a5p4b65g", "type": "g6-nanode-1",
      "engine": "mysql", "version": "8.0.30", "region": "ap-west", "status": "provisioning",
      "port": 3306, "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"],
      "cluster_size": 3, "hosts": {"primary": null, "secondary": null}, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "total_disk_size_gb":
      null, "used_disk_size_gb": null, "members": {}, "ssl_connection": false, "replication_type":
      "semi_synch", "updates": {"frequency": "weekly", "duration": 3, "hour_of_day":
      0, "day_of_week": null, "week_of_month": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2024-07-03T13:05:41"},"entity.id":137649,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 765226604, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "ErikZilber", "entity":
      {"label": "go-mysql-test-defi8q3a5p4b65g", "id": 137649, "type": "database",
      "url": "/v4/databases/mysql/instances/137649"}, "status": "notification", "secondary_entity":
      null, "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances?page=1
    method: GET
  response:
    body: '{"data": [{"id": 137649, "label": "go-mysql-test-defi8q3a5p4b65g", "type":
      "g6-nanode-1", "engine": "mysql", "version": "8.0.30", "region": "ap-west",
      "status": "active", "port": 3306, "encrypted": false, "allow_list": ["203.0.113.1",
      "192.0.1.0/24"], "cluster_size": 3, "hosts": {"primary": "lin-137649-17472-mysql-primary.servers.linodedb.net",
      "secondary": "lin-137649-17472-mysql-primary-private.servers.linodedb.net"},
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "total_disk_size_gb":
      15, "used_disk_size_gb": 2, "members": {"194.195.117.71": "failover", "192.46.209.77":
      "failover", "194.195.118.252": "primary"}, "ssl_connection": false, "replication_type":
      "semi_synch", "updates": {"frequency": "weekly", "duration": 3, "hour_of_day":
      0, "day_of_week": 6, "week_of_month": null}}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/137649
    method: GET
  response:
    body: '{"id": 137649, "label": "go-mysql-test-defi8q3a5p4b65g", "type": "g6-nanode-1",
      "engine": "mysql", "version": "8.0.30", "region": "ap-west", "status": "active",
      "port": 3306, "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"],
      "cluster_size": 3, "hosts": {"primary": "lin-137649-17472-mysql-primary.servers.linodedb.net",
      "secondary": "lin-137649-17472-mysql-primary-private.servers.linodedb.net"},
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "total_disk_size_gb":
      15, "used_disk_size_gb": 2, "members": {"194.195.117.71": "failover", "192.46.209.77":
      "failover", "194.195.118.252": "primary"}, "ssl_connection": false, "replication_type":
      "semi_synch", "updates": {"frequency": "weekly", "duration": 3, "hour_of_day":
      0, "day_of_week": 6, "week_of_month": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/137649/ssl
    method: GET
  response:
    body: '{"ca_certificate": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/137649/credentials
    method: GET
  response:
    body: '{"username": "linroot", "password": "C9AU.WILGyp0uPQM"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/137649/credentials/reset
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/137649/patch
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"mysqlbackupforlinodego","target":"primary"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/137649/backups
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/137649/backups?page=1
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/137649/backups/1441811
    method: GET
  response:
    body: '{"id": 1441811, "type": "snapshot", "label": "mysqlbackupforlinodego",
      "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
