---
version: 1
interactions:
- request:
    body: '{"entity_ids":[999999999]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/token
    method: POST
  response:
    body: '{"errors": [{"reason": "The following entity_ids are not valid - [999999999]",
      "field": "entity_ids"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 403 FORBIDDEN
    code: 403
    duration: ""
