version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/support/tickets/123
    method: GET
  response:
    body: '{"id": 123, "attachments": [], "closed": null, "description": "Test description", "entity": {"id": 1, "label": "Test Entity", "type": "linode", "url": "/v4beta/linode/instances/1"}, "gravatar_id": "", "opened": "2024-06-01T12:00:00", "opened_by": "user", "status": "open", "summary": "Test summary", "updated": "2024-06-02T12:00:00", "updated_by": "user2"}'
    headers:
      Content-Type:
      - application/json
    status: 200
    code: 200
    duration: ""