---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/clusters?page=1
    method: GET
  response:
    body: '{"data": [{"id": "us-east-1", "region": "us-east", "status": "available",
      "domain": "us-east-1.linodeobjects.com", "static_site_domain": "website-us-east-1.linodeobjects.com"},
      {"id": "eu-central-1", "region": "eu-central", "status": "available", "domain":
      "eu-central-1.linodeobjects.com", "static_site_domain": "website-eu-central-1.linodeobjects.com"},
      {"id": "ap-south-1", "region": "ap-south", "status": "available", "domain":
      "ap-south-1.linodeobjects.com", "static_site_domain": "website-ap-south-1.linodeobjects.com"},
      {"id": "us-southeast-1", "region": "us-southeast", "status": "available", "doma[...]
