---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "Disk Encryption", "Backups", "NodeBalancers", "Block Storage",
      "GPU Linodes", "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations",
      "Managed Databases", "Metadata", "Placement Group"], "status": "ok", "resolvers":
      {"ipv4": "172.105.34.5, 172.105.35.5, 172.105.36.5, 172.105.37.5, 172.105.38.5,
      172.105.39.5, 172.105.40.5, 172.105.41.5, 172.105.42.5, 172.105.43.5", "ipv6":
      "1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678"}, "placement_group_limits": {"maximum_pgs_per_customer":
      null, "maximum_linodes_per_pg": 5}, "site_type": "core"}, {"id": "ca-central",
      "label": "Toronto, CA", "country": "ca", "capabilities": ["Linodes", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Kubernetes", "Cloud Firewall",
      "Vlans", "Block Storage Migrations", "Managed Databases", "Metadata", "Placement
      Group"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5, 172.105.3.5, 172.105.4.5,
      172.105.5.5, 172.105.6.5, 172.105.7.5, 172.105.8.5, 172.105.9.5, 172.105.10.5,
      172.105.11.5", "ipv6"[...]
- request:
    body: '{"region":"ap-west","type":"g6-nanode-1","label":"go-test-ins-wo-disk-av9ed8oy5353","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 64701046, "label": "go-test-ins-wo-disk-av9ed8oy5353", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["192.46.210.101"], "ipv6": "1234::5678/128",
      "image": null, "region": "ap-west", "site_type": "core", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": false, "available": false, "schedule": {"day": null,
      "window": null}, "last_successful": null}, "hypervisor": "kvm", "watchdog_enabled":
      true, "tags": [], "host_uuid": "b87012b659b947e3d8e73fccf7a05a0eaa29cc4d", "has_user_data":
      false, "placement_group": null, "disk_encryption": "disabled", "lke_cluster_id":
      null, "capabilities": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-g57p51ye06xg","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/64701046/configs
    method: POST
  response:
    body: '{"id": 67984990, "label": "go-test-conf-g57p51ye06xg", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": false, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"linode_id":64701046}'
    url: https://api.linode.com/v4beta/networking/ips?page=1
    method: GET
  response:
    body: '{"page": 1, "pages": 2, "results": 99, "data": [{"address": "45.56.98.162",
      "gateway": "45.56.98.1", "subnet_mask": "255.255.255.0", "prefix": 24, "type":
      "ipv4", "public": true, "rdns": "45-56-98-162.ip.linodeusercontent.com", "linode_id":
      39246844, "region": "us-east", "vpc_nat_1_1": null, "reserved": false}, {"address":
      "45.33.70.220", "gateway": "45.33.70.1", "subnet_mask": "255.255.255.0", "prefix":
      24, "type": "ipv4", "public": true, "rdns": "45-33-70-220.ip.linodeusercontent.com",
      "linode_id": 41549688, "region": "us-east", "vpc_nat_1_1": null, "reserved":
      false}, {"address": "143.42.129.149", "gateway": "143.42.129.1", "subnet_mask":
      "255.255.255.0", "prefix": 24, "type": "ipv4", "public": true, "rdns": "143-42-129-149.ip.linodeusercontent.com",
      "lin[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/ips?page=1&skip_ipv6_rdns=true
    method: GET
  response:
    body: '{"page": 1, "pages": 2, "results": 99, "data": [{"address": "45.56.98.162",
      "gateway": "45.56.98.1", "subnet_mask": "255.255.255.0", "prefix": 24, "type":
      "ipv4", "public": true, "rdns": "45-56-98-162.ip.linodeusercontent.com", "linode_id":
      39246844, "region": "us-ea[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"reserved":true}'
    url: https://api.linode.com/v4beta/networking/ips?page=1
    method: GET
  response:
    body: '{"page": 1, "pages": 1, "results": 1, "data": [{"address": "66.175.210.251",
      "gateway": "66.175.210.1", "subnet_mask": "255.255.255.0", "prefix": 24, "type":
      "ipv4", "public": true, "rdns": "66-175-210-251.ip.linodeusercontent.com", "linode_id":
      null, "region": "us-east", "vpc_nat_1_1": null, "reserved": true}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/64701046
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
