---
version: 1
interactions:
- request:
    body: '{"label":"bzi7l8090x1m-linodego-testing","region":"us-west","client_conn_throttle":20,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 243783, "label": "bzi7l8090x1m-linodego-testing", "region": "us-west",
      "hostname": "45-79-230-213.ip.linodeusercontent.com", "ipv4": "45.79.230.213",
      "ipv6": "1234::5678", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "client_conn_throttle": 20, "tags": [], "transfer": {"in":
      null, "out": null, "total": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin","check_interval":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/243783/configs
    method: POST
  response:
    body: '{"id": 360214, "port": 80, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 60, "check_timeout":
      30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      243783, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/243783/configs
    method: GET
  response:
    body: '{"data": [{"id": 360214, "port": 80, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 60, "check_timeout":
      30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      243783, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/243783/configs/360214
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/243783
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
