---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, India", "country": "in",
      "capabilities": ["Linodes", "NodeBalancers", "Vlans", "VPCs", "Managed Databases"],
      "status": "ok", "resolvers": {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"}},
      {"id": "ca-central", "label": "Toronto, Ontario, CAN", "country": "ca", "capabilities":
      ["Linodes", "NodeBalancers", "Vlans", "VPCs", "Managed Databases"], "status":
      "ok", "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6": "1234::5678,1234::5678,1234::5678[...]
- request:
    body: '{"region":"us-east","type":"g6-nanode-1","label":"go-test-ins-wo-disk-1sb0tf3j553y","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 24952039, "label": "go-test-ins-wo-disk-1sb0tf3j553y", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["97.107.143.104"], "ipv6": "1234::5678/128",
      "image": null, "region": "us-east", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "available": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "3a191bdfc30b9e396b3621d4aad6a565205cf57f", "has_user_data": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-094b0xr7gx0x","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/24952039/configs
    method: POST
  response:
    body: '{"id": 3158826, "label": "go-test-conf-094b0xr7gx0x", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-vpc-1698681858835945000","region":"us-east"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs
    method: POST
  response:
    body: '{"id": 1262, "label": "go-test-vpc-1698681858835945000", "description":
      "", "region": "us-east", "subnets": [], "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-vpc-test-1698681859352467000","ipv4":"192.168.0.0/25"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs/1262/subnets
    method: POST
  response:
    body: '{"id": 1039, "label": "linodego-vpc-test-1698681859352467000", "ipv4":
      "192.168.0.0/25", "linodes": [], "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-094b0xr7gx0x","comments":"","devices":{},"helpers":{"updatedb_disabled":true,"distro":true,"modules_dep":true,"network":true,"devtmpfs_automount":true},"interfaces":[{"purpose":"public"},{"label":"testvlan","purpose":"vlan"},{"purpose":"vpc","subnet_id":1039,"ipv4":{"nat_1_1":"any"}}],"memory_limit":0,"kernel":"linode/latest-64bit","init_rd":null,"root_device":"/dev/sda","run_level":"default","virt_mode":"paravirt"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/24952039/configs/3158826
    method: PUT
  response:
    body: '{"id": 3158826, "label": "go-test-conf-094b0xr7gx0x", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": [{"id": 14834, "purpose": "public", "primary":
      false, "active": false, "ipam_address": null, "label": null, "vpc_id": null,
      "subnet_id": null, "ipv4": {"vpc": "", "nat_1_1": ""}}, {"id": 14835, "purpose":
      "vlan", "primary": false, "active": false, "ipam_address": "", "label": "testvlan",
      "vpc_id": null, "subnet_id": null, "ipv4": {"vpc": "", "nat_1_1": ""}}, {"id":
      14836, "purpose": "vpc", "primary": false, "active": false, "ipam_address":
      null, "label": null, "vpc_id": 1262, "subnet_id": 1039, "ipv4": {"vpc": "192.168.0.2",
      "nat_1_1": "97.107.143.104"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs/1262/subnets/1039
    method: GET
  response:
    body: '{"id": 1039, "label": "linodego-vpc-test-1698681859352467000", "ipv4":
      "192.168.0.0/25", "linodes": [{"id": 24952039, "interfaces": [{"id": 14836,
      "active": false}]}], "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/24952039/ips
    method: GET
  response:
    body: '{"ipv4": {"public": [{"address": "97.107.143.104", "gateway": "97.107.143.1",
      "subnet_mask": "255.255.255.0", "prefix": 24, "type": "ipv4", "public": true,
      "rdns": "97-107-143-104.ip.linodeusercontent.com", "linode_id": 24952039, "region":
      "us-east", "vpc_nat_1_1": {"vpc_id": 1262, "subnet_id": 1039, "address": "192.168.0.2"}}],
      "private": [], "shared": [], "reserved": []}, "ipv6": {"slaac": {"address":
      "1234::5678", "gateway": "1234::5678", "subnet_mask": "1234::5678",
      "prefix": 64, "type": "ipv6", "rdns": null, "linode_id": 24952039, "region":
      "us-east", "public": true}, "link_local": {"address": "1234::5678",
      "gateway": "1234::5678", "subnet_mask": "1234::5678", "prefix": 64,
      "type": "ipv6", "rdns": null, "linode_id": 24952039, "region": "us-east", "public":
      false}, "global": []}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/24952039
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
