---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","label":"go-test-logs-destination-1778050340582306000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1778050340582306000.us-southeast-1.linodeobjects.com",
      "label": "go-test-logs-destination-1778050340582306000", "created": "2018-01-02T03:04:05",
      "region": "us-southeast", "cluster": "us-southeast-1", "size": 0, "objects":
      0, "endpoint_type": "E0", "s3_endpoint": "us-southeast-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778050342631137000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3576469, "label": "go-test-logs-destination-1778050342631137000",
      "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]", "limited": false,
      "bucket_access": null, "regions": [{"id": "us-east", "s3_endpoint": "us-east-1.linodeobjects.com",
      "endpoint_type": "E0"}, {"id": "us-iad", "s3_endpoint": "us-iad-10.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint": "us-lax-1.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint": "us-lax-4.linodeobjects.com",
      "endpoint_type": "E3"}, {"id": "us-mia", "s3_endpoint": "us-mia-1.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "us-ord", "s3_endpoint": "us-ord-10.linodeobjects.com",
      "endpoint_type": "E3"}, {"id": "us-ord", "s3_endpoint": "us-ord-1.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "us-sea", "s3_endpoint": "us-sea-1.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "us-southeast", "s3_endpoint": "us-southeast-1.linodeobjects.com",
      "endpoint_type": "E0"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778050344927369000","type":"akamai_object_storage","details":{"access_key_id":"[SANITIZED]","access_key_secret":"[SANITIZED]","bucket_name":"go-test-logs-destination-1778050340582306000","host":"go-test-logs-destination-1778050340582306000.us-southeast-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 406, "label": "go-test-logs-destination-1778050344927369000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778050340582306000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778050340582306000", "access_key_id":
      "[SANITIZED]"}, "version": 1, "status": "active", "created_by": "akrzyszt_dola_testnet_admin",
      "created": "2018-01-02T03:04:05", "updated_by": "akrzyszt_dola_testnet_admin",
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778050344927369000-upd","details":{"access_key_id":"[SANITIZED]","access_key_secret":"[SANITIZED]","bucket_name":"go-test-logs-destination-1778050340582306000","host":"go-test-logs-destination-1778050340582306000.us-southeast-1.linodeobjects.com","path":"updated/logs/path/"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/406
    method: PUT
  response:
    body: '{"id": 406, "label": "go-test-logs-destination-1778050344927369000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778050340582306000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778050340582306000", "path": "updated/logs/path/",
      "access_key_id": "[SANITIZED]"}, "version": 2, "status": "active",
      "created_by": "akrzyszt_dola_testnet_admin", "created": "2018-01-02T03:04:05",
      "updated_by": "akrzyszt_dola_testnet_admin", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/406/history?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 406, "label": "go-test-logs-destination-1778050344927369000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778050340582306000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778050340582306000", "path": "updated/logs/path/",
      "access_key_id": "[SANITIZED]"}, "version": 2, "status": "active",
      "created_by": "akrzyszt_dola_testnet_admin", "created": "2018-01-02T03:04:05",
      "updated_by": "akrzyszt_dola_testnet_admin", "updated": "2018-01-02T03:04:05"},
      {"id": 406, "label": "go-test-logs-destination-1778050344927369000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778050340582306000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778050340582306000", "access_key_id":
      "[SANITIZED]"}, "version": 1, "status": "inactive", "created_by": "akrzyszt_dola_testnet_admin",
      "created": "2018-01-02T03:04:05", "updated_by": "akrzyszt_dola_testnet_admin",
      "updated": "2018-01-02T03:04:05"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/406
    method: GET
  response:
    body: '{"id": 406, "label": "go-test-logs-destination-1778050344927369000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778050340582306000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778050340582306000", "path": "updated/logs/path/",
      "access_key_id": "[SANITIZED]"}, "version": 2, "status": "active",
      "created_by": "akrzyszt_dola_testnet_admin", "created": "2018-01-02T03:04:05",
      "updated_by": "akrzyszt_dola_testnet_admin", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3576469
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1778050340582306000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "cloud-logs-test-connection-20260506T065225", "size":
      9, "last_modified": "2018-01-02T03:04:05.542Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "updated/logs/path/",
      "size": 0, "last_modified": "2018-01-02T03:04:05.441Z", "etag": "d41d8cd98f00b204e9800998ecf8427e",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "updated/logs/path/cloud-logs-test-connection-20260506T065226",
      "size": 9, "last_modified": "2018-01-02T03:04:05.512Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cloud-logs-test-connection-20260506T065225","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast-1/go-test-logs-destination-1778050340582306000/object-url
    method: POST
  response:
    body: '{"url": "https://us-southeast-1.linodeobjects.com:443/go-test-logs-destination-1778050340582306000/cloud-logs-test-connection-20260506T065225?Signature=LHgYXKB%2FMLp4NRgdqhn11wRdfW4%3D&Expires=1778050710&AWSAccessKeyID=SANITIZED",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1778050340582306000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
