---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "gb-lon", "label": "London 2, UK", "country": "gb", "capabilities":
      ["Linodes", "Block Storage Encryption", "LA Disk Encryption", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Object Storage", "Kubernetes",
      "Kubernetes Enterprise", "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack",
      "Managed Databases", "Metadata", "Premium Plans", "Placement Group", "StackScripts",
      "Maintenance Policy", "Linode Interfaces"], "monitors": {"alerts": ["Managed
      Databases"], "metrics": ["Managed Databases"]}, "status": "ok", "resolvers":
      {"ipv4": "172.236.0.46,172.236.0.50,172.236.0.47,172.236.0.53,172.236.0.52,172.236.0.45,172.236.0.49,172.236.0.51,172.236.0.54,172.236.0.48",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "us-lax",
      "label": "Los Angeles, CA", "country": "us", "capabilities": ["Linodes", "Block
      Storage Encryption", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "Object Storage", "Kubernetes", "Kubernetes Enterprise", "Cloud
      Firewall", "Vlans", "VPCs", "VPC Dual Stack", "Managed Databases", "Metadata",
      "Premium Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Inte[...]
- request:
    body: '{"label":"go-postgres-testing-defps3iw033k5x0","region":"gb-lon","type":"g6-nanode-1","engine":"postgresql/14","allow_list":["203.0.113.1","192.0.1.0/24"],"cluster_size":3}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances
    method: POST
  response:
    body: '{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size": 3, "created":
      "2018-01-02T03:04:05", "encrypted": true, "engine": "postgresql", "engine_config":
      {"pg": {"io_combine_limit": 16, "io_max_combine_limit": 16, "io_max_concurrency":
      -1, "io_method": "worker", "io_workers": 3, "password_encryption": "md5"}, "pg_stat_monitor_enable":
      false, "pglookout": {"max_failover_replication_time_lag": 60}}, "hosts": {"primary":
      "a391080-akamai-prod-3296001-default.g2a.akamaidb.net", "standby": "replica-a391080-akamai-prod-3296001-default.g2a.akamaidb.net"},
      "id": 391080, "label": "go-postgres-testing-defps3iw033k5x0", "members": {},
      "port": 21554, "private_network": null, "region": "gb-lon", "ssl_connection":
      true, "status": "provisioning", "total_disk_size_gb": 9, "type": "g6-nanode-1",
      "updated": "2018-01-02T03:04:05", "updates": {"day_of_week": 3, "duration":
      4, "frequency": "weekly", "hour_of_day": 8, "pending": []}, "used_disk_size_gb":
      null, "version": "14", "platform": "rdbms-default"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2025-11-25T06:36:36"},"entity.id":391080,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1239931981, "created": "2018-01-02T03:04:05", "seen":
      false, "read": false, "percent_complete": null, "time_remaining": null, "rate":
      null, "duration": null, "action": "database_create", "username": "zliang27",
      "entity": {"label": "go-postgres-testing-defps3iw033k5x0", "id": 391080, "type":
      "database", "url": "/v4/databases/postgresql/instances/391080"}, "status": "notification",
      "secondary_entity": null, "message": "", "details": {}}], "page": 1, "pages":
      1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/instances?page=1
    method: GET
  response:
    body: '{"data": [{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size":
      3, "created": "2018-01-02T03:04:05", "encrypted": true, "engine": "postgresql",
      "engine_config": {"pg": {"io_combine_limit": 16, "io_max_combine_limit": 16,
      "io_max_concurrency": -1, "io_method": "worker", "io_workers": 3, "password_encryption":
      "md5"}, "pg_stat_monitor_enable": false, "pglookout": {"max_failover_replication_time_lag":
      60}}, "hosts": {"primary": "a391080-akamai-prod-3296001-default.g2a.akamaidb.net",
      "standby": "replica-a391080-akamai-prod-3296001-default.g2a.akamaidb.net"},
      "id": 391080, "label": "go-postgres-testing-defps3iw033k5x0", "members": {"172.236.0.242":
      "failover", "172.236.8.5": "primary", "192.0.2.0": "failover"}, "oldest_restore_time":
      "2018-01-02T03:04:05", "port": 21554, "private_network": null, "region": "gb-lon",
      "ssl_connection": true, "status": "active", "total_disk_size_gb": 9, "type":
      "g6-nanode-1", "updated": "2018-01-02T03:04:05", "updates": {"day_of_week":
      3, "duration": 4, "frequency": "weekly", "hour_of_day": 8, "pending": []}, "used_disk_size_gb":
      0, "version": "14.19", "platform": "rdbms-default"}], "page": 1, "pages": 1,
      "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/391080
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
