---
version: 1
interactions:
- request:
    body: '{"username":"linodegotest-updateusergrantsna","email":"linodegotest-updateusergrants@example.com","restricted":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: POST
  response:
    body: '{"username": "linodegotest-updateusergrantsna", "email": "linodegotest-updateusergrants@example.com",
      "restricted": true, "ssh_keys": [], "tfa_enabled": false, "verified_phone_number":
      null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"global":{"account_access":null,"add_domains":false,"add_firewalls":false,"add_images":false,"add_linodes":false,"add_longview":false,"add_nodebalancers":false,"add_stackscripts":false,"add_volumes":false,"cancel_account":false,"longview_subscription":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-updateusergrantsna/grants
    method: PUT
  response:
    body: '{"linode": [], "nodebalancer": [], "domain": [], "stackscript": [], "longview":
      [], "image": [{"id": 17578292, "label": "nspa - Alpine 3.16 Disk", "permissions":
      null}, {"id": 17578295, "label": "linode39245136 - Restore 294571 - Alpine 3.16
      Disk", "permissions": null}, {"id": 17578299, "label": "lke75477-117333-63408e2c748a
      - Boot Disk", "permissions": null}, {"id": 17578301, "label": "lke75476-117332-63408dedda63
      - Boot Disk", "permissions": null}, {"id": 17578303, "label": "lke75476-117332-63408ded6fe5
      - Boot Disk", "permissions": null}, {"id": 17578305, "label": "lke75476-117332-63408ded0595
      - Boot Disk", "permissions": null}, {"id": 17578309, "label": "lke75477-117333-63408e2ba8de
      - Boot Disk", "permissions": null}, {"id": 17578318, "label": "lke75477-117333-63408e2add48
      - Boot Disk", "permissions": null}], "volume": [{"id": 267442, "label": "tf_test-7708312883518347230",
      "permissions": null}, {"id": 271109, "label": "linodego-test-volume", "permissions":
      null}, {"id": 299657, "label": "tf_test-2637196695129364155", "permissions":
      null}, {"id": 388103, "label": "cool-cloned", "permissions": null}], "firewall":
      [], "database": [{"id": 522, "label": "scalegridgoestojapanpt2", "permissions":
      null}, {"id": 6806, "label": "tf_test-6495208472049336246", "permissions": null},
      {"id": 6807, "label": "tf_test-6874476732250362643", "permissions": null}, {"id":
      6808, "label": "tf_test-3486893335994149933", "permissions": null}], "global":
      {"add_domains": false, "add_linodes": false, "add_longview": false, "longview_subscription":
      false, "add_stackscripts": false, "add_nodebalancers": false, "add_images":
      false, "add_volumes": false, "add_firewalls": false, "add_databases": false,
      "account_access": null, "cancel_account": false}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-updateusergrantsna
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
