---
version: 1
interactions:
- request:
    body: '{"description":"linodego-testing","region":"ca-central","linodes":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/vlans
    method: POST
  response:
    body: '{"id": 1094, "region": "ca-central", "description": "linodego-testing", "linodes": [], "cidr_block": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write,linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/vlans
    method: GET
  response:
    body: '{"data": [{"id": 1074, "region": "ca-central", "description": "testing123", "linodes": [], "cidr_block": "10.20.30.40/24"}, {"id": 1075, "region": "ca-central", "description": "testing123", "linodes": [], "cidr_block": "10.20.30.40/24"}, {"id": 1076, "region": "ca-central", "description": "testing123", "linodes": [], "cidr_block": "10.20.30.40/24"}, {"id": 1077, "region": "ca-central", "description": "testing123", "linodes": [], "cidr_block": "10.20.30.40/24"}, {"id": 1079, "region": "ca-central", "description": "linodego-testing", "linodes": [], "cidr_block": null}, {"id": 1086, "region": "ca-central", "description": "linodego-testing", "linodes": [], "cidr_block": null}, {"id": 1087, "region": "ca-central", "description": "linodego-testing", "linodes": [], "cidr_block": null}, {"id": 1094, "region": "ca-central", "description": "linodego-testing", "linodes": [], "cidr_block": null}], "page": 1, "pages": 1, "results": 8}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/vlans/1094
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
