---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-definitions?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 1, "data": [{"id": 10000, "label":
      "High Memory Usage Plan Dedicated", "description": "Alert triggers when dedicated
      plan nodes consistently reach critical memory usage, risking application performance
      degradation.", "service_type": "dbaas", "type": "system", "scope": "entity",
      "class": "dedicated", "regions": [], "status": "enabled", "entity_ids": ["324478",
      "324480", "324483", "324486", "394528"], "has_more_resources": false, "severity":
      2, "rule_criteria": {"rules": [{"label": "Memory Usage", "metric": "memory_usage",
      "unit": "percent", "aggregate_function": "avg", "operator": "gt", "threshold":
      95, "dimension_filters": []}]}, "alert_channels": [{"id": 10000, "label": "Read-Write
      Channel", "url": "/monitor/alert-channels/10000", "type": "alert-channels"}],
      "trigger_conditions": {"criteria_condition": "ALL", "polling_interval_seconds":
      300, "evaluation_period_seconds": 300, "trigger_occurrences": 3}, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "created_by": "system",
      "updated_by": "system", "entities": {"url": "/monitor/services/dbaas/alert-definitions/10000/entities",
      "has_more_resources": false, "count": 5}}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions/10000/entities?page=1
    method: GET
  response:
    body: '{"data": [{"id": "324478", "label": "test-label-1", "url": "/v4/databases/mysql/instances/324478",
      "type": "dbaas"}, {"id": "324480", "label": "test-label-2", "url": "/v4/databases/postgresql/instances/324480",
      "type": "dbaas"}, {"id": "324483", "label": "test-label-3", "url":
      "/v4/databases/postgresql/instances/324483", "type": "dbaas"}, {"id": "324486",
      "label": "test-label-4", "url": "/v4/databases/postgresql/instances/324486",
      "type": "dbaas"}, {"id": "394528", "label": "test-label-5", "url": "/v4/databases/mysql/instances/394528",
      "type": "dbaas"}], "page": 1, "pages": 1, "results": 5}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
