---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-token","scopes":"linodes:read_only","expiry":"2022-05-04T01:24:59"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 37432089, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-test-token", "token": "0d171465d9130ad8230139036406487eed68656701f69176724b64effdd2142b",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-token_renamed"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/37432089
    method: PUT
  response:
    body: '{"id": 37432089, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-test-token_renamed", "token": "0d171465d9130ad8", "expiry":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
