---
version: 1
interactions:
- request:
    body: '{"label":"a83ef3go2h76-linodego-testing","rules":{"inbound":[{"ports":"22","protocol":"TCP","addresses":{"ipv4":["0.0.0.0/0"],"ipv6":["::0/0"]}}],"outbound":[{"ports":"22","protocol":"TCP","addresses":{"ipv4":["0.0.0.0/0"],"ipv6":["::0/0"]}}]},"tags":["testing"],"devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls
    method: POST
  response:
    body: '{"id": 37, "label": "a83ef3go2h76-linodego-testing", "created": "2020-02-19T19:38:16",
      "updated": "2020-02-19T19:38:16", "status": "enabled", "rules": {"inbound":
      [{"ports": "22", "protocol": "TCP", "addresses": {"ipv4": ["0.0.0.0/0"], "ipv6":
      ["::0/0"]}}], "outbound": [{"ports": "22", "protocol": "TCP", "addresses": {"ipv4":
      ["0.0.0.0/0"], "ipv6": ["::0/0"]}}]}, "tags": ["testing"]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "41"
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1593"
      X-Ratelimit-Reset:
      - "1582141138"
      X-Spec-Version:
      - 4.14.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls
    method: GET
  response:
    body: '{"data": [{"id": 19, "label": "firewall19", "created": "2020-02-10T22:24:05",
      "updated": "2020-02-10T22:24:05", "status": "disabled", "rules": {"inbound":
      [{"ports": "22", "protocol": "TCP", "addresses": {"ipv4": ["172.104.2.4"]}}]},
      "tags": []}, {"id": 20, "label": "firewall20", "created": "2020-02-11T14:48:23",
      "updated": "2020-02-11T14:48:23", "status": "disabled", "rules": {"inbound":
      [{"ports": "22", "protocol": "TCP", "addresses": {"ipv4": ["172.104.2.4"]}}]},
      "[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls/37
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "40"
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1591"
      X-Ratelimit-Reset:
      - "1582141138"
      X-Spec-Version:
      - 4.14.0
    status: 200 OK
    code: 200
    duration: ""
