---
version: 1
interactions:
- request:
    body: '{"label":"go-test-def"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 1171496, "label": "go-test-def", "access_key": "[SANITIZED]", "secret_key":
      "[SANITIZED]", "limited": false, "bucket_access": null, "regions": [{"id": "us-southeast",
      "s3_endpoint": "us-southeast-1.linodeobjects.com"}, {"id": "us-east", "s3_endpoint":
      "us-east-1.linodeobjects.com"}, {"id": "ap-south", "s3_endpoint": "ap-south-1.linodeobjects.com"},
      {"id": "eu-central", "s3_endpoint": "eu-central-1.linodeobjects.com"}, {"id":
      "us-iad", "s3_endpoint": "us-iad-1.linodeobjects.com"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-1.linodeobjects.com"}, {"id": "fr-par", "s3_endpoint": "fr-par-1.linodeobjects.com"},
      {"id": "us-sea", "s3_endpoint": "us-sea-1.linodeobjects.com"}, {"id": "br-gru",
      "s3_endpoint": "br-gru-1.linodeobjects.com"}, {"id": "nl-ams", "s3_endpoint":
      "nl-ams-1.linodeobjects.com"}, {"id": "se-sto", "s3_endpoint": "se-sto-1.linodeobjects.com"},
      {"id": "es-mad", "s3_endpoint": "es-mad-1.linodeobjects.com"}, {"id": "in-maa",
      "s3_endpoint": "in-maa-1.linodeobjects.com"}, {"id": "jp-osa", "s3_endpoint":
      "jp-osa-1.linodeobjects.com"}, {"id": "it-mil", "s3_endpoint": "it-mil-1.linodeobjects.com"},
      {"id": "us-mia", "s3_endpoint": "us-mia-1.linodeobjects.com"}, {"id": "id-cgk",
      "s3_endpoint": "id-cgk-1.linodeobjects.com"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-1.linodeobjects.com"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/1171496
    method: GET
  response:
    body: '{"id": 1171496, "label": "go-test-def", "access_key": "[SANITIZED]", "secret_key":
      "[REDACTED]", "limited": false, "bucket_access": null, "regions": [{"id": "us-southeast",
      "s3_endpoint": "us-southeast-1.linodeobjects.com"}, {"id": "us-east", "s3_endpoint":
      "us-east-1.linodeobject[...]
[...]
