---
version: 1
interactions:
- request:
    body: '{"region":"us-east","label":"linodego-image-create-upload","description":"An
      image that does stuff.","cloud_init":true,"tags":["foo","bar"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/upload
    method: POST
  response:
    body: '{"upload_to": "https://alpha.linodeobjects.com:443/linode-machine-images-upload/10044175?Signature=ef8tiIxbZuoAy%2BN%2BKO2jQ%2Bhg0yY%3D&Expires=1718393154&AWSAccessKeyID=SANITIZED",
      "image": {"id": "private/10044175", "label": "linodego-image-create-upload",
      "description": "An image that does stuff.", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "size": 0, "created_by": "lgarber", "type":
      "manual", "tags": ["bar", "foo"], "is_public": false, "deprecated": false, "vendor":
      null, "expiry": null, "eol": null, "status": "pending_upload", "capabilities":
      ["cloud-init"], "regions": [], "total_size": 0}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private%2F10044175
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
