---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users?page=1
    method: GET
  response:
    body: '{"data": [{"username": "test_user1", "email": "test_user1@example.com",
      "restricted": false, "ssh_keys": [], "tfa_enabled": true, "verified_phone_number":
      "+19895154186", "password_created": "2018-01-02T03:04:05", "last_login": {"login_datetime":
      "2018-01-02T03:04:05", "status": "successful"}, "user_type": "default"}, {"username":
      "test_user2", "email": "test_user2@example.com", "restricted": false,
      "ssh_keys": ["key1", "key2", "key3", "key4", "key5"], "tfa_enabled":
      true, "verified_phone_number": "+19895154187", "password_created": "2018-01-02T03:04:05",
      "last_login": {"login_datetime": "2018-01-02T03:04:05", "status": "successful"},
      "user_type": "default"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"channel_type":"email","details":{"email":{"usernames":["test_user1","test_user2"],"recipient_type":"user"}},"label":"linodego-sdk-test-alert-channel"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-channels
    method: POST
  response:
    body: '{"id": 10310, "label": "linodego-sdk-test-alert-channel",
      "channel_type":"email", "type":"user", "details": {"email": {"usernames": ["test_user1",
      "test_user2"], "recipient_type": "user"}}, "alerts": {"url": "/monitor/alert-channels/10310/alerts",
      "type": "alerts-definitions", "alert_count": 0}, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "created_by": "tester", "updated_by":
      "tester"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-channels/10310
    method: GET
  response:
    body: '{"id": 10310, "label": "linodego-sdk-test-alert-channel", "channel_type":
      "email", "type": "user", "details": {"email": {"usernames": ["test_user1",
      "test_user2"], "recipient_type": "user"}}, "alerts": {"url": "/monitor/alert-channels/10310/alerts",
      "type": "alerts-definitions", "alert_count": 0}, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "created_by": "tester", "updated_by":
      "tester"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
