---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-token","scopes":"linodes:read_only","expiry":"2022-08-16T06:49:40"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 39817134, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-test-token", "token": "0f354b95058ac49b8e9d6c57f87eaa44239eb5e35e288cc814ad1d028553b717",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-token_renamed"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/39817134
    method: PUT
  response:
    body: '{"id": 39817134, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-test-token_renamed", "token": "0f354b95058ac49b", "expiry":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
