---
version: 1
interactions:
- request:
    body: '{"region":"us-east"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips
    method: POST
  response:
    body: '{"address": "45.56.109.241", "gateway": "45.56.109.1", "subnet_mask": "255.255.255.0",
      "prefix": 24, "type": "ipv4", "public": true, "rdns": "45-56-109-241.ip.linodeusercontent.com",
      "linode_id": null, "region": "us-east", "vpc_nat_1_1": null, "reserved": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips/45.56.109.241
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
    method: DELETE
[...]
- request:
    body: '{"label":"go-test-def","region":"ap-west","client_conn_throttle":20,"ipv4":"45.56.109.241"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 1514285, "label": "go-test-def", "region": "ap-west", "type": "common",
      "hostname": "45.56.109.241.ip.linodeusercontent.com", "ipv4": "45.56.109.241",
      "ipv6": "2400:8904:1::ace8:54ea", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "client_conn_throttle": 20, "client_udp_sess_throttle":
      0, "lke_cluster": null, "tags": [], "transfer": {"in": null, "out": null, "total":
      null}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1514285
    method: DELETE
