---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/logins?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1571944101, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}, {"id":
      1571945711, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}, {"id":
      1571945752, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}, {"id":
      1571956173, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}, {"id":
      1571970960, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "failed", "restricted": false}, {"id": 1571970963,
      "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}, {"id":
      1571971001, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}, {"id":
      1572017249, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}, {"id":
      1572047784, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}], "page":
      1, "pages": 1, "results": 9}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/logins/1571944101
    method: GET
  response:
    body: '{"id": 1571944101, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
