---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-channels?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 1, "data": [{"id": 10000, "label": "Read-Write
      Channel", "channel_type": "email", "type": "system", "content": {"email": {"email_addresses":
      ["Users-with-read-write-access-to-resources"]}}, "alerts": [{"id": 10000, "label":
      "High Memory Usage Plan Dedicated", "url": "/monitor/alerts-definitions/10000",
      "type": "alerts-definitions"}, {"id": 10001, "label": "High Memory Usage Plan
      Shared", "url": "/monitor/alerts-definitions/10001", "type": "alerts-definitions"},
      {"id": 10002, "label": "High CPU Usage Plan Dedicated", "url": "/monitor/alerts-definitions/10002",
      "type": "alerts-definitions"}, {"id": 10003, "label": "High CPU Usage Plan Shared",
      "url": "/moni[...]
