---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account
    method: GET
  response:
    body: '{"company": "Akamai Technologies - Edge Experience - Dola", "email": "dl-pdx-dw-dola@akamai.com",
      "first_name": "", "last_name": "", "address_1": "", "address_2": "", "city":
      "", "state": "MA", "zip": "02142", "country": "US", "phone": "", "balance":
      0.0, "tax_id": "", "billing_source": "linode", "credit_card": {"last_four":
      null, "expiry": null}, "balance_uninvoiced": 0.0, "active_since": "2018-01-02T03:04:05",
      "capabilities": ["Linodes", "NodeBalancers", "Block Storage", "Object Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "LKE HA Control Planes", "VPCs", "Block
      Storage Encryption", "Machine Images", "Managed Databases", "Akamai Cloud Pulse
      Logs", "LKE Network Access Control List (IP ACL)", "Placement Group", "Object
      Storage Access Key Regions", "Object Storage Endpoint Types", "Disk Encryption",
      "LA Disk Encryption", "SMTP Enabled", "NETINT Quadra T1U", "Linode Interfaces"],
      "active_promotions": [], "euuid": "BED02C05-67D6-4FAA-BC8BB63BB77C1197"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams?page=1
    method: GET
  response:
    body: '{"pages": 0, "page": 1, "results": 0, "data": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"us-southeast","label":"go-test-logs-destination-1777377934856713000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1777377934856713000.us-southeast-1.linodeobjects.com",
      "label": "go-test-logs-destination-1777377934856713000", "created": "2018-01-02T03:04:05",
      "region": "us-southeast", "cluster": "us-southeast-1", "size": 0, "objects":
      0, "endpoint_type": "E0", "s3_endpoint": "us-southeast-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1777377936149930000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3463426, "label": "go-test-logs-destination-1777377936149930000",
      "access_key": "9OB5151U3Q8XPEU2BKIH", "secret_key": "sDMb4OydhputKDCh8Xxh2kPsBDfr87nucwwZ2ucA",
      "limited": false, "bucket_access": null, "regions": [{"id": "us-east", "s3_endpoint":
      "us-east-1.linodeobjects.com", "endpoint_type": "E0"}, {"id": "us-iad", "s3_endpoint":
      "us-iad-10.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-4.linodeobjects.com", "endpoint_type": "E3"}, {"id": "us-mia", "s3_endpoint":
      "us-mia-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-10.linodeobjects.com", "endpoint_type": "E3"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-sea", "s3_endpoint":
      "us-sea-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-southeast",
      "s3_endpoint": "us-southeast-1.linodeobjects.com", "endpoint_type": "E0"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"go-test-logs-destination-1777377943050791000","type":"akamai_object_storage","details":{"access_key_id":"9OB5151U3Q8XPEU2BKIH","access_key_secret":"sDMb4OydhputKDCh8Xxh2kPsBDfr87nucwwZ2ucA","bucket_name":"go-test-logs-destination-1777377934856713000","host":"go-test-logs-destination-1777377934856713000.us-southeast-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 301, "label": "go-test-logs-destination-1777377943050791000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1777377934856713000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777377934856713000", "access_key_id":
      "9OB5151U3Q8XPEU2BKIH"}, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05Z", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"destinations":[301,302],"label":"go-test-two-dest-1777377945040332000","type":"audit_logs"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams
    method: POST
  response:
    body: '{"errors": [{"reason": "Must contain one item", "field": "destinations"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/302
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3463429
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1777377938435308000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "cloud-logs-test-connection-20260428T120544", "size":
      9, "last_modified": "2018-01-02T03:04:05.857Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cloud-logs-test-connection-20260428T120544","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast-1/go-test-logs-destination-1777377938435308000/object-url
    method: POST
  response:
    body: '{"url": "https://us-southeast-1.linodeobjects.com:443/go-test-logs-destination-1777377938435308000/cloud-logs-test-connection-20260428T120544?Signature=pKF61sh8IhEZ4gRNZ%2B5Whbpoq2o%3D&Expires=1777378309&AWSAccessKeyID=SANITIZED",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1777377938435308000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
