---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/types
    method: GET
  response:
    body: '{"page": 1, "pages": 1, "results": 19, "data": [{"id": "g6-nanode-1", "label":
      "DBaaS - Nanode 1GB", "engines": {"mysql": [{"quantity": 1, "price": {"hourly":
      0.0225, "monthly": 15.0}}, {"quantity": 2, "price": {"hourly": 0.0375, "monthly":
      25.0}}, {"quantity": 3, "price": {"hourly": 0.0525, "monthly": 35.0}}]}, "memory":
      1024, "disk": 25600, "vcpus": 1, "class": "nanode"}, {"id": "g6-standard-1",
      "label": "DBaaS - Linode 2GB", "engines": {"mysql": [{"quantity": 1, "price":
      {"hourly": 0.045, "monthly": 30.0}}, {"quantity": 2, "price": {"hourly": 0.075,
      "monthly": 50.0}}, {"quantity": 3, "price": {"hourly": 0.105, "monthly": 70.0}}]},
      "memory": 2048, "disk": 51200, "vcpus": 1, "class": "standard"}, {"id": "g6-standard-2",
      "label": "DBaaS - Linode 4GB", "engines": {"mysql": [{"quantity": 1, "price":
      {"hourly": 0.09, "mo[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/types/g6-nanode-1
    method: GET
  response:
    body: '{"id": "g6-nanode-1", "label": "DBaaS - Nanode 1GB", "engines": {"mysql":
      [{"quantity": 1, "price": {"hourly": 0.0225, "monthly": 15.0}}, {"quantity":
      2, "price": {"hourly": 0.0375, "monthly": 25.0}}, {"quantity": 3, "price": {"hourly":
      0.0525, "monthly": 35.0}}]}, "memory": 1024, "disk": 25600, "vcpus": 1, "class":
      "nanode"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
