---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "LA Disk Encryption",
      "Disk Encryption", "Backups", "NodeBalancers", "Block Storage", "Object Storage",
      "GPU Linodes", "Kubernetes", "Kubernetes Enterprise", "Cloud Firewall", "Vlans",
      "VPCs", "VPC Dual Stack", "VPC IPv6 Stack", "Block Storage Migrations", "Managed
      Databases", "Metadata", "Premium Plans", "Placement Group", "StackScripts",
      "NETINT Quadra T1U", "Maintenance Policy", "Linode Interfaces", "Network LoadBalancer",
      "ACLP Logs Datacenter LKE-E", "Cloud Firewall Prefix List Current References"],
      "monitors": {"alerts": ["Linodes", "Managed Databases", "Network LoadBalancer",
      "NodeBalancers", "Object Storage", "logs"], "metrics": ["Linodes", "Managed
      Databases", "Network LoadBalancer", "NodeBalancers", "Object Storage", "logs"]},
      "status": "ok", "resolvers": {"ipv4": "192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 250}, "site_type": "core"}, {"id": "us-labedgeeat-2",
      "label": "East Wenatchee, US", "country": "us", "capabilities": ["Linodes",
      "Disk Encryption", "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC
      IPv6 Stack", "Metadata", "Distributed Plans", "Linode Interfaces"], "monitors":
      {"alerts": [], "metrics": []}, "status": "ok", "resolvers": {"ipv4": "192.0.2.0,192.0.2.0",
      "ipv6": "1234::5678,1234::5678"}, "placement_group_limits": {"maximum_pgs_per_customer":
      0, "maximum_linodes_per_pg": 0, "maximum_linodes_per_flexible_pg": 0}, "site_type":
      "distributed"}, {"id": "us-labedgeeat-3", "label": "East Wenatchee, US", "country":
      "us", "capabilities": ["Linodes", "Disk Encryption", "Cloud Firewall", "Vlans",
      "Metadata", "Distributed Plans", "Linode Interfaces"], "monitors": {"alerts":
      [], "metrics": []}, "status": "ok", "resolvers": {"ipv4": "192.0.2.0,192.0.2.0",
      "ipv6": "1234::5678,1234::5678"}, "placement_group_limits": {"maximum_pgs_per_customer":
      0, "maximum_linodes_per_pg": 0, "maximum_linodes_per_flexible_pg": 0}, "site_type":
      "distributed"}], "page": 1, "pages": 1, "results": 3}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-vpc-1783577991012202000","region":"pl-labkrk-2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs
    method: POST
  response:
    body: '{"id": 527295, "label": "go-test-vpc-1783577991012202000", "description":
      "", "region": "pl-labkrk-2", "ipv4": [{"range": "10.0.0.0/8"}, {"range": "192.168.0.0/17"}],
      "ipv6": null, "subnets": [], "vpc_type": "regular", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-vpc-test_invalid_label!1783577992025812000","ipv4":"192.168.0.0/25"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs/527295/subnets
    method: POST
  response:
    body: '{"errors": [{"reason": "Must only use ASCII letters, numbers, and underscores",
      "field": "label"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 400 BAD REQUEST
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs/527295
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
