---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "NodeBalancers", "Block Storage", "GPU Linodes", "Kubernetes", "Cloud
      Firewall", "Vlans", "Block Storage Migrations", "Managed Databases"], "status":
      "ok", "resolvers": {"ipv4": "172.105.34.5, 172.105.35.5, 172.105.36.5, 172.105.37.5,
      172.105.38.5, 172.105.39.5, 172.105.40.5, 172.105.41.5, 172.105.42.5, 172.105.43.5",
      "ipv6": "1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678"}}, {"id": "ca-central", "label": "Toronto, CA",
      "country": "ca", "capabilities": ["Linodes", "NodeBalancers", "Block Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations", "Managed
      Databases"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5, 172.105.3.5,
      172.105.4.5, 172.105.5.5, 172.105.6.5, 172.105.7.5, 1[...]
- request:
    body: '{"label":"go-mysql-test-def","region":"ap-west","type":"g6-nanode-1","engine":"mysql/8.0.30","allow_list":["203.0.113.1","192.0.1.0/24"],"replication_type":"semi_synch","cluster_size":3}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances
    method: POST
  response:
    body: '{"id": 28254, "label": "go-mysql-test-def", "type": "g6-nanode-1", "engine":
      "mysql", "version": "8.0.30", "region": "ap-west", "status": "provisioning",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": null, "secondary": null}, "ssl_connection": false, "replication_type":
      "semi_synch", "port": 3306, "updates": {"frequency": "weekly", "duration": 3,
      "hour_of_day": 0, "day_of_week": null, "week_of_month": null}, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2023-09-05T04:42:29"},"entity.id":28254,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 555537944, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "zliang27", "entity":
      {"label": "go-mysql-test-def", "id": 28254, "type": "database", "url": "/v4/databases/mysql/instances/28254"},
      "status": "notification", "secondary_entity": null, "message": ""}], "page":
      1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/28254
    method: GET
  response:
    body: '{"id": 28254, "label": "go-mysql-test-def", "type": "g6-nanode-1", "engine":
      "mysql", "version": "8.0.30", "region": "ap-west", "status": "active", "encrypted":
      false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size": 3, "hosts":
      {"primary": "lin-28254-15158-mysql-primary.servers.linodedb.net", "secondary":
      "lin-28254-15158-mysql-primary-private.servers.linodedb.net"}, "ssl_connection":
      false, "replication_type": "semi_synch", "port": 3306, "updates": {"frequency":
      "weekly", "duration": 3, "hour_of_day": 1, "day_of_week": 7, "week_of_month":
      null}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/28254/ssl
    method: GET
  response:
    body: '{"ca_certificate": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/28254/credentials
    method: GET
  response:
    body: '{"username": "linroot", "password": "fdKDP2hWbWctlF^w"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/28254/credentials/reset
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/28254/patch
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"mysqlbackupforlinodego","target":"primary"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/28254/backups
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/28254/backups/807908
    method: GET
  response:
    body: '{"id": 807908, "type": "snapshot", "label": "mysqlbackupforlinodego", "created":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
