---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions/vpc-availability?page=1
    method: GET
  response:
    body: '{"data": [{"region": "nl-ams", "available": true, "available_ipv6_prefix_lengths":
      []}, {"region": "fr-par-2", "available": true, "available_ipv6_prefix_lengths":
      []}, {"region": "jp-tyo-3", "available": true, "available_ipv6_prefix_lengths":
      []}, {"region": "sg-sin-2", "available": true, "available_ipv6_prefix_lengths":
      []}, {"region": "de-fra-2", "available": true, "available_ipv6_prefix_lengths":
      []}, {"region": "in-bom-2", "available": true, "available_ipv6_prefix_lengths":
      []}, {"region": "au-mel", "available": true, "available_ipv6_pr[...]
