---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://0e92bcd8-95ef-415a-99d7-5d9bc6a95a55.ap-west-1-gw.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"647"},"items":[{"metadata":{"name":"lke433259-645077-23ebee5d0000","uid":"1e7f47a2-e940-438b-8676-127e96345322","resourceVersion":"581","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"ap-west","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke433259-645077-23ebee5d0000","kubernetes.io/os":"linux","lke.linode.com/pool-id":"645077","node.k8s.linode.com/host-uuid":"b2fa42934d38726a3bfae96212b57681f45b7eec","node.kubernetes.io/instance-type":"g6-standard-2","topology.kubernetes.io/region":"ap-west"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"unix:///run/containerd/containerd.sock","lke.linode.com/wgip":"172.31.0.1","lke.linode.com/wgpub":"2VLj5yaFRdavY4jhxFdNSXYe3kM7Qa4EqqA+Rfhg4AY=","node.alpha.kubernetes.io/ttl":"0","node.k8s.linode.com/private-ip":"192.168.136.31","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/25\"":{}}}}},{"manager":"kubeadm","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:kubeadm.alpha.kubernetes.io/cri-socket":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}}}},{"manager":"linode-cloud-controller-manager-linux","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.k8s.linode.com/private-ip":{}},"f:labels":{"f:beta.kubernetes.io/instance-type":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:node.k8s.linode.com/host-uuid":{},"f:node.kubernetes.io/instance-type":{},"f:topology.kubernetes.io/region":{}}},"f:spec":{"f:providerID":{}}}},{"manager":"linode-cloud-controller-manager-linux","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:addresses":{"k:{\"type\":\"ExternalIP\"}":{},"k:{\"type\":\"InternalIP\"}":{".":{},"f:address":{},"f:type":{}}}}},"subresource":"status"},{"manager":"kubectl-annotate","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:lke.linode.com/wgip":{},"f:lke.linode.com/wgpub":{}}}}},{"manager":"kubectl-label","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:lke.linode.com/pool-id":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:conditions":{"k:{\"type\":\"DiskPressure\"}":{"f:lastHeartbeatTime":{}},"k:{\"type\":\"MemoryPressure\"}":{"f:lastHeartbeatTime":{}},"k:{\"type\":\"PIDPressure\"}":{"f:lastHeartbeatTime":{}},"k:{\"type\":\"Ready\"}":{"f:lastHeartbeatTime":{},"f:lastTransitionTime":{},"f:message":{},"f:reason":{},"f:status":{}}}}},"subresource":"status"}]},"spec":{"podCIDR":"10.2.0.0/25","podCIDRs":["10.2.0.0/25"],"providerID":"linode://76876854"},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82486728Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4022056Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76019768399","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3919656Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"True","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletReady","message":"kubelet is posting ready status"}],"addresses":[{"type":"Hostname","address":"lke433259-645077-23ebee5d0000"},{"type":"ExternalIP","address":"172.105.59.83"},{"type":"ExternalIP","address":"1234::5678"},{"type":"InternalIP","address":"192.168.136.31"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"c22fe598c2304c96839199d11e2e6cdb","systemUUID":"c22fe598c2304c96839199d11e2e6cdb","bootID":"79b08422-f0e5-4a97-bf7e-04bd20fdb880","kernelVersion":"6.1.0-30-cloud-amd64","osImage":"Debian GNU/Linux 12 (bookworm)","containerRuntimeVersion":"containerd://1.7.25","kubeletVersion":"v1.32.1","kubeProxyVersion":"v1.32.1","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Audit-Id:
      - 9bb74e92-85ce-4fc1-bf56-f6f72f8dd439
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 5cd33588-9b79-4a3c-8db3-30d50fb108d6
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 0006a400-4bc3-415e-8ea6-b07a90fa28d6
    status: 200 OK
    code: 200
    duration: ""
