---
version: 1
interactions:
- request:
    body: '{"label":"bzi7l8090x1m-linodego-testing","region":"us-southeast","client_conn_throttle":20,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 217043, "label": "bzi7l8090x1m-linodego-testing", "region": "us-southeast",
      "hostname": "45-79-244-11.ip.linodeusercontent.com", "ipv4": "45.79.244.11",
      "ipv6": "1234::5678", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "client_conn_throttle": 20, "tags": [], "transfer": {"in":
      null, "out": null, "total": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: GET
  response:
    body: '{"data": [{"id": 217043, "label": "bzi7l8090x1m-linodego-testing", "region":
      "us-southeast", "hostname": "45-79-244-11.ip.linodeusercontent.com", "ipv4":
      "45.79.244.11", "ipv6": "1234::5678", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "client_conn_throttle": 20, "tags": [], "transfer":
      {"in": null, "out": null, "total": null}}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/217043
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
