---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "gb-lon", "label": "London 2, UK", "country": "gb", "capabilities":
      ["Linodes", "Block Storage Encryption", "LA Disk Encryption", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Object Storage", "Kubernetes",
      "Kubernetes Enterprise", "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack",
      "Managed Databases", "Metadata", "Premium Plans", "Placement Group", "StackScripts",
      "Maintenance Policy", "Linode Interfaces"], "monitors": {"alerts": ["Managed
      Databases"], "metrics": ["Managed Databases"]}, "status": "ok", "resolvers":
      {"ipv4": "172.236.0.46,172.236.0.50,172.236.0.47,172.236.0.53,172.236.0.52,172.236.0.45,172.236.0.49,172.236.0.51,172.236.0.54,172.236.0.48",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "us-lax",
      "label": "Los Angeles, CA", "country": "us", "capabilities": ["Linodes", "Block
      Storage Encryption", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "Object Storage", "Kubernetes", "Kubernetes Enterprise", "Cloud
      Firewall", "Vlans", "VPCs", "VPC Dual Stack", "Managed Databases", "Metadata",
      "Premium Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Inte[...]
- request:
    body: '{"region":"gb-lon","type":"g6-nanode-1","label":"go-test-ins-wo-disk-qhu815wd45q6","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 87378981, "label": "go-test-ins-wo-disk-qhu815wd45q6", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.236.2.178"], "ipv6": "1234::5678/128",
      "image": null, "region": "gb-lon", "site_type": "core", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": false, "available": false, "schedule":
      {"day": null, "window": null}, "last_successful": null}, "hypervisor": "kvm",
      "watchdog_enabled": true, "tags": [], "host_uuid": "1a517b580644fb01505b5d1c4b8b1a26a23583b0",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": ["Block Storage Encryption", "SMTP Enabled",
      "Maintenance Policy"], "interface_generation": "legacy_config", "maintenance_policy":
      "linode/migrate", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-1d41w7hb21gb","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/87378981/configs
    method: POST
  response:
    body: '{"id": 90877355, "label": "go-test-conf-1d41w7hb21gb", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": false, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"entity_type":"linode","entity_id":87378981,"lock_type":"cannot_delete"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/locks
    method: POST
  response:
    body: '{"id": 250, "lock_type": "cannot_delete", "entity": {"id": 87378981, "type":
      "linode", "label": "go-test-ins-wo-disk-qhu815wd45q6", "url": "/v4/linode/instances/87378981"}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/locks/250
    method: GET
  response:
    body: '{"id": 250, "lock_type": "cannot_delete", "entity": {"id": 87378981, "type":
      "linode", "label": "go-test-ins-wo-disk-qhu815wd45q6", "url": "/v4/linode/instances/87378981"}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/locks?page=1
    method: GET
  response:
    body: '{"data": [{"id": 250, "lock_type": "cannot_delete", "entity": {"id": 87378981,
      "type": "linode", "label": "go-test-ins-wo-disk-qhu815wd45q6", "url": "/v4/linode/instances/87378981"}}],
      "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/87378981
    method: GET
  response:
    body: '{"id": 87378981, "label": "go-test-ins-wo-disk-qhu815wd45q6", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.236.2.178"], "ipv6": "1234::5678/128",
      "image": null, "region": "gb-lon", "si[...]
[...]
