---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, India", "country": "in",
      "capabilities": ["Linodes", "Disk Encryption", "Backups", "NodeBalancers", "Vlans",
      "VPCs", "Managed Databases", "StackScripts"], "status": "ok", "resolvers": {"ipv4":
      "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": 0, "maximum_linodes_per_pg":
      0}, "site_type": "core"}, {"id": "ca-central", "label": "Toronto, Ontario, CAN",
      "country": "ca", "capabilities": ["Linodes", "Disk Encryption", "Backups", "NodeBalancers",
      "Vlans", "VPCs", "Managed Databases", "StackScripts"], "status": "ok", "resolvers":
      {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234[...]
- request:
    body: '{"label":"postgres-db-created-with-config","region":"us-east","type":"g6-dedicated-2","engine":"postgresql/17","allow_list":["203.0.113.1","192.0.1.0/24"],"cluster_size":3,"engine_config":{"pg":{"autovacuum_analyze_scale_factor":0.1,"autovacuum_analyze_threshold":500,"autovacuum_max_workers":3,"autovacuum_naptime":60,"autovacuum_vacuum_cost_delay":100,"autovacuum_vacuum_cost_limit":2000,"autovacuum_vacuum_scale_factor":0.2,"autovacuum_vacuum_threshold":500,"bgwriter_delay":100,"bgwriter_flush_after":1000,"bgwriter_lru_maxpages":100,"bgwriter_lru_multiplier":2,"deadlock_timeout":1000,"default_toast_compression":"lz4","idle_in_transaction_session_timeout":600,"jit":true,"max_files_per_process":1000,"max_locks_per_transaction":64,"max_logical_replication_workers":4,"max_parallel_workers":8,"max_parallel_workers_per_gather":2,"max_pred_locks_per_transaction":64,"max_replication_slots":8,"max_slot_wal_keep_size":512,"max_stack_depth":2097152,"max_standby_archive_delay":30000,"max_standby_streaming_delay":30000,"max_wal_senders":20,"max_worker_processes":8,"password_encryption":"scram-sha-256","pg_partman_bgw.interval":3600,"pg_partman_bgw.role":"pg_partman_bgw","pg_stat_monitor.pgsm_enable_query_plan":true,"pg_stat_monitor.pgsm_max_buckets":10,"pg_stat_statements.track":"top","temp_file_limit":1000,"timezone":"UTC","track_activity_query_size":1024,"track_commit_timestamp":"on","track_functions":"all","track_io_timing":"on","wal_sender_timeout":60000,"wal_writer_delay":200},"pg_stat_monitor_enable":true,"pglookout":{},"shared_buffers_percentage":25,"work_mem":1024}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances
    method: POST
  response:
    body: '{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size": 3, "created":
      "2018-01-02T03:04:05", "encrypted": true, "engine": "postgresql", "engine_config":
      {"pg": {"autovacuum_analyze_scale_factor": 0.1, "autovacuum_analyze_threshold":
      500, "autovacuum_max_workers": 3, "autovacuum_naptime": 60, "autovacuum_vacuum_cost_delay":
      100, "autovacuum_vacuum_cost_limit": 2000, "autovacuum_vacuum_scale_factor":
      0.2, "autovacuum_vacuum_threshold": 500, "bgwriter_delay": 100, "bgwriter_flush_after":
      1000, "bgwriter_lru_maxpages": 100, "bgwriter_lru_multiplier": 2, "deadlock_timeout":[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2025-05-06T18:29:59"},"entity.id":16773,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 31679112, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "ykim_akamai", "entity":
      {"label": "postgres-db-created-with-config", "id": 16773, "type": "database",
      "url": "/v4/databases/postgresql/instances/16773"}, "status": "notification",
      "secondary_entity": null, "message": ""}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/16773
    method: GET
  response:
    body: '{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size": 3, "created":
      "2018-01-02T03:04:05", "encrypted": true, "engine": "postgresql", "engine_config":
      {"pg": {"autovacuum_analyze_scale_factor": 0.1, "autovacuum_analyze_threshold":
      500, "autovacuum_max_workers[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/16773
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
