---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://4cbb904c-42f8-4bc8-9dcc-7e5b25ef12b0.ap-west-1.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"537"},"items":[]}
    headers:
      Audit-Id:
      - 63372316-add9-44aa-879b-e462e51bdcc6
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - db5a73dd-ad61-4eaf-b8f4-462f026f9672
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 370a5415-201e-47c2-9058-e588cc01fd42
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://4cbb904c-42f8-4bc8-9dcc-7e5b25ef12b0.ap-west-1.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"563"},"items":[{"metadata":{"name":"lke75765-117751-6344465a30ed","uid":"98fcfd86-c99d-4fe5-85b0-0a02740b22c4","resourceVersion":"562","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke75765-117751-6344465a30ed","kubernetes.io/os":"linux"},"annotations":{"node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/24\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}},"f:spec":{"f:taints":{}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:allocatable":{"f:ephemeral-storage":{}},"f:capacity":{"f:ephemeral-storage":{}},"f:conditions":{"k:{\"type\":\"Ready\"}":{"f:message":{}}}}},"subresource":"status"}]},"spec":{"podCIDR":"10.2.0.0/24","podCIDRs":["10.2.0.0/24"],"taints":[{"key":"node.cloudprovider.kubernetes.io/uninitialized","value":"true","effect":"NoSchedule"},{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82517840Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4028096Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76048441219","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3925696Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized"}],"addresses":[{"type":"InternalIP","address":"139.144.0.164"},{"type":"Hostname","address":"lke75765-117751-6344465a30ed"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"eb9dba26b3d74385846f5fec4270b443","systemUUID":"eb9dba26b3d74385846f5fec4270b443","bootID":"4245dd8c-8854-4e21-9474-857a4c6a0f8a","kernelVersion":"5.10.0-14-cloud-amd64","osImage":"Debian GNU/Linux 11 (bullseye)","containerRuntimeVersion":"docker://20.10.15","kubeletVersion":"v1.23.6","kubeProxyVersion":"v1.23.6","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Audit-Id:
      - a08d2da1-cbc5-4bd0-8030-5a69a61b7f58
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - db5a73dd-ad61-4eaf-b8f4-462f026f9672
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 370a5415-201e-47c2-9058-e588cc01fd42
    status: 200 OK
    code: 200
    duration: ""
[...]
