---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/betas?page=1
    method: GET
  response:
    body: '{"data": [{"id": "future_open", "label": "future open beta", "description":
      "An expired closed beta", "started": "2018-01-02T03:04:05", "ended": null, "greenlight_only":
      true, "more_info": "https://linode.com"}, {"id": "active_closed", "label": "active
      closed beta", "description": "An active closed beta", "started": "2018-01-02T03:04:05",
      "ended": null, "greenlight_only": true, "more_info": "a link with even more
      info"}, {"id": "limited", "label": "limited beta", "description": "An active
      limited beta", "started": "2018-01-02T03:04:05", "ended": null, "greenlight_only":
      false, "more_info": "a link with even more info"}], "page": 1, "pages": 1, "results":
      3}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
