---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "au-mel", "label": "Melbourne, AU", "country": "au", "capabilities":
      ["Linodes", "Block Storage Encryption", "LA Disk Encryption", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Object Storage", "Kubernetes",
      "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC IPv6 Stack", "Managed
      Databases", "Metadata", "Premium Plans", "Placement Group", "StackScripts",
      "Maintenance Policy", "Linode Interfaces"], "monitors": {"alerts": ["Managed
      Databases", "NodeBalancers", "Object Storage"], "metrics": ["Managed Databases",
      "NodeBalancers", "Object Storage"]}, "status": "ok", "resolvers": {"ipv4": "172.236.32.23,172.236.32.35,172.236.32.30,172.236.32.28,172.236.32.32,172.236.32.33,172.236.32.27,172.236.32.37,172.236.32.29,172.236.32.34",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "es-mad",
      "label": "Madrid, ES", "country": "es", "capabilities": ["Linodes", "Block Storage
      Encryption", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "Object Storage", "Kubernetes", "Kubernetes Enterprise", "Cloud
      Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC IPv6 Stack", "Managed Databases",
      "Metadata", "Premium Plans", "Placement Group", "StackScripts", "Maintenance
      Policy", "Linode Interfaces"][...]
- request:
    body: '{"label":"go-test-vpc-1780673619844889000","region":"no-osl-1","ipv4":[{"range":"10.118.0.0/20"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs
    method: POST
  response:
    body: '{"id": 508850, "label": "go-test-vpc-1780673619844889000", "description":
      "", "region": "no-osl-1", "ipv4": [{"range": "10.118.0.0/20"}], "ipv6": null,
      "subnets": [], "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs/508850
    method: GET
  response:
    body: '{"id": 508850, "label": "go-test-vpc-1780673619844889000", "description":
      "", "region": "no-osl-1", "ipv4": [{"range": "10.118.0.0/20"}], "ipv6": null,
      "subnets": [], "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs?page=1
    method: GET
  response:
    body: '{"data": [{"id": 508850, "label": "go-test-vpc-1780673619844889000", "description":
      "", "region": "no-osl-1", "ipv4": [{"range": "10.118.0.0/20"}], "ipv6": null,
      "subnets": [], "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}],
      "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs/default-ranges
    method: GET
  response:
    body: '{"ipv4_ranges": ["10.0.0.0/8", "192.168.0.0/17", "172.16.0.0/12"], "forbidden_ipv4_ranges":
      ["0.0.0.0/8", "2.16.0.0/13", "8.10.2.0/24", "8.30.159.0/24", "8.41.166.0/23",
      "23.0.0.0/12", "23.32.0.0/11", "23.64.0.0/14", "23.72.0.0/13", "23.92.16.0/20",
      "23.192.0.0/11", "23.239.0.0/19", "27.116.32.0/22", "37.26.112.0/20", "38.19.168.0/22",
      "38.75.198.0/23", "38.75.202.0/23", "43.249.212.0/22", "43.254.120.0/22", "45.33.0.0/17",
      "45.56.64.0/18", "45.79.0.0/16", "45.118.132.0/22", "50.116.0.0/18", "59.151.128.0/18",
      "60.254.128.0/18", "64.89.224.0/20", "6[...]
[...]
