---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "LA Disk Encryption",
      "Disk Encryption", "Backups", "NodeBalancers", "Block Storage", "Object Storage",
      "GPU Linodes", "Kubernetes", "Kubernetes Enterprise", "Cloud Firewall", "Vlans",
      "VPCs", "VPC Dual Stack", "VPC IPv6 Stack", "Block Storage Migrations", "Managed
      Databases", "Metadata", "Premium Plans", "Placement Group", "StackScripts",
      "NETINT Quadra T1U", "Maintenance Policy", "Linode Interfaces", "Network LoadBalancer",
      "ACLP Logs Datacenter LKE-E", "Cloud Firewall Prefix List Current References"],
      "monitors": {"alerts": ["Linodes", "Managed Databases", "Network LoadBalancer",
      "NodeBalancers", "Object Storage", "logs"], "metrics": ["Linodes", "Managed
      Databases", "Network LoadBalancer", "NodeBalancers", "Object Storage", "logs"]},
      "status": "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "us-labedgeeat-2",
      "label": "East Wenatchee, US", "country": "us", "capabilities": ["Linodes",
      "Disk Encryption", "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC
      IPv6 Stack", "Metadata", "Distributed Plans", "Linode Interfaces"], "monitors":
      {"alerts": [], "metrics": []}, "status": "ok", "resolvers": {"ipv4": "173.223.100.53,173.223.101.53",
      "ipv6": "1234::5678,1234::5678"}, "placement_group_limits": {"maximum_pgs_per_customer":
      0, "maximum_linodes_per_pg": 0, "maximum_linodes_per_flexible_pg": 0}, "site_type":
      "distributed"}, {"id": "us-labedgeeat-3", "label": "East Wenatchee, US", "country":
      "us", "capabilities": ["Linodes", "Disk Encryption", "Cloud Firewall", "Vlans",
      "Metadata", "Distributed Plans", "Linode Interfaces"], "monitors": {"alerts":
      [], "metrics": []}, "status": "ok", "resolvers": {"ipv4": "173.223.100.53,173.223.101.53",
      "ipv6": "1234::5678,1234::5678"}, "placement_group_limits": {"maximum_pgs_per_customer":
      0, "maximum_linodes_per_pg": 0, "maximum_linodes_per_flexible_pg": 0}, "site_type":
      "distributed"}], "page": 1, "pages": 1, "results": 3}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-vpc-1782807920726503000","region":"pl-labkrk-2","subnets":[{"label":"linodego-vpc-test-1782807920726528000","ipv4":"192.168.0.0/25"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/vpcs
    method: POST
  response:
    body: '{"id": 510516, "label": "go-test-vpc-1782807920726503000", "description":
      "", "region": "pl-labkrk-2", "ipv4": [{"range": "10.0.0.0/8"}, {"range": "192.168.0.0/17"}],
      "ipv6": null, "subnets": [{"id": 381533, "label": "linodego-vpc-test-1782807920726528000",
      "ipv4": "192.168.0.0/25", "ipv6": null, "linodes": [], "databases": [], "nodebalancers":
      [], "vpc_type": "regular", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}],
      "vpc_type": "regular", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","label":"go-test-intf-k5gum4290k2c","root_pass":"0w90!;I2W37#cP95c~6)W=AOqT7LJsYT8A2GfGj$6a\u003e^xP$d\u0026a7oG\u003c7m][1yt~$g","image":"linode/debian12","interface_generation":"linode","booted":false,"interfaces":[{"firewall_id":1631063,"public":{"ipv4":{"addresses":[{"address":"auto","primary":true}]},"ipv6":{}}},{"firewall_id":1631063,"vpc":{"subnet_id":381533,"ipv4":{"addresses":[{"address":"auto","primary":true,"nat_1_1_address":"auto"}]}}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 102106023, "label": "go-test-intf-k5gum4290k2c", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.24.221.11", "172.24.221.195"], "ipv6":
      "1234::5678/128", "image": "linode/debian12", "region":
      "pl-labkrk-2", "site_type": "core", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices": 0}, "alerts":
      {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io":
      10000, "system_alerts": [], "user_alerts": []}, "backups": {"enabled": true,
      "available": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "de0844c3e8325b799c19259d463a9506f9a2b2d7", "has_user_data": false, "placement_group":
      null, "disk_encryption": "enabled", "lke_cluster_id": null, "capabilities":
      ["Block Storage Encryption", "SMTP Enabled", "Maintenance Policy"], "interface_generation":
      "linode", "maintenance_policy": "linode/migrate", "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/linode/instances/102106023
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/vpcs/510516
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
