---
version: 1
interactions:
- request:
    body: '{"cluster":"us-east-1","label":"linodego-test-bucket-1651626250325124704"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "linodego-test-bucket-1651626250325124704.us-east-1.linodeobjects.com",
      "label": "linodego-test-bucket-1651626250325124704", "created": "2018-01-02T03:04:05",
      "cluster": "us-east-1", "size": 0, "objects": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/linodego-test-bucket-1651626250325124704/access
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/linodego-test-bucket-1651626250325124704/access
    method: GET
  response:
    body: '{"acl": "private", "acl_xml": "<AccessControlPolicy xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Owner><ID>ee86d510-a82a-4fad-8850-ac239eb1bec2</ID><DisplayName>ee86d510-a82a-4fad-8850-ac239eb1bec2</DisplayName></Owner><AccessControlList><Grant><Grantee
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"CanonicalUser\"><ID>ee86d510-a82a-4fad-8850-ac239eb1bec2</ID><DisplayName>ee86d510-a82a-4fad-8850-ac239eb1bec2</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>",
      "cors_enabled": false, "cors_xml": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/linodego-test-bucket-1651626250325124704
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
