---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"hypervisor": "kvm", "group": "", "region": "us-west", "specs": {"memory":
      1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "disk": 25600}, "label": "linodego-test-instance",
      "image": "linode/debian9", "tags": [], "ipv4": ["10.20.30.40"], "backups":
      {"enabled": false, "schedule": {"window": null, "day": null}}, "id": 18425314,
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "ipv6":
      "1234::5678/64", "alerts": {"cpu": 90, "transfer_quota":
      80, "network_out": 10, "network_in": 10, "io": 10000}, "type": "g6-nanode-1",
      "status": "provisioning", "watchdog_enabled": true}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661044"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425314/ips
    method: POST
  response:
    body: '{"prefix": 17, "region": "us-west", "address": "192.168.030.040", "public":
      false, "gateway": null, "subnet_mask": "10.20.30.40", "rdns": null, "linode_id":
      18425314, "type": "ipv4"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661045"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.030.040:8080","label":"test-label","weight":10,"mode":"accept"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53608/configs/48074/nodes
    method: POST
  response:
    body: '{"label": "test-label", "weight": 10, "address": "192.168.030.040:8080",
      "status": "Unknown", "mode": "accept", "config_id": 48074, "id": 466780, "nodebalancer_id":
      53608}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661045"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53608/configs/48074/nodes/466780
    method: GET
  response:
    body: '{"label": "test-label", "nodebalancer_id": 53608, "id": 466780, "address":
      "192.168.030.040:8080", "config_id": 48074, "mode": "accept", "status": "Unknown",
      "weight": 10}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661045"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425314
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573661046"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
