---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services?page=1
    method: GET
  response:
    body: '{"data": [{"service_type": "dbaas", "label": "Databases", "alert": {"polling_interval_seconds":
      [300], "evaluation_period_seconds": [300], "scope": ["entity"]}}, {"service_type":
      "linode", "label": "Linodes", "alert": {"polling_interval_seconds": [300], "evaluation_period_seconds":
      [300], "scope": ["entity"]}}, {"service_type": "nodebalancer", "label": "Nodebalancers",
      "alert": {"polling_interval_seconds": [300], "evaluation_period_seconds": [300],
      "scope": ["entity"]}}, {"service_type": "firewall", "label": "Firewalls", "alert":
      {"polling_interval_seconds": [300], "evaluation_period_seconds": [300], "scope":
      ["entity"]}}], "page": 1, "pages": 1, "results": 4}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_only nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas
    method: GET
  response:
    body: '{"service_type": "dbaas", "label": "Databases", "alert": {"polling_interval_seconds":
      [300], "evaluation_period_seconds": [300], "scope": ["entity"]}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_only nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
