---
version: 1
interactions:
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing","region":"us-west","client_conn_throttle":20,"tags":null}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"client_conn_throttle": 20, "ipv6": "1234::5678", "label":
      "lpq6h62z88m4-linodego-testing", "tags": [], "region": "us-west", "transfer":
      {"out": null, "in": null, "total": null}, "ipv4": "10.20.30.40", "hostname":
      "nb-10-20-30-40.fremont.nodebalancer.linode.com", "id": 53601, "updated":
      "2018-01-02T03:04:05", "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573658961"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53601
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573658961"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
