---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images?page=1
    method: GET
  response:
    body: '{"pages": 1, "data": [{"id": "private/23849498", "label": "linode54973909
      - AlmaLinux 8 Disk", "description": "", "created": "2018-01-02T03:04:05", "updated":
      null, "size": 3719, "created_by": null, "type": "automatic", "is_public": false,
      "deprecated": false, "vendor": null, "expiry": "2018-01-02T03:04:05", "eol":
      null, "status": "available", "capabilities": []}, {"id": "private/23849499",
      "label": "linode54973867 - AlmaLinux 8 Disk", "description": "", "created":
      "2018-01-02T03:04:05", "updated": null, "size": 3741, "created_by": null, "type":
      "automatic", "is_public": false, "deprecated": false, "vendor": null, "expiry":
      "2018-01-02T03:04:05", "eol": null, "status": "available", "capabilities": []},
      {"id": "private/23849731", "label": "test-image", "description": "", "created":
      "2018-01-02T03:04:05", "updated":[...]
