---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/availability?page=1
    method: GET
  response:
    body: '{"data": [{"region": "us-central", "available": ["Linodes", "NodeBalancers",
      "Block Storage", "Kubernetes"], "unavailable": []}, {"region": "us-west", "available":
      ["Linodes", "NodeBalancers", "Block Storage", "Kubernetes"], "unavailable":
      []}, {"region": "us-southeast", "available": ["Linodes", "NodeBalancers", "Block
      Storage", "Kubernetes"], "unavailable": []}, {"region": "us-east", "available":
      ["Linodes", "NodeBalancers", "Block Storage", "Kubernetes"], "unavailable":
      []}, {"region": "eu-west", "available": ["Linodes", "NodeBalancers", "Block
      Storage", "Kubernetes"], "unavaila[...]
