---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile
    method: GET
  response:
    body: '{"uid": 1989601, "username": "lgarber-dev", "email": "REDACTED",
      "verified_phone_number": null, "timezone": "GMT", "email_notifications": false,
      "referrals": {"code": "", "url": "", "total": 0, "completed": 0, "pending":
      0, "credit": 0}, "ip_whitelist_enabled": false, "lish_auth_method": "password_keys",
      "authorized_keys": null, "two_factor_auth": true, "restricted": false, "authentication_type":
      "password"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
