---
version: 1
interactions:
- request:
    body: '{"label":"go-test-def","bucket_access":[{"cluster":"us-east-1","bucket_name":"go-bucket-test-def","permissions":"read_only"},{"cluster":"us-east-1","bucket_name":"go-bucket-test-def","permissions":"read_write"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 358564, "label": "go-test-def", "access_key": "[SANITIZED]", "secret_key":
      "[SANITIZED]", "limited": true, "bucket_access": [{"cluster": "us-east-1", "bucket_name":
      "go-bucket-test-def", "permissions": "read_only"}, {"cluster": "us-east-1",
      "bucket_name": "go-bucket-test-def", "permissions": "read_write"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/358564
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
