---
version: 1
interactions:
- request:
    body: '{"label":"linodego-token-test","scopes":"linodes:read_only","expiry":"2024-07-09T13:30:00"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 57288265, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-token-test", "token": "1043c72081856d48850ecfc614f88aeccb86272b3987441700b71b43e2698ead",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens?page=1
    method: GET
  response:
    body: '{"data": [{"id": 56990571, "scopes": "*", "created": "2018-01-02T03:04:05",
      "label": "token", "token": "9853aa8891ad9fe2", "expiry": "2018-01-02T03:04:05"},
      {"id": 57288265, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-token-test", "token": "1043c72081856d48", "expiry": "2018-01-02T03:04:05"}],
      "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/57288265
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
