---
version: 1
interactions:
- request:
    body: '{"label":"linodego-fw-test","rules":{"inbound":[{"action":"ACCEPT","label":"go-fwrule-test","ports":"22","protocol":"TCP","addresses":{"ipv4":["0.0.0.0/0"],"ipv6":["1234::5678/0"]}}],"inbound_policy":"ACCEPT","outbound":[{"action":"ACCEPT","label":"go-fwrule-test","ports":"22","protocol":"TCP","addresses":{"ipv4":["0.0.0.0/0"],"ipv6":["1234::5678/0"]}}],"outbound_policy":"ACCEPT"},"tags":["testing"],"devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls
    method: POST
  response:
    body: '{"id": 692864, "label": "linodego-fw-test", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"action": "ACCEPT", "label": "go-fwrule-test", "ports": "22", "protocol":
      "TCP", "addresses": {"ipv4": ["0.0.0.0/0"], "ipv6": ["1234::5678/0"]}}], "inbound_policy":
      "ACCEPT", "outbound": [{"action": "ACCEPT", "label": "go-fwrule-test", "ports":
      "22", "protocol": "TCP", "addresses": {"ipv4": ["0.0.0.0/0"], "ipv6": ["1234::5678/0"]}}],
      "outbound_policy": "ACCEPT", "version": 1, "fingerprint": "7bcc0f03"}, "tags":
      ["testing"], "entities": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls?page=1
    method: GET
  response:
    body: '{"data": [{"id": 433514, "label": "test-fw", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"action": "ACCEPT", "addresses": {"ipv4": ["0.0.0.0/0"], "ipv6": ["1234::5678/0"]},
      "ports": "22", "protocol": "TCP", "label": "accept-inbound-SSH", "description":
      null}], "inbound_policy": "DROP", "outbound": [], "outbound_policy": "ACCEPT",
      "version": 4, "fingerprint": "20eec66f"}, "tags": [], "entities": [{"id": 57328123,
      "type": "linode", "label": "debian-us-central", "url": "/v4/linode/instances/57328123"},
      {"id": 54748754, "type": "linode", "label": "debian-us-ord", "url": "/v4/linode/instances/54748754"}]},
      {"id": 624183, "label": "e2e-firewall-izUKXM", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"label": "ssh-accept-inbound-rule", "addresses": {"ipv4": ["207.172.164.59/32"]},
      "description": "ACCEPT SSH from test machin[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls/692864
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
