---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/stackscripts?page=1
    method: GET
  response:
    body: '{"data": [{"id": 93387, "username": "plt-sis-acdc-automation", "user_gravatar_id":
      "a325bb9108a1b62aff27336b31751439", "label": "testAPIss", "description": "This
      StackScript installs and configures MySQL", "ordinal": 0, "logo_url": "", "images":
      ["linode/debian8", "linode/debian9"], "deployments_total": 0, "deployments_active":
      0, "is_public": true, "mine": false, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "rev_note": "", "script": "#!/bin/bash", "user_defined_fields":
      []}, {"id": 93394, "username": "plt-sis-acdc-automation", "user_gravatar_id":
      "a325bb9108a1b62aff27336b31751439", "label": "testAPIss", "description": "This
      StackScript installs and configures MySQL", "ordinal": 0, "logo_url": "", "images":
      ["linode/debian8", "linode/debian9"], "deployments_total": 0, "deployments_active":
      0, "is_public": true, "mine": false, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "rev_note": "", "script": "#!/bin/bash", "user_defined_fields":
      []}, {"id": 93397, "username": "plt-sis-acdc-automation", "user_gravatar_id":
      "a325bb9108a1b62aff27336b31751439", "label": "testAPIss", "description": "This
      StackScript installs and configures MySQL", "ordinal": 0, "logo_url": "", "images":
      ["linode/debian8", "linode/debian9"], "deployments_total": 0, "deployments_active":
      0, "is_public": true, "mine": false, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "rev_note": "", "script": "#!/bin/bash\n\n# This is a
      tmp script till devcloud supports gold image capture\n# <UDF name=\"PUBLIC_KEY\"
      label=\"PUBLIC_KEY\" example=\"\" default=\"\" />\n# <UDF name=\"PRIVATE_KEY\"
      label=\"PRIVATE_KEY\" example=\"\" default=\"\" />\n\n# This merges the stackscript
      for golden image with stackscript of the saltdev-minion as single script.\n#
      <UDF name=\"BOOTSTRAP_URL\" label=\"boothstrap_url\" default=\"https://public-see.us-sea-1.linodeobjects.com/bootstrap/v2022.10.04-bootstrap-salt.sh\"
      example=\"What is the bootstrap URL\" />\n# <UDF name=\"SAL[...]
