---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams?page=1
    method: GET
  response:
    body: '{"pages": 0, "page": 1, "results": 0, "data": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "gb-lon", "label": "London 2, UK", "country": "gb", "capabilities":
      ["Linodes", "Block Storage Encryption", "LA Disk Encryption", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Object Storage", "GPU Linodes",
      "Kubernetes", "Cloud Firewall", "Vlans", "VPCs", "Managed Databases", "Metadata",
      "Premium Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Interfaces", "ACLP Logs Datacenter LKE-E"], "monitors": {"alerts":
      ["Managed Databases", "NodeBalancers"], "metrics": ["Managed Databases", "NodeBalancers"]},
      "status": "ok", "resolvers": {"ipv4": "172.236.0.46,172.236.0.50,172.236.0.47,172.236.0.53,172.236.0.52,172.236.0.45,172.236.0.49,172.236.0.51,172.236.0.54,172.236.0.48",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "se-sto",
      "label": "Stockholm, SE", "country": "se", "capabilities": ["Linodes", "Block
      Storage Encryption", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes", "Cloud Firewall",
      "Vlans", "VPCs", "Managed Databases", "Metadata", "Premium Plans", "Placement
      Group", "StackScripts", "Maintenance Policy", "Linode Interfaces"], "monitors":
      {"alerts": ["Managed Database[...]
- request:
    body: '{"region":"gb-lon","label":"go-test-logs-monitoring-1778670933771432000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname":"thisIsYourHostName",
      "label": "go-test-logs-monitoring-1778670933771432000", "created": "2018-01-02T03:04:05",
      "region": "gb-lon", "cluster": "", "size": 0, "objects": 0, "endpoint_type":
      "E3", "s3_endpoint": "gb-lon-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-monitoring-1778670939512274000","regions":["gb-lon"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3687705, "label": "go-test-logs-monitoring-1778670939512274000",
      "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]", "limited": false,
      "bucket_access": null, "regions": [{"id": "gb-lon", "s3_endpoint": "gb-lon-1.linodeobjects.com",
      "endpoint_type": "E3"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"go-test-logs-monitoring-1778670948795870000","type":"akamai_object_storage","details":{"access_key_id":"[SANITIZED]","access_key_secret":"[SANITIZED]","bucket_name":"go-test-logs-monitoring-1778670933771432000","host":"go-test-logs-monitoring-1778670933771432000.gb-lon-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 500, "label": "go-test-logs-monitoring-1778670948795870000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-monitoring-1778670933771432000.gb-lon-1.linodeobjects.com",
      "bucket_name": "go-test-logs-monitoring-1778670933771432000", "access_key_id":
      "[SANITIZED]"}, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"destinations":[500,501],"label":"go-test-two-dest-1778670951252933000","type":"audit_logs"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams
    method: POST
  response:
    body: '{"errors": [{"reason": "Must contain one item", "field": "destinations"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/501
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3687707
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-monitoring-1778670941396790000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "cloud-logs-test-connection-20260513T111550", "size":
      9, "last_modified": "2018-01-02T03:04:05.828Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cloud-logs-test-connection-20260513T111550","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-monitoring-1778670941396790000/object-url
    method: POST
  response:
    body: '{"url": "https://gb-lon-1.linodeobjects.com:443/go-test-logs-monitoring-1778670941396790000/cloud-logs-test-connection-20260513T111550?Signature=HYQjA0aBVmleg2nfSLpHArNN6qU%3D&Expires=1778671319&AWSAccessKeyID=SANITIZED&x-amz-security-token=MQpmODAwOTNlZTliMTE0ZWY1MTY1ZTA4NzMxMjRkOWJhNzg4YTQ0YjhjNWVkMjk5NGJmYjI1NGM0ZDFlZWJkM2JjCnzKxAcxE9e4dd0ahnP9p1bkmCdNdUpQfwJdbxYp2ebgCWA51k0YiYSzMWB1jMhxUmM4Z2o%2BdNg3CROZTxXRmwxWas0XsaGe6vdFneclsHz2hHkcyHlgETPMNBUSkHBS4KVb7N6uBtBMV%2ByZq6iJOlmJ%2BTmrQ1dFHkxcOEIlbc/gUM1ArwyjVuPHPj8yAAvGHjzYPj1%2BL1cUhrPUam9C4KZyQE4Gc6qqJ24EstQkMp8Tg1lIkl4jLCUfMS8fmtAIvXzxQglQFAcCRH66SWFuT%2B0nsm9k%2BiTJfRj82xj3yW1/ZNrYtj1HEhd3JKAxp0AZQqILMy1/8DC4SctqZsLACT/FsGUk9LMBf%2BRJy7BnbktkEfaC%2BrOvAcO5SsX76y16tRnWIC7j6plBGQig3AS/RTEyVpRvzVpnYzB8KKSd2Yyh/pbI3Ny0tZe/lnCk8g2wnpFGu7YJKQOOw%2BL3o0fGzD8%2BrIWw",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-monitoring-1778670941396790000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
