---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"go-test-ins-wo-disk-zdu1d7i273g4","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 38776928, "label": "go-test-ins-wo-disk-zdu1d7i273g4", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["173.230.154.247"], "ipv6": "1234::5678/128",
      "image": null, "region": "us-west", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-6e71tn7vw3d4","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/38776928/configs
    method: POST
  response:
    body: '{"id": 41302722, "label": "go-test-conf-6e71tn7vw3d4", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/38776928
    method: GET
  response:
    body: '{"id": 38776928, "label": "go-test-ins-wo-disk-zdu1d7i273g4", "group":
      "", "status": "offline", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["173.230.154.247"], "ipv6": "1234::5678/128",
      "image": null, "region": "us-west", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"disk-test-8e587cbg30lx","size":2000,"filesystem":"ext4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/38776928/disks
    method: POST
  response:
    body: '{"id": 77765989, "status": "not ready", "label": "disk-test-8e587cbg30lx",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 2000}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/38776928/disks
    method: GET
  response:
    body: '{"data": [{"id": 77765989, "status": "ready", "label": "disk-test-8e587cbg30lx",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 2000}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"size":4000}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/38776928/disks/77765989/resize
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
