---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/metric-definitions?page=1
    method: GET
  response:
    body: '{"data": [{"label": "CPU Usage", "metric": "cpu_usage", "unit": "percent",
      "metric_type": "gauge", "scrape_interval": "60s", "is_alertable": true, "available_aggregate_functions":
      ["sum", "max", "avg", "min"], "dimensions": [{"label": "Node Type", "dimension_label":
      "node_type", "values": ["primary", "secondary"]}]}, {"label": "Disk I/O Read",
      "metric": "read_iops", "unit": "iops", "metric_type": "gauge", "scrape_interval":
      "60s", "is_alertable": false, "available_aggregate_functions": ["sum", "max",
      "avg", "min"], "dimensions": [{"label": "Node Type", "dimension_label": "node_type",
      "values": ["primary", "secondary"]}]}, {"label": "Disk I/O Write", "metric":
      "write_iops", "unit": "iops", "metric_type": "gauge", "scrape_interval": "60s",
      "is_a[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"is_alertable":false}'
    url: https://api.linode.com/v4beta/monitor/services/dbaas/metric-definitions?page=1
    method: GET
  response:
    body: '{"data": [{"label": "Disk I/O Read", "metric": "read_iops", "unit": "iops",
      "metric_type": "gauge", "scrape_interval": "60s", "is_alertable": false, "available_aggregate_functions":
      ["sum", "max", "avg", "min"], "dimensions": [{"label": "Node Type", "dimension_label":
      "node_type", "values": ["primary", "secondary"]}]}, [...]
