---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls/templates/public
    method: GET
  response:
    body: '{"slug": "public", "rules": {"inbound": [{"action": "ACCEPT", "addresses":
      {"ipv4": ["0.0.0.0/0"], "ipv6": ["1234::5678/0"]}, "ports": "22", "protocol": "TCP",
      "label": "accept-inbound-ssh", "description": "Accept inbound SSH"}, {"action":
      "ACCEPT", "addresses": {"ipv4": ["0.0.0.0/0"], "ipv6": ["1234::5678/0"]}, "protocol":
      "ICMP", "label": "accept-inbound-icmp", "description": "Accept inbound ICMP"}],
      "inbound_policy": "DROP", "outbound": [], "outbound_policy": "ACCEPT"}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
