---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","label":"go-test-logs-destination-1777453739072557000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1777453739072557000.us-southeast-1.linodeobjects.com",
      "label": "go-test-logs-destination-1777453739072557000", "created": "2018-01-02T03:04:05",
      "region": "us-southeast", "cluster": "us-southeast-1", "size": 0, "objects":
      0, "endpoint_type": "E0", "s3_endpoint": "us-southeast-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1777453740358113000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3476166, "label": "go-test-logs-destination-1777453740358113000",
      "access_key": "OTN92JKY9L00JDN7QJHW", "secret_key": "yLuzTppwdVxZwVBwm40BMSDUap4cffuIquAmEmWJ",
      "limited": false, "bucket_access": null, "regions": [{"id": "us-east", "s3_endpoint":
      "us-east-1.linodeobjects.com", "endpoint_type": "E0"}, {"id": "us-iad", "s3_endpoint":
      "us-iad-10.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-4.linodeobjects.com", "endpoint_type": "E3"}, {"id": "us-mia", "s3_endpoint":
      "us-mia-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-10.linodeobjects.com", "endpoint_type": "E3"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-sea", "s3_endpoint":
      "us-sea-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-southeast",
      "s3_endpoint": "us-southeast-1.linodeobjects.com", "endpoint_type": "E0"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1777453743353878000","type":"akamai_object_storage","details":{"access_key_id":"OTN92JKY9L00JDN7QJHW","access_key_secret":"yLuzTppwdVxZwVBwm40BMSDUap4cffuIquAmEmWJ","bucket_name":"go-test-logs-destination-1777453739072557000","host":"go-test-logs-destination-1777453739072557000.us-southeast-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 357, "label": "go-test-logs-destination-1777453743353878000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1777453739072557000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777453739072557000", "access_key_id":
      "OTN92JKY9L00JDN7QJHW"}, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05Z", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"destinations":[357],"label":"go-test-log-stream-1777453744129959000","type":"audit_logs"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams
    method: POST
  response:
    body: '{"id": 161, "label": "go-test-log-stream-1777453744129959000", "type":
      "audit_logs", "destinations": [{"id": 357, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1777453743353878000", "details": {"host":
      "go-test-logs-destination-1777453739072557000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777453739072557000", "access_key_id":
      "OTN92JKY9L00JDN7QJHW"}}], "details": null, "version": 1, "status": "provisioning",
      "created_by": "dola-klipensk", "created": "2018-01-02T03:04:05Z", "updated_by":
      "dola-klipensk", "updated": "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account
    method: GET
  response:
    body: '{"company": "Akamai Technologies - Edge Experience - Dola", "email": "dl-pdx-dw-dola@akamai.com",
      "first_name": "", "last_name": "", "address_1": "", "address_2": "", "city":
      "", "state": "MA", "zip": "02142", "country": "US", "phone": "", "balance":
      0.0, "tax_id": "", "billing_source": "linode", "credit_card": {"last_four":
      null, "expiry": null}, "balance_uninvoiced": 0.0, "active_since": "2018-01-02T03:04:05",
      "capabilities": ["Linodes", "NodeBalancers", "Block Storage", "Object Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "LKE HA Control Planes", "VPCs", "Block
      Storage Encryption", "Machine Images", "Managed Databases", "Akamai Cloud Pulse
      Logs", "LKE Network Access Control List (IP ACL)", "Placement Group", "Object
      Storage Access Key Regions", "Object Storage Endpoint Types", "Disk Encryption",
      "LA Disk Encryption", "SMTP Enabled", "NETINT Quadra T1U", "Linode Interfaces"],
      "active_promotions": [], "euuid": "BED02C05-67D6-4FAA-BC8BB63BB77C1197"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/161
    method: GET
  response:
    body: '{"id": 161, "label": "go-test-log-stream-1777453744129959000", "type":
      "audit_logs", "destinations": [{"id": 357, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1777453743353878000", "details": {"host":
      "go-test-logs-destination-1777453739072557000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777453739072557000", "access_key_id":
      "OTN92JKY9L00JDN7QJHW"}}], "details": null, "version": 1, "status": "active",
      "created_by": "dola-klipensk", "created": "2018-01-02T03:04:05Z", "updated_by":
      "dola-klipensk", "updated": "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/161/history?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 161, "label": "go-test-log-stream-1777453744129959000",
      "type": "audit_logs", "destinations": [{"id": 358, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1777453748191673000", "details": {"host":
      "go-test-logs-destination-1777453744771479000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777453744771479000", "access_key_id":
      "88OS0BXWI766DSD0OLM7"}}], "details": null, "version": 2, "status": "active",
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/358
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3476170
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1777453744771479000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "cloud-logs-test-connection-20260429T090908", "size":
      9, "last_modified": "2018-01-02T03:04:05.738Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cloud-logs-test-connection-20260429T090908","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast-1/go-test-logs-destination-1777453744771479000/object-url
    method: POST
  response:
    body: '{"url": "https://us-southeast-1.linodeobjects.com:443/go-test-logs-destination-1777453744771479000/cloud-logs-test-connection-20260429T090908?Signature=ubOQZLCHj3tpr%2F%2B6qCWwF%2BLTrHs%3D&Expires=1777455685&AWSAccessKeyID=SANITIZED",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1777453744771479000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
