---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/clusters
    method: GET
  response:
    body: '{"data": [{"id": "us-east-1", "region": "us-east", "status": "available", "domain": "us-east-1.linodeobjects.com", "static_site_domain": "website-us-east-1.linodeobjects.com"}, {"id": "eu-central-1", "region": "eu-central", "status": "available", "domain": "eu-central-1.linodeobjects.com", "static_site_domain": "website-eu-central-1.linodeobjects.com"}, {"id": "ap-south-1", "region": "ap-south", "status": "available", "domain": "ap-south-1.linodeobjects.com", "static_site_domain": "website-ap-south-1.linodeobjects.com"}], "page": 1, "pages": 1, "results": 3}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
      X-Spec-Version:
      - 4.78.3
    status: 200 OK
    code: 200
    duration: ""
