---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance-wo-disk","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 19977966, "label": "linodego-test-instance-wo-disk", "group": "",
      "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["10.20.30.40"], "ipv6": "1234::5678/64",
      "image": null, "region": "us-west", "specs": {"disk": 25600, "memory": 1024,
      "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "80"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1584"
      X-Ratelimit-Reset:
      - "1585834544"
      X-Spec-Version:
      - 4.60.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/19977966/configs
    method: POST
  response:
    body: '{"id": 21359003, "label": "linodego-test-config", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "80"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1583"
      X-Ratelimit-Reset:
      - "1585834545"
      X-Spec-Version:
      - 4.60.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","entity.id":19977966,"entity.type":"linode","seen":false}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 79314392, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "linode_config_create", "username": "pccampbell",
      "entity": {"label": "linodego-test-instance-wo-disk", "id": 19977966, "type":
      "linode", "url": "/v4/linode/instances/19977966"}, "status": "notification",
      "secondary_entity": {"id": 21359003, "type": "linode_config", "label": "linodego-test-config",
      "url": "/v4/linode/instances/19977966/configs/21359003"}}, {"id": 79314390,
      "created": "2018-01-02T03:04:05", "seen": false, "read": false, "percent_complete":
      100, "time_remaining": 0, "rate": null, "duration": 5.0, "action": "linode_create",
      "username": "pccampbell", "entity": {"label": "linodego-test-instance-wo-disk",
      "id": 19977966, "type": "linode", "url": "/v4/linode/instances/19977966"}, "status":
      "finished", "secondary_entity": null}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "64"
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1582"
      X-Ratelimit-Reset:
      - "1585834544"
      X-Spec-Version:
      - 4.60.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"image":"linode/alpine3.11","root_pass":"R34lBAdP455"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/19977966/rebuild
    method: POST
  response:
    body: '{"id": 19977966, "label": "linodego-test-instance-wo-disk", "group": "",
      "status": "rebuilding", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["10.20.30.40"], "ipv6": "1234::5678/64",
      "image": "linode/alpine3.11", "region": "us-west", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "64"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1581"
      X-Ratelimit-Reset:
      - "1585834545"
      X-Spec-Version:
      - 4.60.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/19977966
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "63"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1580"
      X-Ratelimit-Reset:
      - "1585834544"
      X-Spec-Version:
      - 4.60.0
    status: 200 OK
    code: 200
    duration: ""
