---
version: 1
interactions:
- request:
    body: '{"cluster":"us-east-1","label":"linodego-test-bucket-1603371589949339000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "linodego-test-bucket-1603371589949339000.us-east-1.linodeobjects.com", "label": "linodego-test-bucket-1603371589949339000", "created": "2018-01-02T03:04:05", "cluster": "us-east-1", "size": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: GET
  response:
    body: '{"page": 1, "pages": 1, "results": 2, "data": [{"hostname": "linodego-test-bucket-1603371589949339000.us-east-1.linodeobjects.com", "label": "linodego-test-bucket-1603371589949339000", "created": "2018-01-02T03:04:05", "cluster": "us-east-1", "size": 0}, {"hostname": "testing-bucket-bosh-stemcells.us-east-1.linodeobjects.com", "label": "testing-bucket-bosh-stemcells", "created": "2018-01-02T03:04:05", "cluster": "us-east-1", "size": 108070491}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-east-1/linodego-test-bucket-1603371589949339000
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
