---
version: 1
interactions:
- request:
    body: '{"username":"linodegotest-listuser","email":"linodegotest-listuser@example.com","restricted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: POST
  response:
    body: '{"username": "linodegotest-listuser", "email": "linodegotest-listuser@example.com",
      "restricted": false, "ssh_keys": [], "tfa_enabled": false, "verified_phone_number":
      null, "password_created": null, "last_login": null, "user_type": "default"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: GET
  response:
    body: '{"data": [{"username": "lgarber-dev", "email": "lgarber@akamai.com", "restricted":
      false, "ssh_keys": ["tf_test_authorized_keys", "main", "tf_test_authorized_keys",
      "dev-server-rsa", "tf_test_authorized_keys", "foo", "fosdfo"], "tfa_enabled":
      true, "verified_phone_number": null, "password_created": null, "last_login":
      {"login_datetime": "2018-01-02T03:04:05", "status": "successful"}, "user_type":
      "default"}, {"username": "linodegotest-listuser", "email": "linodegotest-listuser@example.com",
      "restricted": false, "ssh_keys": [], "tfa_enabled": false, "verified_phone_number":
      null, "password_created": null, "last_login": null, "user_type": "default"}],
      "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-listuser
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
