---
version: 1
interactions:
- request:
    body: '{"username":"linodegotest-updateusergrants","email":"linodegotest-updateusergrants@example.com","restricted":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: POST
  response:
    body: '{"username": "linodegotest-updateusergrants", "email": "linodegotest-updateusergrants@example.com",
      "restricted": true, "ssh_keys": [], "tfa_enabled": false, "verified_phone_number":
      null, "password_created": null, "last_login": null, "user_type": "default"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"global":{"account_access":"read_only","add_databases":true,"add_domains":false,"add_firewalls":true,"add_images":true,"add_linodes":false,"add_longview":true,"add_nodebalancers":false,"add_stackscripts":true,"add_volumes":true,"cancel_account":false,"longview_subscription":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-updateusergrants/grants
    method: PUT
  response:
    body: '{"linode": [{"id": 54772819, "label": "test-instance", "permissions": null},
      {"id": 54779923, "label": "test-instance-2", "permissions": null}], "nodebalancer":
      [], "domain": [], "stackscript": [{"id": 1173356, "label": "foo", "permissions":
      null}], "longview": [], "image": [], "volume": [], "firewall": [{"id": 346984,
      "label": "cool-firewall", "permissions": null}], "database": [{"id": 522, "label":
      "scalegridgoestojapanpt2", "permissions": null}, {"id": 6806, "label": "tf_test-6495208472049336246",
      "permissions": null}, {"id": 6807, "label": "tf_test-6874476732250362643", "permissions":
      null}, {"id": 6808, "label": "tf_test-3486893335994149933", "permissions": null},
      {"id": 22775, "label": "IntTestSDK_1686065805updatedSQLDB", "permissions": null}],
      "vpc": [{"id": 21774, "label": "test", "permissions": null}, {"id": 21790, "label":
      "1707494018673859000label", "permissions": null}, {"id": 21791, "label": "1707494037856246000label",
      "permissions": null}, {"id": 21795, "label": "test-vpc", "permissions": null},
      {"id": 21804, "label": "1707497046369793000label", "permissions": null}], "global":
      {"add_volumes": true, "add_databases": true, "add_stackscripts": true, "add_domains":
      false, "add_images": true, "add_firewalls": true, "longview_subscription": false,
      "add_longview": true, "add_vpcs": false, "add_nodebalancers": false, "add_linodes":
      false, "account_access": "read_only", "cancel_account": false}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-updateusergrants
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
