---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "LA Disk Encryption",
      "Disk Encryption", "Backups", "NodeBalancers", "Block Storage", "Object Storage",
      "GPU Linodes", "Kubernetes", "Kubernetes Enterprise", "Cloud Firewall", "Vlans",
      "VPCs", "Block Storage Migrations", "Managed Databases", "Metadata", "Premium
      Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Interfaces", "Network LoadBalancer", "ACLP Logs Datacenter
      LKE-E"], "monitors": {"alerts": ["Block Storage", "Cloud Firewall", "Kubernetes",
      "Linodes", "Managed Databases", "Network LoadBalancer", "NodeBalancers", "Object
      Storage", "logs"], "metrics": ["Block Storage", "Cloud Firewall", "Kubernetes",
      "Linodes", "Managed Databases", "Network LoadBalancer", "NodeBalancers", "Object
      Storage", "logs"]}, "status": "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "us-labedgeeat-2",
      "label": "East Wenatchee, US", "country": "us", "capabilities": ["Linodes",
      "Disk Encryption", "Cloud Firewall", "Vlans", "VPCs", "Metadata", "Distributed
      Plans", "Linode Interfaces"], "monitors": {"alerts": [], "metrics": []}, "status":
      "ok", "resolvers": {"ipv4": "173.223.100.53,173.223.101.53", "ipv6": "1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": 0, "maximum_linodes_per_pg":
      0, "maximum_linodes_per_flexible_pg": 0}, "site_type": "distributed"}, {"id":
      "us-labedgeeat-3", "label": "East Wenatchee, US", "country": "us", "capabilities":
      ["Linodes", "Disk Encryption", "Cloud Firewall", "Metadata", "Distributed Plans"],
      "monitors": {"alerts": [], "metrics": []}, "status": "ok", "resolvers": {"ipv4":
      "173.223.100.53,173.223.101.53", "ipv6": "1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": 0, "maximum_linodes_per_pg":
      0, "maximum_linodes_per_flexible_pg": 0}, "site_type": "distributed"}], "page":
      1, "pages": 1, "results": 3}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","label":"go-test-logs-destination-1778092381336293000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1778092381336293000.pl-labkrk2-1.linodeobjects.com",
      "label": "go-test-logs-destination-1778092381336293000", "created": "2018-01-02T03:04:05",
      "region": "pl-labkrk-2", "cluster": "pl-labkrk2-1", "size": 0, "objects": 0,
      "endpoint_type": "E1", "s3_endpoint": "pl-labkrk2-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "12"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778092382145143000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 340783, "label": "go-test-logs-destination-1778092382145143000",
      "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]", "limited": false,
      "bucket_access": null, "regions": [{"id": "pl-labkrk-2", "s3_endpoint": "pl-labkrk2-1.linodeobjects.com",
      "endpoint_type": "E1"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "12"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778092382634636000","type":"akamai_object_storage","details":{"access_key_id":"5X3BYDLE4YQQWY63YJHM","access_key_secret":"pUKNpJi9ut96gSsSfk0BPsJqZ82hB6iOVZwc0D3O","bucket_name":"go-test-logs-destination-1778092381336293000","host":"go-test-logs-destination-1778092381336293000.pl-labkrk2-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 1098, "label": "go-test-logs-destination-1778092382634636000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778092381336293000.pl-labkrk2-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778092381336293000", "access_key_id":
      "5X3BYDLE4YQQWY63YJHM"}, "version": 1, "status": "active", "created_by": "klipensk-aclp",
      "created": "2018-01-02T03:04:05", "updated_by": "klipensk-aclp", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"destinations":[1098],"label":"go-test-log-stream-1778092384810499000","type":"audit_logs"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams
    method: POST
  response:
    body: '{"id": 2128, "label": "go-test-log-stream-1778092384810499000", "type":
      "audit_logs", "destinations": [{"id": 1098, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1778092382634636000", "details": {"host":
      "go-test-logs-destination-1778092381336293000.pl-labkrk2-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778092381336293000", "access_key_id":
      "5X3BYDLE4YQQWY63YJHM"}}], "details": null, "version": 1, "status": "provisioning",
      "created_by": "klipensk-aclp", "created": "2018-01-02T03:04:05", "updated_by":
      "klipensk-aclp", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/2128
    method: GET
  response:
    body: '{"id": 2128, "label": "go-test-log-stream-1778092384810499000", "type":
      "audit_logs", "destinations": [{"id": 1098, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1778092382634636000", "details": {"host":
      "go-test-logs-destination-1778092381336293000.pl-labkrk2-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778092381336293000", "access_key_id":
      "5X3BYDLE4YQQWY63YJHM"}}], "details": null, "version": 1, "status": "active",
      "created_by": "klipensk-aclp", "created": "2018-01-02T03:04:05", "updated_by":
      "klipensk-aclp", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/2128/history?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 2128, "label": "go-test-log-stream-1778092384810499000",
      "type": "audit_logs", "destinations": [{"id": 1099, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1778092390679630000", "details": {"host":
      [...]
- request:
    body: '{"destinations":[1098]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/2128
    method: PUT
  response:
    body: '{"errors": [{"reason": "Unable to edit Stream at this time"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 400 BAD REQUEST
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/1099
    method: DELETE
  response:
    body: '{"errors": [{"reason": "Unable to delete Destination attached to active
      or inactive Stream"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 400 BAD REQUEST
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/340784
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "12"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/pl-labkrk-2/go-test-logs-destination-1778092389375217000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "cloud-logs-test-connection-20260506T183312", "size":
      9, "last_modified": "2018-01-02T03:04:05.289Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "512fe32a-48a2-4a57-8a11-0eef806858d3"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cloud-logs-test-connection-20260506T183312","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/pl-labkrk-2/go-test-logs-destination-1778092389375217000/object-url
    method: POST
  response:
    body: '{"url": "https://pl-labkrk2-1.linodeobjects.com:443/go-test-logs-destination-1778092389375217000/cloud-logs-test-connection-20260506T183312?Signature=GdNrFnHihS15Q2mtgQjBKUHHv1s%3D&Expires=1778094450&AWSAccessKeyID=SANITIZED",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/pl-labkrk-2/go-test-logs-destination-1778092389375217000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
