---
version: 1
interactions:
- request:
    body: '{"entity_ids":[332472],"metrics":[{"name":"read_iops","aggregate_function":"avg"}],"relative_time_duration":{"unit":"hr","value":1}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://monitor-api.linode.com/v2beta/monitor/services/dbaas/metrics
    method: POST
  response:
    body: |
      {
        "data": {
          "result": [
            {
              "metric": {
                "entity_id": "332472",
                "metric_name": "avg_read_iops",
                "node_id": "primary-1"
              },
              "values": [
                [
                  1753201980,
                  "0"
                ],
                [
                  1753202040,
                  "0"
                ],
                [
                  1753202100,
                  "0"
                ],
                [
                  1753202160,
                  "0"
                ],
                [
                  1753202220,
                  "0"
                ],
                [
                  1753202280,
    [...]
