---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions/availability?page=1
    method: GET
  response:
    body: '{"data": [{"region": "us-central", "plan": "g6-standard-1", "available":
      true}, {"region": "us-central", "plan": "g6-standard-2", "available": true},
      {"region": "us-central", "plan": "g6-standard-4", "available": true}, {"region":
      "us-central", "plan": "g6-standard-6", "available": true}, {"region": "us-central",
      "plan": "g6-standard-8", "available": true}, {"region": "us-central", "plan":
      "g6-standard-16", "available": true}, {"region": "us-central", "plan": "g6-standard-20",
      "available": true}, {"region": "us-central", "plan": "[...]
[...]
