---
version: 1
interactions:
- request:
    body: '{"id":"cool-beta"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/betas
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/betas/cool-beta
    method: GET
  response:
    body: '{"id": "cool-beta", "label": "\r\n\r\nRepellat consequatur sunt qui. Fugit
      eligendi ipsa et assumenda ea aspernatur esse. A itaque iste distinctio qui
      voluptas eum enim ipsa. Labore ducimus sit voluptas expedita ut non.\r\n\r\nAtque
      iusto est cupiditate dignissimos soluta facere sunt molestias. Tenetur labore
      est est et repudiandae praesentium officiis quis. Eveniet voluptate dignissimos
      laboriosam esse maiores inventore reiciendis explicabo. Voluptas perspiciatis
      voluptatibus distinctio.\r\n\r\nQui sed esse iusto ipsa repudiandae id. Quo
      aut omnis id tenetur odio recusandae delectus iste. Dicta exercitationem voluptatem
      accusamus. Voluptatum ut nesciunt architecto maiores.\r\n\r\nRecusandae natus
      rerum aut quos aliquam. Et quisquam minima earum. Quam et quod nisi est praesentium
      fuga voluptas. Blanditiis veniam aut totam.\r\n\r\nAssumenda accusantium similique
      non reprehenderit sint deserunt harum vero. Et qui nihil ut. Reprehenderit quam
      dicta qui repellendus perspiciatis voluptatum.\r\n", "enrolled": "2018-01-02T03:04:05",
      "description": "\r\n\r\nRepellat consequatur sunt qui. Fugit eligendi ipsa et
      assumenda ea aspernatur esse. A itaque iste distinctio qui voluptas eum enim
      ipsa. Labore ducimus sit voluptas expedita ut non.\r\n\r\nAtque iusto est cupiditate
      dignissimos soluta facere sunt molestias. Tenetur labore est est et repudiandae
      praesentium officiis quis. Eveniet voluptate dignissimos laboriosam esse maiores
      inventore reiciendis explicabo. Voluptas perspiciatis voluptatibus distinctio.\r\n\r\nQui
      sed esse iusto ipsa repudiandae id. Quo aut omnis id tenetur odio recusandae
      delectus iste. Dicta exercitationem voluptatem accusamus. Voluptatum ut nesciunt
      architecto maiores.\r\n\r\nRecusandae natus rerum aut quos aliquam. Et quisquam
      minima earum. Quam et quod nisi est praesentium fuga voluptas. Blanditiis veniam
      aut totam.\r\n\r\nAssumenda accusantium similique non reprehenderit sint deserunt
      harum vero. Et qui nihil ut. Reprehenderit quam dicta qui repellendus perspiciatis
      voluptatum.\r\n", "started": "2018-01-02T03:04:05", "ended": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
