---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/monitor/streams?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 4, "data": [{"id": 1288, "label": "heliosstream1",
      "type": "audit_logs", "destinations": [{"id": 584, "type": "akamai_object_storage",
      "label": "helioslogstreamdestination", "details": {"host": "pl-labkrk2-1.devcloud.linodeobjects.com",
      "bucket_name": "helios-bucket", "path": "helioslogs", "access_key_id": "JEYJTV5JQJ86H6ZHNBAX"}}],
      "details": null, "version": 2, "status": "active", "created_by": "ndeverse-aclp",
      "created": "2018-01-02T03:04:05", "updated_by": "vivkumar-aclp", "updated":
      "2018-01-02T03:04:05"}, {"id": 2114, "label": "tgfjszqd", "type": "audit_logs",
      "destinations": [{"id": 1084, "type": "akamai_object_storage", "label": "klfikshb-upd",
      "details": {"host": "waimfikm.pl-labkrk2-1.devcloud.linodeobjects.com", "bucket_name":
      "waimfikm", "path": "updated/logs/path/", "access_key_id": "ZFYLHL1J17IJZIXDEK0V"}}],
      "details": null, "version": 1, "status": "inactive", "created_by": "sjerecze-aclp",
      "created": "2018-01-02T03:04:05", "upd[...]
