---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.dev.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, India", "country": "in",
      "capabilities": ["Linodes", "Backups", "NodeBalancers", "Vlans", "VPCs", "Managed
      Databases"], "status": "ok", "resolvers": {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "2400:8904::f03c:91ff:fea5:659,2400:8904::f03c:91ff:fea5:9282,2400:8904::f03c:91ff:fea5:b9b3,2400:8904::f03c:91ff:fea5:925a,2400:8904::f03c:91ff:fea5:22cb,2400:8904::f03c:91ff:fea5:227a,2400:8904::f03c:91ff:fea5:924c,2400:8904::f03c:91ff:fea5:f7e2,2400:8904::f03c:91ff:fea5:2205,2400:8904::f03c:91ff:fea5:9207"},
      "placement_group_limits": {"maximum_pgs_per_customer": 5, "maximum_linodes_per_pg":
      5}, "site_type": "core"}, {"id": "ca-central", "label": "Toronto, Ontario, CAN",
      "country": "ca", "capabilities": ["Linodes", "Backups", "NodeBalancers", "Vlans",
      "VPCs", "Managed Databases"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6": "2600:3c04::f03c:91ff:fea9:f63,2600:3c04::f03c:91ff:fea9:f6d,2600:3c04::f03c:91ff:fea9:f80,2600:3c04::f03c:91ff:fea9:f0f,2600:3c04::f0[...]
- request:
    body: '{"label":"linodego-test-1712861143410536000","region":"eu-west","affinity_type":"anti_affinity:local","is_strict":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.dev.linode.com/v4beta/placement/groups
    method: POST
  response:
    body: '{"id": 335, "label": "linodego-test-1712861143410536000", "region": "eu-west",
      "affinity_type": "anti_affinity:local", "is_strict": false, "is_compliant":
      true, "members": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-1712861143410536000-updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.dev.linode.com/v4beta/placement/groups/335
    method: PUT
  response:
    body: '{"id": 335, "label": "linodego-test-1712861143410536000-updated", "region":
      "eu-west", "affinity_type": "anti_affinity:local", "is_strict": false, "is_compliant":
      true, "members": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
