---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://8c82a784-38b0-4467-8dee-e6fab222a12f.us-southeast-2.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"533"},"items":[]}
    headers:
      Audit-Id:
      - 63e9e72f-9df3-4184-a808-e7c801d5d62a
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 1b20dbfe-a23e-4da0-a986-89691d4e5f46
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ca9933dd-51dd-4420-ac0d-16e718fef6ea
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://8c82a784-38b0-4467-8dee-e6fab222a12f.us-southeast-2.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"541"},"items":[{"metadata":{"name":"lke68363-106086-62f2956099eb","uid":"61026d71-ba4f-4e98-b680-ce4b8c728bc7","resourceVersion":"537","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke68363-106086-62f2956099eb","kubernetes.io/os":"linux"},"annotations":{"volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}},"f:spec":{"f:taints":{}}}}]},"spec":{"taints":[{"key":"node.cloudprovider.kubernetes.io/uninitialized","value":"true","effect":"NoSchedule"},{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82517840Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4028100Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76048441219","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3925700Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized, CSINode is not yet initialized]"}],"addresses":[{"type":"InternalIP","address":"173.230.132.77"},{"type":"Hostname","address":"lke68363-106086-62f2956099eb"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"433dd9c422f143018625380c88499c3b","systemUUID":"433dd9c422f143018625380c88499c3b","bootID":"5348ab58-1901-404f-b945-d874b275ae57","kernelVersion":"5.10.0-14-cloud-amd64","osImage":"Debian GNU/Linux 11 (bullseye)","containerRuntimeVersion":"docker://20.10.15","kubeletVersion":"v1.23.6","kubeProxyVersion":"v1.23.6","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Audit-Id:
      - a18fae20-1d55-42b5-a4dc-dc269478027e
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 1b20dbfe-a23e-4da0-a986-89691d4e5f46
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - ca9933dd-51dd-4420-ac0d-16e718fef6ea
    status: 200 OK
    code: 200
    duration: ""
[...]
