---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "gb-lon", "label": "London 2, UK", "country": "gb", "capabilities":
      ["Linodes", "Block Storage Encryption", "LA Disk Encryption", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Object Storage", "GPU Linodes",
      "Kubernetes", "Cloud Firewall", "Vlans", "VPCs", "Managed Databases", "Metadata",
      "Premium Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Interfaces", "ACLP Logs Datacenter LKE-E"], "monitors": {"alerts":
      ["Managed Databases", "NodeBalancers"], "metrics": ["Managed Databases", "NodeBalancers"]},
      "status": "ok", "resolvers": {"ipv4": "172.236.0.46,172.236.0.50,172.236.0.47,172.236.0.53,172.236.0.52,172.236.0.45,172.236.0.49,172.236.0.51,172.236.0.54,172.236.0.48",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "se-sto",
      "label": "Stockholm, SE", "country": "se", "capabilities": ["Linodes", "Block
      Storage Encryption", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes", "Cloud Firewall",
      "Vlans", "VPCs", "Managed Databases", "Metadata", "Premium Plans", "Placement
      Group", "StackScripts", "Maintenance Policy", "Linode Interfaces"], "monitors":
      {"alerts": ["Managed Database[...]
- request:
    body: '{"region":"gb-lon","label":"go-test-logs-monitoring-1778673809872719000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname":"thisIsYourHostName",
      "label": "go-test-logs-monitoring-1778673809872719000", "created": "2018-01-02T03:04:05",
      "region": "gb-lon", "cluster": "", "size": 0, "objects": 0, "endpoint_type":
      "E3", "s3_endpoint": "gb-lon-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-monitoring-1778673814018227000","regions":["gb-lon"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3687956, "label": "go-test-logs-monitoring-1778673814018227000",
      "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]", "limited": false,
      "bucket_access": null, "regions": [{"id": "gb-lon", "s3_endpoint": "gb-lon-1.linodeobjects.com",
      "endpoint_type": "E3"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-monitoring-1778673815866646000","type":"akamai_object_storage","details":{"access_key_id":"[SANITIZED]","access_key_secret":"[SANITIZED]","bucket_name":"go-test-logs-monitoring-1778673809872719000","host":"go-test-logs-monitoring-1778673809872719000.gb-lon-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 503, "label": "go-test-logs-monitoring-1778673815866646000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-monitoring-1778673809872719000.gb-lon-1.linodeobjects.com",
      "bucket_name": "go-test-logs-monitoring-1778673809872719000", "access_key_id":
      "[SANITIZED]"}, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams?page=1
    method: GET
  response:
    body: '{"pages": 0, "page": 1, "results": 0, "data": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"destinations":[503],"label":"go-test-log-stream-1778673817548386000","type":"audit_logs"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams
    method: POST
  response:
    body: '{"id": 228, "label": "go-test-log-stream-1778673817548386000", "type":
      "audit_logs", "destinations": [{"id": 503, "type": "akamai_object_storage",
      "label": "go-test-logs-monitoring-1778673815866646000", "details": {"host":
      "go-test-logs-monitoring-1778673809872719000.gb-lon-1.linodeobjects.com", "bucket_name":
      "go-test-logs-monitoring-1778673809872719000", "access_key_id": "[SANITIZED]"}}],
      "details": null, "version": 1, "status": "provisioning", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/228
    method: GET
  response:
    body: '{"id": 228, "label": "go-test-log-stream-1778673817548386000", "type":
      "audit_logs", "destinations": [{"id": 503, "type": "akamai_object_storage",
      "label": "go-test-logs-monitoring-1778673815866646000", "details": {"host":
      "go-test-logs-monitoring-1778673809872719000.gb-lon-1.linodeobjects.com", "bucket_name":
      "go-test-logs-monitoring-1778673809872719000", "access_key_id": "[SANITIZED]"}}],
      "details": null, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/228
    method: GET
  response:
    body: '{"errors": [{"reason": "Stream not found"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/503
    method: GET
  response:
    body: '{"id": 503, "label": "go-test-logs-monitoring-1778673815866646000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-monitoring-1778673809872719000.gb-lon-1.linodeobjects.com",
      "bucket_name": "go-test-logs-monitoring-1778673809872719000", "access_key_id":
      "[SANITIZED]"}, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3687956
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-monitoring-1778673809872719000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/13/akamai_log-006346-1778675096-541384-config.gz",
      "size": 937, "last_modified": "2018-01-02T03:04:05.137Z", "etag": "dc2d7fb2b25df390fd4fea8728a30d48",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/13/akamai_log-011125-1778675186-265637-config.gz",
      "size": 557, "last_modified": "2018-01-02T03:04:05.315Z", "etag": "b6ed960761a2919e39d6a7190d1fba86",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/13/akamai_log-013414-1778675161-799444-config.gz",
      "size": 941, "last_mod[...]
- request:
    body: '{"name":"audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/13/akamai_log-006346-1778675096-541384-config.gz","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-monitoring-1778673809872719000/object-url
    method: POST
  response:
    body: '{"url": "https://gb-lon-1.linodeobjects.com:443/go-test-logs-monitoring-1778673809872719000/audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/13/akamai_log-006346-1778675096-541384-config.gz?Signature=4kWT%2FUU9ORlmnh6QBj7OZulciHc%3D&Expires=1778675758&AWSAccessKeyID=SANITIZED&x-amz-security-token=MQpmODAwOTNlZTliMTE0ZWY1MTY1ZTA4NzMxMjRkOWJhNzg4YTQ0YjhjNWVkMjk5NGJmYjI1NGM0ZDFlZWJkM2JjCghzSOf6zO3BCHH5qTmyC9AIWg84q4Wstg8Vn6czLndundU1GOxHGWbRMKjpHVnbuvdQgHdphQKL/pOMZBEZLssXS/qZ89mOqH%2BD5Q41rxKjLm578aOMrUvSfVgUNk%2BLObwg/WeYEWU21VMOsbK3d9hnt1bA2P0%2B5EsOy50rAtSJJoj0EkfiFcKERcn1oCvF5m31FtL8Gsr1SCpbe3M7Kp0HDEvs03tftf3EFrfLf/WUZJX3p5Rxh%2BSztxRtDNw8nFcpvwoXz64IHy0ugbV3oifA83QDn2BZpvWJKSr5A5A1vNaOa8G6jEQ7/Bhw8mS1uXGVFrE8OJ531XSioAvlUonnmzKLUI3g7jgdczlZkGWKuio9WIUP8dmOA6lzmWNIZOpeWrvWzcrGO1%2BI5I9KqHjCxa%2BVxzbG210xggU8nI7QnOllRgDNjYu/0LfqVdKRmcI8NPBucMZV1bEq35htIsNPt2jO",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-monitoring-1778673809872719000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
