---
version: 1
interactions:
- request:
    body: '{"label":"testing"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients
    method: POST
  response:
    body: '{"id": 342828, "label": "testing", "api_key": "720ADF39-D75A-47E9-958E98F14C9A40D8",
      "install_code": "BD08C3CB-F9E7-4C0B-B1C88256375692C0", "apps": {"apache": 0,
      "nginx": 0, "mysql": 0}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"testing_updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients/342828
    method: PUT
  response:
    body: '{"id": 342828, "label": "testing_updated", "api_key": "720ADF39-D75A-47E9-958E98F14C9A40D8",
      "install_code": "BD08C3CB-F9E7-4C0B-B1C88256375692C0", "apps": {"apache": false,
      "nginx": false, "mysql": false}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
