---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/554554
    method: GET
  response:
    body: '{"id": 554554, "status": "active", "label": "go-vol-test-def", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_go-vol-test-def", "size": 20, "linode_id":
      39241125, "linode_label": "go-test-ins-8xlpp90z4p35", "region": "us-west", "tags":
      [], "hardware_type": "hdd"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
