---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "country": "in", "capabilities": ["Linodes",
      "NodeBalancers", "Block Storage", "GPU Linodes", "Kubernetes", "Cloud Firewall",
      "Vlans", "Block Storage Migrations", "Managed Databases"], "status": "ok", "resolvers":
      {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"}},
      {"id": "ca-central", "country": "ca", "capabilities": ["Linodes", "NodeBalancers",
      "Block Storage", "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations",
      "Managed Databases"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6"[...]
- request:
    body: '{"region":"ap-west","type":"g6-nanode-1","label":"go-test-ins-7i9d535p9kiz","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 39430393, "label": "go-test-ins-7i9d535p9kiz", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["170.187.250.14"], "ipv6": "1234::5678/128",
      "image": "linode/debian9", "region": "ap-west", "specs": {"disk": 25600, "memory":
      1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-config-test-wait","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/39430393/configs
    method: POST
  response:
    body: '{"id": 41975940, "label": "go-config-test-wait", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/39430393
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
