---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","label":"linodego-image-test","description":"An
      image that does stuff."}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/upload
    method: POST
  response:
    body: '{"upload_to": "https://us-southeast-1.linodeobjects.com:443/linode-production-machine-images-uploads/17508264?Signature=eKA42vGumRDNGI92mlB4%2B9BUMQ0%3D&Expires=1664980380&AWSAccessKeyID=SANITIZED",
      "image": {"id": "private/17508264", "label": "linodego-image-test", "description":
      "An image that does stuff.", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 0, "created_by": "jriddle-dev", "type": "manual", "is_public": false,
      "deprecated": false, "vendor": null, "expiry": null, "eol": null, "status":
      "pending_upload"}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private/17508264
    method: GET
  response:
    body: '{"id": "private/17508264", "label": "linodego-image-test", "description":
      "An image that does stuff.", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 0, "created_by": "jriddle-dev", "type": "manual", "is_public": false,
      "deprecated": false, "vendor": null, "expiry": null, "eol": null, "status":
      "pending_upload"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
