---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://fb038c17-71b4-4745-ab99-26ae9fb5a921.cpc1-cjj1-testing.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"484"},"items":[]}
    headers:
      Audit-Id:
      - 0b2f32b9-5af4-479e-bb2a-1363529261cb
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 62dbba9e-5659-4f7a-bc60-610742873e36
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 31dbfe6d-31e0-4f7f-afdf-fb60b9727f2d
    status: 200 OK
    code: 200
    duration: ""
