---
version: 1
interactions:
- request:
    body: '{"username":"linodegotest-listuser","email":"linodegotest-listuser@example.com","restricted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: POST
  response:
    body: '{"username": "linodegotest-listuser", "email": "linodegotest-listuser@example.com",
      "restricted": false, "ssh_keys": [], "tfa_enabled": false, "verified_phone_number":
      null, "password_created": null, "last_login": null, "user_type": "default"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users?page=1
    method: GET
  response:
    body: '{"data": [{"username": "ychen123", "email": "yechen@akamai.com", "restricted":
      false, "ssh_keys": ["foo"], "tfa_enabled": true, "verified_phone_number": "+11234567890",
      "password_created": "2018-01-02T03:04:05", "last_login": {"login_datetime":
      "2018-01-02T03:04:05", "status": "successful"}, "user_type": "default"}, {"username":
      "tf-test-8125004655895970073", "email": "tf-test-8125004655895970073@example.com",
      "restricted": true, "ssh_keys": [], "tfa_enabled": false, "verified_phone_number":
      null, "password_created": null, "last_login": null, "user_type": "default"},
      {"username": "tf-test-3780767100546130489", "email": "tf-test-3780767100546130489@example.com",
      "restricted": false, "ssh_keys": [], "[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-listuser
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
