---
version: 1
interactions:
- request:
    body: '{"description":"linodego-testing","region":"ca-central","linodes":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/vlans
    method: POST
  response:
    body: '{"id": 1112, "region": "ca-central", "description": "linodego-testing", "linodes": [], "cidr_block": null, "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write,linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/vlans
    method: GET
  response:
    body: '{"data": [{"id": 1074, "region": "ca-central", "description": "testing123", "linodes": [{"id": 22697673, "mac_address": "ba:c2:6d:f4:56:3f", "ipv4_address": "10.0.0.1/24"}], "cidr_block": "10.0.0.0/24", "created": "2018-01-02T03:04:05"}, {"id": 1075, "region": "ca-central", "description": "testing123", "linodes": [], "cidr_block": "10.0.0.0/24", "created": "2018-01-02T03:04:05"}, {"id": 1076, "region": "ca-central", "description": "testing123", "linodes": [], "cidr_block": "10.0.0.0/24", "created": "2018-01-02T03:04:05"}, {"id": 1077, "region": "ca-central", "description": "testing123", "linodes": [], "cidr_block": "10.0.0.0/24", "created": "2018-01-02T03:04:05"}, {"id": 1079, "region": "ca-central", "description": "linodego-testing", "linodes": [], "cidr_block": null, "created": "2018-01-02T03:04:05"}, {"id": 1086, "region": "ca-central", "description": "linodego-testing", "linodes": [], "cidr_block": null, "created": "2018-01-02T03:04:05"}, {"id": 1087, "region": "ca-central", "description": "linodego-testing", "linodes": [], "cidr_block": null, "created": "2018-01-02T03:04:05"}, {"id": 1100, "region": "ca-central", "description": "terraform-provider-linode acctest", "linodes": [], "cidr_block": "0.0.0.0/0", "created": "2018-01-02T03:04:05"}, {"id": 1112, "region": "ca-central", "description": "linodego-testing", "linodes": [], "cidr_block": null, "created": "2018-01-02T03:04:05"}], "page": 1, "pages": 1, "results": 9}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/vlans/1112
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
