---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"label": "linodego-test-instance", "tags": [], "updated": "2018-01-02T03:04:05",
      "status": "provisioning", "region": "us-west", "id": 18425281, "specs": {"memory":
      1024, "disk": 25600, "vcpus": 1, "transfer": 1000, "gpus": 0}, "ipv6": "1234::5678/64",
      "group": "", "created": "2018-01-02T03:04:05", "image": "linode/debian9", "ipv4":
      ["10.20.30.40"], "alerts": {"network_in": 10, "transfer_quota": 80, "network_out":
      10, "cpu": 90, "io": 10000}, "backups": {"enabled": false, "schedule": {"window":
      null, "day": null}}, "watchdog_enabled": true, "hypervisor": "kvm", "type":
      "g6-nanode-1"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660869"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425281/ips
    method: POST
  response:
    body: '{"gateway": null, "type": "ipv4", "region": "us-west", "rdns": null, "prefix":
      17, "address": "10.0.0.1", "public": false, "linode_id": 18425281, "subnet_mask":
      "10.20.30.40"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "102"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660853"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"10.0.0.1:8080","label":"test-label","weight":10,"mode":"accept"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53605/configs/48071/nodes
    method: POST
  response:
    body: '{"label": "test-label", "id": 466777, "address": "10.0.0.1:8080",
      "nodebalancer_id": 53605, "config_id": 48071, "mode": "accept", "weight": 10,
      "status": "Unknown"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "28"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660779"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53605/configs/48071/nodes/466777
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660870"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425281
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660871"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
