---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/iam/role-permissions
    method: GET
  response:
    body: '{"account_access": [{"type": "stackscript", "roles": [{"name": "account_stackscript_creator",
      "description": "Allows the user the same access as the legacy \"Can add Stackscripts
      under this account\" general permission.", "permissions": []}]}, {"type": "firewall",
      "roles": [{"name": "account_firewall_creator", "description": "Allows the user
      to create firewalls in the account.", "permissions": ["create_firewall"]}]},
      {"type": "volume", "roles": [{"name": "account_volume_creator", "description":
      "Allows the user to create Volumes in the account.", "permissions": ["create_volume"]}]},
      {"type": "linode", "roles": [{"name": "account_linode_creator", "description":
      "Allows the user to create Lino[...]
