---
version: 1
interactions:
- request:
    body: '{"label":"go-token-test-t2b5l63wa1z2","scopes":"linodes:read_only","expiry":"2022-09-15T19:53:08"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 40563740, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "go-token-test-t2b5l63wa1z2", "token": "4d92f4b43740e621a3105be7a4f289e2c7216fdf952b233da6f5a1218aab6395",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-token-test-t2b5l63wa1z2_renamed"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/40563740
    method: PUT
  response:
    body: '{"id": 40563740, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "go-token-test-t2b5l63wa1z2_renamed", "token": "4d92f4b43740e621",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
