---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account
    method: GET
  response:
    body: '{"company": "Akamai", "email": "ykim@akamai.com", "first_name": "Youjung",
      "last_name": "Kim", "address_1": "", "address_2": "", "city": "", "state": "",
      "zip": "", "country": "", "phone": "", "balance": 0.0, "tax_id": "", "billing_source":
      "linode", "credit_card": {"last_four": null, "expiry": null}, "balance_uninvoiced":
      0.0, "active_since": "2018-01-02T03:04:05", "capabilities": ["Linodes", "NodeBalancers",
      "Block Storage", "Object Storage", "Kubernetes", "Cloud Firewall", "Vlans",
      "LKE HA Control Planes", "Machine Images", "Managed Databases", "VPCs", "LKE
      Network Access Control List (IP ACL)", "Placement Group", "Object Storage Access
      Key Regions"], "active_promotions": [], "euuid": "F959AD74-9386-4827-A426975C90B4EBD5"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
