---
version: 1
interactions:
- request:
    body: '{"region":"us-east"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips
    method: POST
  response:
    body: '{"address": "50.116.56.8", "gateway": "50.116.56.1", "subnet_mask": "255.255.255.0",
      "prefix": 24, "type": "ipv4", "public": true, "rdns": null, "linode_id": null,
      "interface_id": null, "region": "us-east", "vpc_nat_1_1": null, "reserved":
      true, "assigned_entity": null}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"us-east","type":"g6-nanode-1","label":"go-test-ins-reserved-ip-v0t4d9n5v71c","root_pass":"46S37bK:3U089p)g-m(i9.avKrb2T4C@1?/`QaeuhD~''uOXMH28?`''g$8C5QY#nF","image":"linode/alpine3.20","booted":false,"ipv4":["50.116.56.8","192.0.2.2"],"interfaces":[{"purpose":"public"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"errors": [{"reason": "Must provide a single valid reserved ipv4 address",
      "field": "ipv4"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips/50.116.56.8
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
