---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/logins
    method: GET
  response:
    body: '{"data": [{"id": 1563948056, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}, {"id":
      1563982298, "datetime": "2018-01-02T03:04:05", "ip": "24.63.69.52", "username":
      "ErikZilber", "status": "successful", "restricted": false}, {"id": 1564542275,
      "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "failed", "restricted": false}, {"id": 1564542300,
      "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}, {"id":
      1564542307, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}], "page":
      1, "pages": 1, "results": 5}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/logins/1563948056
    method: GET
  response:
    body: '{"id": 1563948056, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "ErikZilber", "status": "successful", "restricted": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
