---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips/types?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ipv4", "label": "IPv4 Address", "price": {"hourly": 0.005,
      "monthly": 2.0}, "region_prices": [{"id": "us-east", "hourly": 0.005, "monthly":
      2.0}, {"id": "br-gru", "hourly": 0.006, "monthly": 3.0}]}], "page": 1, "pages":
      1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
