---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.linode.com/v4beta/databases/engines?page=1
      method: GET
    response:
      body: '{"data": [{"id": "mysql/8.0.30", "engine": "mysql", "version": "8.0.30"},
      {"id": "postgresql/12.12", "engine": "postgresql", "version": "12.12"}, {"id":
      "postgresql/13.8", "engine": "postgresql", "version": "13.8"}, {"id": "postgresql/14.6",
      "engine": "postgresql", "version": "14.6"}], "page": 1, "pages": 1, "results":
      4}'
      headers:
        Content-Type:
          - application/json
        X-Accepted-Oauth-Scopes:
          - '*'
        X-Oauth-Scopes:
          - '*'
        X-Ratelimit-Limit:
          - "400"
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.linode.com/v4beta/databases/engines/mysql%2F8.0.30
      method: GET
    response:
      body: '{"id": "mysql/8.0.30", "engine": "mysql", "version": "8.0.30"}'
      headers:
        Content-Type:
          - application/json
        X-Accepted-Oauth-Scopes:
          - '*'
        X-Oauth-Scopes:
          - '*'
        X-Ratelimit-Limit:
          - "400"
      status: 200 OK
      code: 200
      duration: ""
