---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-volume","region":"us-west"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes
    method: POST
  response:
    body: '{"size": 10, "created": "2021-08-18T15:06:14", "id": 123456, "label": "linodego-test-volume",
      "updated": "2021-08-18T15:06:14", "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "status": "creating", "linode_id": null, "region": "us-west"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1532025854"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label": "our-testing-volume"}'
    form: {}
    headers:
      Authorization:
        - Bearer awesometokenawesometokenawesometoken
      Content-Type:
        - application/json
    url: https://api.linode.com/v4beta/volumes/123456
    method: PUT
  response:
    body: '{ "id": 123456, "status": "active", "label": "our-testing-volume",
    "created": "2021-08-18T15:06:14", "updated": "2021-08-18T15:12:49",
    "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_my-testing-volume",
    "size": 10, "linode_id": null, "linode_label": null, "region": "us-west",
    "tags": []}'
    headers:
      Content-Type:
        - application/json
      X-OAuth-Scopes:
        - volumes:read_write
      X-Accepted-OAuth-Scopes:
        - volumes:read_write
      X-Spec-Version:
        - 4.101.1
      X-Customer-UUID:
        - "ZZZZZZZZ-YYYY-AAAA-ZZZ3Z1Z9EEE00000"
      X-RateLimit-Limit:
        - "800"
      X-RateLimit-Remaining:
        - "799"
      X-RateLimit-Reset:
        - "1629299630"
      Retry-After:
        - "60"
    status: 200 OK
    code: 200
    duration: ""
[...]
