---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-definitions?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 10000, "label":
      "High Memory Usage Plan Dedicated", "description": "Alert triggers when dedicated
      plan nodes consistently reach critical memory usage.", "service_type": "dbaas",
      "type": "system", "scope": "entity", "class": "dedicated", "regions": [], "status":
      "enabled", "severity": 2, "rule_criteria": {"rules": [{"label": "Memory Usage",
      "metric": "memory_usage", "unit": "percent", "aggregate_function": "avg", "operator":
      "gt", "threshold": 95, "dimension_filters": []}]}, "alert_channels": [{"id":
      10000, "label": "Read-Write Channel", "url": "/monitor/alert-channels/10000",
      "type": "alert-channels"}], "trigger_conditions": {"criteria_condition": "ALL",
      "polling_interval_seconds": 300, "evaluation_period_seconds": 300, "trigger_occurrences":
      3}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "created_by":
      "system", "updated_by": "system", "group_by": ["entity_id"], "entities": {"url":
      "/monitor/services/dbaas/alert-definitions/10000/entities", "has_more_resources":
      false, "count": 5}}, {"id": 11184, "label": "Test alert", "description":
      "Test alert", "service_type": "dbaas", "type": "user", "scope":
      "entity", "class": null, "regions": [], "status": "disabled", "severity": 3,
      "rule_criteria": {"rules": [{"label": "CPU Usage", "metric": "cpu_usage", "unit":
      "percent", "aggregate_function": "avg", "operator": "gt", "threshold": 0, "dimension_filters":
      []}]}, "alert_channels": [{"id": 10004, "label": "Team Channel", "url":
      "/monitor/alert-channels/10004", "type": "alert-channels"}], "trigger_conditions":
      {"criteria_condition": "ALL", "polling_interval_seconds": 300, "evaluation_period_seconds":
      300, "trigger_occurrences": 1}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "created_by": "tester", "updated_by":
      "tester", "group_by": ["entity_id"], "entities": {"url": "/monitor/services/dbaas/alert-definitions/11184/entities",
      "has_more_resources": false, "count": 1}}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users?page=1
    method: GET
  response:
    body: '{"data": [{"username": "test_user1", "email": "test_user1@example.com",
      "restricted": false, "ssh_keys": [], "tfa_enabled": true, "verified_phone_number":
      "+19895154186", "password_created": "2018-01-02T03:04:05", "last_login": {"login_datetime":
      "2018-01-02T03:04:05", "status": "successful"}, "user_type": "default"}, {"username":
      "test_user2", "email": "test_user2@example.com", "restricted": false,
      "ssh_keys": ["key1", "key2", "key3", "key4", "key5"], "tfa_enabled":
      true, "verified_phone_number": "+19895154187", "password_created": "2018-01-02T03:04:05",
      "last_login": {"login_datetime": "2018-01-02T03:04:05", "status": "successful"},
      "user_type": "default"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"channel_type":"email","details":{"email":{"usernames":["test_user1","test_user2"],"recipient_type":"user"}},"label":"linodego-alert-channel-1784225925966684533"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-channels
    method: POST
  response:
    body: '{"id":10315,"label":"linodego-alert-channel-1784225926985434344","channel_type":"email","details":{"email":{"usernames":["test_user1","test_user2"],"recipient_type":"user"}},"alerts":{"url":"/monitor/alert-channels/10315/alerts","type":"alerts-definitions","alert_count":0},"created":"2018-01-02T03:04:05","updated":"2018-01-02T03:04:05","created_by":"tester","updated_by":"tester"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-alert-1784225926985434344","severity":2,"channel_ids":[10315],"rule_criteria":{"rules":[{"aggregate_function":"avg","dimension_filters":[{"dimension_label":"node_type","operator":"eq","value":"primary"}],"metric":"memory_usage","operator":"gt","threshold":90}]},"trigger_conditions":{"criteria_condition":"ALL","evaluation_period_seconds":300,"polling_interval_seconds":300,"trigger_occurrences":1},"description":"Test
      alert definition creation","group_by":["entity_id"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions
    method: POST
  response:
    body: '{"id": 11638, "label":[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions/11638
    method: GET
  response:
    body: '{"id": 11638, "label": "linodego-alert-1784225926985434344", "description":
      "Test alert definition creation", "service_type": "dbaas", "type": "user", "scope":
      "entity", "class": null, "regions": [], "status": "enabled", "severity": 2,
      "rule_criteria": {"rules":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions/11638
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-channels/10315
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
