---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams?page=1
    method: GET
  response:
    body: '{"pages": 0, "page": 1, "results": 0, "data": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "gb-lon", "label": "London 2, UK", "country": "gb", "capabilities":
      ["Linodes", "Block Storage Encryption", "LA Disk Encryption", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Object Storage", "GPU Linodes",
      "Kubernetes", "Cloud Firewall", "Vlans", "VPCs", "Managed Databases", "Metadata",
      "Premium Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Interfaces", "ACLP Logs Datacenter LKE-E"], "monitors": {"alerts":
      ["Managed Databases", "NodeBalancers"], "metrics": ["Managed Databases", "NodeBalancers"]},
      "status": "ok", "resolvers": {"ipv4": "172.236.0.46,172.236.0.50,172.236.0.47,172.236.0.53,172.236.0.52,172.236.0.45,172.236.0.49,172.236.0.51,172.236.0.54,172.236.0.48",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "se-sto",
      "label": "Stockholm, SE", "country": "se", "capabilities": ["Linodes", "Block
      Storage Encryption", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes", "Cloud Firewall",
      "Vlans", "VPCs", "Managed Databases", "Metadata", "Premium Plans", "Placement
      Group", "StackScripts", "Maintenance Policy", "Linode Interfaces"], "monitors":
      {"alerts": ["Managed Database[...]
- request:
    body: '{"region":"gb-lon","label":"go-test-logs-destination-1778257647218326000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1778257647218326000.gb-lon-1.linodeobjects.com",
      "label": "go-test-logs-destination-1778257647218326000", "created": "2018-01-02T03:04:05",
      "region": "gb-lon", "cluster": "", "size": 0, "objects": 0, "endpoint_type":
      "E3", "s3_endpoint": "gb-lon-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778257653300550000","regions":["gb-lon"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3618128, "label": "go-test-logs-destination-1778257653300550000",
      "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]", "limited": false,
      "bucket_access": null, "regions": [{"id": "gb-lon", "s3_endpoint": "gb-lon-1.linodeobjects.com",
      "endpoint_type": "E3"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778257655484801000","type":"akamai_object_storage","details":{"access_key_id":"8XD0XNGCDR8OHEDH8HCN","access_key_secret":"VIJ0CJP2YlneCcT1et3U31DhNWHN9xqHA2xRfEEj","bucket_name":"go-test-logs-destination-1778257647218326000","host":"go-test-logs-destination-1778257647218326000.gb-lon-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 458, "label": "go-test-logs-destination-1778257655484801000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778257647218326000.gb-lon-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778257647218326000", "access_key_id":
      "8XD0XNGCDR8OHEDH8HCN"}, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"destinations":[458],"label":"go-test-log-stream-1778257656690604000","type":"audit_logs"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams
    method: POST
  response:
    body: '{"id": 202, "label": "go-test-log-stream-1778257656690604000", "type":
      "audit_logs", "destinations": [{"id": 458, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1778257655484801000", "details": {"host":
      "go-test-logs-destination-1778257647218326000.gb-lon-1.linodeobjects.com", "bucket_name":
      "go-test-logs-destination-1778257647218326000", "access_key_id": "8XD0XNGCDR8OHEDH8HCN"}}],
      "details": null, "version": 1, "status": "provisioning", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/202
    method: GET
  response:
    body: '{"id": 202, "label": "go-test-log-stream-1778257656690604000", "type":
      "audit_logs", "destinations": [{"id": 458, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1778257655484801000", "details": {"host":
      "go-test-logs-destination-1778257647218326000.gb-lon-1.linodeobjects.com", "bucket_name":
      "go-test-logs-destination-1778257647218326000", "access_key_id": "8XD0XNGCDR8OHEDH8HCN"}}],
      "details": null, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/202/history?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 202, "label": "go-test-log-stream-1778257656690604000-upd",
      "type": "audit_logs", "destinations": [{"id": 458, "type": "akamai_object_storage",
      "label": "go-test-logs-destination-1778257655484801000", "details": {"host":
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/202
    method: GET
  response:
    body: '{"errors": [{"reason": "Stream not found"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/458
    method: GET
  response:
    body: '{"id": 458, "label": "go-test-logs-destination-1778257655484801000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778257647218326000.gb-lon-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778257647218326000", "access_key_id":
      "8XD0XNGCDR8OHEDH8HCN"}, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3618128
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-destination-1778257647218326000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/08/akamai_log-132943-1778259138-856896-config.gz",
      "size": 576, "last_modified": "2018-01-02T03:04:05.257Z", "etag": "16dcbd5d065cc105938db483ec347596",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/08/akamai_log-357301-1778259353-927712-config.gz",
      "size": 721, "last_modified": "2018-01-02T03:04:05.524Z", "etag": "763498611cf3752947cd2a749378f567",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/08/akamai_log-510203-1778259897-253299-config.gz",
      "size": 576, "last_modified": "2018-01-02T03:04:05.144Z", "etag": "ffd885911befbbf8ab2ed715a00bee81",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/08/akamai_log-606755-1778259749-083692-config.gz",
      "size": 578, "last_modified": "2018-01-02T03:04:05.183Z", "etag": "cc778a0d53d8d49379b2482c23a065f7",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "cloud-logs-test-connection-20260508T162735",
      "size": 9, "last_modified": "2018-01-02T03:04:05.325Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/08/akamai_log-132943-1778259138-856896-config.gz","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-destination-1778257647218326000/object-url
    method: POST
  response:
    body: '{"url": "https://gb-lon-1.linodeobjects.com:443/go-test-logs-destination-1778257647218326000/audit_logs/com.akamai.audit/BED02C05-67D6-4FAA-BC8BB63BB77C1197/2026/05/08/akamai_log-132943-1778259138-856896-config.gz?Signature=O1D7Z0ozgbI9Merk9SKSmUhL9YE%3D&Expires=1778261169&AWSAccessKeyID=SANITIZED&x-amz-security-token=MQpmODAwOTNlZTliMTE0ZWY1MTY1ZTA4NzMxMjRkOWJhNzg4YTQ0YjhjNWVkMjk5NGJmYjI1NGM0ZDFlZWJkM2JjCpG91DTbrPthgQ3PutjEvtw3QxRnpmUBd5%2Bm0%2BbMof8y3pSdXQF/%2BcoXtQxUYvDxJ3%2B43Q7mK/wF7s0EdkyXsQDomSzm892jmVOxySqf0CuiEeHnujh3owNfHgcBB5zn0AJx6Q%2Bmgu7YK527lngBHvl6kl/HvZtuA6RTapRWmabZmvY1wfuPWJLx/CCswshIzAYyrDu9cBhrsBobK3HT0Qh7V5oZlWVEuMk7FnFcWCVxVUCOul40IxEKFIwGCdlwe4ChQway8D9Zx7Mb7EzbiFJdKHBJukdVoh3qtfE7oK4irfBaYj3xZD1FGBARUG82iut2ErI9EEBiMYsZuqz7JWiaoyoz3V0VjnqnSUYed8pAirzAleaXEqa3kTcFiOsylVBm7nc993BNdhyATmWu/kMAjAHWKU78BzBFqv9OEb2EZefCl/fd3%2B%2BbTd0DSjzt0KnLUnFqDfnTG2vY2RdLWUh9ft5s",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-destination-1778257647218326000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
