---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images
    method: GET
  response:
    body: '{"pages": 1, "data": [{"id": "private/17578292", "label": "nspa - Alpine
      3.16 Disk", "description": "", "created": "2018-01-02T03:04:05", "updated":
      null, "size": 354, "created_by": null, "type": "automatic", "is_public": false,
      "deprecated": false, "vendor": null, "expiry": "2018-01-02T03:04:05", "eol":
      null, "status": "available"}, {"id": "private/17578295", "label": "linode39245136
      - Restore 294571 - Alpine 3.16 Disk", "description": "", "created": "2018-01-02T03:04:05",
      "updated": null, "size": 1248, "created_by": null, "type": "automatic", "is_public":
      false, "deprecated": false, "vendor": null, "expiry": "2018-01-02T03:04:05",
      "eol": null, "status": "available"}, {"id": "private/17578299", "label": "lke75477-117333-63408e2c748a
      - Boot Disk", "description": "", "created": "20[...]
