---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "country": "in", "capabilities": ["Linodes",
      "NodeBalancers", "Block Storage", "GPU Linodes", "Kubernetes", "Cloud Firewall",
      "Vlans", "Block Storage Migrations", "Managed Databases"], "status": "ok", "resolvers":
      {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"}},
      {"id": "ca-central", "country": "ca", "capabilities": ["Linodes", "NodeBalancers",
      "Block Storage", "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations",
      "Managed Databases"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6"[...]
- request:
    body: '{"region":"ap-west","type":"g6-nanode-1","label":"go-test-ins-bzi7l8090x1m","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 41855753, "label": "go-test-ins-bzi7l8090x1m", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["45.79.117.66"], "ipv6": "1234::5678/128",
      "image": "linode/debian9", "region": "ap-west", "specs": {"disk": 25600, "memory":
      1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "available": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "a93eefd741bb8d5276687ca6a9bacb15b3c0657d"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"linode_create","created":{"+gte":"2018-01-02T03:04:05"},"entity.id":41855753,"entity.type":"linode"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 417630111, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": 69, "time_remaining": null, "rate": null,
      "duration": 15.113282, "action": "linode_create", "username": "zliang27", "entity":
      {"label": "go-test-ins-bzi7l8090x1m", "id": 41855753, "type": "linode", "url":
      "/v4/linode/instances/41855753"}, "status": "started", "secondary_entity": {"id":
      "linode/debian9", "type": "image", "label": "Debian 9", "url": "/v4/images/linode/debian9"},
      "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"region":"ap-west","type":"g6-nanode-1","backups_enabled":false,"private_ip":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/41855753/clone
    method: POST
  response:
    body: '{"id": 41855764, "label": "linode41855764", "group": "", "status": "offline",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "type":
      "g6-nanode-1", "ipv4": ["45.79.117.205", "192.168.137.107"], "ipv6": "1234::5678/128",
      "image": "linode/debian9", "region": "ap-west", "specs": {"disk": 25600, "memory":
      1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "available": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "26f6fdb8e6729aef2574dc39ca9330636bbe5724"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/41855764/ips
    method: GET
  response:
    body: '{"ipv4": {"public": [{"address": "45.79.117.205", "gateway": "45.79.117.1",
      "subnet_mask": "255.255.255.0", "prefix": 24, "type": "ipv4", "public": true,
      "rdns": "45-79-117-205.ip.linodeusercontent.com", "linode_id": 41855764, "region":
      "ap-west"}], "private": [{"address": "192.168.137.107", "gateway": null, "subnet_mask":
      "255.255.128.0", "prefix": 17, "type": "ipv4", "public": false, "rdns": null,
      "linode_id": 41855764, "region": "ap-west"}], "shared": [], "reserved": []},
      "ipv6": {"slaac": {"address": "1234::5678", "gateway": "1234::5678",
      "subnet_mask": "1234::5678", "prefix": 64, "type": "ipv6", "rdns":
      null, "linode_id": 41855764, "region": "ap-west", "public": true}, "link_local":
      {"address": "1234::5678", "gateway": "1234::5678", "subnet_mask":
      "1234::5678", "prefix": 64, "type": "ipv6", "rdns": null, "linode_id":
      41855764, "region": "ap-west", "public": false}, "global": []}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/41855764
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
