---
version: 1
interactions:
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 619, "access_key": "WHRKQO0EI02QGBFDH6XV", "label": "lpq6h62z88m4-linodego-testing",
      "secret_key": "SH9fYcCfjdCYYfOOmyXetfDPpEzqLIP3zWqCVVCb"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1569592067"
      X-Spec-Version:
      - 4.5.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing_r"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/619
    method: PUT
  response:
    body: '{"secret_key": "[REDACTED]", "id": 619, "access_key": "WHRKQO0EI02QGBFDH6XV",
      "label": "lpq6h62z88m4-linodego-testing_r"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1569592068"
      X-Spec-Version:
      - 4.5.0
    status: 200 OK
    code: 200
    duration: ""
[...]
