---
version: 1
interactions:
- request:
    body: '{"label":"linodego-token-test","scopes":"linodes:read_only","expiry":"2024-07-09T13:29:59"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 57288264, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-token-test", "token": "d32f5be4cbb4abe8da42ed3f9cdf14814a4363b262c2a62174dc117ea8a98096",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-token-test_renamed"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/57288264
    method: PUT
  response:
    body: '{"id": 57288264, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-token-test_renamed", "token": "d32f5be4cbb4abe8", "expiry":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
