---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "country": "in", "capabilities": ["Linodes",
      "NodeBalancers", "Block Storage", "GPU Linodes", "Kubernetes", "Cloud Firewall",
      "Vlans", "Block Storage Migrations", "Managed Databases"], "status": "ok", "resolvers":
      {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"}},
      {"id": "ca-central", "country": "ca", "capabilities": ["Linodes", "NodeBalancers",
      "Block Storage", "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations",
      "Managed Databases"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6"[...]
- request:
    body: '{"label":"go-postgres-testing-def","region":"ap-west","type":"g6-nanode-1","engine":"postgresql/10.14","allow_list":["203.0.113.1","192.0.1.0/24"],"cluster_size":3,"replication_type":"asynch"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances
    method: POST
  response:
    body: '{"id": 10049, "label": "go-postgres-testing-def", "type": "g6-nanode-1",
      "engine": "postgresql", "version": "10.14", "region": "ap-west", "status": "provisioning",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": null, "secondary": null}, "ssl_connection": false, "replication_type":
      "asynch", "replication_commit_type": "local", "port": 5432, "updates": {"frequency":
      "weekly", "duration": 3, "hour_of_day": 0, "day_of_week": null, "week_of_month":
      null}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2022-10-10T18:12:52"},"entity.id":10049,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 373166612, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "lgarber-dev", "entity":
      {"label": "go-postgres-testing-def", "id": 10049, "type": "database", "url":
      "/v4/databases/postgresql/instances/10049"}, "status": "notification", "secondary_entity":
      null, "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/10049
    method: GET
  response:
    body: '{"id": 10049, "label": "go-postgres-testing-def", "type": "g6-nanode-1",
      "engine": "postgresql", "version": "10.14", "region": "ap-west", "status": "active",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": "lin-10049-2413-pgsql-primary.servers.linodedb.net",
      "secondary": "lin-10049-2413-pgsql-primary-private.servers.linodedb.net"}, "ssl_connection":
      false, "replication_type": "asynch", "replication_commit_type": "local", "port":
      5432, "updates": {"frequency": "weekly", "duration": 3, "hour_of_day": 1, "day_of_week":
      6, "week_of_month": null}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/10049/ssl
    method: GET
  response:
    body: '{"ca_certificate": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/10049/credentials
    method: GET
  response:
    body: '{"username": "linpostgres", "password": "JO-Qshdizayf3WFI"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/10049/credentials/reset
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/10049/patch
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"postgresbackupforlinodego","target":"primary"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/10049/backups
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/10049/backups/171060
    method: GET
  response:
    body: '{"id": 171060, "type": "snapshot", "label": "postgresbackupforlinodego",
      "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
