---
version: 1
interactions:
- request:
    body: '{"label":"linodego-fw-test","rules":{"inbound":[{"action":"DROP","label":"linodego-fwrule-test","protocol":"ICMP","addresses":{"ipv4":["0.0.0.0/0"]}}],"inbound_policy":"ACCEPT","outbound":null,"outbound_policy":"ACCEPT"},"tags":["test"],"devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls
    method: POST
  response:
    body: '{"id": 498953, "label": "linodego-fw-test", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"action": "DROP", "label": "linodego-fwrule-test", "protocol": "ICMP", "addresses":
      {"ipv4": ["0.0.0.0/0"]}}], "inbound_policy": "ACCEPT", "outbound": null, "outbound_policy":
      "ACCEPT", "version": 1, "fingerprint": "1f57ba72"}, "tags": ["test"], "entities":
      []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-fw-test-updated","status":"disabled","tags":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls/498953
    method: PUT
  response:
    body: '{"id": 498953, "label": "linodego-fw-test-updated", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "disabled", "rules": {"inbound":
      [{"action": "DROP", "label": "linodego-fwrule-test", "protocol": "ICMP", "addresses":
      {"ipv4": ["0.0.0.0/0"]}}], "inbound_policy": "ACCEPT", "outbound": null, "outbound_policy":
      "ACCEPT", "version": 1, "fingerprint": "1f57ba72"}, "tags": [], "entities":
      []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
