---
version: 1
interactions:
- request:
    body: '{"label":"KBFddmZeCExb-linodego-testing","rules":{"inbound":[{"protocol":"ICMP","addresses":{"ipv4":["10.20.30.40/0"],"ipv6":["1234::5678/0"]}}]},"tags":["testing"],"devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls
    method: POST
  response:
    body: '{"id": 137, "label": "KBFddmZeCExb-linodego-testing", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"protocol": "ICMP", "addresses": {"ipv4": ["10.20.30.40/0"], "ipv6": ["1234::5678/0"]}}]},
      "tags": ["testing"]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - firewall:read_write
      X-Oauth-Scopes:
      - account:read_write,domains:read_write,events:read_write,images:read_write,ips:read_write,linodes:read_write,lke:read_write,longview:read_write,nodebalancers:read_write,stackscripts:read_write,volumes:read_write,firewall:read_write
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1599"
      X-Ratelimit-Reset:
      - "1586647716"
      X-Spec-Version:
      - 4.62.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/firewalls/137
    method: GET
  response:
    body: '{"id": 137, "label": "KBFddmZeCExb-linodego-testing", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "status": "enabled", "rules": {"inbound":
      [{"protocol": "ICMP", "addresses": {"ipv4": ["10.20.30.40/0"], "ipv6": ["1234::5678/0"]}}]},
      "tags": ["testing"]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - firewall:read_only
      X-Oauth-Scopes:
      - account:read_write,domains:read_write,events:read_write,images:read_write,ips:read_write,linodes:read_write,lke:read_write,longview:read_write,nodebalancers:read_write,stackscripts:read_write,volumes:read_write,firewall:read_write
      X-Ratelimit-Limit:
      - "1600"
      X-Ratelimit-Remaining:
      - "1598"
      X-Ratelimit-Reset:
      - "1586647717"
      X-Spec-Version:
      - 4.62.0
    status: 200 OK
    code: 200
    duration: ""
[...]
