---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/quotas/obj-objects-us-iad-1.linodeobjects.com
    method: GET
  response:
    body: '{"quota_id": "obj-objects-us-iad-1.linodeobjects.com", "quota_name": "Number
      of Objects", "quota_type": "obj-objects", "endpoint_type": "E1", "s3_endpoint":
      "us-iad-1.linodeobjects.com", "description": "Current number of objects per
      account, per endpoint", "quota_limit": 100000000, "resource_metric": "object",
      "has_usage": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
