---
version: 1
interactions:
- request:
    body: '{"allow_list":["203.0.113.1","192.0.1.0/24"],"label":"linodego-test-mongo-database","region":"us-east","type":"g6-nanode-1","engine":"mongodb/4.4.10","cluster_size":3,"encrypted":false,"ssl_connection":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mongodb/instances
    method: POST
  response:
    body: '{"id": 3688, "label": "linodego-test-mongo-database", "type": "g6-nanode-1",
      "engine": "mongodb", "version": "4.4.10", "region": "us-east", "status": "provisioning",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": null, "secondary": null}, "peers": [], "replica_set":
      null, "ssl_connection": false, "compression_type": "none", "storage_engine":
      "wiredtiger", "port": 27017, "updates": {"frequency": "weekly", "duration":
      3, "hour_of_day": 0, "day_of_week": null, "week_of_month": null}, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2022-06-02T14:53:11"},"entity.id":3688,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 317199418, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "jriddle-dev", "entity":
      {"label": "linodego-test-mongo-database", "id": 3688, "type": "database", "url":
      "/v4/databases/mongodb/instances/3688"}, "status": "notification", "secondary_entity":
      null, "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mongodb/instances/3688
    method: GET
  response:
    body: '{"id": 3688, "label": "linodego-test-mongo-database", "type": "g6-nanode-1",
      "engine": "mongodb", "version": "4.4.10", "region": "us-east", "status": "active",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": "lin-3688-8091.servers.linodedb.net", "secondary": null},
      "peers": ["lin-3688-8091.servers.linodedb.net", "lin-3688-8092.servers.linodedb.net",
      "lin-3688-8093.servers.linodedb.net"], "replica_set": "RS-3688-0", "ssl_connection":
      false, "compression_type": "none", "storage_engine": "wiredtiger", "port": 27017,
      "updates": {"frequency": "weekly", "duration": 3, "hour_of_day": 6, "day_of_week":
      6, "week_of_month": null}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mongodb/instances/3688/ssl
    method: GET
  response:
    body: '{"ca_certificate": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mongodb/instances/3688/credentials
    method: GET
  response:
    body: '{"username": "linroot", "password": "0F8IOi83SC1oQC7v"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mongodb/instances/3688/credentials/reset
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mongodb/instances/3688/patch
    method: POST
  response:
    body: '{"errors": [{"reason": "Unable to update instance 3688 at this time."}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 500 Internal Server Error
    code: 500
    duration: ""
[...]
