---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://a2d041bc-38ad-4841-88e1-7ea71a05ef81.cpc1-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"527"},"items":[]}
    headers:
      Audit-Id:
      - 9e465b6e-cf39-469c-9294-8cd7a6921537
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 90153937-f395-41a4-966e-0e33eb7149d3
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - a0fcde59-c7d3-4e0a-a787-849abe68767c
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://a2d041bc-38ad-4841-88e1-7ea71a05ef81.cpc1-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"706"},"items":[{"metadata":{"name":"lke58750-91677-6266eda96448","uid":"84004997-42f2-4d4e-ac12-7c7c11ea8c77","resourceVersion":"702","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"us-central","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke58750-91677-6266eda96448","kubernetes.io/os":"linux","node.kubernetes.io/instance-type":"g6-standard-2","topology.kubernetes.io/region":"us-central"},"annotations":{"node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"Go-http-client","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:allocatable":{"f:ephemeral-storage":{}},"f:capacity":{"f:ephemeral-storage":{}},"f:conditions":{"k:{\"type\":\"Ready\"}":{"f:message":{}}}}}},{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.1.0/24\"":{}}}}},{"manager":"linode-cloud-controller-manager-linux-amd64","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:beta.kubernetes.io/instance-type":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:node.kubernetes.io/instance-type":{},"f:topology.kubernetes.io/region":{}}},"f:spec":{"f:providerID":{},"f:taints":{}}}},{"manager":"linode-cloud-controller-manager-linux-amd64","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:addresses":{"k:{\"type\":\"ExternalIP\"}":{".":{},"f:address":{},"f:type":{}},"k:{\"type\":\"InternalIP\"}":{"f:address":{}}}}},"subresource":"status"}]},"spec":{"podCIDR":"10.2.1.0/24","podCIDRs":["10.2.1.0/24"],"providerID":"linode://36059356","taints":[{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82535088Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4028120Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76064336975","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3925720Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized, CSINode is not yet initialized]"}],"addresses":[{"type":"Hostname","address":"lke58750-91677-6266eda96448"},{"type":"ExternalIP","address":"45.79.35.198"},{"type":"InternalIP","address":"10.0.0.1"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"646148e6142b4503a9745090cff2586c","systemUUID":"646148e6142b4503a9745090cff2586c","bootID":"c2b56b0c-9654-48b1-9d69-fcdc4409083d","kernelVersion":"5.10.0-12-cloud-amd64","osImage":"Debian GNU/Linux 11 (bullseye)","containerRuntimeVersion":"docker://20.10.13","kubeletVersion":"v1.23.4","kubeProxyVersion":"v1.23.4","operatingSystem":"linux","architecture":"amd64"}}},{"metadata":{"name":"lke58750-91677-6266eda97005","uid":"d1973f71-f7e7-42a6-b9ea-245d8654600e","resourceVersion":"696","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"us-central","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke58750-91677-6266eda97005","kubernetes.io/os":"linux","lke.linode.com/pool-id":"91677",[...]
[...]
