---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "nl-ams", "label": "Amsterdam, NL", "country": "nl", "capabilities":
      ["Linodes", "Block Storage Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes", "Kubernetes
      Enterprise", "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC IPv6
      Stack", "Managed Databases", "Metadata", "Premium Plans", "Placement Group",
      "StackScripts", "Maintenance Policy", "Linode Interfaces"], "monitors": {"alerts":
      ["Managed Databases"], "metrics": ["Managed Databases", "NodeBalancers"]}, "status":
      "ok", "resolvers": {"ipv4": "192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0,192.0.2.0",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "fr-par-2",
      "label": "Paris 2, FR", "country": "fr", "capabilities": ["Linodes", "Block
      Storage Encryption", "Disk Encryption", "Backups", "NodeBalancers", "Block Storage",
      "Object Storage", "GPU Linodes", "Kubernetes", "Kubernetes Enterprise", "Cloud
      Firewall", "Vlans", "VPCs", "VPC Dual Stack", "VPC IPv6 Stack", "Managed Databases",
      "Metadata", "Premium Plans", "Placement Group", "StackScripts", "Maintenance
      Policy", "Linode Interfaces", "AC[...]
- request:
    body: '{"region":"nl-ams","type":"g6-nanode-1","label":"go-test-ins-wo-disk-x216h2iu9nv2","firewall_id":3985782,"booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 94367422, "label": "go-test-ins-wo-disk-x216h2iu9nv2", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["192.0.2.0"], "ipv6": "1234::5678/128",
      "image": null, "region": "nl-ams", "site_type": "core", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": false, "available": false, "schedule":
      {"day": null, "window": null}, "last_successful": null}, "hypervisor": "kvm",
      "watchdog_enabled": true, "tags": [], "host_uuid": "2321d3f5429c39b5b4372add49ec9d4d4dff1c11",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": ["Block Storage Encryption", "Maintenance
      Policy"], "interface_generation": "legacy_config", "maintenance_policy": "linode/migrate",
      "locks": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-60sij366k0cr","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/94367422/configs
    method: POST
  response:
    body: '{"id": 97854886, "label": "go-test-conf-60sij366k0cr", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-vpc-1773834557665640000","region":"nl-ams","ipv6":[{"range":"/52"}],"subnets":[{"label":"linodego-vpc-test-1773834557665969000","ipv4":"192.168.0.0/25","ipv6":[{"range":"/62"}]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs
    method: POST
  response:
    body: '{"id": 414391, "label": "go-test-vpc-1773834557665640000", "description":
      "", "region": "nl-ams", "ipv6": [{"range": "1234::5678/52"}], "subnets":
      [{"id": 508130, "label": "linodego-vpc-test-1773834557665969000", "ipv4": "192.168.0.0/25",
      "ipv6": [{"range": "1234::5678/62"}], "linodes": [], "databases": [],
      "nodebalancers": [], "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}],
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-60sij366k0cr","comments":"","devices":{},"helpers":{"updatedb_disabled":true,"distro":true,"modules_dep":true,"network":true,"devtmpfs_automount":true},"interfaces":[{"purpose":"vpc","subnet_id":508130,"ipv4":{"nat_1_1":"any"},"ipv6":{"slaac":[{"range":"/64"}],"is_public":true}}],"memory_limit":0,"kernel":"linode/latest-64bit","init_rd":null,"root_device":"/dev/sda","run_level":"default","virt_mode":"paravirt"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/94367422/configs/97854886
    method: PUT
  response:
    body: '{"id": 97854886, "label": "go-test-conf-60sij366k0cr", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": [{"id": 11276827, "purpose": "vpc", "primary":
      false, "active": false, "ipam_address": null, "label": null, "vpc_id": 414391,
      "subnet_id": 508130, "ipv4": {"vpc": "192.168.0.2", "nat_1_1": "192.0.2.0"},
      "ip_ranges": [], "ipv6": {"slaac": [{"range": "1234::5678/64", "address":
      "1234::5678"}], "ranges": [], "is_public": true}}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs/414391/ipv6s?page=1
    method: GET
  response:
    body: '{"data": [{"address": null, "address_range": null, "vpc_id": 414391, "subnet_id":
      508130, "region": "nl-ams", "linode_id": 94367422, "config_id": 97854886, "interface_id":
      11276827, "nodebalancer_id": null, "database_id": null, "active": false, "nat_1_1":
      "", "gateway": null, "prefix": 64, "subnet_mask": "", "ipv6_range": "1234::5678/64",
      "ipv6_is_public": true, "ipv6_addresses": [{"slaac_address": "1234::5678"}]}],
      "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/94367422
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs/414391
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
