---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://bea5fafd-0392-48a8-8d89-e423e28b4898.cpc1-cjj1-testing.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"470"},"items":[]}
    headers:
      Audit-Id:
      - a12db8e7-012e-442e-8d85-1ba847120828
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - a7def880-6cfb-4d9c-853a-92a77b84d325
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 4e7a37d0-d51d-4d54-8dc1-0a99e607986f
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://bea5fafd-0392-48a8-8d89-e423e28b4898.cpc1-cjj1-testing.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"528"},"items":[{"metadata":{"name":"lke7869-9253-14bc30040000","uid":"0651d255-1305-4fc3-bce2-23a6e40e2a32","resourceVersion":"527","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-1","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"us-east","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke7869-9253-14bc30040000","kubernetes.io/os":"linux","node.k8s.linode.com/host-uuid":"53257e56e7692e143036a5fbf7daaf92b5350bf3","node.kubernetes.io/instance-type":"g6-standard-1","topology.kubernetes.io/region":"us-east"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"unix:///run/containerd/containerd.sock","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/25\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:allocatable":{"f:ephemeral-storage":{}},"f:conditions":{"k:{\"type\":\"Ready\"}":{"f:message":{}}}}},"subresource":"status"},{"manager":"linode-cloud-controller-manager-linux","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:beta.kubernetes.io/instance-type":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:node.k8s.linode.com/host-uuid":{},"f:node.kubernetes.io/instance-type":{},"f:topology.kubernetes.io/region":{}}},"f:spec":{"f:providerID":{},"f:taints":{}}}},{"manager":"linode-cloud-controller-manager-linux","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:addresses":{".":{},"k:{\"type\":\"ExternalIP\"}":{".":{},"f:address":{},"f:type":{}},"k:{\"type\":\"Hostname\"}":{".":{},"f:address":{},"f:type":{}},"k:{\"type\":\"InternalIP\"}":{".":{},"f:address":{},"f:type":{}}}}},"subresource":"status"},{"manager":"kubeadm","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:kubeadm.alpha.kubernetes.io/cri-socket":{}}}}}]},"spec":{"podCIDR":"10.2.0.0/25","podCIDRs":["10.2.0.0/25"],"providerID":"linode://25212187","taints":[{"key":"lke.linode.com/labels-taints","value":"waiting","effect":"NoSchedule"},{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"1","ephemeral-storage":"51507660Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"2027300Ki","pods":"110"},"allocatable":{"cpu":"1","ephemeral-storage":"47469459378","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"1924900Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:Network plugin returns error: cni plugin not initialized, CSINode is not yet initialized]"}],"addresses":[{"type":"Hostname","address":"lke7869-9253-14bc30040000"},{"type":"ExternalIP","address":"139.144.129.191"},{"type":"InternalIP","address":"192.168.191.65"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"f6032e3562c645d5b0b7b5812520b368","systemUUID":"f6032e3562c645d5b0b7b5812520b368","bootID":"d75a46d6-5448-4328-bbc7-1bd999c84f3c","kernelVersion":"6.1.0-22-cloud-amd64","osImage":"Debian GNU/Linux 12 (bookworm)","containerRuntimeVersion":"containerd://1.7.18","kubeletVersion":"v1.29.2","kubeProxyVersion":"v1.29.2","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Audit-Id:
      - a705b8f6-b0f9-400c-9fb0-2527c4a117a2
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - a7def880-6cfb-4d9c-853a-92a77b84d325
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 4e7a37d0-d51d-4d54-8dc1-0a99e607986f
    status: 200 OK
    code: 200
    duration: ""
[...]
