---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/467342
    method: GET
  response:
    body: '{"id": 467342, "status": "active", "label": "linodego-test-volume-39pfjz33",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume-39pfjz33", "size":
      20, "linode_id": 38095390, "linode_label": "1304elxfx7s3-linodego-test-instance",
      "region": "us-west", "tags": [], "hardware_type": "hdd"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
