---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "Backups", "NodeBalancers", "Block Storage", "GPU Linodes", "Kubernetes",
      "Cloud Firewall", "Vlans", "Block Storage Migrations", "Managed Databases",
      "Metadata", "Placement Group", "StackScripts"], "status": "ok", "resolvers":
      {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5}, "site_type": "core"}, {"id": "ca-central", "label": "Toronto, CA", "country":
      "ca", "capabilities": ["Linodes", "Backups", "NodeBalancers", "Block Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations", "Managed
      Databases", "Metadata", "Placement Group", "StackScripts"], "status": "ok",
      "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6": "1234::5678,1234[...]
- request:
    body: '{"label":"go-postgres-testing-defhp467g50vl2b","region":"ap-west","type":"g6-nanode-1","engine":"postgresql/14","allow_list":["203.0.113.1","192.0.1.0/24"],"cluster_size":3}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances
    method: POST
  response:
    body: '{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size": 3, "created":
      "2018-01-02T03:04:05", "encrypted": true, "engine": "postgresql", "hosts": {"primary":
      "a278588-akamai-prod-3496018-default.g2a.akamaidb.net", "standby": "replica-a278588-akamai-prod-3496018-default.g2a.akamaidb.net"},
      "id": 278588, "label": "go-postgres-testing-defhp467g50vl2b", "members": {},
      "port": 14817, "region": "ap-west", "ssl_connection": true, "status": "provisioning",
      "total_disk_size_gb": 9, "type": "g6-nanode-1", "updated": "2018-01-02T03:04:05",
      "updates": {"day_of_week": 7, "duration": 4, "frequency": "weekly", "hour_of_day":
      13, "pending": []}, "used_disk_size_gb": null, "version": "14", "platform":
      "rdbms-default"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2025-04-16T07:26:13"},"entity.id":278588,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1008704458, "created": "2018-01-02T03:04:05", "seen":
      false, "read": false, "percent_complete": null, "time_remaining": null, "rate":
      null, "duration": null, "action": "database_create", "username": "radhika_gemini",
      "entity": {"label": "go-postgres-testing-defhp467g50vl2b", "id": 278588, "type":
      "database", "url": "/v4/databases/postgresql/instances/278588"}, "status": "notification",
      "secondary_entity": null, "message": ""}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/instances?page=1
    method: GET
  response:
    body: '{"data": [{"id": 138534, "label": "testing345", "type": "g6-standard-1",
      "engine": "mysql", "version": "8.0.30", "region": "us-ord", "status": "active",
      "port": 3306, "encrypted": false, "allow_list": [], "cluster_size": 3, "hosts":
      {"primary": "lin-138534-17484-mysql-primary.servers.linodedb.net", "secondary":
      "lin-138534-17484-mysql-primary-private.servers.linodedb.net"}, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "total_disk_size_gb": 35, "used_disk_size_gb":
      3, "members": {"172.232.29.58": "primary", "172.232.29.155": "failover", "172.232.29.159":
      "failover"}, "updates": {"frequency": "weekly", "duration": 3, "hour_of_day":
      5, "day_of_week": 7, "week_of_month": null}, "instance_uri": "/databases/mysql/instances/138534",
      "platform": "rdbms-legacy"}, {"allow_list": [], "cluster_size": 3, "created":
      "2018-01-02T03:04:05", "encrypted": true, "engine": "mysql", "hosts": {"primary":
      "a187468-akamai-prod-3496018-default.g2a.akamaidb.net", "standby": "replica-a187468-akamai-prod-3496018-default.g2a.akamaidb.net"},
      "id": 187468, "label": "TestAiven", "members": {"172.237.148.170": "primary",
      "172.237.148.239": "failover", "172.237.148.247": "failover"}, "oldest_restore_time":
      "2018-01-02T03:04:05", "port": 14817, "region": "us-ord", "ssl_connection":
      true, "status": "active", "total_disk_size_gb": 130, "type": "g6-dedicated-4",
      "updated": "2018-01-02T03:04:05", "updates": {"day_of_week": 6, "duration":
      4, "frequency": "weekly", "hour_of_day": 1, "pending": []}, "used_disk_size_gb":
      3, "version": "8.0.35", "platform": "rdbms-default"}, {"allow_list": [], "cluster_size":
      3, "created": "2018-01-02T03:04:05", "encrypted": true, "engine": "mysql", "hosts":
      {"primary": "a188020-akamai-prod-3496018-default.g2a.akamaidb.net", "standby":
      "replica-a188020-akamai-prod-3496018-default.g2a.akamaidb.net"}, "id": 188020,
      "label": "TestAiven2", "members": {"172.234.29.40": "failover", "172.236.101.144":
      "primary", "172.236.101.97": "failover"}, "oldest_restore_time": "2018-01-02T03:04:05",
      "port": 14817, "region": "us-ord", "ssl_connection": true, "status": "active",
      "total_disk_size_gb": 130, "type": "g6-dedicated-4", "updated": "2018-01-02T03:04:05",
      "updates": {"day_of_week": 2, "duration": 4, "frequency": "weekly", "hour_of_day":
      5, "pending": [{"deadline": "2018-01-02T03:04:05", "description": "Platform
      Updates", "planned_for": "2018-01-02T03:04:05"}]}, "used_disk_size_gb": 3, "version":
      "8.0.35", "platform": "rdbms-default"}, {"allow_list": [], "cluster_size": 3,
      "created": "2018-01-02T03:04:05", "encrypted": true, "engine": "postgresql",
      "hosts": {"primary": "a188680-akamai-prod-3496018-default.g2a.akamaidb.net",
      "standby": "replica-a188680-akamai-prod-3496018-default.g2a.akamaidb.net"},
      "id": 188680, "label": "Test-postgres", "members": {"172.232.28.119": "primary",
      "172.234.217.[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/postgresql/instances/278588
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
