---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://a9b4f4e0-9d98-41e8-9261-c6297bc410db.ap-west-1-gw.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"541"},"items":[]}
    headers:
      Audit-Id:
      - 2066de56-7b79-41e3-9d9e-0f4482e93505
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 79464cbe-ef10-4f9e-9417-2ee9367e853c
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - bdc4e7a6-a97a-4efa-858d-7f6a65cf3035
    status: 200 OK
    code: 200
    duration: ""
