---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/engines
    method: GET
  response:
    body: '{"data": [{"id": "mysql/5.7.30", "engine": "mysql", "version": "5.7.30"},
      {"id": "mysql/8.0.26", "engine": "mysql", "version": "8.0.26"}, {"id": "postgresql/10.14",
      "engine": "postgresql", "version": "10.14"}, {"id": "postgresql/11.11", "engine":
      "postgresql", "version": "11.11"}, {"id": "postgresql/12.6", "engine": "postgresql",
      "version": "12.6"}, {"id": "postgresql/13.2", "engine": "postgresql", "version":
      "13.2"}, {"id": "mongodb/3.6.21", "engine": "mongodb", "version": "3.6.21"},
      {"id": "mongodb/4.0.12", "engine": "mongodb", "version": "4.0.12"}, {"id": "mongodb/4.2.11",
      "engine": "mongodb", "version": "4.2.11"}, {"id": "mongodb/4.4.10", "engine":
      "mongodb", "version": "4.4.10"}], "page": 1, "pages": 1, "results": 10}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/engines/mysql/5.7.30
    method: GET
  response:
    body: '{"id": "mysql/5.7.30", "engine": "mysql", "version": "5.7.30"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
