---
version: 1
interactions:
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2","disks":null,"tags":["test"]}],"label":"0zhp38j3yq43-linodego-testing","region":"us-central","k8s_version":"1.21","tags":["testing"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 49184, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "0zhp38j3yq43-linodego-testing", "region": "us-central",
      "k8s_version": "1.21", "control_plane": {"high_availability": false}, "tags":
      ["testing"]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"count":2,"type":"g6-standard-2","disks":[{"size":1000,"type":"ext4"}],"tags":["testing"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/49184/pools
    method: POST
  response:
    body: '{"id": 77987, "type": "g6-standard-2", "count": 2, "nodes": [{"id": "77987-61dda4d79bad",
      "instance_id": null, "status": "not_ready"}, {"id": "77987-61dda4d7a6db", "instance_id":
      null, "status": "not_ready"}], "disks": [{"size": 1000, "type": "ext4"}], "autoscaler":
      {"enabled": false, "min": 2, "max": 2}, "tags": ["testing"]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/49184/nodes/77987-61dda4d79bad
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/49184/pools/77987
    method: GET
  response:
    body: '{"id": 77987, "type": "g6-standard-2", "count": 1, "nodes": [{"id": "77987-61dda4d7a6db",
      "instance_id": null, "status": "not_ready"}], "disks": [{"size": 1000, "type":
      "ext4"}], "autoscaler": {"enabled": false, "min": 2, "max": 2}, "tags": ["testing"]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/49184
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
