---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-definitions?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 10000, "label":
      "High Memory Usage Plan Dedicated", "description": "Alert triggers when dedicated
      plan nodes consistently reach critical memory usage.", "service_type": "dbaas",
      "type": "system", "scope": "entity", "class": "dedicated", "regions": [], "status":
      "enabled", "severity": 2, "rule_criteria": {"rules": [{"label": "Memory Usage",
      "metric": "memory_usage", "unit": "percent", "aggregate_function": "avg", "operator":
      "gt", "threshold": 95, "dimension_filters": []}]}, "alert_channels": [{"id":
      10000, "label": "Read-Write Channel", "url": "/monitor/alert-channels/10000",
      "type": "alert-channels"}], "trigger_conditions": {"criteria_condition": "ALL",
      "polling_interval_seconds": 300, "evaluation_period_seconds": 300, "trigger_occurrences":
      3}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "created_by":
      "system", "updated_by": "system", "group_by": ["entity_id"], "entities": {"url":
      "/monitor/services/dbaas/alert-definitions/10000/entities", "has_more_resources":
      false, "count": 5}}, {"id": 11184, "label": "Test alert", "description":
      "Test alert", "service_type": "dbaas", "type": "user", "scope":
      "entity", "class": null, "regions": [], "status": "disabled", "severity": 3,
      "rule_criteria": {"rules": [{"label": "CPU Usage", "metric": "cpu_usage", "unit":
      "percent", "aggregate_function": "avg", "operator": "gt", "threshold": 0, "dimension_filters":
      []}]}, "alert_channels": [{"id": 10004, "label": "Team Channel", "url":
      "/monitor/alert-channels/10004", "type": "alert-channels"}], "trigger_conditions":
      {"criteria_condition": "ALL", "polling_interval_seconds": 300, "evaluation_period_seconds":
      300, "trigger_occurrences": 1}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "created_by": "tester", "updated_by":
      "tester", "group_by": ["entity_id"], "entities": {"url": "/monitor/services/dbaas/alert-definitions/11184/entities",
      "has_more_resources": false, "count": 1}}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
