---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, India", "country": "in",
      "capabilities": ["Linodes", "Backups", "NodeBalancers", "Vlans", "VPCs", "Managed
      Databases"], "status": "ok", "resolvers": {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": 2, "maximum_linodes_per_pg":
      2}, "site_type": "core"}, {"id": "ca-central", "label": "Toronto, Ontario, CAN",
      "country": "ca", "capabilities": ["Linodes", "Backups", "NodeBalancers", "Vlans",
      "VPCs", "Managed Databases"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_gro[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions/availability?page=1
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"us-east","type":"g6-nanode-1","label":"go-test-ins-wo-disk-4b7z2w606uoj","firewall_id":37241,"disk_encryption":"enabled","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 25233676, "label": "go-test-ins-wo-disk-4b7z2w606uoj", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["143.42.181.225"], "ipv6": "1234::5678/128",
      "image": null, "region": "us-east", "site_type": "core", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": false, "available": false, "schedule": {"day": null,
      "window": null}, "last_successful": null}, "hypervisor": "kvm", "watchdog_enabled":
      true, "tags": [], "host_uuid": "3ea139a93c92b6eda6fa3085f78d8cf2132a9234", "has_user_data":
      false, "placement_group": null, "disk_encryption": "enabled", "lke_cluster_id":
      null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-2r9209pgz8jb","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/25233676/configs
    method: POST
  response:
    body: '{"id": 3460802, "label": "go-test-conf-2r9209pgz8jb", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"linode_create","created":{"+gte":"2018-01-02T03:04:05"},"entity.id":25233676,"entity.type":"linode"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 29023183, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": 100, "time_remaining": null, "rate": null,
      "duration": 13.0, "action": "linode_create", "username": "lgarber", "entity":
      {"label": "go-test-ins-wo-disk-4b7z2w606uoj", "id": 25233676, "type": "linode",
      "url": "/v4/linode/instances/25233676"}, "status": "finished", "secondary_entity":
      null, "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"image":"linode/alpine3.19","root_pass":"qke2/w`3g+m]L56QT,-5M9-eI}80g[0hQj23=PlJqQH68##cSOL0ucxK?\\[.3K8G","type":"g6-standard-2","disk_encryption":"disabled"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/25233676/rebuild
    method: POST
  response:
    body: '{"id": 25233676, "label": "go-test-ins-wo-disk-4b7z2w606uoj", "group":
      "", "status": "rebuilding", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-standard-2", "ipv4": ["143.42.181.225"], "ipv6": "1234::5678/128",
      "image": "linode/alpine3.19", "region": "us-east", "site_type": "core", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts":
      {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io":
      10000}, "backups": {"enabled": false, "available": false, "schedule": {"day":
      null, "window": null}, "last_successful": null}, "hypervisor": "kvm", "watchdog_enabled":
      true, "tags": [], "host_uuid": "3ea139a93c92b6eda6fa3085f78d8cf2132a9234", "has_user_data":
      false, "placement_group": null, "disk_encryption": "disabled", "lke_cluster_id":
      null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/25233676
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
