---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/7301562
    method: GET
  response:
    body: '{"id": 7301562, "status": "active", "label": "go-vol-test-def", "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_go-vol-test-def", "size": 20, "linode_id":
      67701824, "linode_label": "go-test-ins-4n57ej5b4bz0", "region": "ap-west", "tags":
      [], "hardware_type": "nvme", "encryption": "disabled"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
