---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-volume","region":"us-west","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes
    method: POST
  response:
    body: '{"size": 20, "updated": "2018-01-02T03:04:05", "region": "us-west", "id":
      48744, "created": "2018-01-02T03:04:05", "tags": [], "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "status": "creating", "linode_id": null, "label": "linodego-test-volume"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574092374"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"linode_id":18512749,"config_id":19755239}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/48744/attach
    method: POST
  response:
    body: '{"updated": "2018-01-02T03:04:05", "region": "us-west", "status": "creating",
      "created": "2018-01-02T03:04:05", "size": 20, "linode_id": 18512749, "id": 48744,
      "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "label": "linodego-test-volume", "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - volumes:read_only,linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574092375"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/48744
    method: GET
  response:
    body: '{"updated": "2018-01-02T03:04:05", "label": "linodego-test-volume", "size":
      20, "id": 48744, "status": "active", "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "linode_id": 18512749, "created": "2018-01-02T03:04:05", "tags": [], "region":
      "us-west"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574092390"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
[...]
