---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "GPU Linodes", "Kubernetes", "Cloud Firewall", "Vlans", "Block
      Storage Migrations", "Managed Databases", "Metadata", "Placement Group", "StackScripts",
      "Linode Interfaces"], "status": "ok", "resolvers": {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "ca-central",
      "label": "Toronto, CA", "country": "ca", "capabilities": ["Linodes", "LA Disk
      Encryption", "Disk Encryption", "Backups", "NodeBalancers", "Block Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "Block Storage Migrations", "Managed
      Databases", "Metadata", "Placement Group", "StackScripts", "Linode Interfaces"],
      "status": "ok", "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,17[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/tiers/standard/versions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "1.33", "tier": "standard"}, {"id": "1.32", "tier": "standard"},
      {"id": "1.31", "tier": "standard"}], "page": 1, "pages": 1, "results": 3}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2","disks":null,"tags":["test"],"labels":null,"taints":null}],"label":"go-lke-test-def","region":"ap-west","k8s_version":"1.33","tags":["testing"],"tier":"standard"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 493481, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "go-lke-test-def", "region": "ap-west", "k8s_version":
      "1.33", "tier": "standard", "control_plane": {"high_availability": false}, "apl_enabled":
      false, "tags": ["testing"]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"count":2,"type":"g6-standard-2","disks":[{"size":1000,"type":"ext4"}],"tags":["testing"],"labels":null,"taints":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/493481/pools
    method: POST
  response:
    body: '{"id": 711272, "type": "g6-standard-2", "count": 2, "nodes": [{"id": "711272-13483a2f0000",
      "instance_id": 79190454, "status": "not_ready"}, {"id": "711272-1c2494ee0000",
      "instance_id": 79190451, "status": "not_ready"}], "disks": [{"size": 1000, "type":
      "ext4"}], "autoscaler": {"enabled": false, "min": 2, "max": 2}, "labels": {},
      "taints": [], "tags": ["testing"], "disk_encryption": "enabled"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/493481/pools/711272
    method: GET
  response:
    body: '{"id": 711272, "type": "g6-standard-2", "count": 2, "nodes": [{"id": "711272-13483a2f0000",
      "instance_id": 79190454, "status": "not_ready"}, {"id": "711272-1c2494ee0000",
      "instance_id": 79190451, "status": "not_ready"}], "disks": [{"size": 1000, "type":
      "ext4"}], "autoscaler": {"enabled": false, "min": 2, "max": 2}, "labels": {},
      "taints": [], "tags": ["testing"], "disk_encryption": "enabled"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/493481/kubeconfig
    method: GET
  response:
    body: '{"errors": [{"reason": "Cluster kubeconfig is not yet available. Please
      try again later."}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 503 Service Unavailable
    code: 503
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/493481/kubeconfig
    method: GET
  response:
    body: '{"kubeconfig": "CmFwaVZlcnNpb246IHYxCmtpbmQ6IENvbmZpZwpwcmVmZXJlbmNlczoge30KCmNsdXN0ZXJzOgotIGNsdXN0ZXI6CiAgICBjZXJ0aWZpY2F0ZS1hdXRob3JpdHktZGF0YTogTFMwdExTMUNSVWRKVGlCRFJWSlVTVVpKUTBGVVJTMHRMUzB0Q2sxSlNVUkNWRU5EUVdVeVowRjNTVUpCWjBsSllXRkdaM1pVU1ZocGFrRjNSRkZaU2t0dldrbG9kbU5PUVZGRlRFSlJRWGRHVkVWVVRVSkZSMEV4VlVVS1FYaE5TMkV6Vm1sYVdFcDFXbGhTYkdONlFXVkdkekI1VGxSQk1rMXFVWGhPUkZFeFRsUkNZVVozTUhwT1ZFRXlUV3BKZUU1RVZYZE9WRUpoVFVKVmVBcEZla0ZTUW1kT1ZrSkJUVlJEYlhReFdXMVdlV0p0VmpCYVdFMTNaMmRGYVUxQk1FZERVM0ZIVTBsaU0wUlJSVU[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/79190454
    method: GET
  response:
    body: '{"id": 79190454, "label": "lke493481-711272-13483a2f0000", "group": "",
      "status": "offline", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-standard-2", "ipv4": ["192.46.212.201", "192.168.139.29"], "ipv6":
      "1234::5678/128", "image": null, "region": "ap-west", "site_type":
      "core", "specs": {"disk": 81920, "memory": 4096, "vcpus": 2, "gpus": 0, "transfer":
      4000, "accelerated_devices": 0}, "alerts": {"cpu": 180, "network_in": 10, "network_out":
      10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled": true, "available":
      true, "schedule": {"day": "Scheduling", "window": "Scheduling"}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid":
      "889f20e8f8117bcba05ac62c37c78a4970fc8a60", "has_user_data": false, "placement_group":
      null, "disk_encryption": "enabled", "lke_cluster_id": 493481, "capabilities":
      ["SMTP Enabled"], "interface_generation": "legacy_config"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/493481
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
