---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"792aogs6f7y9-linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 38094945, "label": "792aogs6f7y9-linodego-test-instance", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["45.33.111.85"], "ipv6": "1234::5678/128",
      "image": "linode/debian9", "region": "us-west", "specs": {"disk": 25600, "memory":
      1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/38094945/ips
    method: POST
  response:
    body: '{"address": "192.168.204.227", "gateway": null, "subnet_mask": "255.255.128.0",
      "prefix": 17, "type": "ipv4", "public": false, "rdns": null, "linode_id": 38094945,
      "region": "us-west"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.204.227:8080","label":"test-label","weight":10,"mode":"accept"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/243775/configs/360206/nodes
    method: POST
  response:
    body: '{"id": 59114548, "address": "192.168.204.227:8080", "label": "test-label",
      "status": "Unknown", "weight": 10, "mode": "accept", "config_id": 360206, "nodebalancer_id":
      243775}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"test-label_r","weight":100,"mode":"drain"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/243775/configs/360206/nodes/59114548
    method: PUT
  response:
    body: '{"id": 59114548, "address": "192.168.204.227:8080", "label": "test-label_r",
      "status": "Unknown", "weight": 100, "mode": "drain", "config_id": 360206, "nodebalancer_id":
      243775}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/38094945
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
