---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-channels?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 10000, "label": "Read-Write
      Channel", "channel_type": "email", "type": "system", "details": {"email": {"usernames":
      [], "recipient_type": "read_write_users"}}, "alerts": {"url": "/monitor/alert-channels/10000/alerts",
      "type": "alerts-definitions", "alert_count": 9}, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "created_by": "system", "updated_by": "system"}, 
      {"id": 10118, "label": "notification channel", "channel_type": "email", "type": "user", 
      "details": {"email": {"usernames": ["user_admin"], "recipient_type":
      "user"}}, "alerts": {"url": "/monitor/alert-channels/10118/alerts", "type":
      "alerts-definitions", "alert_count": 0}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "created_by": "user_admin", "updated_by":
      "user_admin"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
