---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://88e1d972-7772-4598-8431-1bf7e90daf76.us-southeast-1.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"530"},"items":[]}
    headers:
      Audit-Id:
      - 8d2ebd9a-af7f-423f-985f-cde983b775fb
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 8880c8ba-e909-4c4b-8230-c7c2e44e453f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 21060768-c13e-4afa-9319-831ea72b3484
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://88e1d972-7772-4598-8431-1bf7e90daf76.us-southeast-1.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"624"},"items":[{"metadata":{"name":"lke75912-117960-6345a8ca5391","uid":"f1c8d330-3988-419c-8c55-59751471ddcb","resourceVersion":"622","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-2","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"us-southeast","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke75912-117960-6345a8ca5391","kubernetes.io/os":"linux","node.kubernetes.io/instance-type":"g6-standard-2","topology.kubernetes.io/region":"us-southeast"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"/var/run/dockershim.sock","lke.linode.com/wgip":"172.31.0.1","lke.linode.com/wgpub":"NFwSwYOtHZAXPLRxtoOGt0fjWXqhjTWK/mUA+KE+3Qw=","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/24\"":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:conditions":{"k:{\"type\":\"Ready\"}":{"f:message":{}}}}}},{"manager":"kubeadm","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:kubeadm.alpha.kubernetes.io/cri-socket":{}}}}},{"manager":"linode-cloud-controller-manager-linux-amd64","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:beta.kubernetes.io/instance-type":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:node.kubernetes.io/instance-type":{},"f:topology.kubernetes.io/region":{}}},"f:spec":{"f:providerID":{},"f:taints":{}}}},{"manager":"linode-cloud-controller-manager-linux-amd64","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:addresses":{"k:{\"type\":\"ExternalIP\"}":{".":{},"f:address":{},"f:type":{}},"k:{\"type\":\"InternalIP\"}":{"f:address":{}}}}},"subresource":"status"},{"manager":"kubectl-annotate","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:lke.linode.com/wgip":{},"f:lke.linode.com/wgpub":{}}}}}]},"spec":{"podCIDR":"10.2.0.0/24","podCIDRs":["10.2.0.0/24"],"providerID":"linode://39467441","taints":[{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82517840Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4028096Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76048441219","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3925696Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized, CSINode is not yet initialized]"}],"addresses":[{"type":"Hostname","address":"lke75912-117960-6345a8ca5391"},{"type":"ExternalIP","address":"139.144.61.28"},{"type":"InternalIP","address":"192.168.237.42"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"a15d0905898b4caf8bd259db9451d4d0","systemUUID":"a15d0905898b4caf8bd259db9451d4d0","bootID":"85a01967-2da6-4310-8094-0d7a9b82620b","kernelVersion":"5.10.0-14-cloud-amd64","osImage":"Debian GNU/Linux 11 (bullseye)","containerRuntimeVersion":"docker://20.10.15","kubeletVersion":"v1.23.6","kubeProxyVersion":"v1.23.6","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Audit-Id:
      - 4fa4dd5f-19ee-4ae3-9ca9-c28474f49bbc
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 8880c8ba-e909-4c4b-8230-c7c2e44e453f
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 21060768-c13e-4afa-9319-831ea72b3484
    status: 200 OK
    code: 200
    duration: ""
[...]
