---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/types?page=1
    method: GET
  response:
    body: '{"data": [{"class": "nanode", "disk": 9216, "engines": {"mysql": [{"price":
      {"hourly": 0.024, "monthly": 16.0}, "quantity": 1}, {"price": {"hourly": 0.055,
      "monthly": 37.0}, "quantity": 3}], "postgresql": [{"price": {"hourly": 0.024,
      "monthly": 16.0}, "quantity": 1}, {"price": {"hourly": 0.055, "monthly": 37.0},
      "quantity": 3}]}, "id": "g6-nanode-1", "label": "DBaaS - Nanode 1GB", "memory":
      1024, "vcpus": 1}, {"class": "standard", "disk": 30720, "engines": {"mysql":
      [{"price": {"hourly": 0.047, "monthly": 32.0}, "quantity": 1}, {"price": {"hourly":
      0.11, "monthly": 74.0}, "quantity": 3}], "postgresql": [{"price": {"hourly":
      0.047, "monthly": 32.0}, "quantity": 1}, {"price": {"hourly": 0.11, "monthly":
      74.0}, "quantity": 3}]}, "id": "g6-standard-1", "label": "DBaaS - Linode 2GB",
      "memory": 2048, "vcpus": 1}, {"class": "standard", "disk": 59392, "engines":
      {"mys[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/types/g6-nanode-1
    method: GET
  response:
    body: '{"class": "nanode", "disk": 9216, "engines": {"mysql": [{"price": {"hourly":
      0.024, "monthly": 16.0}, "quantity": 1}, {"price": {"hourly": 0.055, "monthly":
      37.0}, "quantity": 3}], "postgresql": [{"price": {"hourly": 0.024, "monthly":
      16.0}, "quantity": 1}, {"price": {"hourly": 0.055, "monthly": 37.0}, "quantity":
      3}]}, "id": "g6-nanode-1", "label": "DBaaS - Nanode 1GB", "memory": 1024, "vcpus":
      1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
