---
version: 1
interactions:
- request:
    body: '{"label":"linodego-token-test","scopes":"linodes:read_only","expiry":"2022-10-10T19:47:29"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 41180273, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-token-test", "token": "60fbc58db1ab95071e646f48d1da3dd2f8c37d7f7fb602bafd6b731ee875a067",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: GET
  response:
    body: '{"data": [{"id": 39828879, "scopes": "*", "created": "2018-01-02T03:04:05",
      "label": "lena-pc", "token": "f769d10d3554bab1", "expiry": "2018-01-02T03:04:05"},
      {"id": 39906996, "scopes": "*", "created": "2018-01-02T03:04:05", "label": "lena-pc2",
      "token": "30f37bba6d5ff947", "expiry": "2222-08-19T00:00:00"}, {"id": 40478549,
      "scopes": "*", "created": "2018-01-02T03:04:05", "label": "lena-pc-3", "token":
      "fe0549c503a93043", "expiry": "2018-01-02T03:04:05"}, {"id": 40581141, "scopes":
      "*", "created": "2018-01-02T03:04:05", "label": "tesat", "token": "baa4e1616b02312a",
      "expiry": "2018-01-02T03:04:05"}, {"id": 40676179, "scopes": "*", "created":
      "2018-01-02T03:04:05", "label": "asdad", "token": "77e6e2a9cf240f0d", "expiry":
      "2018-01-02T03:04:05"}, {"id": 40719326, "scopes": "*", "created": "2018-01-02T03:04:05",
      "label": "laptop", "token": "ba91c55cc1531b4f", "expiry": "2018-01-02T03:04:05"},
      {"id": 41180273, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-token-test", "token": "60fbc58db1ab9507", "expiry": "2018-01-02T03:04:05"}],
      "page": 1, "pages": 1, "results": 7}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/41180273
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
