---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "GPU Linodes", "Kubernetes", "Cloud Firewall", "Vlans", "Block
      Storage Migrations", "Managed Databases", "Metadata", "Placement Group", "StackScripts",
      "Linode Interfaces"], "status": "ok", "resolvers": {"ipv4": "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5}, "site_type": "core"}, {"id": "ca-central", "label": "Toronto, CA", "country":
      "ca", "capabilities": ["Linodes", "LA Disk Encryption", "Disk Encryption", "Backups",
      "NodeBalancers", "Block Storage", "Kubernetes", "Cloud Firewall", "Vlans", "Block
      Storage Migrations", "Managed Databases", "Metadata", "Placement Group", "StackScripts",
      "Linode Interfaces"], "status": "ok", "resolvers": {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.[...]
- request:
    body: '{"label":"go-test-vpc-1747334490989477000","region":"us-ord","subnets":[{"label":"linodego-vpc-test-1747334491091289000","ipv4":"192.168.0.0/25"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs
    method: POST
  response:
    body: '{"id": 186865, "label": "go-test-vpc-1747334490989477000", "description":
      "", "region": "us-ord", "subnets": [{"id": 184798, "label": "linodego-vpc-test-1747334491091289000",
      "ipv4": "192.168.0.0/25", "linodes": [], "nodebalancers": [], "databases": [],
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}], "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-def","region":"us-ord","client_conn_throttle":20,"tags":null,"firewall_id":2572045,"vpcs":[{"ipv4_range":"192.168.0.64/30","subnet_id":184798}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 1560931, "label": "go-test-def", "region": "us-ord", "type": "common",
      "hostname": "172-236-121-162.ip.linodeusercontent.com", "ipv4": "172.236.121.162",
      "ipv6": "1234::5678", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "client_conn_throttle": 20, "client_udp_sess_throttle":
      0, "lke_cluster": null, "tags": [], "transfer": {"in": null, "out": null, "total":
      null}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"us-ord","type":"g6-nanode-1","label":"go-test-ins-wo-disk-80kt089po9fg","root_pass":"0o37Klm56P4ssw0rd","image":"linode/ubuntu22.04","interfaces":[{"purpose":"vpc","subnet_id":184798,"ipv4":{"nat_1_1":"any"}}],"firewall_id":2572045,"booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 77049408, "label": "go-test-ins-wo-disk-80kt089po9fg", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.234.207.45"], "ipv6": "1234::5678/128",
      "image": "linode/ubuntu22.04", "region": "us-ord", "site_type": "core", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": true, "available": false, "schedule":
      {"day": null, "window": null}, "last_successful": null}, "hypervisor": "kvm",
      "watchdog_enabled": true, "tags": [], "host_uuid": "09509d731b07a6c0d87ef4de99c0097abe9aa45a",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": ["Block Storage Encryption", "SMTP Enabled"],
      "interface_generation": "legacy_config"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-36ur94q2y8zf","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/77049408/configs
    method: POST
  response:
    body: '{"id": 80472373, "label": "go-test-conf-36ur94q2y8zf", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": false, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/77049408/configs?page=1
    method: GET
  response:
    body: '{"data": [{"id": 80472370, "label": "My Ubuntu 22.04 LTS Disk Profile",
      "helpers": {"updatedb_disabled": true, "distro": true, "modules_dep": true,
      "network": false, "devtmpfs_automount": true}, "kernel": "linode/grub2", "comments":
      "", "memory_limit": 0, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "root_device": "/dev/sda", "devices": {"sda": {"disk_id": 149007725, "volume_id":
      null}, "sdb": {"disk_id": 149007728, "volume_id": null}, "sdc": null, "sdd":
      null, "sde": null, "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level":
      "default", "virt_mode": "paravirt", "interfaces": [{"id": 5310083, "purpose":
      "vpc", "primary": false, "active": false, "ipam_address": null, "label": null,
      "vpc_id": 186865, "subnet_id": 184798, "ipv4": {"vpc": "192.168.0.2", "nat_1_1":
      "172.234.207.45"}, "ip_ranges": []}]}, {"id": 80472373, "label": "go-test-conf-36ur94q2y8zf",
      "helpers": {"updatedb_disabled": true, "distro": true, "modules_dep": true,
      "network": false, "devtmpfs_automount": true}, "kernel": "linode/latest-64bit",
      "comments": "", "memory_limit": 0, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "root_device": "/dev/sda", "devices": {"sda": null, "sdb":
      null, "sdc": null, "sdd": null, "sde": null, "sdf": null, "sdg": null, "sdh":
      null}, "initrd": null, "run_level": "default", "virt_mode": "paravirt", "interfaces":
      []}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin","check_interval":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1560931/configs
    method: POST
  response:
    body: '{"id": 2401504, "port": 80, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 60, "check_timeout":
      30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      1560931, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}, "udp_check_port": 80, "udp_session_timeout":
      16}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin","check_interval":60,"nodes":[{"address":"192.168.0.2:80","label":"test","weight":1,"mode":"accept","subnet_id":184798}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1560931/configs/2401504/rebuild
    method: POST
  response:
    body: '{"id": 2401504, "port": 80, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 60, "check_timeout":
      30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      1560931, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 1}, "udp_check_port": 80, "udp_session_timeout":
      16}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1560931/configs/2401504/nodes?page=1
    method: GET
  response:
    body: '{"data": [{"id": 2101835377, "address": "192.168.0.2:80", "label": "test",
      "status": "Unknown", "weight": 1, "mode": "accept", "config_id": 2401504, "nodebalancer_id":
      1560931, "vpc_config_id": 2545}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1560931/vpcs?page=1
    method: GET
  response:
    body: '{"data": [{"id": 2545, "nodebalancer_id": 1560931, "vpc_id": 186865, "subnet_id":
      184798, "ipv4_range": "192.168.0.64/30"}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/77049408
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/1560931
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/vpcs/186865
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - vpc:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
