---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"status": "provisioning", "backups": {"schedule": {"window": null, "day":
      null}, "enabled": false}, "specs": {"vcpus": 1, "memory": 1024, "disk": 25600,
      "transfer": 1000}, "id": 11758356, "ipv6": "1234::5678/64",
      "tags": [], "label": "linodego-test-instance", "created": "2018-01-02T03:04:05",
      "ipv4": ["10.20.30.40"], "type": "g6-nanode-1", "alerts": {"transfer_quota":
      80, "io": 10000, "cpu": 90, "network_out": 10, "network_in": 10}, "image": null,
      "region": "us-west", "hypervisor": "kvm", "group": "", "watchdog_enabled": true,
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "45"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1543840868"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/11758356/configs
    method: POST
  response:
    body: '{"virt_mode": "paravirt", "initrd": null, "id": 12984581, "memory_limit":
      0, "label": "linodego-test-config", "comments": "", "updated": "2018-01-02T03:04:05",
      "root_device": "/dev/sda", "created": "2018-01-02T03:04:05", "kernel": "linode/latest-64bit",
      "helpers": {"network": true, "devtmpfs_automount": true, "distro": true, "modules_dep":
      true, "updatedb_disabled": true}, "run_level": "default", "devices": {"sdc":
      null, "sdh": null, "sde": null, "sdd": null, "sdf": null, "sdb": null, "sdg":
      null, "sda": null}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543840942"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
      X-Filter:
      - '{"linode_id":11758356}'
    url: https://api.linode.com/v4beta/networking/ips
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "data": [{"public": true, "subnet_mask": "10.20.30.40",
      "region": "us-east", "rdns": "li1831-217.members.linode.com", "gateway": "10.20.30.40",
      "prefix": 24, "address": "10.20.30.40", "type": "ipv4", "linode_id": 10967576},
      {"public": true, "subnet_mask": "10.20.30.40", "region": "us-east", "rdns":
      "li244-79.members.linode.com", "gateway": "10.20.30.40", "prefix": 24, "address":
      "10.20.30.40", "type": "ipv4", "linode_id": 11221635}, {"public": true, "subnet_mask":
      "10.20.30.40", "region": "eu-west", "rdns": "li559-212.members.linode.com",
      "gateway": "10.20.30.40", "prefix": 24, "address": "10.20.30.40", "type":
      "ipv4", "lino[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/11758356
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1543840941"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
