---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account
    method: GET
  response:
    body: '{"company": "Akamai Technologies - Edge Experience - Dola", "email": "dl-pdx-dw-dola@akamai.com",
      "first_name": "", "last_name": "", "address_1": "", "address_2": "", "city":
      "", "state": "MA", "zip": "02142", "country": "US", "phone": "", "balance":
      0.0, "tax_id": "", "billing_source": "linode", "credit_card": {"last_four":
      null, "expiry": null}, "balance_uninvoiced": 0.0, "active_since": "2018-01-02T03:04:05",
      "capabilities": ["Linodes", "NodeBalancers", "Block Storage", "Object Storage",
      "Kubernetes", "Cloud Firewall", "Vlans", "LKE HA Control Planes", "VPCs", "Block
      Storage Encryption", "Machine Images", "Managed Databases", "Akamai Cloud Pulse
      Logs", "LKE Network Access Control List (IP ACL)", "Placement Group", "Object
      Storage Access Key Regions", "Object Storage Endpoint Types", "Disk Encryption",
      "LA Disk Encryption", "SMTP Enabled", "NETINT Quadra T1U", "Linode Interfaces"],
      "active_promotions": [], "euuid": "BED02C05-67D6-4FAA-BC8BB63BB77C1197"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams?page=1
    method: GET
  response:
    body: '{"pages": 0, "page": 1, "results": 0, "data": []}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"destinations":[],"label":"go-test-empty-dest-1777377844780014000","type":"audit_logs"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams
    method: POST
  response:
    body: '{"errors": [{"reason": "Must contain one item", "field": "destinations"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 400 Bad Request
    code: 400
    duration: ""
