---
version: 1
interactions:
- request:
    body: '{"region":"us-east"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips
    method: POST
  response:
    body: '{"address": "66.175.210.129", "gateway": "66.175.210.1", "subnet_mask":
      "255.255.255.0", "prefix": 24, "type": "ipv4", "public": true, "rdns": "66-175-210-129.ip.linodeusercontent.com",
      "linode_id": null, "region": "us-east", "vpc_nat_1_1": null, "reserved": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"us-east","type":"g6-nanode-1","label":"go-test-ins-reserved-ip-51wnej2z10p6","root_pass":"3$0-68$:{^;C6L)hSj4Rd;nPw(3(q7TPesW[TF4q:AozB4Mi:gu608ecC4SX)3|9","image":"linode/alpine3.17","interfaces":[{"ipam_address":"","label":"","purpose":"public"}],"booted":false,"ipv4":["66.175.210.129"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 71864085, "label": "go-test-ins-reserved-ip-51wnej2z10p6", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["66.175.210.129"], "ipv6": "1234::5678/128",
      "image": "linode/alpine3.17", "region": "us-east", "site_type": "core", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": true, "available": false, "schedule":
      {"day": null, "window": null}, "last_successful": null}, "hypervisor": "kvm",
      "watchdog_enabled": true, "tags": [], "host_uuid": "28f0a07a22e3e83d9b15e2ce39641c3e241140a7",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": ["SMTP Enabled"]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/71864085/ips
    method: GET
  response:
    body: '{"ipv4": {"public": [{"address": "66.175.210.129", "gateway": "66.175.210.1",
      "subnet_mask": "255.255.255.0", "prefix": 24, "type": "ipv4", "public": true,
      "rdns": "66-175-210-129.ip.linodeusercontent.com", "linode_id": 71864085, "region":
      "us-east", "vpc_nat_1_1": null, "reserved": true}], "private": [], "shared":
      [], "reserved": [], "vpc": []}, "ipv6": {"slaac": {"address": "1234::5678",
      "gateway": "1234::5678", "subnet_mask": "1234::5678", "prefix": 64,
      "type": "ipv6", "rdns": null, "linode_id": 71864085, "region": "us-east", "public":
      true}, "link_local": {"address": "1234::5678", "gateway": "1234::5678",
      "subnet_mask": "1234::5678", "prefix": 64, "type": "ipv6", "rdns":
      null, "linode_id": 71864085, "region": "us-east", "public": false}, "global":
      []}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/71864091
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1600"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips/66.175.210.129
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
