---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","type":"g6-nanode-1","label":"linodego-test-instance-wo-disk","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 36182528, "label": "linodego-test-instance-wo-disk", "group": "",
      "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["45.33.97.55"], "ipv6": "1234::5678/128",
      "image": null, "region": "us-southeast", "specs": {"disk": 25600, "memory":
      1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu": 90, "network_in":
      10, "network_out": 10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/36182528/configs
    method: POST
  response:
    body: '{"id": 38518063, "label": "linodego-test-config", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/36182528/ips
    method: GET
  response:
    body: '{"ipv4": {"public": [{"address": "45.33.97.55", "gateway": "45.33.97.1",
      "subnet_mask": "255.255.255.0", "prefix": 24, "type": "ipv4", "public": true,
      "rdns": "45-33-97-55.ip.linodeusercontent.com", "linode_id": 36182528, "region":
      "us-southeast"}], "private": [], "shared": [], "reserved": []}, "ipv6": {"slaac":
      {"address": "1234::5678", "gateway": "1234::5678", "subnet_mask":
      "1234::5678", "prefix": 64, "type": "ipv6", "rdns": null, "linode_id":
      36182528, "region": "us-southeast", "public": true}, "link_local": {"address":
      "1234::5678", "gateway": "1234::5678", "subnet_mask": "1234::5678",
      "prefix": 64, "type": "ipv6", "rdns": null, "linode_id": 36182528, "region":
      "us-southeast", "public": false}, "global": []}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rdns":"45-33-97-55.ip.linodeusercontent.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/ips/45.33.97.55
    method: PUT
  response:
    body: '{"address": "45.33.97.55", "gateway": "45.33.97.1", "subnet_mask": "255.255.255.0",
      "prefix": 24, "type": "ipv4", "public": true, "rdns": "45-33-97-55.ip.linodeusercontent.com",
      "linode_id": 36182528, "region": "us-southeast"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/36182528
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
