---
version: 1
interactions:
- request:
    body: '{"username":"linodegotest-updateusergrants","email":"linodegotest-updateusergrants@example.com","restricted":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: POST
  response:
    body: '{"username": "linodegotest-updateusergrants", "email": "linodegotest-updateusergrants@example.com",
      "restricted": true, "ssh_keys": [], "tfa_enabled": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"global":{"account_access":"read_only","add_domains":false,"add_firewalls":true,"add_images":true,"add_linodes":false,"add_longview":true,"add_nodebalancers":false,"add_stackscripts":true,"add_volumes":true,"cancel_account":false,"longview_subscription":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-updateusergrants/grants
    method: PUT
  response:
    body: '{"linode": [{"id": 28839970, "label": "aaaaaaa", "permissions":
      null}], "nodebalancer": [], "domain": [], "stackscript": [{"id": 873369, "label":
      "aaaaaaa", "permissions": null}], "longview": [], "image": [],
      "volume": [], "firewall": [{"id": 17053, "label": "sdf", "permissions": null}],
      "global": {"add_domains": false, "add_linodes": false, "add_longview": true,
      "longview_subscription": false, "add_stackscripts": true, "add_nodebalancers":
      false, "add_images": true, "add_volumes": true, "add_firewalls": true, "account_access":
      "read_only", "cancel_account": false}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-updateusergrants
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
