---
version: 1
interactions:
- request:
    body: '{"label":"testing"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients
    method: POST
  response:
    body: '{"id": 297876, "label": "testing", "api_key": "9B4E29A0-E339-4E16-A86540CD6F847A31",
      "install_code": "8BCA03D4-307D-4899-B22F58C6C28700BE", "apps": {"apache": 0,
      "nginx": 0, "mysql": 0}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"testing_updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/longview/clients/297876
    method: PUT
  response:
    body: '{"id": 297876, "label": "testing_updated", "api_key": "9B4E29A0-E339-4E16-A86540CD6F847A31",
      "install_code": "8BCA03D4-307D-4899-B22F58C6C28700BE", "apps": {"apache": false,
      "nginx": false, "mysql": false}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - longview:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
