---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","label":"go-test-logs-destination-1778050366803952000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1778050366803952000.us-southeast-1.linodeobjects.com",
      "label": "go-test-logs-destination-1778050366803952000", "created": "2018-01-02T03:04:05",
      "region": "us-southeast", "cluster": "us-southeast-1", "size": 0, "objects":
      0, "endpoint_type": "E0", "s3_endpoint": "us-southeast-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778050369234853000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3576474, "label": "go-test-logs-destination-1778050369234853000",
      "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]", "limited": false,
      "bucket_access": null, "regions": [{"id": "us-east", "s3_endpoint": "us-east-1.linodeobjects.com",
      "endpoint_type": "E0"}, {"id": "us-iad", "s3_endpoint": "us-iad-10.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint": "us-lax-1.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint": "us-lax-4.linodeobjects.com",
      "endpoint_type": "E3"}, {"id": "us-mia", "s3_endpoint": "us-mia-1.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "us-ord", "s3_endpoint": "us-ord-10.linodeobjects.com",
      "endpoint_type": "E3"}, {"id": "us-ord", "s3_endpoint": "us-ord-1.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "us-sea", "s3_endpoint": "us-sea-1.linodeobjects.com",
      "endpoint_type": "E1"}, {"id": "us-southeast", "s3_endpoint": "us-southeast-1.linodeobjects.com",
      "endpoint_type": "E0"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778050371723025000","type":"invalid_type","details":{"access_key_id":"[SANITIZED]","access_key_secret":"[SANITIZED]","bucket_name":"go-test-logs-destination-1778050366803952000","host":"go-test-logs-destination-1778050366803952000.us-southeast-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"errors": [{"reason": "Must be one of akamai_object_storage, custom_https",
      "field": "type"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3576474
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1778050366803952000/object-list
    method: GET
  response:
    body: '{"data": [], "next_marker": null, "is_truncated": false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1778050366803952000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
