---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/logins
    method: GET
  response:
    body: '{"data": [{"id": 1570345252, "datetime": "2018-01-02T03:04:05", "ip": "2001:569:5127:d300:c1b8:8b67:f238:7211",
      "username": "youjungk01", "status": "successful", "restricted": false}, {"id":
      1570546015, "datetime": "2018-01-02T03:04:05", "ip": "2001:569:7ef5:7300:8421:7144:5f84:555c",
      "username": "youjungk01", "status": "successful", "restricted": false}, {"id":
      1570702137, "datetime": "2018-01-02T03:04:05", "ip": "2001:569:7c47:1600:f8cf:9033:6dd5:8639",
      "username": "youjungk01", "status": "successful", "restricted": false}, {"id":
      1570970558, "datetime": "2018-01-02T03:04:05", "ip": "2001:569:7c47:1600:137:4f4a:840b:dbd5",
      "usern[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/logins/1570345252
    method: GET
  response:
    body: '{"id": 1570345252, "datetime": "2018-01-02T03:04:05", "ip": "2001:569:5127:d300:c1b8:8b67:f238:7211",
      "username": "youjungk01", "status": "successful", "restricted": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
