---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/logins
    method: GET
  response:
    body: '{"data": [{"id": 1568954245, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}, {"id":
      1569235189, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}, {"id":
      1569637840, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}, {"id":
      1569835290, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}, {"id":
      1569852953, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}], "page":
      1, "pages": 1, "results": 5}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/logins/1568954245
    method: GET
  response:
    body: '{"id": 1568954245, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
      "username": "lgarber-dev", "status": "successful", "restricted": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
