---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips/types?page=1
    method: GET
  response:
    body: '{"data": [{"id": "reserved-ipv4", "label": "Reserved IPv4", "price": {"hourly":
      0.0068, "monthly": null}, "region_prices": [], "transfer": 0}], "page": 1, "pages":
      1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
