---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","type":"g6-nanode-1","label":"linodego-testing-rfSCbCDvghOR-0","root_pass":"R34lBAdP455","image":"linode/debian9","interfaces":[{"ipam_address":"","label":"linodego-really-cool-vlan-gkVvdMcTEjUO","purpose":"vlan"}],"booted":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 36182608, "label": "linodego-testing-rfSCbCDvghOR-0", "group": "",
      "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["50.116.43.145"], "ipv6": "1234::5678/128",
      "image": "linode/debian9", "region": "us-southeast", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/36182608
    method: GET
  response:
    body: '{"id": 36182608, "label": "linodego-testing-rfSCbCDvghOR-0", "group": "",
      "status": "booting", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["50.116.43.145"], "ipv6": "1234::5678/128",
      "image": "linode/debian9", "region": "us-southeast", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"label": "linodego-really-cool-vlan-gkVvdMcTEjUO"}'
    url: https://api.linode.com/v4beta/networking/vlans
    method: GET
  response:
    body: '{"data": [{"region": "us-southeast", "label": "linodego-really-cool-vlan-gkVvdMcTEjUO",
      "linodes": [36182608, 36182612], "created": "2018-01-02T03:04:05"}], "page":
      1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
