---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, IN", "country": "in", "capabilities":
      ["Linodes", "Backups", "NodeBalancers", "Block Storage", "GPU Linodes", "Kubernetes",
      "Cloud Firewall", "Vlans", "Block Storage Migrations", "Managed Databases",
      "Metadata"], "status": "ok", "resolvers": {"ipv4": "172.105.34.5, 172.105.35.5,
      172.105.36.5, 172.105.37.5, 172.105.38.5, 172.105.39.5, 172.105.40.5, 172.105.41.5,
      172.105.42.5, 172.105.43.5", "ipv6": "1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678, 1234::5678,
      1234::5678, 1234::5678"}, "placement_group_limits":
      {"maximum_pgs_per_customer": 100, "maximum_linodes_per_pg": 5}, "site_type":
      "core"}, {"id": "ca-central", "label": "Toronto, CA", "country": "ca", "capabilities":
      ["Linodes", "Backups", "NodeBalancers", "Block Storage", "Kubernetes", "Cloud
      Firewall", "Vlans", "Block Storage Migrations", "Managed Databases", "Metadata"],
      "status": "ok", "resolvers": {"ipv4": "172.105.0.5, 172.105.3.5, 172.105.4.5,
      172.105.5.5, 172.105.6.5, 172.105.7.5, 172.105.8.5, 172.105.9.5, 172.105.10.5,
      172.105.11.5", "ipv6": "1234::5678, 1234::5678,
      1234:[...]
- request:
    body: '{"label":"go-test-def","region":"ap-west","client_conn_throttle":20,"tags":null,"firewall_id":501400}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 694188, "label": "go-test-def", "region": "ap-west", "hostname":
      "172-105-46-54.ip.linodeusercontent.com", "ipv4": "172.105.46.54", "ipv6": "1234::5678",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "client_conn_throttle":
      20, "tags": [], "transfer": {"in": null, "out": null, "total": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin","check_interval":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/694188/configs
    method: POST
  response:
    body: '{"id": 1134762, "port": 80, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 60, "check_timeout":
      30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      694188, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/694188/configs/1134762
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/694188
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
