---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/availability
    method: GET
  response:
    body: '{"data": [{"region": "ap-west", "unavailable": []}, {"region": "ca-central",
      "unavailable": []}, {"region": "ap-southeast", "unavailable": []}, {"region":
      "us-central", "unavailable": []}, {"region": "us-west", "unavailable": []},
      {"region": "us-southeast", "unavailable": []}, {"region": "us-east", "unavailable":
      []}, {"region": "eu-west", "unavailable": []}, {"region": "ap-south", "unavailable":
      []}, {"region": "eu-central", "unavailable": []}, {"region": "ap-northeast",
      "unavailable": []}], "page": 1, "pages": 1, "results": 11}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1200"
    status: 200 OK
    code: 200
    duration: ""
