---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/endpoints?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 22, "data": [{"region": "au-mel", "endpoint_type":
      "E2", "s3_endpoint": "au-mel-1.linodeobjects.com"}, {"region": "us-ord", "endpoint_type":
      "E1", "s3_endpoint": "us-ord-1.linodeobjects.com"}, {"region": "us-east", "endpoint_type":
      "E0", "s3_endpoint": "us-east-1.linodeobjects.com"}, {"region": "br-gru", "endpoint_type":
      "E1", "s3_endpoint": "br-gru-1.linodeobjects.com"}, {"region": "sg-sin-2", "endpoint_type":
      "E3", "s3_endpoint": "sg-sin-1.linodeobjects.com"}, {"region": "us-sea", "endpoint_type":
      "E1", "s3_endpoint": "us-sea-1.linod[...]
- request:
    body: '{"region":"us-ord","label":"go-bucket-test-def","endpoint_type":"E1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-bucket-test-def.us-ord-1.linodeobjects.com", "label":
      "go-bucket-test-def", "created": "2018-01-02T03:04:05", "region": "us-ord",
      "cluster": "us-ord-1", "size": 0, "objects": 0, "endpoint_type": "E1", "s3_endpoint":
      "us-ord-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-ord/go-bucket-test-def/access
    method: POST
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-ord/go-bucket-test-def/access
    method: GET
  response:
    body: '{"acl": "private", "acl_xml": "<AccessControlPolicy xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Owner><ID>640757b5-ebe9-45b1-abd5-581f215ef89e</ID><DisplayName>640757b5-ebe9-45b1-abd5-581f215ef89e</DisplayName></Owner><AccessControlList><Grant><Grantee
      xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:type=\"CanonicalUser\"><ID>640757b5-ebe9-45b1-abd5-581f215ef89e</ID><DisplayName>640757b5-ebe9-45b1-abd5-581f215ef89e</DisplayName></Grantee><Permission>FULL_CONTROL</Permission></Grant></AccessControlList></AccessControlPolicy>",
      "cors_enabled": false, "cors_xml": null}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-ord/go-bucket-test-def
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
