---
version: 1
interactions:
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2","disks":null}],"label":"a83ef3go2h76-linodego-testing","region":"us-central","k8s_version":"1.17","tags":["testing"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 19394, "status": "ready", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "label": "a83ef3go2h76-linodego-testing", "region": "us-central", "k8s_version": "1.17", "tags": ["testing"]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"k8s_version":"1.17","label":"newa83ef3go2h76-linodego-testing","tags":["test=true"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/19394
    method: PUT
  response:
    body: '{"id": 19394, "status": "ready", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "label": "newa83ef3go2h76-linodego-testing", "region": "us-central", "k8s_version": "1.17", "tags": ["test=true"]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
