---
version: 1
interactions:
- request:
    body: '{"region":"us-east","label":"linodego-image-create-upload","description":"An
      image that does stuff.","cloud_init":true,"tags":["foo","bar"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/upload
    method: POST
  response:
    body: '{"upload_to": "https://us-east-1.linodeobjects.com:443/linode-production-machine-images-uploads/26428865?Signature=%2FzwmpBtlQg%2F%2B6hPjV6cl48Nw0V8%3D&Expires=1722021514&AWSAccessKeyID=SANITIZED",
      "image": {"id": "private/26428865", "label": "linodego-image-create-upload",
      "description": "An image that does stuff.", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "size": 0, "created_by": "ychen123", "type":
      "manual", "tags": ["bar", "foo"], "is_public": false, "deprecated": false, "vendor":
      null, "expiry": null, "eol": null, "status": "pending_upload", "capabilities":
      ["cloud-init"]}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private%2F26428865
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
