---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/betas
    method: GET
  response:
    body: '{"data": [{"id": "global_load_balancer_beta", "label": "Akamai Global Load
      Balancer Pre-Registration", "description": "The Akamai Global Load Balancer
      (AGLB) is a layer 4 and 7 load balancer that distributes traffic based on performance,
      weight, and content (HTTP headers, query strings, etc.). The AGLB is a multi-region,
      multicloud, independent of Akamai Delivery, and built for East-West and North-South
      traffic. Key features include multi-region load balancing and method selection.
      Beta for this product is coming soon\u2013 sign up to be contacted first when
      AGLB is available.\r\n\r\nPlease note: Akamai Global Load Balancer is not currently
      available in beta testing. By signing up to participate in this beta when it
      becomes available, you consent to be subscribed to receive emails from Akamai
      cloud computing services marketing and be contacted via email when the beta
      period begins.", "started": "2018-01-02T03:04:05", "ended": null, "greenlight_only":
      false, "more_info": "https://www.linode.com/green-light/"}], "page": 1, "pages":
      1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/betas/global_load_balancer_beta
    method: GET
  response:
    body: '{"id": "global_load_balancer_beta", "label": "Akamai Global Load Balancer
      Pre-Registration", "description": "The Akamai Global Load Balancer (AGLB) is
      a layer 4 and 7 load balancer that distributes traffic based on performance,
      weight, and content (HTTP headers, query strings,[...]
