---
version: 1
interactions:
- request:
    body: '{"username":"linodegotest-getuser","email":"linodegotest-getuser@example.com","restricted":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: POST
  response:
    body: '{"username": "linodegotest-getuser", "email": "linodegotest-getuser@example.com",
      "restricted": true, "ssh_keys": [], "tfa_enabled": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-getuser
    method: GET
  response:
    body: '{"username": "linodegotest-getuser", "email": "linodegotest-getuser@example.com",
      "restricted": true, "ssh_keys": [], "tfa_enabled": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
