---
version: 1
interactions:
- request:
    body: '{"backups_enabled":false,"network_helper":false,"maintenance_policy":"linode/migrate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/account/settings
    method: PUT
  response:
    body: '{"managed": true, "network_helper": false, "longview_subscription": "longview-100",
      "backups_enabled": false, "object_storage": "active", "interfaces_for_new_linodes":
      "legacy_config_default_but_linode_allowed", "maintenance_policy": "linode/migrate"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
