---
version: 1
interactions:
- request:
    body: '{"region":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/reserved/ips
    method: POST
  response:
    body: '{"errors": [{"reason": "region is not valid", "field": "region"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
