---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://cee38990-40a5-4b8f-8316-aade8fddce28.cpc2-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"534"},"items":[]}
    headers:
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 05e16a84-035f-47bd-9a03-a0a03b463219
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 7234ca7d-68d1-4601-a57c-2d92f61605f2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://cee38990-40a5-4b8f-8316-aade8fddce28.cpc2-us-central.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"584"},"items":[{"metadata":{"name":"lke56050-87909-623e347c7917","uid":"b860fd9a-e88e-49a8-bd62-576a0fb48eb0","resourceVersion":"573","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke56050-87909-623e347c7917","kubernetes.io/os":"linux"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"/var/run/dockershim.sock","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/24\"":{}}}}},{"manager":"kubeadm","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:kubeadm.alpha.kubernetes.io/cri-socket":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}},"f:spec":{"f:taints":{}},"f:status":{"f:allocatable":{"f:ephemeral-storage":{}},"f:capacity":{"f:ephemeral-storage":{}},"f:conditions":{"k:{\"type\":\"Ready\"}":{"f:message":{}}}}}}]},"spec":{"podCIDR":"10.2.0.0/24","podCIDRs":["10.2.0.0/24"],"taints":[{"key":"node.cloudprovider.kubernetes.io/uninitialized","value":"true","effect":"NoSchedule"},{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"2","ephemeral-storage":"82535088Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"4028116Ki","pods":"110"},"allocatable":{"cpu":"2","ephemeral-storage":"76064336975","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"3925716Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized, Failed to initialize CSINode: error updating CSINode annotation: timed out waiting for the condition; caused by: nodes \"lke56050-87909-623e347c7917\" not found]"}],"addresses":[{"type":"InternalIP","address":"45.33.117.96"},{"type":"Hostname","address":"lke56050-87909-623e347c7917"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"fd45fe464359428aaecab7c23a9f716c","systemUUID":"fd45fe464359428aaecab7c23a9f716c","bootID":"20883b70-2eb9-407f-be04-486fc659531e","kernelVersion":"5.10.0-11-cloud-amd64","osImage":"Debian GNU/Linux 11 (bullseye)","containerRuntimeVersion":"docker://20.10.12","kubeletVersion":"v1.21.9","kubeProxyVersion":"v1.21.9","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - 05e16a84-035f-47bd-9a03-a0a03b463219
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 7234ca7d-68d1-4601-a57c-2d92f61605f2
    status: 200 OK
    code: 200
    duration: ""
[...]
