---
version: 1
interactions:
- request:
    body: '{"entity_type":"linode","entity_id":-99999876,"lock_type":"cannot_delete_with_subresources"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/locks
    method: POST
  response:
    body: '{"errors": [{"reason": "entity_id is not valid", "field": "entity_id"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 400 Bad Request
    code: 400
    duration: ""
