---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "gb-lon", "label": "London 2, UK", "country": "gb", "capabilities":
      ["Linodes", "Block Storage Encryption", "LA Disk Encryption", "Disk Encryption",
      "Backups", "NodeBalancers", "Block Storage", "Object Storage", "GPU Linodes",
      "Kubernetes", "Cloud Firewall", "Vlans", "VPCs", "Managed Databases", "Metadata",
      "Premium Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Interfaces", "ACLP Logs Datacenter LKE-E"], "monitors": {"alerts":
      ["Managed Databases", "NodeBalancers"], "metrics": ["Managed Databases", "NodeBalancers"]},
      "status": "ok", "resolvers": {"ipv4": "172.236.0.46,172.236.0.50,172.236.0.47,172.236.0.53,172.236.0.52,172.236.0.45,172.236.0.49,172.236.0.51,172.236.0.54,172.236.0.48",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}, {"id": "se-sto",
      "label": "Stockholm, SE", "country": "se", "capabilities": ["Linodes", "Block
      Storage Encryption", "LA Disk Encryption", "Disk Encryption", "Backups", "NodeBalancers",
      "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes", "Cloud Firewall",
      "Vlans", "VPCs", "Managed Databases", "Metadata", "Premium Plans", "Placement
      Group", "StackScripts", "Maintenance Policy", "Linode Interfaces"], "monitors":
      {"alerts": ["Managed Database[...]
- request:
    body: '{"region":"gb-lon","label":"go-test-logs-destination-1778165651886500000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1778165651886500000.gb-lon-1.linodeobjects.com",
      "label": "go-test-logs-destination-1778165651886500000", "created": "2018-01-02T03:04:05",
      "region": "gb-lon", "cluster": "", "size": 0, "objects": 0, "endpoint_type":
      "E3", "s3_endpoint": "gb-lon-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778165657248030000","regions":["gb-lon"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3600029, "label": "go-test-logs-destination-1778165657248030000",
      "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]", "limited": false,
      "bucket_access": null, "regions": [{"id": "gb-lon", "s3_endpoint": "gb-lon-1.linodeobjects.com",
      "endpoint_type": "E3"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778165658899049000","type":"akamai_object_storage","details":{"access_key_id":"NKZW2J4H3CKKXQDFTCL4","access_key_secret":"YhUiDCnyHBiGRNDfuyiWTZWdFFkfc0tLbS1iKMCc","bucket_name":"go-test-logs-destination-1778165651886500000","host":"go-test-logs-destination-1778165651886500000.gb-lon-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 436, "label": "go-test-logs-destination-1778165658899049000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778165651886500000.gb-lon-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778165651886500000", "access_key_id":
      "NKZW2J4H3CKKXQDFTCL4"}, "version": 1, "status": "active", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1778165658899049000-upd","details":{"access_key_id":"NKZW2J4H3CKKXQDFTCL4","access_key_secret":"YhUiDCnyHBiGRNDfuyiWTZWdFFkfc0tLbS1iKMCc","bucket_name":"go-test-logs-destination-1778165651886500000","host":"go-test-logs-destination-1778165651886500000.gb-lon-1.linodeobjects.com","path":"updated/logs/path/"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/436
    method: PUT
  response:
    body: '{"id": 436, "label": "go-test-logs-destination-1778165658899049000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778165651886500000.gb-lon-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778165651886500000", "path": "updated/logs/path/",
      "access_key_id": "NKZW2J4H3CKKXQDFTCL4"}, "version": 2, "status": "active",
      "created_by": "dola-klipensk", "created": "2018-01-02T03:04:05", "updated_by":
      "dola-klipensk", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/436/history?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 436, "label": "go-test-logs-destination-1778165658899049000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778165651886500000.gb-lon-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778165651886500000", "path": "updated/logs/path/",
      "access_key_id": "NKZW2J4H3CKKXQDFTCL4"}, "version": 2, "status": "active",
      "created_by": "dola-klipensk", "created": "2018-01-02T03:04:05", "updated_by":
      "dola-klipensk", "updated": "2018-01-02T03:04:05"}, {"id": 436, "label": "go-test-logs-destination-1778165658899049000",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778165651886500000.gb-lon-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778165651886500000", "access_key_id":
      "NKZW2J4H3CKKXQDFTCL4"}, "version": 1, "status": "inactive", "created_by": "dola-klipensk",
      "created": "2018-01-02T03:04:05", "updated_by": "dola-klipensk", "updated":
      "2018-01-02T03:04:05"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/436
    method: GET
  response:
    body: '{"id": 436, "label": "go-test-logs-destination-1778165658899049000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1778165651886500000.gb-lon-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1778165651886500000", "path": "updated/logs/path/",
      "access_key_id": "NKZW2J4H3CKKXQDFTCL4"}, "version": 2, "status": "active",
      "created_by": "dola-klipensk", "created": "2018-01-02T03:04:05", "updated_by":
      "dola-klipensk", "updated": "2018-01-02T03:04:05"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3600029
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-destination-1778165651886500000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "cloud-logs-test-connection-20260507T145419", "size":
      9, "last_modified": "2018-01-02T03:04:05.780Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "updated/logs/path/",
      "size": 0, "last_modified": "2018-01-02T03:04:05.123Z", "etag": "d41d8cd98f00b204e9800998ecf8427e",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "updated/logs/path/cloud-logs-test-connection-20260507T145421",
      "size": 9, "last_modified": "2018-01-02T03:04:05.306Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cloud-logs-test-connection-20260507T145419","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-destination-1778165651886500000/object-url
    method: POST
  response:
    body: '{"url": "https://gb-lon-1.linodeobjects.com:443/go-test-logs-destination-1778165651886500000/cloud-logs-test-connection-20260507T145419?Signature=FysLtt8gUpVK3EqkfCGm95xrUlc%3D&Expires=1778166028&AWSAccessKeyID=SANITIZED&x-amz-security-token=MQpmODAwOTNlZTliMTE0ZWY1MTY1ZTA4NzMxMjRkOWJhNzg4YTQ0YjhjNWVkMjk5NGJmYjI1NGM0ZDFlZWJkM2JjCgKpgwUVKod9RCq/XXQy/1N1PZE139tMoBcUZMuiC%2BTwuvFP1CoSCLaB2adMuAm2lTx1DNN8CoeqL9H1gMzFinJBl9U9rzItevZlLLDg5X2b%2Bn5uIgcbIxlBf70X24WUAdMTSqWpDRsUwkR42eEwcND4BkgtG3iok6zH67hc17ZHkMmOoD0MZV3t97BGw42/wHa09RSasZnGS6jhcnkQxTgqFdvfBjumw2/QIaPsc4CfCAxMFZuFg0164jtR8EW2UrvaG7qUeRYX2uIvoOWVmipHjAGcY3SeM9KUStULfH03N2DknS36GjprKPD1hfwaJ5X4Ro2TkvevKEQW5vWjLxPV1/0gZNlyx9p1FFpQBNXbhFiSDV%2BaH1ZSg%2Bc5gjX2I/s5WfXDJ1F2yXdepqZ7fS18dOAgO/Vr%2Bx8XcDanBrnmLtf9%2BVL1htwJCLD%2BtoI7fKI4S6O/WdQ9LOjIjv5c%2BoYmddgb",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/gb-lon/go-test-logs-destination-1778165651886500000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
