---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"watchdog_enabled": true, "id": 18438218, "status": "provisioning", "label":
      "linodego-test-instance", "alerts": {"network_out": 10, "io": 10000, "transfer_quota":
      80, "cpu": 90, "network_in": 10}, "hypervisor": "kvm", "created": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["10.20.30.40"], "region": "us-west", "updated":
      "2018-01-02T03:04:05", "tags": [], "specs": {"disk": 25600, "transfer": 1000,
      "gpus": 0, "vcpus": 1, "memory": 1024}, "backups": {"schedule": {"window": null,
      "day": null}, "enabled": false}, "group": "", "image": null, "ipv6": "1234::5678/64"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573739266"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18438218/configs
    method: POST
  response:
    body: '{"comments": "", "initrd": null, "id": 19678878, "created": "2018-01-02T03:04:05",
      "devices": {"sdc": null, "sdh": null, "sde": null, "sdf": null, "sdb": null,
      "sdd": null, "sda": null, "sdg": null}, "helpers": {"network": true, "updatedb_disabled":
      true, "modules_dep": true, "devtmpfs_automount": true, "distro": true}, "root_device":
      "/dev/sda", "kernel": "linode/latest-64bit", "memory_limit": 0, "updated": "2018-01-02T03:04:05",
      "run_level": "default", "virt_mode": "paravirt", "label": "linodego-test-config"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573739267"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18438218
    method: GET
  response:
    body: '{"ipv6": "1234::5678/64", "ipv4": ["10.20.30.40"],
      "alerts": {"transfer_quota": 80, "network_in": 10, "cpu": 90, "io": 10000, "network_out":
      10}, "id": 18438218, "status": "offline", "updated": "2018-01-02T03:04:05",
      "created": "2018-01-02T03:04:05", "tags": [], "region": "us-west", "label":
      "linodego-test-instance", "specs": {"gpus": 0, "vcpus": 1, "memory": 1024, "disk":
      25600, "transfer": 1000}, "group": "", "hypervisor": "kvm", "image": null, "type":
      "g6-nanode-1", "watchdog_enabled": true, "backups": {"enabled": false, "schedule":
      {"window": null, "day": null}}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573739282"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"snapshot-linodego-testing","size":10,"filesystem":"ext4"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18438218/disks
    method: POST
  response:
    body: '{"size": 10, "label": "snapshot-linodego-testing", "id": 37817083, "created":
      "2018-01-02T03:04:05", "filesystem": "ext4", "updated": "2018-01-02T03:04:05",
      "status": "not ready"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573739282"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","entity.id":18438218,"entity.type":"linode","seen":false}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "data": [{"created": "2018-01-02T03:04:05", "time_remaining":
      0, "secondary_entity": null, "action": "disk_create", "id": 59810183, "status":
      "finished", "rate": null, "read": false, "entity": {"label": "linodego-test-instance",
      "url": "/v4/linode/instances/18438218", "id": 18438218, "type": "linode"}, "percent_complete":
      100, "duration": 6.0, "username": "pccampbell", "seen": false}, {"created":
      "2018-01-02T03:04:05", "time_remaining": null, "secondary_entity": null, "action":
      "linode_config_create", "id": 59810173, "status": "notification", "rate": null,
      "read": false, "entity": {"label": "linodego-test-instance", "url": "/v4/linode/instances/18438218",
      "id": 18438218, "type": "linode"}, "percent_complete": null, "duration": null,
      "username": "pccampbell", "seen": false}, {"created": "2018-01-02T03:04:05",
      "time_remaining": 0, "secondary_entity": null, "action": "linode_create", "id":
      59810172, "status": "finished", "rate": null, "read": false, "entity": {"label":
      "linodego-test-instance", "url": "/v4/linode/instances/18438218", "id": 18438218,
      "type": "linode"}, "percent_complete": 100, "duration": 5.0, "username": "pccampbell",
      "seen": false}], "results": 3}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "103"
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573739282"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18438218/backups/enable
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573739298"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"snapshot-linodego-testing"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18438218/backups
    method: POST
  response:
    body: '{"configs": [], "region": "us-west", "finished": null, "disks": [], "id":
      131181244, "status": "pending", "type": "snapshot", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "label": "snapshot-linodego-testing"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "107"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573739298"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18438218/backups/131181244
    method: GET
  response:
    body: '{"type": "snapshot", "id": 131181244, "configs": ["linodego-test-config"],
      "status": "needsPostProcessing", "region": "us-west", "updated": "2018-01-02T03:04:05",
      "label": "snapshot-linodego-testing", "created": "2018-01-02T03:04:05", "finished":
      "2018-01-02T03:04:05", "disks": [{"size": 1, "filesystem": "ext4", "label":
      "snapshot-linodego-testing"}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "30"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573739266"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18438218/backups
    method: GET
  response:
    body: '{"snapshot": {"in_progress": {"configs": ["linodego-test-config"], "region":
      "us-west", "finished": "2018-01-02T03:04:05", "disks": [{"filesystem": "ext4",
      "size": 1, "label": "snapshot-linodego-testing"}], "id": 131181244, "status":
      "needsPostProcessing", "type": "snapshot", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "label": "snapshot-linodego-testing"}, "current":
      null}, "automatic": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "46"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573739282"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"linode_id":18438218,"overwrite":true}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18438218/backups/131181244/restore
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573739491"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18438218/backups/cancel
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573739491"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
[...]
