---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.linode.com/v4beta/account/logins
      method: GET
    response:
      body:
        '{"data": [{"id": 1563764434, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
        "username": "jcallahan-akamai", "restricted": false}, {"id": 1563766105, "datetime":
        "2018-01-02T03:04:05", "ip": "1234::5678", "username":
        "jcallahan-akamai", "restricted": false}, {"id": 1563766117, "datetime": "2018-01-02T03:04:05",
        "ip": "1234::5678", "username": "jcallahan-akamai",
        "restricted": false}, {"id": 1563766137, "datetime": "2018-01-02T03:04:05",
        "ip": "1234::5678", "username": "jcallahan-akamai",
        "restricted": false}, {"id": 1563766144, "datetime": "2018-01-02T03:04:05",
     [...]
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.linode.com/v4beta/account/logins/1563764434
      method: GET
    response:
      body:
        '{"id": 1563764434, "datetime": "2018-01-02T03:04:05", "ip": "1234::5678",
        "username": "jcallahan-akamai", "restricted": false}'
      headers:
        Content-Type:
          - application/json
        X-Accepted-Oauth-Scopes:
          - account:read_only
        X-Oauth-Scopes:
          - "*"
        X-Ratelimit-Limit:
          - "800"
      status: 200 OK
      code: 200
      duration: ""
