---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, India", "country": "in",
      "capabilities": ["Linodes", "Disk Encryption", "Backups", "NodeBalancers", "Vlans",
      "VPCs", "Managed Databases", "StackScripts"], "status": "ok", "resolvers": {"ipv4":
      "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": 0, "maximum_linodes_per_pg":
      0}, "site_type": "core"}, {"id": "ca-central", "label": "Toronto, Ontario, CAN",
      "country": "ca", "capabilities": ["Linodes", "Disk Encryption", "Backups", "NodeBalancers",
      "Vlans", "VPCs", "Managed Databases", "StackScripts"], "status": "ok", "resolvers":
      {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234[...]
- request:
    body: '{"label":"example-db-created-with-config","region":"us-east","type":"g6-dedicated-2","engine":"mysql/8","allow_list":["203.0.113.1","192.0.1.0/24"],"cluster_size":3,"engine_config":{"mysql":{}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances
    method: POST
  response:
    body: '{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size": 3, "created":
      "2018-01-02T03:04:05", "encrypted": true, "engine": "mysql", "engine_config":
      {"mysql": {"sql_mode": "ANSI,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,STRICT_ALL_TABLES",
      "sql_require_primary_key": true}}, "hosts": {"primary": "a16776-akamai-alpha-1000126-default.g2a.akamaidb.net",
      "standby": "replica-a16776-akamai-alpha-1000126-default.g2a.akamaidb.net"},
      "id": 16776, "label": "example-db-created-with-config", "members": {}, "port":
      25698, "region": "us-east", "ssl_connection": true, "status": "provisioning",
      "total_disk_size_gb": 58, "type": "g6-dedicated-2", "updated": "2018-01-02T03:04:05",
      "updates": {"day_of_week": 5, "duration": 4, "frequency": "weekly", "hour_of_day":
      8, "pending": []}, "used_disk_size_gb": null, "version": "8", "platform": "rdbms-default"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/16776
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
