---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "LA Disk Encryption",
      "Disk Encryption", "Backups", "NodeBalancers", "Block Storage", "Object Storage",
      "GPU Linodes", "Kubernetes", "Kubernetes Enterprise", "Cloud Firewall", "Vlans",
      "VPCs", "Block Storage Migrations", "Managed Databases", "Metadata", "Premium
      Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Interfaces"], "status": "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}], "page": 1,
      "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","label":"go-test-ins-wo-disk-1633db8ua5mw","firewall_id":172737,"booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 99592160, "label": "go-test-ins-wo-disk-1633db8ua5mw", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.24.237.14"], "ipv6": "1234::5678/128",
      "image": null, "region": "pl-labkrk-2", "site_type": "core", "specs": {"disk":
      25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": true, "available": false, "schedule":
      {"day": null, "window": null}, "last_successful": null}, "hypervisor": "kvm",
      "watchdog_enabled": true, "tags": [], "host_uuid": "c6a84401030a8a5a3cf1b07e8152033ff27390b0",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": ["Block Storage Encryption", "SMTP Enabled",
      "Maintenance Policy"], "interface_generation": "legacy_config", "maintenance_policy":
      "linode/migrate"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-conf-3m99g070qtuk","devices":{},"interfaces":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/linode/instances/99592160/configs
    method: POST
  response:
    body: '{"id": 558393, "label": "go-test-conf-3m99g070qtuk", "helpers": {"updatedb_disabled":
      true, "distro": true, "modules_dep": true, "network": true, "devtmpfs_automount":
      true}, "kernel": "linode/latest-64bit", "comments": "", "memory_limit": 0, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "root_device": "/dev/sda",
      "devices": {"sda": null, "sdb": null, "sdc": null, "sdd": null, "sde": null,
      "sdf": null, "sdg": null, "sdh": null}, "initrd": null, "run_level": "default",
      "virt_mode": "paravirt", "interfaces": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/account/settings
    method: GET
  response:
    body: '{"managed": true, "network_helper": true, "longview_subscription": "longview-100",
      "backups_enabled": false, "object_storage": "active", "interfaces_for_new_linodes":
      "legacy_config_default_but_linode_allowed", "maintenance_policy": "linode/migrate"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"maintenance_policy":"linode/migrate"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.devcloud.linode.com/v4beta/linode/instances/99592160
    method: PUT
  response:
    body: '{"id": 99592160, "label": "go-test-ins-wo-disk-1633db8ua5mw", "group":
      "", "status": "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.24.237.14"], "ipv6": "1234::5678/12[...]
[...]
