---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "Disk Encryption", "Backups",
      "NodeBalancers", "Block Storage", "Object Storage", "GPU Linodes", "Kubernetes",
      "Cloud Firewall", "Vlans", "VPCs", "VPC Dual Stack", "Block Storage Migrations",
      "Managed Databases", "Metadata", "Premium Plans", "Placement Group", "StackScripts",
      "NETINT Quadra T1U", "Maintenance Policy", "Linode Interfaces"], "monitors":
      {"alerts": ["Managed Databases"], "metrics": ["Managed Databases"]}, "status":
      "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}], "page": 1,
      "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","label":"go-test-ins-7r3j00rd53lw","root_pass":"1-8G{#l-?-70D5#VsRU42TZ9y5B\\2e\u003eBa$tdn;0j9h,U+frLa85Bv3o@cHGSJ-7-","image":"linode/alpine3.22","firewall_id":444604,"booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 100139526, "label": "go-test-ins-7r3j00rd53lw", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.24.243.183"], "ipv6": "1234::5678/128",
      "image": "linode/alpine3.22", "region": "pl-labkrk-2", "site_type": "core",
      "specs": {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer":
      1000, "accelerated_devices": 0}, "alerts": {"cpu": 90, "network_in": 10, "network_out":
      10, "transfer_quota": 80, "io": 10000}, "backups": {"enabled": false, "available":
      false, "schedule": {"day": null, "window": null}, "last_successful": null},
      "hypervisor": "kvm", "watchdog_enabled": true, "tags": [], "host_uuid": "9024dae1ec937850f2b56825ab112c1b7d88cab4",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": ["Block Storage Encryption", "SMTP Enabled",
      "Maintenance Policy"], "interface_generation": "legacy_config", "maintenance_policy":
      "linode/power_off_on"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "8"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/100139526/disks?page=1
    method: GET
  response:
    body: '{"data": [{"id": 1801621, "status": "not ready", "label": "Alpine 3.22
      Disk", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem":
      "ext4", "size": 25088, "disk_encryption": "enabled"}, {"id": 1801622, "status":
      "not ready", "label": "512 MB Swap Image", "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "filesystem": "swap", "size": 512, "disk_encryption":
      "enabled"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk_id":1801621,"label":"linodego-test-image-sharing-image"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images
    method: POST
  response:
    body: '{"id": "private/76969", "label": "linodego-test-image-sharing-image", "description":
      "", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "size":
      25088, "created_by": "lgarber", "type": "manual", "tags": [], "is_public": false,
      "is_shared": false, "deprecated": false, "vendor": null, "expiry": null, "eol":
      null, "status": "creating", "capabilities": [], "regions": [], "total_size":
      25088, "image_sharing": {"shared_with": {"sharegroup_count": 0, "sharegroup_list_url":
      "/images/private/76969/sharegroups"}, "shared_by": null}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write,linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private%2F76969
    method: GET
  response:
    body: '{"id": "private/76969", "label": "linodego-test-image-sharing-image", "description":
      "", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "size":
      25088, "created_by": "lgarber", "type": "manual", "tags": [], "is_public": false,
      "is_shared": false, "deprecated": false, "vendor": null, "expiry": null, "eol":
      null, "status": "creating", "capabilities": [], "regions": [], "total_size":
      25088, "image_sharing": {"shared_with": {"sharegroup_count": 0, "sharegroup_list_url":
      "/images/private/76969/sharegroups"}, "shared_by": null}}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"linodego-test-image-sharing-image-share-group"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups
    method: POST
  response:
    body: '{"id": 718, "uuid": "4256e6ec-6d94-4e45-a73c-95d70d0252b0", "label": "linodego-test-image-sharing-image-share-group",
      "description": "", "is_suspended": false, "created": "2018-01-02T03:04:05",
      "updated": null, "expiry": null, "images_count": 0, "members_count": 0}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"images":[{"id":"private/76969","label":"A label.","description":"A description."}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups/718/images?page=1
    method: POST
  response:
    body: '{"pages": 1, "data": [{"id": "shared/339", "label": "A label.", "description":
      "A description.", "created": "2018-01-02T03:04:05", "updated": null, "size":
      366, "status": "available", "capabilities": ["distributed-sites"], "tags": [],
      "is_public": false, "is_shared": null, "type": "shared", "deprecated": false,
      "regions": [{"region": "pl-labkrk-2", "status": "available"}], "total_size":
      366, "image_sharing": {"shared_with": null, "shared_by": {"sharegroup_id": 718,
      "sharegroup_uuid": "4256e6ec-6d94-4e45-a73c-95d70d0252b0", "sharegroup_label":
      "linodego-test-image-sharing-image-share-group", "source_image_id": "private/76969"}},
      "created_by": null, "vendor": null, "expiry": null, "eol": null}], "results":
      1, "page": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images?page=1
    method: GET
  response:
    body: '{"pages": 1, "data": [{"id": "private/62854", "label": "linodego-test-image-sharing-image",
      "description": "", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 25088, "created_by": "lgarber", "type": "manual", "tags": [], "is_public":
      false, "is_shared": false, "depre[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private%2F76969/sharegroups?page=1
    method: GET
  response:
    body: '{"data": [{"id": 718, "uuid": "4256e6ec-6d94-4e45-a73c-95d70d0252b0", "label":
      "linodego-test-image-sharing-image-share-group", "description": "", "is_suspended":
      false, "created": "2018-01-02T03:04:05", "updated": null, "expiry": null, "images_count":
      1, "members_count": 0}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups?page=1
    method: GET
  response:
    body: '{"data": [{"id": 718, "uuid": "4256e6ec-6d94-4e45-a73c-95d70d0252b0", "label":
      "linodego-test-image-sharing-image-share-group", "description": "", "is_suspended":
      false, "created": "2018-01-02T03:04:05", "updated": null, "expiry": null, "images_count":
      1, "members_count": 0}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups/718
    method: GET
  response:
    body: '{"id": 718, "uuid": "4256e6ec-6d94-4e45-a73c-95d70d0252b0", "label": "linodego-test-image-sharing-image-share-group",
      "description": "", "is_suspended": false, "created": "2018-01-02T03:04:05",
      "updated": null, "expiry": null, "images_count": 1, "members_count": 0}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups/718/members?page=1
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"Updated label","description":"Updated description"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/sharegroups/718/images/shared%2F339
    method: PUT
  response:
    body: '{"id": "shared/339", "label": "Updated label", "description": "Updated
      description", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "size": 366, "status": "available", "capabilities": ["distributed-sites"], "tags":
      [], "is_public": false, "is_shared": null, "type": "shared", "deprecated": false,
      "regions": [{"region": "pl-labkrk-2", "status": "available"}], "total_size":
      366, "image_sharing": {"shared_with": null, "shared_by": {"sharegroup_id": 718,
      "sharegroup_uuid": "4256e6ec-6d94-4e45-a73c-95d70d0252b0", "sharegroup_label":
      "Updated label", "source_image_id": "private/76969"}}, "created_by": null, "vendor":
      null, "expiry": null, "eol": null}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/100139526
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
