---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/linode%2Fubuntu22.04
    method: GET
  response:
    body: '{"id": "linode/ubuntu22.04", "label": "Ubuntu 22.04 LTS", "deprecated":
      false, "size": 3500, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "description": "", "created_by": "linode", "type": "manual", "tags": [], "is_public":
      true, "vendor": "Ubuntu", "expiry": null, "eol": "2018-01-02T03:04:05", "status":
      "available", "capabilities": ["cloud-init"]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - images:read_only
      X-Oauth-Scopes:
      - account:read_write databases:read_write domains:read_write events:read_write
        firewall:read_write images:read_write ips:read_write linodes:read_write lke:read_write
        longview:read_write nodebalancers:read_write object_storage:read_write stackscripts:read_write
        volumes:read_write vpc:read_write
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
