---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-definitions?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 6, "data": [{"id": 10000, "label": "High
      Memory Usage Plan Dedicated", "description": "Alert triggers when dedicated
      plan nodes consistently reach critical memory usage, risking application performance
      degradation.", "service_type": "dbaas", "type": "system", "scope": "entity",
      "class": "dedicated", "regions": [], "status": "enabled", "entity_ids": [],
      "has_more_resources": false, "severity": 2, "rule_criteria": {"rules": [{"label":
      "Memory Usage", "metric": "memory_usage", "unit": "percent", "aggregate_function":
      "avg", "operator": "gt", "threshold": 95, "dimension_filters": []}]}, "alert_channels":
      [{"id": 10000, "label": "Read-Write Channel", "url": "/monitor/alert-channels/10000",
      "type": "alert-channels"}], "trigger_conditions": {"criteria_condition": "ALL",
      "polling_interval_seconds": 300, "evaluation_period_seconds": 300, "trigger_occurrences":
      3}, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "created_by":
      "system", "updated_by": "system"}, {"id": 10001, "label": "High Memory Usage
      Plan Shared", "description": "Alert triggers when shared plan nodes consistently
      reach critical memory usage, risking application performance degradation.",
      "service_type": "dbaas", "type": "system", "scope": "entity", "class": "shared",
      "regions": [], "status": "enabled", "entity_ids": [], "has_more_resources":
      false, "severity": 2, "rule_criteria": {"rules": [{"label": "Memory Usage",
      "metric": "memory_us[...]
- request:
    body: '{"service_type":"","label":"go-test-alert-definition-create","severity":2,"channel_ids":[10000],"rule_criteria":{"rules":[{"aggregate_function":"avg","dimension_filters":[{"dimension_label":"node_type","label":"Node
      Type","operator":"eq","value":"primary"}],"label":"Memory Usage","metric":"memory_usage","operator":"gt","threshold":90,"unit":"percent"}]},"trigger_conditions":{"criteria_condition":"ALL","evaluation_period_seconds":300,"polling_interval_seconds":300,"trigger_occurrences":1},"description":"Test
      alert definition creation"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions
    method: POST
  response:
    body: '{"id": [...]
- request:
    body: '{"service_type":"","alert_id":0,"label":"go-test-alert-definition-create-updated","severity":2,"channel_ids":[10000],"rule_criteria":{"rules":[{"aggregate_function":"avg","dimension_filters":[{"dimension_label":"node_type","label":"","operator":"eq","value":"primary"}],"metric":"memory_usage","operator":"gt","threshold":90}]},"trigger_conditions":{"criteria_condition":"ALL","evaluation_period_seconds":300,"polling_interval_seconds":300,"trigger_occurrences":1},"description":"Test
      alert definition creation"}'
    form: [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions/10549
    method: DELETE
  response:
    body: '{"errors": [{"reason": "An update to your alert is in progress. Please
      wait until the update has completed, then try again."}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
