---
version: 1
interactions:
- request:
    body: '{"username":"linodegotest-updateusergrantsna","email":"linodegotest-updateusergrants@example.com","restricted":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: POST
  response:
    body: '{"username": "linodegotest-updateusergrantsna", "email": "linodegotest-updateusergrants@example.com",
      "restricted": true, "ssh_keys": [], "tfa_enabled": false, "verified_phone_number":
      null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"global":{"account_access":null,"add_domains":false,"add_databases":false,"add_firewalls":false,"add_images":false,"add_linodes":false,"add_longview":false,"add_nodebalancers":false,"add_stackscripts":false,"add_volumes":false,"cancel_account":false,"longview_subscription":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-updateusergrantsna/grants
    method: PUT
  response:
    body: '{"linode": [{"id": 41591158, "label": "ansible-test-inventory", "permissions":
      null}, {"id": 41658354, "label": "tf_test-5934556314800509826", "permissions":
      null}, {"id": 41658415, "label": "tf_test-9137808634680747348", "permissions":
      null}, {"id": 41658417, "label": "tf_test-6820438710173430308", "permissions":
      null}, {"id": 41658428, "label": "tf_test-7984198885518639651", "permissions":
      null}, {"id": 41658616, "label": "tf_test-7823563263536727759", "permissions":
      null}, {"id": 41658675, "label": "tf_test-7500823998336775767", "permissions":
      null}, {"id": 41658677, "label": "tf_test-9039857053321143333", "permissions":
      null}, {"id": 41658694, "label": "tf_test-958893655126211430", "permissions":
      null}, {"id": 41823145, "label": "ubuntu-us-east-testing", "permissions": null}],
      "nodebalancer": [], "domain": [], "stackscript": [{"id": 1110207, "label": "ansible-test-197619451",
      "permissions": null}], "longview": [], "image": [{"id": 18529728, "label": "tf_test-6820438710173430308",
      "permissions": null}, {"id": 18529729, "label": "tf_test-2510365653812729564",
      "permissions": null}, {"id": 18529730, "label": "tf_test-9137808634680747348",
      "permissions": null}, {"id": 18529737, "label": "tf_test-7984198885518639651",
      "permissions": null}, {"id": 18529738, "label": "tf_test-7984198885518639651",
      "permissions": null}, {"id": 18529812, "label": "tf_test-7500823998336775767",
      "permissions": null}, {"id": 18529815, "label": "tf_test-9039857053321143333",
      "permissions": null}, {"id": 18529816, "label": "tf_test-958893655126211430",
      "permissions": null}, {"id": 18529817, "label": "tf_test-958893655126211430",
      "permissions": null}], "volume": [], "firewall": [], "database": [{"id": 14637,
      "label": "tf_test-563520466150203250", "permissions": null}, {"id": 14638, "label":
      "tf_test-6390117349771558899", "permissions": null}, {"id": 14639, "label":
      "tf_test-1374137760482804261", "permissions": null}, {"id": 14640, "label":
      "tf_test-3347111867749673643", "permissions": null}, {"id": 14641, "label":
      "tf_test-6859397732720482476", "permissions": null}, {"id": 14642, "label":
      "tf_test-8291666874639770804", "permissions": null}, {"id": [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-updateusergrantsna
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
