---
version: 1
interactions:
- request:
    body: '{"username":"linodegotest-listuser","email":"linodegotest-listuser@example.com","restricted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: POST
  response:
    body: '{"username": "linodegotest-listuser", "email": "linodegotest-listuser@example.com",
      "restricted": false, "ssh_keys": [], "tfa_enabled": false}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users
    method: GET
  response:
    body: '{"data": [{"username": "jriddle-dev", "email": "jriddle@linode.com", "restricted":
      false, "ssh_keys": ["linode-laptop"], "tfa_enabled": false}, {"username": "linodegotest-listuser",
      "email": "linodegotest-listuser@example.com", "restricted": false, "ssh_keys":
      [], "tfa_enabled": false}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/users/linodegotest-listuser
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
