---
version: 1
interactions:
- request:
    body: '{"label":"go-token-test-fg8db6yp9563","scopes":"linodes:read_only","expiry":"2022-09-15T19:53:08"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 40563741, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "go-token-test-fg8db6yp9563", "token": "b7949588261cb9d6a0cb9a89b27f53f5ee48b67505c989475274d7c0a6be0a6b",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: GET
  response:
    body: '{"data": [{"id": 29161791, "scopes": "*", "created": "2018-01-02T03:04:05",
      "label": "terraform-test-token", "token": "4dbd724789adf7c5", "expiry": "2221-07-22T00:00:00"},
      {"id": 40563741, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "go-token-test-fg8db6yp9563", "token": "b7949588261cb9d6", "expiry":
      "2018-01-02T03:04:05"}], "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/40563741
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
