---
version: 1
interactions:
- request:
    body: '{"region":"us-southeast","label":"go-test-logs-destination-1777442634037829000","acl":"private","cors_enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets
    method: POST
  response:
    body: '{"hostname": "go-test-logs-destination-1777442634037829000.us-southeast-1.linodeobjects.com",
      "label": "go-test-logs-destination-1777442634037829000", "created": "2018-01-02T03:04:05",
      "region": "us-southeast", "cluster": "us-southeast-1", "size": 0, "objects":
      0, "endpoint_type": "E0", "s3_endpoint": "us-southeast-1.linodeobjects.com"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1777442635236568000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"id": 3474091, "label": "go-test-logs-destination-1777442635236568000",
      "access_key": "[SANITIZED]", "secret_key": "[SANITIZED]",
      "limited": false, "bucket_access": null, "regions": [{"id": "us-east", "s3_endpoint":
      "us-east-1.linodeobjects.com", "endpoint_type": "E0"}, {"id": "us-iad", "s3_endpoint":
      "us-iad-10.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-lax", "s3_endpoint":
      "us-lax-4.linodeobjects.com", "endpoint_type": "E3"}, {"id": "us-mia", "s3_endpoint":
      "us-mia-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-10.linodeobjects.com", "endpoint_type": "E3"}, {"id": "us-ord", "s3_endpoint":
      "us-ord-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-sea", "s3_endpoint":
      "us-sea-1.linodeobjects.com", "endpoint_type": "E1"}, {"id": "us-southeast",
      "s3_endpoint": "us-southeast-1.linodeobjects.com", "endpoint_type": "E0"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1777442638057450000","type":"akamai_object_storage","details":{"access_key_id":"3KJOTHO0GRMDTNKCCEXK","access_key_secret":"SMLe5DiJrUxvwTYOOTM9xDjns4SPuUcQZ3iAzJ96","bucket_name":"go-test-logs-destination-1777442634037829000","host":"go-test-logs-destination-1777442634037829000.us-southeast-1.linodeobjects.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations
    method: POST
  response:
    body: '{"id": 307, "label": "go-test-logs-destination-1777442638057450000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1777442634037829000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777442634037829000", "access_key_id":
      "3KJOTHO0GRMDTNKCCEXK"}, "version": 1, "status": "active", "created_by": "akrzyszt_dola_testnet_admin",
      "created": "2018-01-02T03:04:05Z", "updated_by": "akrzyszt_dola_testnet_admin",
      "updated": "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-logs-destination-1777442638057450000-upd","details":{"access_key_id":"3KJOTHO0GRMDTNKCCEXK","access_key_secret":"SMLe5DiJrUxvwTYOOTM9xDjns4SPuUcQZ3iAzJ96","bucket_name":"go-test-logs-destination-1777442634037829000","host":"go-test-logs-destination-1777442634037829000.us-southeast-1.linodeobjects.com","path":"updated/logs/path/"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/307
    method: PUT
  response:
    body: '{"id": 307, "label": "go-test-logs-destination-1777442638057450000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1777442634037829000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777442634037829000", "path": "updated/logs/path/",
      "access_key_id": "3KJOTHO0GRMDTNKCCEXK"}, "version": 2, "status": "active",
      "created_by": "akrzyszt_dola_testnet_admin", "created": "2018-01-02T03:04:05Z",
      "updated_by": "akrzyszt_dola_testnet_admin", "updated": "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/307/history?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 307, "label": "go-test-logs-destination-1777442638057450000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1777442634037829000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777442634037829000", "path": "updated/logs/path/",
      "access_key_id": "3KJOTHO0GRMDTNKCCEXK"}, "version": 2, "status": "active",
      "created_by": "akrzyszt_dola_testnet_admin", "created": "2018-01-02T03:04:05Z",
      "updated_by": "akrzyszt_dola_testnet_admin", "updated": "2018-01-02T03:04:05Z"},
      {"id": 307, "label": "go-test-logs-destination-1777442638057450000", "type":
      "akamai_object_storage", "details": {"host": "go-test-logs-destination-1777442634037829000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777442634037829000", "access_key_id":
      "3KJOTHO0GRMDTNKCCEXK"}, "version": 1, "status": "inactive", "created_by": "akrzyszt_dola_testnet_admin",
      "created": "2018-01-02T03:04:05Z", "updated_by": "akrzyszt_dola_testnet_admin",
      "updated": "2018-01-02T03:04:05Z"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/streams/destinations/307
    method: GET
  response:
    body: '{"id": 307, "label": "go-test-logs-destination-1777442638057450000-upd",
      "type": "akamai_object_storage", "details": {"host": "go-test-logs-destination-1777442634037829000.us-southeast-1.linodeobjects.com",
      "bucket_name": "go-test-logs-destination-1777442634037829000", "path": "updated/logs/path/",
      "access_key_id": "3KJOTHO0GRMDTNKCCEXK"}, "version": 2, "status": "active",
      "created_by": "akrzyszt_dola_testnet_admin", "created": "2018-01-02T03:04:05Z",
      "updated_by": "akrzyszt_dola_testnet_admin", "updated": "2018-01-02T03:04:05Z"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/3474091
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "60"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1777442634037829000/object-list
    method: GET
  response:
    body: '{"data": [{"name": "cloud-logs-test-connection-20260429T060358", "size":
      9, "last_modified": "2018-01-02T03:04:05.850Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "updated/logs/path/",
      "size": 0, "last_modified": "2018-01-02T03:04:05.015Z", "etag": "d41d8cd98f00b204e9800998ecf8427e",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}, {"name": "updated/logs/path/cloud-logs-test-connection-20260429T060400",
      "size": 9, "last_modified": "2018-01-02T03:04:05.116Z", "etag": "06aa6fa8bdc2078e7e1bd903e70c8f6a",
      "owner": "285755ea-e54d-40f7-8861-0a77cb9e9080"}], "next_marker": null, "is_truncated":
      false}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"cloud-logs-test-connection-20260429T060358","method":"DELETE","expires_in":360}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast-1/go-test-logs-destination-1777442634037829000/object-url
    method: POST
  response:
    body: '{"url": "https://us-southeast-1.linodeobjects.com:443/go-test-logs-destination-1777442634037829000/cloud-logs-test-connection-20260429T060358?Signature=M1nSwVdzlNtzVQC7DJCgMko5R4Y%3D&Expires=1777443004&AWSAccessKeyID=SANITIZED",
      "exists": true}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/buckets/us-southeast/go-test-logs-destination-1777442634037829000
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
