---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-token","scopes":"linodes:read_only","expiry":"2022-05-04T01:25:00"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 37432090, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-test-token", "token": "56a598fa8260fbb4849d7dd198afae99038f254ea49c11d0208230731676eb9a",
      "expiry": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: GET
  response:
    body: '{"data": [{"id": 29161791, "scopes": "*", "created": "2018-01-02T03:04:05",
      "label": "terraform-test-token", "token": "4dbd724789adf7c5", "expiry": "2221-07-22T00:00:00"},
      {"id": 37432090, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-test-token", "token": "56a598fa8260fbb4", "expiry": "2018-01-02T03:04:05"}],
      "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/37432090
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
