---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://37e6064e-5f90-4625-bbe4-2848bdbef2bc.cpc1-cjj1-testing.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"462"},"items":[]}
    headers:
      Audit-Id:
      - 7b217614-e3b5-4e9c-968b-f5d6c6087b65
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - f04ac65d-7a0f-48f9-9bfd-9039bc115100
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - d3c4ef91-2481-4cdd-874a-1d91708627cf
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://37e6064e-5f90-4625-bbe4-2848bdbef2bc.cpc1-cjj1-testing.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"532"},"items":[{"metadata":{"name":"lke7939-9499-6566c9b90000","uid":"89da0a8e-befb-4c0b-b292-2c04902d010c","resourceVersion":"527","creationTimestamp":"2018-01-02T03:04:05Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/instance-type":"g6-standard-1","beta.kubernetes.io/os":"linux","failure-domain.beta.kubernetes.io/region":"us-east","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lke7939-9499-6566c9b90000","kubernetes.io/os":"linux","lke.linode.com/pool-id":"9499","node.k8s.linode.com/host-uuid":"3a191bdfc30b9e396b3621d4aad6a565205cf57f","node.kubernetes.io/instance-type":"g6-standard-1","topology.kubernetes.io/region":"us-east"},"annotations":{"kubeadm.alpha.kubernetes.io/cri-socket":"unix:///run/containerd/containerd.sock","lke.linode.com/wgip":"172.31.0.1","lke.linode.com/wgpub":"MQfoqAw1vKdQtRzJlQcl0y6ZtOmCZZ1W+L+8AQ++w0c=","node.alpha.kubernetes.io/ttl":"0","volumes.kubernetes.io/controller-managed-attach-detach":"true"},"managedFields":[{"manager":"kube-controller-manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:node.alpha.kubernetes.io/ttl":{}}},"f:spec":{"f:podCIDR":{},"f:podCIDRs":{".":{},"v:\"10.2.0.0/25\"":{}}}}},{"manager":"kubeadm","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:kubeadm.alpha.kubernetes.io/cri-socket":{}}}}},{"manager":"kubelet","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{".":{},"f:volumes.kubernetes.io/controller-managed-attach-detach":{}},"f:labels":{".":{},"f:beta.kubernetes.io/arch":{},"f:beta.kubernetes.io/os":{},"f:kubernetes.io/arch":{},"f:kubernetes.io/hostname":{},"f:kubernetes.io/os":{}}}}},{"manager":"linode-cloud-controller-manager-linux","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:beta.kubernetes.io/instance-type":{},"f:failure-domain.beta.kubernetes.io/region":{},"f:node.k8s.linode.com/host-uuid":{},"f:node.kubernetes.io/instance-type":{},"f:topology.kubernetes.io/region":{}}},"f:spec":{"f:providerID":{}}}},{"manager":"linode-cloud-controller-manager-linux","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:status":{"f:addresses":{".":{},"k:{\"type\":\"ExternalIP\"}":{".":{},"f:address":{},"f:type":{}},"k:{\"type\":\"Hostname\"}":{".":{},"f:address":{},"f:type":{}},"k:{\"type\":\"InternalIP\"}":{".":{},"f:address":{},"f:type":{}}}}},"subresource":"status"},{"manager":"kubectl-annotate","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:annotations":{"f:lke.linode.com/wgip":{},"f:lke.linode.com/wgpub":{}}}}},{"manager":"manager","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:spec":{"f:taints":{}}}},{"manager":"kubectl-label","operation":"Update","apiVersion":"v1","time":"2018-01-02T03:04:05Z","fieldsType":"FieldsV1","fieldsV1":{"f:metadata":{"f:labels":{"f:lke.linode.com/pool-id":{}}}}}]},"spec":{"podCIDR":"10.2.0.0/25","podCIDRs":["10.2.0.0/25"],"providerID":"linode://25218330","taints":[{"key":"node.kubernetes.io/not-ready","effect":"NoSchedule"}]},"status":{"capacity":{"cpu":"1","ephemeral-storage":"51507660Ki","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"2027300Ki","pods":"110"},"allocatable":{"cpu":"1","ephemeral-storage":"47469459378","hugepages-1Gi":"0","hugepages-2Mi":"0","memory":"1924900Ki","pods":"110"},"conditions":[{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientMemory","message":"kubelet has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasNoDiskPressure","message":"kubelet has no disk pressure"},{"type":"PIDPressure","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletHasSufficientPID","message":"kubelet has sufficient PID available"},{"type":"Ready","status":"False","lastHeartbeatTime":"2018-01-02T03:04:05Z","lastTransitionTime":"2018-01-02T03:04:05Z","reason":"KubeletNotReady","message":"[container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:Network plugin returns error: cni plugin not initialized, CSINode is not yet initialized]"}],"addresses":[{"type":"Hostname","address":"lke7939-9499-6566c9b90000"},{"type":"ExternalIP","address":"172.104.222.251"},{"type":"InternalIP","address":"192.168.190.31"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"55e72338dc3346e08a3d5f9063bd0a9d","systemUUID":"55e72338dc3346e08a3d5f9063bd0a9d","bootID":"8aef1e8b-84e7-484e-a623-d5484908bc22","kernelVersion":"6.1.0-22-cloud-amd64","osImage":"Debian GNU/Linux 12 (bookworm)","containerRuntimeVersion":"containerd://1.7.18","kubeletVersion":"v1.29.2","kubeProxyVersion":"v1.29.2","operatingSystem":"linux","architecture":"amd64"}}}]}
    headers:
      Audit-Id:
      - f133ea87-933a-4603-9fdc-1059f0bc297e
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - f04ac65d-7a0f-48f9-9bfd-9039bc115100
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - d3c4ef91-2481-4cdd-874a-1d91708627cf
    status: 200 OK
    code: 200
    duration: ""
[...]
