---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "pl-labkrk-2", "label": "Krakow, PL", "country": "pl",
      "capabilities": ["Linodes", "Block Storage Encryption", "LA Disk Encryption",
      "Disk Encryption", "Backups", "NodeBalancers", "Block Storage", "Object Storage",
      "GPU Linodes", "Kubernetes", "Kubernetes Enterprise", "Cloud Firewall", "Vlans",
      "VPCs", "Block Storage Migrations", "Managed Databases", "Metadata", "Premium
      Plans", "Placement Group", "StackScripts", "NETINT Quadra T1U", "Maintenance
      Policy", "Linode Interfaces"], "status": "ok", "resolvers": {"ipv4": "172.24.224.240,172.24.224.229,172.24.224.236,172.24.224.238,172.24.224.235,172.24.224.241,172.24.224.230,172.24.224.239,172.24.224.233,172.24.224.234",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": null, "maximum_linodes_per_pg":
      5, "maximum_linodes_per_flexible_pg": 5}, "site_type": "core"}], "page": 1,
      "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","label":"go-test-ins-x379rroe8m56","root_pass":"72K7~G+aH3lV7yWod,`-.u\u003e!$Q@vxP92K8k}kLn2HIChRZL8(e4#v-g7{5''rC847","image":"linode/debian12","firewall_id":172875,"booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 99592698, "label": "go-test-ins-x379rroe8m56", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.24.232.55"], "ipv6": "1234::5678/128",
      "image": "linode/debian12", "region": "pl-labkrk-2", "site_type": "core", "specs":
      {"disk": 25600, "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000, "accelerated_devices":
      0}, "alerts": {"cpu": 90, "network_in": 10, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "backups": {"enabled": true, "available": false, "schedule":
      {"day": null, "window": null}, "last_successful": null}, "hypervisor": "kvm",
      "watchdog_enabled": true, "tags": [], "host_uuid": "71218e149de49b7d64e6b6c8190b1408f91d89c7",
      "has_user_data": false, "placement_group": null, "disk_encryption": "enabled",
      "lke_cluster_id": null, "capabilities": ["Block Storage Encryption", "SMTP Enabled",
      "Maintenance Policy"], "interface_generation": "legacy_config", "maintenance_policy":
      "linode/migrate"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"linode_create","created":{"+gte":"2018-01-02T03:04:05"},"entity.id":99592698,"entity.type":"linode"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 5711986, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": 52, "time_remaining": null, "rate": null,
      "duration": 15.939286, "action": "linode_create", "username": "vshanthe-cx",
      "entity": {"label": "go-test-ins-x379rroe8m56", "id": 99592698, "type": "linode",
      "url": "/v4/linode/instances/99592698"}, "status": "started", "secondary_entity":
      {"id": "linode/debian12", "type": "image", "label": "Debian 12", "url": "/v4/images/linode/debian12"},
      "message": "", "details": {}}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/99592698
    method: GET
  response:
    body: '{"id": 99592698, "label": "go-test-ins-x379rroe8m56", "group": "", "status":
      "offline", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["172.24.232.55"], "ipv6": "1234::5678/128",
      "image": "linode/debian12", "region": "pl-labkrk-2"[...]
- request:
    body: '{"region":"pl-labkrk-2","type":"g6-nanode-1","backups_enabled":false,"private_ip":true,"metadata":{"user_data":"cmVhbGx5Y29vbHVzZXJkYXRh"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/99592698/clone
    method: POST
  response:
    body: '{"id": 99592699, "label": "linode99592699", "group": "", "status": "offline",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "type":
      "g6-nanode-1", "ipv4": ["172.24.233.19", "192.168.132.73"], "ipv6": "1234::5678/128",
      "image": "linode/debian12", "r[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/99592699/ips
    method: GET
  response:
    body: '{"ipv4": {"public": [{"address": "172.24.233.19", "gateway": "172.24.233.1",
      "subnet_mask": "255.255.255.0", "prefix": 24, "type": "ipv4", "public": true,
      "rdns": "172-24-233-19.ip.linodeusercontent.com", "linode_id": 99592699, "interface_id":
      null, "region": "pl-labkrk-2", "vpc_nat_1_1": null, "reserved": false, "assigned_entity":
      {"id": 99592699, "type": "linode", "label": "linode99592699", "url": "/v4/linode/instances/99592699"}}],
      "private": [{"address": "192.168.132.73", "gateway": null, "subnet_mask": "255.255.128.0",
      "prefix": 17, "type": "ipv4", "public": false, "rdns": null, "linode_id": 99592699,
      "interface_id": null, "region": "pl-labkrk-2", "vpc_nat_1_1": null, "reserved":
      false, "assigned_entity": {"id": 99592699, "type": "linode", "label": "linode99592699",
      "url": "/v4/linode/instances/99592699"}}], "shared": [], "reserved": [], "vpc":
      []}, "ipv6": {"slaac": {"address": "1234::5678", "gateway":
      "1234::5678", "subnet_mask": "1234::5678", "prefix": 64, "type": "ipv6",
      "rdns": null, "linode_id": 99592699, "region": "pl-labkrk-2", "public": true},
      "link_local": {"address": "1234::5678", "gateway": "1234::5678",
      "subnet_mask": "1234::5678", "prefix": 64, "type": "ipv6", "rdns":
      null, "linode_id": 99592699, "region": "pl-labkrk-2", "public": false}, "global":
      [], "vpc": []}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "240"
    status: 200 OK
    code: 200
    duration: ""
[...]
