---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/quotas?page=1
    method: GET
  response:
    body: '{"data": [{"quota_id": "obj-bytes-us-lax-4.linodeobjects.com", "quota_name":
      "Total Capacity", "quota_type": "obj-bytes", "endpoint_type": "E3", "s3_endpoint":
      "us-lax-4.linodeobjects.com", "description": "Current total capacity per account,
      per endpoint", "quota_limit": 549755813888000, "resource_metric": "byte", "has_usage":
      true}, {"quota_id": "obj-objects-us-lax-4.linodeobjects.com", "quota_name":
      "Number of Objects", "quota_type": "obj-objects", "endpoint_type": "E3", "s3_endpoint":
      "us-lax-4.linodeobjects.com", "description": "Current number of objects per
      account, per endpoint", "quota_limit": 500000000, "resource_metric": "object",
      "has_usage": true}, {"quota_id": "obj-buckets-us-lax-4.linodeobjects.com", "quota_name":
      "Number of Buckets", "quota_type": "obj-buckets", "endp[...]
