---
version: 1
interactions:
- request:
    body: '{"description":"testing123","region":"ca-central","linodes":null,"cidr_block":"0.0.0.0/0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/vlans
    method: POST
  response:
    body: '{"id": 1113, "region": "ca-central", "description": "testing123", "linodes": [], "cidr_block": "0.0.0.0/0", "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write,linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/networking/vlans/1113
    method: GET
  response:
    body: '{"id": 1113, "region": "ca-central", "description": "testing123", "linodes": [], "cidr_block": "0.0.0.0/0", "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
