---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-volume-4z8tqy20","region":"us-southeast","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes
    method: POST
  response:
    body: '{"id": 329987, "status": "creating", "label": "linodego-test-volume-4z8tqy20",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume-4z8tqy20", "size":
      20, "linode_id": null, "linode_label": null, "region": "us-southeast", "tags":
      [], "hardware_type": "nvme"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/36182312/volumes
    method: GET
  response:
    body: '{"data": [{"id": 329987, "status": "creating", "label": "linodego-test-volume-4z8tqy20",
      "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "filesystem_path":
      "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume-4z8tqy20", "size":
      20, "linode_id": 36182312, "linode_label": "linodego-test-instance-wo-disk",
      "region": "us-southeast", "tags": [], "hardware_type": "nvme"}], "page": 1,
      "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/329987
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
