---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/regions?page=1
    method: GET
  response:
    body: '{"data": [{"id": "ap-west", "label": "Mumbai, India", "country": "in",
      "capabilities": ["Linodes", "Disk Encryption", "Backups", "NodeBalancers", "Vlans",
      "VPCs", "Managed Databases", "StackScripts"], "status": "ok", "resolvers": {"ipv4":
      "172.105.34.5,172.105.35.5,172.105.36.5,172.105.37.5,172.105.38.5,172.105.39.5,172.105.40.5,172.105.41.5,172.105.42.5,172.105.43.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678"},
      "placement_group_limits": {"maximum_pgs_per_customer": 0, "maximum_linodes_per_pg":
      0}, "site_type": "core"}, {"id": "ca-central", "label": "Toronto, Ontario, CAN",
      "country": "ca", "capabilities": ["Linodes", "Disk Encryption", "Backups", "NodeBalancers",
      "Vlans", "VPCs", "Managed Databases", "StackScripts"], "status": "ok", "resolvers":
      {"ipv4": "172.105.0.5,172.105.3.5,172.105.4.5,172.105.5.5,172.105.6.5,172.105.7.5,172.105.8.5,172.105.9.5,172.105.10.5,172.105.11.5",
      "ipv6": "1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234::5678,1234[...]
- request:
    body: '{"label":"example-db-created-with-config","region":"us-east","type":"g6-dedicated-2","engine":"mysql/8","allow_list":["203.0.113.1","192.0.1.0/24"],"cluster_size":3,"engine_config":{"mysql":{"connect_timeout":10,"default_time_zone":"+03:00","group_concat_max_len":1024,"information_schema_stats_expiry":86400,"innodb_change_buffer_max_size":30,"innodb_flush_neighbors":1,"innodb_ft_min_token_size":3,"innodb_ft_server_stopword_table":"mydb/stopwords","innodb_lock_wait_timeout":50,"innodb_log_buffer_size":16777216,"innodb_online_alter_log_max_size":134217728,"innodb_read_io_threads":10,"innodb_rollback_on_timeout":true,"innodb_thread_concurrency":10,"innodb_write_io_threads":10,"interactive_timeout":3600,"internal_tmp_mem_storage_engine":"TempTable","max_allowed_packet":67108864,"max_heap_table_size":16777216,"net_buffer_length":16384,"net_read_timeout":30,"net_write_timeout":30,"sort_buffer_size":262144,"sql_mode":"TRADITIONAL","sql_require_primary_key":true,"tmp_table_size":16777216,"wait_timeout":28800},"binlog_retention_period":600}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances
    method: POST
  response:
    body: '{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size": 3, "created":
      "2018-01-02T03:04:05", "encrypted": true, "engine": "mysql", "engine_config":
      {"binlog_retention_period": 600, "mysql": {"connect_timeout": 10, "default_time_zone":
      "+03:00", "group_concat_max_len": 1024, "information_schema_stats_expiry": 86400,
      "innodb_change_buffer_max_size": 30, "innodb_flush_neighbors": 1, "innodb_ft_min_token_size":
      3, "innodb_ft_server_stopword_table": "mydb/stopwords", "innodb_lock_wait_timeout":
      50, "innodb_log_buffer_size": 16777216, "innodb_online_alter_log_max_size":
      134217728, "innodb_read_io_threads": 10, "innodb_rollback_on_timeout": true,
      "innodb_thread_concurrency": 10, "innodb_write_io_threads": 10, "interactive_timeout":
      3600, "internal_tmp_mem_storage_engine": "TempTable", "max_allowed_packet":
      67108864, "max_heap_table_size": 16777216, "net_buffer_length": 16384, "net_read_timeout":
      30, "net_write_timeout": 30, "sort_buffer_size": 262144, "sql_mode": "TRADITIONAL",
      "sql_require_primary_key": true, "tmp_table_size": 16777216, "wait_timeout":
      28800}}, "hosts": {"primary": "a16774-akamai-alpha-1000126-default.g2a.akamaidb.net",
      "standby": "replica-a16774-akamai-alpha-1000126-default.g2a.akamaidb.net"},
      "id": 16774, "label": "example-db-created-with-config", "members": {}, "port":
      25698, "region": "us-east", "ssl_connection": true, "status": "provisioning",
      "total_disk_size_gb": 58, "type": "g6-dedicated-2", "updated": "2018-01-02T03:04:05",
      "updates": {"day_of_week": 4, "duration": 4, "frequency": "weekly", "hour_of_day":
      13, "pending": []}, "used_disk_size_gb": null, "version": "8", "platform": "rdbms-default"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2025-05-06T18:32:07"},"entity.id":16774,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 31679114, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "ykim_akamai", "entity":
      {"label": "example-db-created-with-config", "id": 16774, "type": "database",
      "url": "/v4/databases/mysql/instances/16774"}, "status": "notification", "secondary_entity":
      null, "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/16774
    method: GET
  response:
    body: '{"allow_list": ["192.0.1.0/24", "203.0.113.1/32"], "cluster_size": 3, "created":
      "2018-01-02T03:04:05", "encrypted": true, "engine": "mysql", "engine_config":
      {"binlog_retention_period": 600, "mysql": {"connect_timeout": 10, "default_time_zone":
      "+03:00", "group_concat_max_len[...]
[...]
