---
version: 1
interactions:
- request:
    body: '{"region":"ca-central","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 35955700, "label": "linodego-test-instance", "group": "", "status":
      "provisioning", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "type": "g6-nanode-1", "ipv4": ["139.177.194.34"], "ipv6": "2600:3c04::f03c:93ff:fea1:b93c/128",
      "image": "linode/debian9", "region": "ca-central", "specs": {"disk": 25600,
      "memory": 1024, "vcpus": 1, "gpus": 0, "transfer": 1000}, "alerts": {"cpu":
      90, "network_in": 10, "network_out": 10, "transfer_quota": 80, "io": 10000},
      "backups": {"enabled": false, "schedule": {"day": null, "window": null}, "last_successful":
      null}, "hypervisor": "kvm", "watchdog_enabled": true, "tags": []}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/35955700/boot
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/35955700/stats
    method: GET
  response:
    body: '{"errors": [{"reason": "Stats are unavailable at this time."}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "100"
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/35955700/stats
    method: GET
  response:
    body: '{"data": {"cpu": [[1650230700000, 0], [1650231000000, 0], [1650231300000,
      0], [1650231600000, 0], [1650231900000, 0], [1650232200000, 0], [1650232500000,
      0], [1650232800000, 0], [1650233100000, 0], [1650233400000, 0], [1650233700000,
      0], [1650234000000, 0], [1650234300000, 0], [1650234600000, 0], [1650234900000,
      0], [1650235200000, 0], [1650235500000, 0], [1650235800000, 0], [1650236100000,
      0], [1650236400000, 0], [1650236700000, 0], [1650237000000, 0], [1650237300000,
    [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/35955700/stats/2018/1
    method: GET
  response:
    body: '{"title": "", "data": {"netv6": {"out": [], "private_out": [], "in": [],
      "private_in": []}, "netv4": {"out": [], "private_out": [], "private_in": [],
      "in": []}, "cpu": [], "io": {"io": [], "swap": []}}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "100"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/35955700
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
