---
version: 1
interactions:
- request:
    body: '{"label":"linodego-token-test","scopes":"linodes:read_only","expiry":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"id": 41180271, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-token-test", "token": "2efb8b52324b06c948e89e2f593dfbbc764306077f91ff20c57c5e843541dc9e",
      "expiry": "2999-12-12T05:00:00"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/41180271
    method: GET
  response:
    body: '{"id": 41180271, "scopes": "linodes:read_only", "created": "2018-01-02T03:04:05",
      "label": "linodego-token-test", "token": "2efb8b52324b06c9", "expiry": "2999-12-12T05:00:00"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
