---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account
    method: GET
  response:
    body: '{"company": "Linode", "email": "jriddle@linode.com", "first_name": "Jacob",
      "last_name": "Riddle", "address_1": "108 Bear Ln", "address_2": "Unit E", "city":
      "Mooresville", "state": "NC", "zip": "28117", "country": "US", "phone": "3365668842",
      "balance": -24.64, "tax_id": "", "billing_source": "linode", "credit_card":
      {"last_four": "6830", "expiry": "03/2025"}, "balance_uninvoiced": 0.0, "active_since":
      "2018-01-02T03:04:05", "capabilities": ["Linodes", "NodeBalancers", "Block Storage",
      "Object Storage", "Kubernetes", "Cloud Firewall", "Vlans", "LKE HA Control Planes",
      "Machine Images", "Managed Databases"], "active_promotions": [], "euuid": "6E46CA9C-14A4-4E14-A12A055450648652"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
