---
version: 1
interactions:
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2","disks":null,"tags":["test"]}],"label":"nto84l527t4m-linodego-testing","region":"us-central","k8s_version":"1.23","tags":["testing"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 58197, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "nto84l527t4m-linodego-testing", "region": "us-central",
      "k8s_version": "1.23", "control_plane": {"high_availability": false}, "tags":
      ["testing"]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/58197/api-endpoints
    method: GET
  response:
    body: '{"errors": [{"reason": "Cluster API Endpoints are not yet available. Please
      try again later."}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 503 Service Unavailable
    code: 503
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/58197/api-endpoints
    method: GET
  response:
    body: '{"page": 1, "pages": 1, "results": 4, "data": [{"endpoint": "https://4e589a64-7764-431c-88dc-e85af0e03ab7.cpc2-us-central.linodelke.net:443"},
      {"endpoint": "https://4e589a64-7764-431c-88dc-e85af0e03ab7.cpc2-us-central.linodelke.net:6443"},
      {"endpoint": "https://45.79.242.213:443"}, {"endpoint": "https://45.79.242.213:6443"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/58197
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
