---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/alert-channels?page=1
    method: GET
  response:
    body: '{"pages": 1, "page": 1, "results": 2, "data": [{"id": 10000, "label": "Read-Write
      Channel", "channel_type": "email", "type": "system", "details": {"email": {"usernames":
      [], "recipient_type": "read_write_users"}}, "alerts": {"url": "/monitor/alert-channels/10000/alerts",
      "type": "alerts-definitions", "alert_count": 9}, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05", "created_by": "system", "updated_by": "system"}, 
      {"id": 10118, "label": "notification channel", "channel_type": "email", "type": "user", 
      "details": {"email": {"usernames": ["user_admin"], "recipient_type":
      "user"}}, "alerts": {"url": "/monitor/alert-channels/10118/alerts", "type":
      "alerts-definitions", "alert_count": 0}, "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "created_by": "user_admin", "updated_by":
      "user_admin"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - monitor:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-alert-definition-idempotency-1775447159246954016","severity":2,"channel_ids":[10000],"rule_criteria":{"rules":[{"aggregate_function":"avg","dimension_filters":[{"dimension_label":"node_type","operator":"eq","value":"primary"}],"metric":"memory_usage","operator":"gt","threshold":90}]},"trigger_conditions":{"criteria_condition":"ALL","evaluation_period_seconds":300,"polling_interval_seconds":300,"trigger_occurrences":1},"description":"Test
      alert definition creation with idempotency"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions
    method: POST
  response:
    body: '{"id": 11008, "label": "go-test-alert-definition-idempotency-1775447159246954016",
      "description": "Test alert definition creation with idempotency", "service_type":
      "dbaas", "type": "user", "scope": "entity", "class": null, "regions": [], "status":
      "provisioning", "entity_ids": [], "has_more_resources": false, "severity": 2,
      "rule_criteria": {"rules": [{"label": "Memory Usage", "metric": "memory_usage",
      "unit": "percent", "aggregate_function": "avg", "operator": "gt", "threshold":
      90, "dimension_filters": [{"label": "Node Type", "dimension_label": "node_type",
      "operator": "eq", "value": "primary"}]}]}, "alert_channels": [{"id": 10000,
      "label": "Read-Write Channel", "url": "/monitor/alert-channels/10000", "type":
      "alert-channels"}], "trigger_conditions": {"criteria_condition": "ALL", "polling_interval_seconds":
      300, "evaluation_period_seconds": 300, "trigger_occurrences": 1}, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "created_by": "user_admin",
      "updated_by": "user_admin"}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"go-test-alert-definition-idempotency-1775447159246954016","severity":2,"channel_ids":[10000],"rule_criteria":{"rules":[{"aggregate_function":"avg","dimension_filters":[{"dimension_label":"node_type","operator":"eq","value":"primary"}],"metric":"memory_usage","operator":"gt","threshold":90}]},"trigger_conditions":{"criteria_condition":"ALL","evaluation_period_seconds":300,"polling_interval_seconds":300,"trigger_occurrences":1},"description":"Test
      alert definition creation with idempotency"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions
    method: POST
  response:
    body: '{"errors": [{"reason": "An alert with this label already exists", "field":
      "label"}]}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/monitor/services/dbaas/alert-definitions/11008
    method: DELETE
  response:
    body: '{}'
    headers:
      Akamai-Internal-Account:
      - '*'
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - databases:read_only
      X-Oauth-Scopes:
      - account:read_only databases:read_only domains:read_only events:read_only firewall:read_only
        images:read_only ips:read_only linodes:read_only lke:read_only longview:read_only
        monitor:read_write nodebalancers:read_only object_storage:read_only stackscripts:read_only
        volumes:read_only
      X-Ratelimit-Limit:
      - "1840"
    status: 200 OK
    code: 200
    duration: ""
