---
version: 1
interactions:
- request:
    body: '{"label":"basic-mysql1-linodego-testing","region":"us-east","type":"g6-nanode-1","engine":"mysql/8.0.26","encrypted":false,"cluster_size":3,"replication_type":"semi_synch","ssl_connection":false,"allow_list":["203.0.113.1","192.0.1.0/24"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances
    method: POST
  response:
    body: '{"id": 1269, "label": "basic-mysql1-linodego-testing", "type": "g6-nanode-1",
      "engine": "mysql", "version": "8.0.26", "region": "us-east", "status": "provisioning",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": null, "secondary": null}, "ssl_connection": false, "replication_type":
      "semi_synch", "port": 3306, "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      X-Filter:
      - '{"+order":"desc","+order_by":"created","action":"database_create","created":{"+gte":"2022-03-21T17:01:14"},"entity.id":1269,"entity.type":"database"}'
    url: https://api.linode.com/v4beta/account/events?page=1
    method: GET
  response:
    body: '{"data": [{"id": 287564908, "created": "2018-01-02T03:04:05", "seen": false,
      "read": false, "percent_complete": null, "time_remaining": null, "rate": null,
      "duration": null, "action": "database_create", "username": "jriddle-dev", "entity":
      {"label": "basic-mysql1-linodego-testing", "id": 1269, "type": "database", "url":
      "/v4/databases/mysql/instances/1269"}, "status": "notification", "secondary_entity":
      null, "message": ""}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/instances
    method: GET
  response:
    body: '{"data": [{"id": 1130, "label": "basic-mysql-linodego-testing", "type":
      "g6-nanode-1", "engine": "mysql", "version": "8.0.26", "region": "us-east",
      "status": "failed", "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"],
      "cluster_size": 3, "hosts": {"primary": null, "secondary": null}, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "instance_uri": "/v4/databases/mysql/instances/1130"},
      {"id": 1269, "label": "basic-mysql1-linodego-testing", "type": "g6-nanode-1",
      "engine": "mysql", "version": "8.0.26", "region": "us-east", "status": "active",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": "lin-1269-1360-mysql-primary.servers.linodedb.net",
      "secondary": "lin-1269-1360-mysql-primary-private.servers.linodedb.net"}, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "instance_uri": "/v4/databases/mysql/instances/1269"}],
      "page": 1, "pages": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/1269
    method: GET
  response:
    body: '{"id": 1269, "label": "basic-mysql1-linodego-testing", "type": "g6-nanode-1",
      "engine": "mysql", "version": "8.0.26", "region": "us-east", "status": "active",
      "encrypted": false, "allow_list": ["203.0.113.1", "192.0.1.0/24"], "cluster_size":
      3, "hosts": {"primary": "lin-1269-1360-mysql-primary.servers.linodedb.net",
      "secondary": "lin-1269-1360-mysql-primary-private.servers.linodedb.net"}, "ssl_connection":
      false, "replication_type": "semi_synch", "port": 3306, "created": "2018-01-02T03:04:05",
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/1269/ssl
    method: GET
  response:
    body: '{"ca_certificate": null}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/1269/credentials
    method: GET
  response:
    body: '{"username": "linroot", "password": "UVP6mFOTB7,9dVBF"}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/1269/credentials/reset
    method: POST
  response:
    body: '{"errors": [{"reason": "Internal server error"}]}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
    status: 500 Internal Server Error
    code: 500
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/databases/mysql/instances/1269/backups
    method: GET
  response:
    body: '{"data": [], "page": 1, "pages": 1, "results": 0}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
    status: 200 OK
    code: 200
    duration: ""
[...]
