---
version: 1
interactions:
- request:
    body: '{"label":"go-test-def","region":"us-west","client_conn_throttle":20,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 258008, "label": "go-test-def", "region": "us-west", "hostname":
      "104-200-27-231.ip.linodeusercontent.com", "ipv4": "104.200.27.231", "ipv6":
      "1234::5678", "created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05",
      "client_conn_throttle": 20, "tags": [], "transfer": {"in": null, "out": null,
      "total": null}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"port":80,"protocol":"http","algorithm":"roundrobin","check_interval":60}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/258008/configs
    method: POST
  response:
    body: '{"id": 384576, "port": 80, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 60, "check_timeout":
      30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      258008, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/258008/configs
    method: GET
  response:
    body: '{"data": [{"id": 384576, "port": 80, "protocol": "http", "algorithm": "roundrobin",
      "stickiness": "none", "check": "none", "check_interval": 60, "check_timeout":
      30, "check_attempts": 3, "check_path": "", "check_body": "", "check_passive":
      true, "proxy_protocol": "none", "cipher_suite": "recommended", "nodebalancer_id":
      258008, "ssl_commonname": "", "ssl_fingerprint": "", "ssl_cert": null, "ssl_key":
      null, "nodes_status": {"up": 0, "down": 0}}], "page": 1, "pages": 1, "results":
      1}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/258008/configs/384576
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/258008
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
