---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/account/users
    method: GET
  response:
    body: '{"page": 1, "results": 1, "data": [{"restricted": false, "email": "linodego-testuser@example.com",
      "username": "linodego-testuser", "ssh_keys": []}], "pages": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1540472557"
      X-Spec-Version:
      - 4.0.7
    status: 200 OK
    code: 200
    duration: ""
