---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/account
    method: GET
  response:
    body: '{"city": "....", "credit_card": {"last_four": "2149", "expiry": "01/2021"},
      "country": "US", "tax_id": "", "email": "linode+mj@displague.com", "address_1":
      "..", "last_name": "Johansson", "zip": "08234", "balance": 0.0, "company": "Linode
      Me", "state": "..", "address_2": "...", "first_name": "Marques", "phone": "609-742-2662"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1530580769"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
