---
version: 1
interactions:
- request:
    body: '{"region":"us-east","client_conn_throttle":20}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers
    method: POST
  response:
    body: '{"created": "2018-01-02T03:04:05", "id": 36296, "label": "balancer36296",
      "ipv4": "010.020.030.040", "ipv6": "1234::5678", "region": "us-east",
      "hostname": "nb-10-20-30-40.newark.nodebalancer.linode.com", "updated": "2018-01-02T03:04:05",
      "transfer": {"in": null, "out": null, "total": null}, "client_conn_throttle":
      20}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "18"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "387"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/nodebalancers/36296
    method: GET
  response:
    body: '{"ipv4": "010.020.030.040", "updated": "2018-01-02T03:04:05", "region": "us-east",
      "id": 36296, "transfer": {"total": null, "out": null, "in": null}, "created":
      "2018-01-02T03:04:05", "label": "balancer36296", "client_conn_throttle": 20,
      "ipv6": "1234::5678", "hostname": "nb-10-20-30-40.newark.nodebalancer.linode.com"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "18"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "391"
      X-Ratelimit-Reset:
      - "1530581957"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
[...]
