---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"status": "provisioning", "image": null, "ipv4": ["010.020.030.040"], "group":
      "", "region": "us-west", "id": 11750571, "alerts": {"network_out": 10, "io":
      10000, "network_in": 10, "cpu": 90, "transfer_quota": 80}, "watchdog_enabled":
      true, "updated": "2018-01-02T03:04:05", "specs": {"transfer": 1000, "memory":
      1024, "vcpus": 1, "disk": 25600}, "created": "2018-01-02T03:04:05", "type":
      "g6-nanode-1", "hypervisor": "kvm", "ipv6": "1234::5678/64",
      "tags": [], "label": "linodego-test-instance", "backups": {"enabled": false,
      "schedule": {"window": null, "day": null}}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543806758"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11750571/configs
    method: POST
  response:
    body: '{"virt_mode": "paravirt", "devices": {"sdh": null, "sdc": null, "sdf":
      null, "sde": null, "sdb": null, "sdd": null, "sda": null, "sdg": null}, "root_device":
      "/dev/sda", "run_level": "default", "initrd": null, "helpers": {"modules_dep":
      true, "devtmpfs_automount": true, "network": true, "distro": true, "updatedb_disabled":
      true}, "id": 12976939, "label": "linodego-test-config", "created": "2018-01-02T03:04:05",
      "comments": "", "memory_limit": 0, "kernel": "linode/latest-64bit", "updated":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "21"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1543806662"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11750571/ips
    method: GET
  response:
    body: '{"ipv4": {"shared": [], "private": [], "public": [{"subnet_mask": "010.020.030.040",
      "linode_id": 11750571, "type": "ipv4", "region": "us-west", "address": "010.020.030.040",
      "prefix": 24, "gateway": "010.020.030.040", "rdns": "li982-235.members.linode.com",
      "public": true}]}, "ipv6": {"global": [], "link_local": {"subnet_mask": "1234::5678",
      "linode_id": 11750571, "type": "ipv6", "region": "us-west", "address": "1234::5678",
      "rdns": null, "gateway": "1234::5678", "public": false, "prefix": 64}, "slaac":
      {"subnet_mask": "1234::5678", "linode_id": 11750571, "type": "ipv6",
      "region": "us-west", "address": "1234::5678", "rdns": null,
      "gateway": "1234::5678", "public": true, "prefix": 64}}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543806760"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11750571
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "21"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1543806663"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
