---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"specs": {"vcpus": 1, "disk": 25600, "transfer": 1000, "memory": 1024},
      "watchdog_enabled": true, "hypervisor": "kvm", "label": "linodego-test-instance",
      "group": "", "status": "provisioning", "image": "linode/debian9", "type": "g6-nanode-1",
      "backups": {"schedule": {"window": null, "day": null}, "enabled": false}, "ipv6":
      "1234::5678/64", "created": "2018-01-02T03:04:05", "ipv4":
      ["10.20.30.40"], "alerts": {"network_out": 10, "io": 10000, "transfer_quota":
      80, "cpu": 90, "network_in": 10}, "region": "us-west", "id": 13489411, "updated":
      "2018-01-02T03:04:05", "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1554336665"
      X-Spec-Version:
      - 4.0.19
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/13489411/boot
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1554336666"
      X-Spec-Version:
      - 4.0.19
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/13489411/stats
    method: GET
  response:
    body: '{"data": {"io": {"io": [[1554250800000, 0], [1554251100000, 0], [1554251400000,
      0], [1554251700000, 0], [1554252000000, 0], [1554252300000, 0], [1554252600000,
      0], [1554252900000, 0], [1554253200000, 0], [1554253500000, 0], [1554253800000,
      0], [1554254100000, 0], [1554254400000, 0], [1554254700000, 0], [1554255000000,
      0], [1554255300000, 0], [1554255600000, 0], [1554255900000, 0], [1554256200000,
      0], [1554256500000, 0], [1554256800000, 0], [1554257100000, 0], [1554257400000[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/13489411/stats/2019/4
    method: GET
  response:
    body: '{"title": "linode.com - linodego-test-instance (linode13489411) - month
      (2 hr avg)", "data": {"io": {"swap": [[1551751200000, 0], [1551758400000, 0],
      [1551765600000, 0], [1551772800000, 0], [1551780000000, 0], [1551787200000,
      0], [1551794400000, 0], [1551801600000, 0], [1551808800000, 0], [1551816000000,
      0], [1551823200000, 0], [1551830400000, 0], [1551837600000, 0], [1551844800000,
      0], [1551852000000, 0], [1551859200000, 0], [1551866400000, 0], [1551873600000,
      0], [1551880800000, 0], [1551888000000, 0], [1551895200000, 0], [1551902400000,
      0], [1551909600000, 0], [1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/13489411
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1554337208"
      X-Spec-Version:
      - 4.0.19
    status: 200 OK
    code: 200
    duration: ""
