---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"group": "", "specs": {"transfer": 1000, "memory": 1024, "disk": 25600,
      "vcpus": 1}, "created": "2018-01-02T03:04:05", "region": "us-west", "hypervisor":
      "kvm", "label": "linodego-test-instance", "image": "linode/debian9", "alerts":
      {"network_out": 10, "transfer_quota": 80, "io": 10000, "cpu": 90, "network_in":
      10}, "status": "provisioning", "updated": "2018-01-02T03:04:05", "ipv6": "1234::5678/64",
      "backups": {"enabled": false, "schedule": {"day": null, "window": null}}, "type":
      "g6-nanode-1", "ipv4": ["010.020.030.040"], "watchdog_enabled": true, "id": 10158886}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536444712"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10158886/disks
    method: GET
  response:
    body: '{"pages": 1, "results": 2, "data": [{"id": 21758686, "status": "not ready",
      "label": "Debian 9 Disk", "created": "2018-01-02T03:04:05", "size": 25088, "filesystem":
      "ext4", "updated": "2018-01-02T03:04:05"}, {"id": 21758687, "status": "not ready",
      "label": "512 MB Swap Image", "created": "2018-01-02T03:04:05", "size": 512,
      "filesystem": "swap", "updated": "2018-01-02T03:04:05"}], "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536444713"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10158886
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536444713"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
