---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"updated": "2018-01-02T03:04:05", "ipv4": ["10.20.30.40"], "alerts":
      {"cpu": 90, "transfer_quota": 80, "network_in": 10, "io": 10000, "network_out":
      10}, "backups": {"schedule": {"day": null, "window": null}, "enabled": false},
      "image": "linode/debian9", "specs": {"disk": 25600, "gpus": 0, "vcpus": 1, "memory":
      1024, "transfer": 1000}, "hypervisor": "kvm", "status": "provisioning", "tags":
      [], "type": "g6-nanode-1", "region": "us-west", "label": "linodego-test-instance",
      "ipv6": "1234::5678/64", "watchdog_enabled": true, "created":
      "2018-01-02T03:04:05", "group": "", "id": 18425275}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660851"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"type":"ipv4","public":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425275/ips
    method: POST
  response:
    body: '{"prefix": 17, "region": "us-west", "address": "192.168.030.040", "public":
      false, "gateway": null, "subnet_mask": "10.20.30.40", "rdns": null, "linode_id":
      18425275, "type": "ipv4"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "45"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660779"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address":"192.168.030.040:8080","label":"test-label","weight":10,"mode":"accept"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53604/configs/48070/nodes
    method: POST
  response:
    body: '{"label": "test-label", "nodebalancer_id": 53604, "id": 466776, "address":
      "192.168.030.040:8080", "config_id": 48070, "mode": "accept", "status": "Unknown",
      "weight": 10}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573660853"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"test-label_r","weight":100,"mode":"drain"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/53604/configs/48070/nodes/466776
    method: PUT
  response:
    body: '{"label": "test-label_r", "weight": 100, "address": "192.168.030.040:8080",
      "status": "Unknown", "mode": "drain", "config_id": 48070, "id": 466776, "nodebalancer_id":
      53604}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "43"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660777"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18425275
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "42"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573660777"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
