---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","tags":["linodego-test"]}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"ipv6": "1234::5678/64", "group": "", "region": "us-west",
      "alerts": {"cpu": 90, "network_out": 10, "network_in": 10, "transfer_quota":
      80, "io": 10000}, "label": "linodego-test-instance", "status": "provisioning",
      "type": "g6-nanode-1", "created": "2018-01-02T03:04:05", "id": 10698247, "backups":
      {"enabled": false, "schedule": {"day": null, "window": null}}, "ipv4": ["010.020.030.040"],
      "image": null, "specs": {"vcpus": 1, "memory": 1024, "disk": 25600, "transfer":
      1000}, "tags": ["linodego-test"], "hypervisor": "kvm", "watchdog_enabled": true,
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "72"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1538780914"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-instance","backups":{"enabled":false,"Schedule":{}},"alerts":{"cpu":90,"io":10000,"network_in":10,"network_out":10,"transfer_quota":80},"watchdog_enabled":true,"tags":["linodego-test","linodego-test-bar"]}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10698247
    method: PUT
  response:
    body: '{"hypervisor": "kvm", "updated": "2018-01-02T03:04:05", "group": "", "ipv6":
      "1234::5678/64[...]
- request:
    body: '{"label":"linodego-test-foo","linodes":[10698247]}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/tags
    method: POST
  response:
    body: '{"label": "linodego-test-foo"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "71"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "395"
      X-Ratelimit-Reset:
      - "1538780914"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/tags
    method: GET
  response:
    body: '{"results": 3, "page": 1, "data": [{"label": "linodego-test"}, {"label":
      "linodego-test-bar"}, {"label": "linodego-test-foo"}], "pages": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "71"
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1538780914"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/tags/linodego-test
    method: GET
  response:
    body: '{"pages": 1, "results": 1, "data": [{"type": "linode", "data": {"hypervisor":
      "kvm", "updated": "2018-01-02T03:04:05", "group": "", "ipv6": "1234::5678/64",
      "ipv4": ["010.020.030.040"], "label": "linodego-test-instance", "regio[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/tags/linodego-test-foo
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "70"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1538780914"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/tags/linodego-test-bar
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1538780963"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
[...]
