---
version: 1
interactions:
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"label": "lpq6h62z88m4-linodego-testing", "id": 346, "secret_key": "[REDACTED]",
      "access_key": "[REDACTED]"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "49"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1563824484"
      X-Spec-Version:
      - 4.2.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: GET
  response:
    body: '{"pages": 1, "results": 6, "page": 1, "data": [{"label": "primary", "id":
      183, "access_key": "[REDACTED]", "secret_key": "[REDACTED]"}, {"label":
      "some label", "id": 272, "access_key": "[REDACTED]", "secret_key":
      "[REDACTED]"}, {"label": "some label", "id": 273, "access_key": "[REDACTED]",
      "secret_key": "[REDACTED]"}, {"label": "[REDACTED]", "id": 275, "access_key":
      "[REDACTED]", "secret_key": "[REDACTED]"}, {"label": "sauber2", "id":
      276, "access_key": "[READACTED]", "secret_key": "[REDACTED]"}, {"label":
      "lpq6h62z88m4-linodego-testing", "id": 346, "access_key": "[REDACTED]",
      "secret_key": "[REDACTED]"}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1563824554"
      X-Spec-Version:
      - 4.2.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/346
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "87"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1563824523"
      X-Spec-Version:
      - 4.2.3
    status: 200 OK
    code: 200
    duration: ""
