---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"status": "provisioning", "group": "", "watchdog_enabled": true, "hypervisor":
      "kvm", "specs": {"memory": 1024, "transfer": 1000, "disk": 25600, "vcpus": 1},
      "ipv4": ["010.020.030.040"], "label": "linodego-test-instance", "updated": "2018-01-02T03:04:05",
      "id": 10157365, "type": "g6-nanode-1", "image": null, "created": "2018-01-02T03:04:05",
      "backups": {"schedule": {"window": null, "day": null}, "enabled": false}, "alerts":
      {"network_in": 10, "network_out": 10, "cpu": 90, "transfer_quota": 80, "io":
      10000}, "ipv6": "1234::5678/64", "region": "us-west"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "116"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536437160"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/10157365/configs
    method: POST
  response:
    body: '{"helpers": {"distro": true, "devtmpfs_automount": true, "updatedb_disabled":
      true, "network": true, "modules_dep": true}, "memory_limit": 0, "label": "linodego-test-config",
      "comments": "", "updated": "2018-01-02T03:04:05", "run_level": "default", "id":
      11404221, "initrd": null, "root_device": "/dev/sda", "virt_mode": "paravirt",
      "devices": {"sdg": null, "sde": null, "sdc": null, "sdh": null, "sda": null,
      "sdf": null, "sdb": null, "sdd": null}, "kernel": "linode/latest-64bit", "created":
      "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536437163"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
      X-Filter:
      - '{"id": 10157365}'
    url: https://api.linode.com/v4beta/linode/instances?page=1
    method: GET
  response:
    body: '{"data": [{"backups": {"enabled": false, "schedule": {"window": null, "day":
      null}}, "ipv6": "1234::5678/64", "status": "provisioning",
      "group": "", "type": "g6-nanode-1", "hypervisor": "kvm", "specs": {"vcpus":
      1, "disk": 25600, "transfer": 1000, "memory": 1024}, "region": "us-west", "label":
      "linodego-test-instance", "ipv4": ["010.020.030.040"], "id": 10157365, "created":
      "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "alerts": {"cpu": 90,
      "network_out": 10, "transfer_quota": 80, "network_in": 10, "io": 10000}, "image":
      null, "watchdog_enabled": true}], "results": 1, "page": 1, "pages": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536437163"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/10157365
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536437164"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
