---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"status": "provisioning", "backups": {"schedule": {"window": null, "day":
      null}, "enabled": false}, "specs": {"vcpus": 1, "memory": 1024, "disk": 25600,
      "transfer": 1000}, "id": 11750570, "ipv6": "1234::5678/64",
      "tags": [], "label": "linodego-test-instance", "created": "2018-01-02T03:04:05",
      "ipv4": ["010.020.030.040"], "type": "g6-nanode-1", "alerts": {"transfer_quota":
      80, "io": 10000, "cpu": 90, "network_out": 10, "network_in": 10}, "image": null,
      "region": "us-west", "hypervisor": "kvm", "group": "", "watchdog_enabled": true,
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "77"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1543806715"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11750570/configs
    method: POST
  response:
    body: '{"label": "linodego-test-config", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "helpers": {"updatedb_disabled": true, "distro": true,
      "modules_dep": true, "network": true, "devtmpfs_automount": true}, "initrd":
      null, "virt_mode": "paravirt", "devices": {"sdd": null, "sdb": null, "sda":
      null, "sde": null, "sdh": null, "sdf": null, "sdg": null, "sdc": null}, "id":
      12976938, "run_level": "default", "memory_limit": 0, "root_device": "/dev/sda",
      "kernel": "linode/latest-64bit", "comments": ""}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543806757"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
      X-Filter:
      - '{"linode_id":11750570}'
    url: https://api.linode.com/v4/networking/ips
    method: GET
  response:
    body: '{"data": [{"gateway": "010.020.030.040", "prefix": 24, "subnet_mask": "010.020.030.040",
      "type": "ipv4", "linode_id": 10967576, "address": "010.020.030.040", "region":
      "us-east", "rdns": "li1831-217.members.linode.com", "public": true}, {"gateway":
      "010.020.030.040", "prefix": 24, "subnet_mask": "010.020.030.040", "type": "ipv4",
      "linode_id": 11221635, "address": "010.020.030.040", "region": "us-east", "rdns":
      "li244-79.members.linode.com", "public": true}, {"gateway": "010.020.030.040",
      "prefix": 24, "subnet_mask": "010.020.030.040", "type": "ipv4", "linode_id": 11404729,
      "address": "010.020.030.040", "region": "eu-west", "rdns": "li559-212.members.linode.com",
      "public": true}, {"gat[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11750570
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "15"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1543806654"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
