---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/clusters
    method: GET
  response:
    body: '{"pages": 1, "results": 1, "data": [{"domain": "us-east-1.linodeobjects.com",
      "id": "us-east-1", "region": "us-east", "status": "available", "static_site_domain":
      "website-us-east-1.linodeobjects.com"}], "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "92"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1563825939"
      X-Spec-Version:
      - 4.2.3
    status: 200 OK
    code: 200
    duration: ""
