---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/notifications
    method: GET
  response:
    body: '{"data": [{"type": "migration_pending", "severity": "major", "label": "You
      have a migration pending!", "message": "You have a migration pending! Your Linode
      must be offline before starting the migration.", "until": null, "entity": {"id":
      123456, "type": "linode", "url": "/linode/instances/123456", "label": "linode"},
      "when": null, "body": null}, {"type": "ticket_important", "severity": "major",
      "label": "You have an important ticket open!", "message": "You have an important
      ticket open!", "until": null, "entity": {"id": 12345678, "type": "ticket", "url":
      "/support/tickets/12345678", "label": "Linode Backup Failure"}, "when": null,
      "body": null}], "page": 1, "results": 2, "pages": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1544065903"
      X-Spec-Version:
      - 4.0.10
    status: 200 OK
    code: 200
    duration: ""
