---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile
    method: GET
  response:
    body: '{"username": "restricted_tester", "ip_whitelist_enabled": false, "timezone":
      "GMT", "uid": 123456, "restricted": true, "lish_auth_method": "password_keys",
      "two_factor_auth": false, "email": "restricted_tester@example.com", "referrals":
      {"pending": 0, "credit": 0, "total": 0, "completed": 0, "code": "919117eb5f8eb87eff289a49d30c76bf0c3f7de1",
      "url": "https://www.linode.com/?r=919117eb5f8eb87eff289a49d30c76bf0c3f7de1"},
      "email_notifications": true, "authorized_keys": null}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "80"
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1540524102"
      X-Spec-Version:
      - 4.0.7
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"email":"restricted_tester@example.com","timezone":"GMT","email_notifications":true,"ip_whitelist_enabled":false,"lish_auth_method":"password_keys","authorized_keys":[],"two_factor_auth":false,"restricted":true}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile
    method: PUT
  response:
    body: '{"restricted": true, "email": "restricted_tester@example.com", "two_factor_auth":
      false, "username": "restricted_tester", "lish_auth_method": "password_keys",
      "timezone": "GMT", "authorized_keys": null, "referrals": {"credit": 0, "completed":
      0, "code": "919117eb5f8eb87eff289a49d30c76bf0c3f7de1", "pending": 0, "url":
      "https://www.linode.com/?r=919117eb5f8eb87eff289a49d30c76bf0c3f7de1", "total":
      0}, "uid": 123456, "ip_whitelist_enabled": false, "email_notifications": true}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1540524142"
      X-Spec-Version:
      - 4.0.7
    status: 200 OK
    code: 200
    duration: ""
