---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile
    method: GET
  response:
    body: '{"ip_whitelist_enabled": false, "email_notifications": true, "email": "restricted_tester@example.com",
      "timezone": "GMT", "restricted": true, "two_factor_auth": false, "uid": 123456,
      "lish_auth_method": "password_keys", "authorized_keys": null, "referrals": {"total":
      0, "credit": 0, "completed": 0, "code": "919117eb5f8eb87eff289a49d30c76bf0c3f7de1",
      "url": "https://www.linode.com/?r=919117eb5f8eb87eff289a49d30c76bf0c3f7de1",
      "pending": 0}, "username": "restricted_tester"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "95"
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1540524102"
      X-Spec-Version:
      - 4.0.7
    status: 200 OK
    code: 200
    duration: ""
