---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/account/events
    method: GET
  response:
    body: '{"data": [{"created": "2018-01-02T03:04:05", "username": "restricted_tester",
    "status": "resizing", "time_remaining": "1:23", "id": 11846172, "percent_complete":
      0, "entity": {"label": "linodego-test-instance", "url": "/v4/linode/instances/9588435",
      "id": 9588435, "type": "linode"}, "read": false, "rate": "1.23 MB/s", "seen": false,
      "action": "linode_resize"}, {"created": "2018-01-02T03:04:05", "username": "restricted_tester",
      "status": "finished", "time_remaining": 0, "id": 11846182, "percent_complete":
      100, "entity": {"label": "linodego-test-instance", "url": "/v4/linode/instances/9588435",
      "id": 9588435, "type": "linode"}, "read": false, "rate": null, "seen": false,
      "action": "linode_resize"},{"created": "2018-01-02T03:04:05", "username": "restricted_tester",
      "status": "finished", "time_remaining": null, "id": 11846192, "percent_complete":
      null, "entity": {"label": "linodego-test-instance", "url": "/v4/linode/instances/9588435",
      "id": 9588435, "type": "linode"}, "read": false, "rate": null, "seen": false,
      "action": "linode_resize"}], "page": 1, "pages": 1, "results": 3}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "114"
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1533945846"
      X-Spec-Version:
      - 4.0.3
    status: 200 OK
    code: 200
    duration: ""
