---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"hypervisor": "kvm", "type": "g6-nanode-1", "region": "us-west", "status":
      "provisioning", "tags": [], "alerts": {"cpu": 90, "network_out": 10, "network_in":
      10, "transfer_quota": 80, "io": 10000}, "ipv6": "1234::5678/64",
      "image": null, "group": "", "id": 10341296, "backups": {"schedule": {"day":
      null, "window": null}, "enabled": false}, "updated": "2018-01-02T03:04:05",
      "created": "2018-01-02T03:04:05", "ipv4": ["010.020.030.040"], "label": "linodego-test-instance",
      "watchdog_enabled": true, "specs": {"memory": 1024, "vcpus": 1, "transfer":
      1000, "disk": 25600}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537387084"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10341296/configs
    method: POST
  response:
    body: '{"created": "2018-01-02T03:04:05", "root_device": "/dev/sda", "id": 11587979,
      "updated": "2018-01-02T03:04:05", "initrd": null, "memory_limit": 0, "devices":
      {"sdd": null, "sda": null, "sdf": null, "sdc": null, "sde": null, "sdh": null,
      "sdb": null, "sdg": null}, "label": "linodego-test-config", "run_level": "default",
      "helpers": {"network": true, "devtmpfs_automount": true, "updatedb_disabled":
      true, "modules_dep": true, "distro": true}, "comments": "", "virt_mode": "paravirt",
      "kernel": "linode/latest-64bit"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537387085"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10341296
    method: GET
  response:
    body: '{"group": "", "id": 10341296, "ipv6": "1234::5678/64",
      "region": "us-west", "watchdog_enabled": true, "type": "g6-nanode-1", "status":
      "offline", "updated": "2018-01-02T03:04:05", "label": "linodego-test-instance",
      "image": null, "tags": [], "created": "2018-01-02T03:04:05", "alerts": {"cpu":
      90, "network_out": 10, "transfer_quota": 80, "network_in": 10, "io": 10000},
      "ipv4": ["010.020.030.040"], "backups": {"enabled": false, "schedule": {"window":
      null, "day": null}}, "specs": {"vcpus": 1, "disk": 25600, "transfer": 1000,
      "memory": 1024}, "hypervisor": "kvm"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537387093"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"test","size":2000,"image":"linode/debian9","root_pass":"b4d_p455","filesystem":"ext4"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10341296/disks
    method: POST
  response:
    body: '{"created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "label":
      "test", "status": "not ready", "filesystem": "ext4", "size": 2000, "id": 22108608}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537387093"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10341296/disks
    method: GET
  response:
    body: '{"results": 1, "page": 1, "data": [{"id": 22108608, "filesystem": "ext4",
      "status": "ready", "created": "2018-01-02T03:04:05", "size": 2000, "label":
      "test", "updated": "2018-01-02T03:04:05"}], "pages": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "103"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1537387102"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"password":"r34!_b4d_p455"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10341296/disks/22108608/password
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "93"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1537387092"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
[...]
