---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"image": "linode/debian9", "created": "2018-01-02T03:04:05", "tags": [],
      "ipv6": "1234::5678/64", "status": "provisioning", "group":
      "", "ipv4": ["10.20.30.40"], "label": "linodego-test-instance", "specs":
      {"vcpus": 1, "disk": 25600, "transfer": 1000, "memory": 1024, "gpus": 0}, "region":
      "us-west", "id": 18512749, "alerts": {"io": 10000, "network_out": 10, "cpu":
      90, "transfer_quota": 80, "network_in": 10}, "updated": "2018-01-02T03:04:05",
      "watchdog_enabled": true, "type": "g6-nanode-1", "hypervisor": "kvm", "backups":
      {"enabled": false, "schedule": {"day": null, "window": null}}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574092372"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"test-instance-volume","devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18512749/configs
    method: POST
  response:
    body: '{"updated": "2018-01-02T03:04:05", "root_device": "/dev/sda", "run_level":
      "default", "comments": "", "kernel": "linode/latest-64bit", "initrd": null,
      "devices": {"sde": null, "sdf": null, "sdd": null, "sdc": null, "sda": null,
      "sdb": null, "sdh": null, "sdg": null}, "id": 19755239, "helpers": {"distro":
      true, "modules_dep": true, "updatedb_disabled": true, "devtmpfs_automount":
      true, "network": true}, "memory_limit": 0, "virt_mode": "paravirt", "label":
      "test-instance-volume", "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574092374"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18512749
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574092410"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
