---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"backups": {"schedule": {"window": null, "day": null}, "enabled": false},
      "status": "provisioning", "created": "2018-01-02T03:04:05", "ipv4": ["10.20.30.40"],
      "hypervisor": "kvm", "region": "us-west", "updated": "2018-01-02T03:04:05",
      "id": 13585000, "ipv6": "1234::5678/64", "image": "linode/debian9",
      "label": "linodego-test-instance", "specs": {"transfer": 1000, "disk": 25600,
      "memory": 1024, "vcpus": 1}, "type": "g6-nanode-1", "group": "", "watchdog_enabled":
      true, "alerts": {"network_in": 10, "network_out": 10, "cpu": 90, "io": 10000,
      "transfer_quota": 80}, "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1555086370"
      X-Spec-Version:
      - 4.0.19
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/13585000/boot
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1555086371"
      X-Spec-Version:
      - 4.0.19
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/13585000/stats
    method: GET
  response:
    body: '{"data": {"cpu": [[1555000500000, 0], [1555000800000, 0], [1555001100000,
      0], [1555001400000, 0], [1555001700000, 0], [1555002000000, 0], [1555002300000,
      0], [1555002600000, 0], [1555002900000, 0], [1555003200000, 0], [1555003500000,
      0], [1555003800000, 0], [1555004100000, 0], [1555004400000, 0], [1555004700000,
      0], [1555005000000, 0], [1555005300000, 0], [1555005600000, 0], [1555005900000,
      0], [1555006200000, 0], [1555006500000, 0], [1555006800000, 0], [1555007100000,
    [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/13585000/stats/2018/1
    method: GET
  response:
    body: '{"title": "linode.com - linodego-test-instance (linode13585000) - month
      (2 hr avg)", "data": {"cpu": [[1552500000000, 0], [1552507200000, 0], [1552514400000,
      0], [1552521600000, 0], [1552528800000, 0], [1552536000000, 0], [1552543200000,
      0], [1552550400000, 0], [1552557600000, 0], [1552564800000, 0], [1552572000000,
      0], [1552579200000, 0], [1552586400000, 0], [1552593600000, 0], [1552600800000,
      0], [1552608000000, 0], [1552615200000, 0], [1552622400000, 0], [1552629600000,
 [...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/13585000
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1555086814"
      X-Spec-Version:
      - 4.0.19
    status: 200 OK
    code: 200
    duration: ""
