---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/account/payments
    method: GET
  response:
    body: '{"data": [{"date":
      "2018-01-02T03:04:05", "usd": 1.0, "id": 123}, {"date": "2018-01-02T03:04:05",
      "usd": -1.0, "id": 456}], "pages": 1, "page": 1, "results": 2}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1556678489"
      X-Spec-Version:
      - 4.0.22
    status: 200 OK
    code: 200
    duration: ""
