---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"status": "provisioning", "hypervisor": "kvm", "label": "linodego-test-instance",
      "group": "", "tags": [], "image": null, "created": "2018-01-02T03:04:05", "watchdog_enabled":
      true, "id": 10340582, "backups": {"enabled": false, "schedule": {"day": null,
      "window": null}}, "region": "us-west", "updated": "2018-01-02T03:04:05", "ipv6":
      "1234::5678/64", "ipv4": ["010.020.030.040"], "type": "g6-nanode-1",
      "specs": {"disk": 25600, "transfer": 1000, "vcpus": 1, "memory": 1024}, "alerts":
      {"network_out": 10, "cpu": 90, "io": 10000, "network_in": 10, "transfer_quota":
      80}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537383175"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10340582/configs
    method: POST
  response:
    body: '{"root_device": "/dev/sda", "updated": "2018-01-02T03:04:05", "memory_limit":
      0, "id": 11587245, "comments": "", "run_level": "default", "created": "2018-01-02T03:04:05",
      "label": "linodego-test-config", "virt_mode": "paravirt", "kernel": "linode/latest-64bit",
      "initrd": null, "devices": {"sdg": null, "sdh": null, "sdc": null, "sdf": null,
      "sdb": null, "sda": null, "sde": null, "sdd": null}, "helpers": {"devtmpfs_automount":
      true, "updatedb_disabled": true, "network": true, "distro": true, "modules_dep":
      true}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537383177"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10340582
    method: GET
  response:
    body: '{"created": "2018-01-02T03:04:05", "type": "g6-nanode-1", "ipv4": ["010.020.030.040"],
      "region": "us-west", "watchdog_enabled": true, "tags": [], "id": 10340582, "updated":
      "2018-01-02T03:04:05", "ipv6": "1234::5678/64", "group":
      "", "status": "offline", "label": "linodego-test-instance", "backups": {"enabled":
      false, "schedule": {"window": null, "day": null}}, "image": null, "hypervisor":
      "kvm", "alerts": {"network_out": 10, "network_in": 10, "cpu": 90, "io": 10000,
      "transfer_quota": 80}, "specs": {"vcpus": 1, "memory": 1024, "transfer": 1000,
      "disk": 25600}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537383187"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"test","size":2000,"filesystem":"ext4"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10340582/disks
    method: POST
  response:
    body: '{"id": 22107193, "filesystem": "ext4", "status": "not ready", "created":
      "2018-01-02T03:04:05", "size": 2000, "label": "test", "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537383187"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10340582/disks/22107193
    method: GET
  response:
    body: '{"updated": "2018-01-02T03:04:05", "status": "ready", "id": 22107193, "label":
      "test", "created": "2018-01-02T03:04:05", "size": 2000, "filesystem": "ext4"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "12"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1537383091"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"size":4000}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10340582/disks/22107193/resize
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537383198"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
[...]
