---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"status": "provisioning", "backups": {"schedule": {"window": null, "day":
      null}, "enabled": false}, "specs": {"vcpus": 1, "memory": 1024, "disk": 25600,
      "transfer": 1000}, "id": 11758358, "ipv6": "1234::5678/64",
      "tags": [], "label": "linodego-test-instance", "created": "2018-01-02T03:04:05",
      "ipv4": ["10.20.30.40"], "type": "g6-nanode-1", "alerts": {"transfer_quota":
      80, "io": 10000, "cpu": 90, "network_out": 10, "network_in": 10}, "image": null,
      "region": "us-west", "hypervisor": "kvm", "group": "", "watchdog_enabled": true,
      "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543840943"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11758358/configs
    method: POST
  response:
    body: '{"created": "2018-01-02T03:04:05", "virt_mode": "paravirt", "kernel": "linode/latest-64bit",
      "comments": "", "root_device": "/dev/sda", "devices": {"sdh": null, "sdf": null,
      "sdd": null, "sda": null, "sdc": null, "sdg": null, "sdb": null, "sde": null},
      "initrd": null, "label": "linodego-test-config", "run_level": "default", "helpers":
      {"updatedb_disabled": true, "modules_dep": true, "distro": true, "devtmpfs_automount":
      true, "network": true}, "memory_limit": 0, "id": 12984584, "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543840945"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11758358/ips
    method: GET
  response:
    body: '{"ipv4": {"shared": [], "private": [], "public": [{"rdns": "li594-78.members.linode.com",
      "subnet_mask": "10.20.30.40", "type": "ipv4", "prefix": 24, "gateway": "10.20.30.40",
      "public": true, "address": "10.20.30.40", "linode_id": 11758358, "region":
      "us-west"}]}, "ipv6": {"slaac": {"rdns": null, "subnet_mask": "1234::5678",
      "type": "ipv6", "prefix": 64, "gateway": "1234::5678", "region": "us-west", "address":
      "1234::5678", "linode_id": 11758358, "public": true}, "link_local":
      {"rdns": null, "subnet_mask": "1234::5678", "type": "ipv6", "prefix":
      64, "gateway": "1234::5678", "region": "us-west", "address": "1234::5678",
      "linode_id": 11758358, "public": false}, "global": []}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "88"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1543840914"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11758358
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "114"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1543840941"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
