---
version: 1
interactions:
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing","region":"us-west","client_conn_throttle":20,"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers
    method: POST
  response:
    body: '{"id": 55623, "label": "lpq6h62z88m4-linodego-testing", "region": "us-west",
      "hostname": "nb-10-20-30-40.fremont.nodebalancer.linode.com", "ipv4": "10.20.30.40",
      "ipv6": "1234::5678", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "client_conn_throttle": 20, "tags": [], "transfer": {"in":
      null, "out": null, "total": null}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1576610502"
      X-Spec-Version:
      - 4.11.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/55623/stats
    method: GET
  response:
    body: '{"errors": [{"reason": "Stats are unavailable at this time."}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "59"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "20"
      X-Ratelimit-Remaining:
      - "19"
      X-Ratelimit-Reset:
      - "1576610453"
      X-Spec-Version:
      - 4.11.0
    status: 400 BAD REQUEST
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/nodebalancers/55623
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - nodebalancers:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1576610513"
      X-Spec-Version:
      - 4.11.0
    status: 200 OK
    code: 200
    duration: ""
