---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","tags":["linodego-test"]}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"status": "provisioning", "watchdog_enabled": true, "specs": {"transfer":
      1000, "disk": 25600, "vcpus": 1, "memory": 1024}, "label": "linodego-test-instance",
      "created": "2018-01-02T03:04:05", "id": 10697741, "ipv4": ["010.020.030.040"],
      "type": "g6-nanode-1", "group": "", "image": null, "updated": "2018-01-02T03:04:05",
      "ipv6": "1234::5678/64", "backups": {"enabled": false, "schedule":
      {"day": null, "window": null}}, "tags": ["linodego-test"], "hypervisor": "kvm",
      "region": "us-west", "alerts": {"io": 10000, "transfer_quota": 80, "cpu": 90,
      "network_out": 10, "network_in": 10}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1538775166"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-instance","backups":{"enabled":false,"Schedule":{}},"alerts":{"cpu":90,"io":10000,"network_in":10,"network_out":10,"transfer_quota":80},"watchdog_enabled":true,"tags":["linodego-test","linodego-test-bar"]}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10697741
    method: PUT
  response:
    body: '{"hypervisor": "kvm", "updated": "2018-01-02T03:04:05", "group": "", "ipv6":
      "1234::5678/64[...]
- request:
    body: '{"label":"linodego-test-foo"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/tags
    method: POST
  response:
    body: '{"label": "linodego-test-foo"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1538775168"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/tags
    method: GET
  response:
    body: '{"results": 5, "page": 1, "data": [{"label": "foo-test"}, {"label": "linodego-test"},
      {"label": "linodego-test-bar"}, {"label": "linodego-test-foo"}, {"label": "linodego-test2"}],
      "pages": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1538775168"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/tags/linodego-test
    method: GET
  response:
    body: '{"page": 1, "results": 1, "pages": 1, "data": [{"data": {"region": "us-west",
      "created": "2018-01-02T03:04:05", "type": "g6-nanode-1", "label": "linodego-test-instance",
      "ipv4": ["010.020.030.040"], "hypervisor": "kvm", "image"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/tags/linodego-test-foo
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "116"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1538775166"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/tags/linodego-test-bar
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "112"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1538775162"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
[...]
