---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"region": "us-west", "alerts": {"network_in": 10, "io": 10000, "cpu":
      90, "transfer_quota": 80, "network_out": 10}, "created": "2018-01-02T03:04:05",
      "label": "linodego-test-instance", "updated": "2018-01-02T03:04:05", "watchdog_enabled":
      true, "image": null, "id": 10174070, "group": "", "ipv4": ["010.020.030.040"],
      "status": "provisioning", "hypervisor": "kvm", "ipv6": "1234::5678/64",
      "type": "g6-nanode-1", "backups": {"enabled": false, "schedule": {"day": null,
      "window": null}}, "specs": {"vcpus": 1, "disk": 25600, "memory": 1024, "transfer":
      1000}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "75"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1536513204"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10174070/configs
    method: POST
  response:
    body: '{"helpers": {"distro": true, "network": true, "devtmpfs_automount": true,
      "updatedb_disabled": true, "modules_dep": true}, "virt_mode": "paravirt", "created":
      "2018-01-02T03:04:05", "label": "linodego-test-config", "id": 11421187, "devices":
      {"sdc": null, "sdd": null, "sda": null, "sdf": null, "sdb": null, "sde": null,
      "sdg": null, "sdh": null}, "run_level": "default", "updated": "2018-01-02T03:04:05",
      "memory_limit": 0, "kernel": "linode/latest-64bit", "comments": "", "initrd":
      null, "root_device": "/dev/sda"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536513248"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"bar","comments":"","devices":{},"memory_limit":0,"init_rd":null,"root_device":"/dev/root"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10174070/configs/11421187
    method: PUT
  response:
    body: '{"root_device": "/dev/root", "updated": "2018-01-02T03:04:05", "virt_mode":
      "paravirt", "initrd": null, "label": "bar", "created": "2018-01-02T03:04:05",
      "comments": "", "memory_limit": 0, "kernel": "linode/latest-64bit", "run_level":
      "default", "devices": {"sdb": null, "sdg": null, "sdh": null, "sda": null, "sdd":
      null, "sde": null, "sdf": null, "sdc": null}, "helpers": {"distro": true, "modules_dep":
      true, "devtmpfs_automount": true, "network": true, "updatedb_disabled": true},
      "id": 11421187}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "18"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1536513147"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10174070
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "16"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1536513145"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
