---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"created": "2018-01-02T03:04:05", "alerts": {"transfer_quota": 80, "io":
      10000, "cpu": 90, "network_out": 10, "network_in": 10}, "ipv4": ["010.020.030.040"],
      "updated": "2018-01-02T03:04:05", "region": "us-west", "backups": {"schedule":
      {"window": null, "day": null}, "enabled": false}, "image": null, "status": "provisioning",
      "type": "g6-nanode-1", "ipv6": "1234::5678/64", "group":
      "", "watchdog_enabled": true, "tags": [], "hypervisor": "kvm", "label": "linodego-test-instance",
      "specs": {"transfer": 1000, "memory": 1024, "vcpus": 1, "disk": 25600}, "id":
      11750569}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "27"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1543806663"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11750569/configs
    method: POST
  response:
    body: '{"virt_mode": "paravirt", "initrd": null, "id": 12976937, "memory_limit":
      0, "label": "linodego-test-config", "comments": "", "updated": "2018-01-02T03:04:05",
      "root_device": "/dev/sda", "created": "2018-01-02T03:04:05", "kernel": "linode/latest-64bit",
      "helpers": {"network": true, "devtmpfs_automount": true, "distro": true, "modules_dep":
      true, "updatedb_disabled": true}, "run_level": "default", "devices": {"sdc":
      null, "sdh": null, "sde": null, "sdd": null, "sdf": null, "sdb": null, "sdg":
      null, "sda": null}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543806755"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/networking/ips/010.020.030.040
    method: GET
  response:
    body: '{"region": "us-west", "address": "010.020.030.040", "prefix": 24, "gateway":
      "010.020.030.040", "linode_id": 11750569, "subnet_mask": "010.020.030.040", "rdns":
      "li223-229.members.linode.com", "type": "ipv4", "public": true}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "17"
      X-Accepted-Oauth-Scopes:
      - ips:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1543806654"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11750569
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543806756"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
