---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-token","scopes":"linodes:read_only","expiry":"2018-01-02T03:04:05"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: POST
  response:
    body: '{"label": "linodego-test-token", "expiry": "2018-01-02T03:04:05", "created":
      "2018-01-02T03:04:05", "scopes": "linodes:read_only", "id": 319506, "token":
      "21763c3e7ced3fbb641a843e28018cd4dfb155794bbcce08755d32340c3982ca"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "3598"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "3"
      X-Ratelimit-Remaining:
      - "1"
      X-Ratelimit-Reset:
      - "1539975801"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens
    method: GET
  response:
    body: '{"page": 1, "pages": 1, "data": [{"expiry": "2018-01-02T03:04:05", "id": 319506, "scopes":
      "linodes:read_only", "token": "21763c3e7ced3fbb", "label": "linodego-test-token",
      "created": "2018-01-02T03:04:05"}], "results": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1539972322"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/profile/tokens/319506
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1539972322"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
