---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"id": 18673799, "label": "linodego-test-instance", "tags": [], "status":
      "provisioning", "ipv6": "1234::5678/64", "group": "", "image":
      "linode/debian9", "updated": "2018-01-02T03:04:05", "ipv4": ["10.20.30.40"],
      "created": "2018-01-02T03:04:05", "watchdog_enabled": true, "specs": {"gpus":
      0, "disk": 25600, "memory": 1024, "transfer": 1000, "vcpus": 1}, "region": "us-west",
      "hypervisor": "kvm", "type": "g6-nanode-1", "alerts": {"cpu": 90, "network_in":
      10, "io": 10000, "transfer_quota": 80, "network_out": 10}, "backups": {"schedule":
      {"window": null, "day": null}, "enabled": false}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1575308917"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18673799/boot
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "116"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1575308917"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18673799
    method: GET
  response:
    body: '{"region": "us-west", "specs": {"memory": 1024, "vcpus": 1, "disk": 25600,
      "gpus": 0, "transfer": 1000}, "label": "linodego-test-instance", "group": "",
      "tags": [], "image": "linode/debian9", "id": 18673799, "hypervisor": "kvm",
      "created": "2018-01-02T03:04:05", "ipv6": "1234::5678/64",
      "backups": {"schedule": {"window": null, "day": null}, "enabled": false}, "status":
      "booting", "updated": "2018-01-02T03:04:05", "ipv4": ["10.20.30.40"], "type":
      "g6-nanode-1", "alerts": {"network_out": 10, "network_in": 10, "io": 10000,
      "transfer_quota": 80, "cpu": 90}, "watchdog_enabled": true}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1575308923"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18673799/disks
    method: GET
  response:
    body: '{"pages": 1, "results": 2, "data": [{"size": 25088, "id": 38285887, "filesystem":
      "ext4", "status": "ready", "created": "2018-01-02T03:04:05", "label": "Debian
      9 Disk", "updated": "2018-01-02T03:04:05"}, {"size": 512, "id": 38285888, "filesystem":
      "swap", "status": "ready", "created": "2018-01-02T03:04:05", "label": "512 MB
      Swap Image", "updated": "2018-01-02T03:04:05"}], "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "116"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1575308947"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk_id":38285887,"label":"linodego-test-image"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images
    method: POST
  response:
    body: '{"description": "", "created": "2018-01-02T03:04:05", "expiry": null, "label":
      "linodego-test-image", "created_by": "pccampbell", "type": "manual", "vendor":
      null, "size": 25088, "is_public": false, "deprecated": false, "id": "private/7805155"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only,images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1575308954"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/images/private/7805155
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - images:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1575309093"
      X-Spec-Version:
      - 4.9.0
    status: 200 OK
    code: 200
    duration: ""
[...]
