---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"hypervisor": "kvm", "type": "g6-nanode-1", "region": "us-west", "status":
      "provisioning", "tags": [], "alerts": {"cpu": 90, "network_out": 10, "network_in":
      10, "transfer_quota": 80, "io": 10000}, "ipv6": "1234::5678/64",
      "image": null, "group": "", "id": 10340847, "backups": {"schedule": {"day":
      null, "window": null}, "enabled": false}, "updated": "2018-01-02T03:04:05",
      "created": "2018-01-02T03:04:05", "ipv4": ["010.020.030.040"], "label": "linodego-test-instance",
      "watchdog_enabled": true, "specs": {"memory": 1024, "vcpus": 1, "transfer":
      1000, "disk": 25600}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537384432"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10340847/configs
    method: POST
  response:
    body: '{"memory_limit": 0, "updated": "2018-01-02T03:04:05", "id": 11587531, "root_device":
      "/dev/sda", "virt_mode": "paravirt", "initrd": null, "label": "linodego-test-config",
      "comments": "", "kernel": "linode/latest-64bit", "created": "2018-01-02T03:04:05",
      "devices": {"sdh": null, "sdc": null, "sdf": null, "sda": null, "sdb": null,
      "sdd": null, "sdg": null, "sde": null}, "run_level": "default", "helpers": {"modules_dep":
      true, "distro": true, "updatedb_disabled": true, "devtmpfs_automount": true,
      "network": true}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537384434"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10340847
    method: GET
  response:
    body: '{"hypervisor": "kvm", "type": "g6-nanode-1", "region": "us-west", "status":
      "offline", "tags": [], "alerts": {"cpu": 90, "network_out": 10, "network_in":
      10, "transfer_quota": 80, "io": 10000}, "ipv6": "1234::5678/64",
      "image": null, "group": "", "id": 10340847, "backups": {"schedule": {"day":
      null, "window": null}, "enabled": false}, "updated": "2018-01-02T03:04:05",
      "created": "2018-01-02T03:04:05", "ipv4": ["010.020.030.040"], "label": "linodego-test-instance",
      "watchdog_enabled": true, "specs": {"memory": 1024, "vcpus": 1, "transfer":
      1000, "disk": 25600}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537384444"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"test","size":2000,"image":"linode/debian9","root_pass":"b4d_p455","filesystem":"ext4"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10340847/disks
    method: POST
  response:
    body: '{"id": 22107751, "status": "not ready", "updated": "2018-01-02T03:04:05",
      "label": "test", "created": "2018-01-02T03:04:05", "size": 2000, "filesystem":
      "ext4"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537384444"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10340847/disks/22107751
    method: GET
  response:
    body: '{"updated": "2018-01-02T03:04:05", "filesystem": "ext4", "label": "test",
      "id": 22107751, "size": 2000, "created": "2018-01-02T03:04:05", "status": "ready"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537384464"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"password":"r34!_b4d_p455"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10340847/disks/22107751/password
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "42"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1537384388"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
[...]
