---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-token","scopes":"linodes:read_only","expiry":null}'
    form: {}
    headers:
      Authorization:
      - Bearer 6b882c8c7c8034830b284bc75073c41cc1eb6c4c27b8e982ab433a112ccda7e0
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile/tokens
    method: POST
  response:
    body: '{"label": "linodego-test-token", "expiry": "2999-12-12T05:00:00", "token":
      "431485bee492baf2c2577342a87b4d5919f1f3360594c6a91acdb4d7826deb79", "id": 319584,
      "created": "2018-10-19T19:13:57", "scopes": "linodes:read_only"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "3599"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "3"
      X-Ratelimit-Remaining:
      - "2"
      X-Ratelimit-Reset:
      - "1539980037"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer 6b882c8c7c8034830b284bc75073c41cc1eb6c4c27b8e982ab433a112ccda7e0
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile/tokens/319584
    method: GET
  response:
    body: '{"id": 319584, "label": "linodego-test-token", "token": "431485bee492baf2",
      "created": "2018-10-19T19:13:57", "expiry": "2999-12-12T05:00:00", "scopes":
      "linodes:read_only"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1539976557"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
[...]
