---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/clusters
    method: GET
  response:
    body: '{"data": [
    {
         "status": "available",
         "domain": "us-east-1.linodeobjects.com",
         "id": "us-east-1",
         "region": "us-east",
         "static_site_domain": "website-us-east-1.linodeobjects.com"
      }
   ]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "27"
      X-Accepted-Oauth-Scopes:
      - '*'
      X-Oauth-Scopes:
      - unknown
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "392"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
