---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-volume","region":"us-west","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes
    method: POST
  response:
    body: '{"linode_id": null, "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "id": 48742, "label": "linodego-test-volume", "created": "2018-01-02T03:04:05",
      "size": 20, "updated": "2018-01-02T03:04:05", "tags": [], "status": "creating",
      "region": "us-west"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574090802"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"specs": {"gpus": 0, "vcpus": 1, "memory": 1024, "disk": 25600, "transfer":
      1000}, "tags": [], "created": "2018-01-02T03:04:05", "hypervisor": "kvm", "label":
      "linodego-test-instance", "status": "provisioning", "group": "", "updated":
      "2018-01-02T03:04:05", "id": 18512514, "image": "linode/debian9", "region":
      "us-west", "type": "g6-nanode-1", "backups": {"schedule": {"window": null, "day":
      null}, "enabled": false}, "ipv4": ["10.20.30.40"], "ipv6": "1234::5678/64",
      "alerts": {"network_in": 10, "cpu": 90, "network_out": 10, "io": 10000, "transfer_quota":
      80}, "watchdog_enabled": true}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "116"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574090802"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"test-instance-volume","devices":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18512514/configs
    method: POST
  response:
    body: '{"updated": "2018-01-02T03:04:05", "root_device": "/dev/sda", "run_level":
      "default", "comments": "", "kernel": "linode/latest-64bit", "initrd": null,
      "devices": {"sde": null, "sdf": null, "sdd": null, "sdc": null, "sda": null,
      "sdb": null, "sdh": null, "sdg": null}, "id": 19754996, "helpers": {"distro":
      true, "modules_dep": true, "updatedb_disabled": true, "devtmpfs_automount":
      true, "network": true}, "memory_limit": 0, "virt_mode": "paravirt", "label":
      "test-instance-volume", "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574090805"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"linode_id":18512514,"config_id":19754996}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/48742/attach
    method: POST
  response:
    body: '{"tags": [], "linode_id": 18512514, "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "id": 48742, "label": "linodego-test-volume", "updated": "2018-01-02T03:04:05",
      "region": "us-west", "status": "active", "created": "2018-01-02T03:04:05", "size":
      20}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - volumes:read_only,linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574090805"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/volumes/48742
    method: GET
  response:
    body: '{"size": 20, "updated": "2018-01-02T03:04:05", "region": "us-west", "id":
      48742, "created": "2018-01-02T03:04:05", "tags": [], "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "status": "active", "linode_id": 18512514, "label": "linodego-test-volume"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - volumes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574090820"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18512514
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1574090825"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
[...]
