---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"group": "", "specs": {"transfer": 1000, "memory": 1024, "disk": 25600,
      "vcpus": 1}, "created": "2018-01-02T03:04:05", "region": "us-west", "hypervisor":
      "kvm", "label": "linodego-test-instance", "image": null, "alerts": {"network_out":
      10, "transfer_quota": 80, "io": 10000, "cpu": 90, "network_in": 10}, "status":
      "provisioning", "updated": "2018-01-02T03:04:05", "ipv6": "1234::5678/64",
      "backups": {"enabled": false, "schedule": {"day": null, "window": null}}, "type":
      "g6-nanode-1", "ipv4": ["010.020.030.040"], "watchdog_enabled": true, "id": 10174075}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536513280"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10174075/configs
    method: POST
  response:
    body: '{"virt_mode": "paravirt", "devices": {"sdg": null, "sda": null, "sdd":
      null, "sdb": null, "sde": null, "sdc": null, "sdh": null, "sdf": null}, "memory_limit":
      0, "comments": "", "updated": "2018-01-02T03:04:05", "run_level": "default",
      "label": "linodego-test-config", "id": 11421192, "created": "2018-01-02T03:04:05",
      "initrd": null, "root_device": "/dev/sda", "helpers": {"distro": true, "modules_dep":
      true, "network": true, "devtmpfs_automount": true, "updatedb_disabled": true},
      "kernel": "linode/latest-64bit"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536513281"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"volume-test","comments":"","devices":{"sda":{"volume_id":12787}},"memory_limit":0,"init_rd":null}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10174075/configs/11421192
    method: PUT
  response:
    body: '{"root_device": "/dev/sda", "updated": "2018-01-02T03:04:05", "virt_mode":
      "paravirt", "initrd": null, "label": "volume-test", "created": "2018-01-02T03:04:05",
      "comments": "", "memory_limit": 0, "kernel": "linode/latest-64bit", "run_level":
      "default", "devices": {"sdb": null, "sdg": null, "sdh": null, "sda": {"disk_id":
      null, "volume_id": 12787}, "sdd": null, "sde": null, "sdf": null, "sdc": null},
      "helpers": {"distro": true, "modules_dep": true, "devtmpfs_automount": true,
      "network": true, "updatedb_disabled": true}, "id": 11421192}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536513281"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10174075
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1536513280"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
