---
version: 1
interactions:
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"label": "lpq6h62z88m4-linodego-testing", "id": 347, "access_key": "[REDACTED]",
      "secret_key": "[REDACTED]"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1563824565"
      X-Spec-Version:
      - 4.2.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing_r"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/347
    method: PUT
  response:
    body: '{"id": 347, "access_key": "[REDACTED]", "secret_key": "[REDACTED]",
      "label": "lpq6h62z88m4-linodego-testing_r"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "113"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1563824560"
      X-Spec-Version:
      - 4.2.3
    status: 200 OK
    code: 200
    duration: ""
[...]
