---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"group": "", "label": "linodego-test-instance", "created": "2018-01-02T03:04:05",
      "status": "provisioning", "specs": {"vcpus": 1, "transfer": 1000, "disk": 25600,
      "memory": 1024}, "type": "g6-nanode-1", "region": "us-west", "ipv4": ["10.20.30.40"],
      "ipv6": "1234::5678/64", "tags": [], "id": 11758361, "hypervisor":
      "kvm", "image": null, "backups": {"enabled": false, "schedule": {"window": null,
      "day": null}}, "updated": "2018-01-02T03:04:05", "watchdog_enabled": true, "alerts":
      {"network_in": 10, "cpu": 90, "network_out": 10, "transfer_quota": 80, "io":
      10000}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "99"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1543840928"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11758361/configs
    method: POST
  response:
    body: '{"helpers": {"distro": true, "updatedb_disabled": true, "modules_dep":
      true, "network": true, "devtmpfs_automount": true}, "root_device": "/dev/sda",
      "updated": "2018-01-02T03:04:05", "id": 12984586, "memory_limit": 0, "kernel":
      "linode/latest-64bit", "created": "2018-01-02T03:04:05", "virt_mode": "paravirt",
      "devices": {"sdb": null, "sdf": null, "sdc": null, "sde": null, "sda": null,
      "sdd": null, "sdg": null, "sdh": null}, "run_level": "default", "initrd": null,
      "comments": "", "label": "linodego-test-config"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543840948"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11758361/ips
    method: GET
  response:
    body: '{"ipv4": {"public": [{"public": true, "address": "10.20.30.40", "subnet_mask":
      "10.20.30.40", "type": "ipv4", "gateway": "10.20.30.40", "region": "us-west",
      "rdns": "li982-235.members.linode.com", "linode_id": 11758361, "prefix": 24}],
      "shared": [], "private": []}, "ipv6": {"global": [], "link_local": {"region":
      "us-west", "address": "1234::5678", "subnet_mask": "1234::5678",
      "type": "ipv6", "gateway": "1234::5678", "public": false, "rdns": null, "linode_id":
      11758361, "prefix": 64}, "slaac": {"region": "us-west", "address": "1234::5678",
      "subnet_mask": "1234::5678", "type": "ipv6", "gateway": "1234::5678",
      "public": true, "rdns": null, "linode_id": 11758361, "prefix": 64}}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "113"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1543840943"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"rdns":"li982-235.members.linode.com"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/networking/ips/10.20.30.40
    method: PUT
  response:
    body: '{"gateway": "10.20.30.40", "prefix": 24, "subnet_mask": "10.20.30.40",
      "type": "ipv4", "linode_id": 11758361, "address": "10.20.30.40", "region":
      "us-west", "rdns": "li982-235.members.linode.com", "public": true}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - ips:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543840949"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11758361
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "84"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1543840914"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
