---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/76859403/backups
    method: GET
  response:
    body: '{"snapshot": {"current": {"created": "2018-01-02T03:04:05", "id": 96509901,
      "region": "us-east", "configs": ["My Ubuntu 18.04 LTS Disk Profile"], "finished":
      "2018-01-02T03:04:05", "label": "test-snapshot", "disks": [{"label": "Ubuntu
      18.04 LTS Disk", "size": 2320, "filesystem": "ext4"}, {"label": "512 MB Swap
      Image", "size": 0, "filesystem": "swap"}], "status": "successful", "type": "snapshot",
      "updated": "2018-01-02T03:04:05"}, "in_progress": null}, "automatic": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "30"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "396"
      X-Ratelimit-Reset:
      - "1530581958"
      X-Spec-Version:
      - 4.0.2
    status: 200 OK
    code: 200
    duration: ""
