---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"status": "provisioning", "hypervisor": "kvm", "label": "linodego-test-instance",
      "group": "", "tags": [], "image": null, "created": "2018-01-02T03:04:05", "watchdog_enabled":
      true, "id": 10341312, "backups": {"enabled": false, "schedule": {"day": null,
      "window": null}}, "region": "us-west", "updated": "2018-01-02T03:04:05", "ipv6":
      "1234::5678/64", "ipv4": ["010.020.030.040"], "type": "g6-nanode-1",
      "specs": {"disk": 25600, "transfer": 1000, "vcpus": 1, "memory": 1024}, "alerts":
      {"network_out": 10, "cpu": 90, "io": 10000, "network_in": 10, "transfer_quota":
      80}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537387232"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10341312/configs
    method: POST
  response:
    body: '{"memory_limit": 0, "updated": "2018-01-02T03:04:05", "id": 11587998, "root_device":
      "/dev/sda", "virt_mode": "paravirt", "initrd": null, "label": "linodego-test-config",
      "comments": "", "kernel": "linode/latest-64bit", "created": "2018-01-02T03:04:05",
      "devices": {"sdh": null, "sdc": null, "sdf": null, "sda": null, "sdb": null,
      "sdd": null, "sdg": null, "sde": null}, "run_level": "default", "helpers": {"modules_dep":
      true, "distro": true, "updatedb_disabled": true, "devtmpfs_automount": true,
      "network": true}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537387233"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10341312
    method: GET
  response:
    body: '{"specs": {"disk": 25600, "memory": 1024, "transfer": 1000, "vcpus": 1},
      "updated": "2018-01-02T03:04:05", "group": "", "ipv4": ["010.020.030.040"], "ipv6":
      "1234::5678/64", "id": 10341312, "alerts": {"cpu": 90, "io":
      10000, "network_out": 10, "transfer_quota": 80, "network_in": 10}, "created":
      "2018-01-02T03:04:05", "image": null, "label": "linodego-test-instance", "status":
      "provisioning", "hypervisor": "kvm", "watchdog_enabled": true, "type": "g6-nanode-1",
      "region": "us-west", "backups": {"enabled": false, "schedule": {"day": null,
      "window": null}}, "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537387234"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"label":"test","size":2000,"filesystem":"ext4"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10341312/disks
    method: POST
  response:
    body: '{"created": "2018-01-02T03:04:05", "updated": "2018-01-02T03:04:05", "label":
      "test", "status": "not ready", "filesystem": "ext4", "size": 2000, "id": 22108639}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537387236"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10341312/disks
    method: GET
  response:
    body: '{"page": 1, "data": [{"updated": "2018-01-02T03:04:05", "status": "not
      ready", "id": 22108639, "label": "test", "created": "2018-01-02T03:04:05", "size":
      2000, "filesystem": "ext4"}], "results": 1, "pages": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537387237"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"size":4000}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10341312/disks/22108639/resize
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1537387246"
      X-Spec-Version:
      - 4.0.5
    status: 200 OK
    code: 200
    duration: ""
[...]
