---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-volume","region":"us-west"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/volumes
    method: POST
  response:
    body: '{"filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "linode_id": null, "region": "us-west", "status": "creating", "label": "linodego-test-volume",
      "id": 12787, "created": "2018-01-02T03:04:05", "size": 20, "updated": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536513281"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10174075/volumes
    method: GET
  response:
    body: '{"pages": 1, "results": 1, "data": [{"id": 12787, "status": "active", "label":
      "linodego-test-volume", "updated": "2018-01-02T03:04:05", "created": "2018-01-02T03:04:05",
      "filesystem_path": "/dev/disk/by-id/scsi-0Linode_Volume_linodego-test-volume",
      "size": 20, "linode_id": 10174075, "region": "us-west"}], "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536513282"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/volumes/12787
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - volumes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536513282"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
