---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"backups": {"enabled": false, "schedule": {"day": null, "window": null}},
      "updated": "2018-01-02T03:04:05", "region": "us-west", "hypervisor": "kvm",
      "label": "linodego-test-instance", "created": "2018-01-02T03:04:05", "image":
      null, "alerts": {"network_in": 10, "cpu": 90, "network_out": 10, "transfer_quota":
      80, "io": 10000}, "group": "", "specs": {"vcpus": 1, "transfer": 1000, "disk":
      25600, "memory": 1024}, "ipv6": "1234::5678/64", "type":
      "g6-nanode-1", "id": 10174066, "status": "provisioning", "watchdog_enabled":
      true, "ipv4": ["010.020.030.040"]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "41"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1536513126"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10174066/configs
    method: POST
  response:
    body: '{"helpers": {"distro": true, "network": true, "devtmpfs_automount": true,
      "updatedb_disabled": true, "modules_dep": true}, "virt_mode": "paravirt", "created":
      "2018-01-02T03:04:05", "label": "linodego-test-config", "id": 11421183, "devices":
      {"sdc": null, "sdd": null, "sda": null, "sdf": null, "sdb": null, "sde": null,
      "sdg": null, "sdh": null}, "run_level": "default", "updated": "2018-01-02T03:04:05",
      "memory_limit": 0, "kernel": "linode/latest-64bit", "comments": "", "initrd":
      null, "root_device": "/dev/sda"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "40"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1536513125"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10174066/configs
    method: GET
  response:
    body: '{"data": [{"helpers": {"distro": true, "devtmpfs_automount": true, "updatedb_disabled":
      true, "network": true, "modules_dep": true}, "memory_limit": 0, "label": "linodego-test-config",
      "comments": "", "updated": "2018-01-02T03:04:05", "run_level": "default", "id":
      11421183, "initrd": null, "root_device": "/dev/sda", "virt_mode": "paravirt",
      "devices": {"sdg": null, "sde": null, "sdc": null, "sdh": null, "sda": null,
      "sdf": null, "sdb": null, "sdd": null}, "kernel": "linode/latest-64bit", "created":
      "2018-01-02T03:04:05"}], "pages": 1, "page": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536513204"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10174066
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536513204"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
