---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"region": "us-west", "alerts": {"network_in": 10, "io": 10000, "cpu":
      90, "transfer_quota": 80, "network_out": 10}, "created": "2018-01-02T03:04:05",
      "label": "linodego-test-instance", "updated": "2018-01-02T03:04:05", "watchdog_enabled":
      true, "image": null, "id": 10157452, "group": "", "ipv4": ["010.020.030.040"],
      "status": "provisioning", "hypervisor": "kvm", "ipv6": "1234::5678/64",
      "type": "g6-nanode-1", "backups": {"enabled": false, "schedule": {"day": null,
      "window": null}}, "specs": {"vcpus": 1, "disk": 25600, "memory": 1024, "transfer":
      1000}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536437266"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10157452/configs
    method: POST
  response:
    body: '{"virt_mode": "paravirt", "devices": {"sdg": null, "sda": null, "sdd":
      null, "sdb": null, "sde": null, "sdc": null, "sdh": null, "sdf": null}, "memory_limit":
      0, "comments": "", "updated": "2018-01-02T03:04:05", "run_level": "default",
      "label": "linodego-test-config", "id": 11404308, "created": "2018-01-02T03:04:05",
      "initrd": null, "root_device": "/dev/sda", "helpers": {"distro": true, "modules_dep":
      true, "network": true, "devtmpfs_automount": true, "updatedb_disabled": true},
      "kernel": "linode/latest-64bit"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1536437267"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/10157452
    method: GET
  response:
    body: '{"group": "", "backups": {"schedule": {"window": null, "day": null}, "enabled":
      false}, "region": "us-west", "created": "2018-01-02T03:04:05", "label": "linodego-test-instance",
      "id": 10157452, "status": "provisioning", "image": null, "specs": {"transfer":
      1000, "vcpus": 1, "disk": 25600, "memory": 1024}, "updated": "2018-01-02T03:04:05",
      "ipv6": "1234::5678/64", "hypervisor": "kvm", "type": "g6-nanode-1",
      "alerts": {"cpu": 90, "network_in": 10, "io": 10000, "transfer_quota": 80, "network_out":
      10}, "ipv4": ["010.020.030.040"], "watchdog_enabled": true}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "15"
      X-Accepted-Oauth-Scopes:
      - linodes:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1536437164"
      X-Spec-Version:
      - 4.0.4
    status: 200 OK
    code: 200
    duration: ""
[...]
