---
version: 1
interactions:
- request:
    body: '{"label":"lpq6h62z88m4-linodego-testing"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys
    method: POST
  response:
    body: '{"label": "lpq6h62z88m4-linodego-testing", "id": 348, "access_key": "[REDACTED]",
      "secret_key": "[REDACTED]"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "118"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1563824575"
      X-Spec-Version:
      - 4.2.3
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/object-storage/keys/348
    method: GET
  response:
    body: '{"label": "lpq6h62z88m4-linodego-testing", "id": 348, "access_key": "[REDACTED]",
      "secret_key": "[REDACTED]"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "43"
      X-Accepted-Oauth-Scopes:
      - object_storage:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1563824500"
      X-Spec-Version:
      - 4.2.3
    status: 200 OK
    code: 200
    duration: ""
[...]
