---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances
    method: POST
  response:
    body: '{"group": "", "label": "linodego-test-instance", "created": "2018-01-02T03:04:05",
      "status": "provisioning", "specs": {"vcpus": 1, "transfer": 1000, "disk": 25600,
      "memory": 1024}, "type": "g6-nanode-1", "region": "us-west", "ipv4": ["10.20.30.40"],
      "ipv6": "1234::5678/64", "tags": [], "id": 11758350, "hypervisor":
      "kvm", "image": null, "backups": {"enabled": false, "schedule": {"window": null,
      "day": null}}, "updated": "2018-01-02T03:04:05", "watchdog_enabled": true, "alerts":
      {"network_in": 10, "cpu": 90, "network_out": 10, "transfer_quota": 80, "io":
      10000}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "116"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1543840928"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11758350/configs
    method: POST
  response:
    body: '{"id": 12984579, "created": "2018-01-02T03:04:05", "comments": "", "devices":
      {"sdd": null, "sdf": null, "sdg": null, "sdh": null, "sda": null, "sdc": null,
      "sde": null, "sdb": null}, "updated": "2018-01-02T03:04:05", "label": "linodego-test-config",
      "memory_limit": 0, "initrd": null, "virt_mode": "paravirt", "root_device": "/dev/sda",
      "helpers": {"distro": true, "updatedb_disabled": true, "devtmpfs_automount":
      true, "network": true, "modules_dep": true}, "kernel": "linode/latest-64bit",
      "run_level": "default"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "58"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1543840870"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/networking/ips/10.20.30.40
    method: GET
  response:
    body: '{"subnet_mask": "10.20.30.40", "linode_id": 11758350, "type": "ipv4",
      "region": "us-west", "address": "10.20.30.40", "prefix": 24, "gateway":
      "10.20.30.40", "rdns": "li223-229.members.linode.com", "public": true}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "103"
      X-Accepted-Oauth-Scopes:
      - ips:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1543840915"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/linode/instances/11758350
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "42"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1543840855"
      X-Spec-Version:
      - 4.0.9
    status: 200 OK
    code: 200
    duration: ""
