---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-token","scopes":"linodes:read_only","expiry":"2018-01-02T03:04:05"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile/tokens
    method: POST
  response:
    body: '{"label": "linodego-test-token", "expiry": "2018-01-02T03:04:05", "token":
      "4f7699d7f0c2274263fe231bd5f7dfdf7d06e7639984b58b6ca9da91d64f2941", "id": 319505,
      "created": "2018-01-02T03:04:05", "scopes": "linodes:read_only"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "3599"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "3"
      X-Ratelimit-Remaining:
      - "2"
      X-Ratelimit-Reset:
      - "1539975802"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-token_renamed"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile/tokens/319505
    method: PUT
  response:
    body: '{"id": 319505, "label": "linodego-test-token_renamed", "token": "4f7699d7f0c22742",
      "created": "2018-01-02T03:04:05", "expiry": "2018-01-02T03:04:05", "scopes":
      "linodes:read_only"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1539972322"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
[...]
