---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-token","scopes":"linodes:read_only","expiry":"2018-01-02T03:04:05"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile/tokens
    method: POST
  response:
    body: '{"label": "linodego-test-token", "expiry": "2018-01-02T03:04:05", "created":
      "2018-01-02T03:04:05", "scopes": "linodes:read_only", "id": 318433, "token":
      "d51829db126528cd4ee1b52b1a4b444fc31bfb01492c281a5dc955336da32078"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "3599"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "3"
      X-Ratelimit-Remaining:
      - "2"
      X-Ratelimit-Reset:
      - "1539895776"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile/tokens/318433
    method: GET
  response:
    body: '{"expiry": "2018-01-02T03:04:05", "id": 318433, "scopes": "linodes:read_only",
      "token": "d51829db126528cd", "label": "linodego-test-token", "created": "2018-01-02T03:04:05"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1539892296"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
[...]
