---
version: 1
interactions:
- request:
    body: '{"label":"linodego-test-token","scopes":"linodes:read_only","expiry":"2018-01-02T03:04:05"}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile/tokens
    method: POST
  response:
    body: '{"label": "linodego-test-token", "expiry": "2018-01-02T03:04:05", "token":
      "63f0646f07f0390610923610a2b5f2da795879265b681fd3e2e67399d55b2933", "id": 318434,
      "created": "2018-01-02T03:04:05", "scopes": "linodes:read_only"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "2247"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "3"
      X-Ratelimit-Remaining:
      - "1"
      X-Ratelimit-Reset:
      - "1539894425"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile/tokens
    method: GET
  response:
    body: '{"results": 1, "pages": 1, "data": [{"id": 318434, "label": "linodego-test-token", "token": "63f0646f07f03906",
      "created": "2018-01-02T03:04:05", "expiry": "2018-01-02T03:04:05", "scopes":
      "linodes:read_only"}], "page": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_only
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1539892297"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4/profile/tokens/318434
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - account:read_write
      X-Oauth-Scopes:
      - linodes:delete,domains:delete,nodebalancers:delete,images:delete,stackscripts:delete,longview:delete,events:delete,tokens:delete,clients:delete,account:delete,users:delete,tickets:delete
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1539892297"
      X-Spec-Version:
      - 4.0.6
    status: 200 OK
    code: 200
    duration: ""
