---
version: 1
interactions:
- request:
    body: '{"region":"us-west","type":"g6-nanode-1","label":"linodego-test-instance","root_pass":"R34lBAdP455","image":"linode/debian9","booted":false}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances
    method: POST
  response:
    body: '{"image": "linode/debian9", "region": "us-west", "updated": "2018-01-02T03:04:05",
      "hypervisor": "kvm", "watchdog_enabled": true, "specs": {"disk": 25600, "gpus":
      0, "transfer": 1000, "vcpus": 1, "memory": 1024}, "group": "", "backups": {"schedule":
      {"day": null, "window": null}, "enabled": false}, "label": "linodego-test-instance",
      "ipv6": "1234::5678/64", "alerts": {"network_out": 10, "network_in":
      10, "transfer_quota": 80, "cpu": 90, "io": 10000}, "id": 18426095, "created":
      "2018-01-02T03:04:05", "type": "g6-nanode-1", "ipv4": ["10.20.30.40"], "tags":
      [], "status": "provisioning"}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "41"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "397"
      X-Ratelimit-Reset:
      - "1573665354"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"linodego-test-config","devices":{}}'
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18426095/configs
    method: POST
  response:
    body: '{"id": 19666343, "memory_limit": 0, "initrd": null, "label": "linodego-test-config",
      "devices": {"sdf": null, "sdc": null, "sdg": null, "sda": null, "sdd": null,
      "sdh": null, "sdb": null, "sde": null}, "run_level": "default", "created": "2018-01-02T03:04:05",
      "root_device": "/dev/sda", "virt_mode": "paravirt", "updated": "2018-01-02T03:04:05",
      "kernel": "linode/latest-64bit", "comments": "", "helpers": {"modules_dep":
      true, "updatedb_disabled": true, "network": true, "devtmpfs_automount": true,
      "distro": true}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573665432"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
      X-Filter:
      - '{"entity.id":18426095, "entity.type": "linode"}'
    url: https://api.linode.com/v4beta/account/events
    method: GET
  response:
    body: '{"results": 2, "page": 1, "pages": 1, "data": [{"created": "2018-01-02T03:04:05",
      "read": false, "seen": false, "percent_complete": null, "username": "pccampbell",
      "secondary_entity": null, "duration": null, "entity": {"type": "linode", "label":
      "linodego-test-instance", "url": "/v4/linode/instances/18426095", "id": 18426095},
      "action": "linode_config_create", "time_remaining": null, "rate": null, "status":
      "notification", "id": 59674603}, {"created": "2018-01-02T03:04:05", "read":
      false, "seen": false, "percent_complete": 0, "username": "pccampbell", "secondary_entity":
      {"type": "image", "label": "Debian 9", "id": "linode/debian9", "url": "/v4/images/linode/debian9"},
      "duration": null, "entity": {"type": "linode", "label": "linodego-test-instance",
      "url": "/v4/linode/instances/18426095", "id": 18426095}, "action": "linode_create",
      "time_remaining": null, "rate": null, "status": "scheduled", "id": 59674601}]}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "40"
      X-Accepted-Oauth-Scopes:
      - events:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1573665353"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Bearer awesometokenawesometokenawesometoken
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/linode/instances/18426095
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - linodes:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1573665432"
      X-Spec-Version:
      - 4.7.0
    status: 200 OK
    code: 200
    duration: ""
