name: Release Terraform cross repository test

on:
  workflow_dispatch: # Manual trigger

jobs:
  terraform_integration_test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout terraform repo
        uses: actions/checkout@v5
        with:
          repository: linode/terraform-provider-linode
          fetch-depth: 0
          submodules: 'recursive'

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - run: go version
      - run: make deps

      - name: Clone Repository
        uses: actions/checkout@v5
        with:
            path: linodego

      - name: Set up linodego
        run: |
          cd linodego
          linodego_dir=$(pwd)
          cd ..
          go mod edit -replace github.com/linode/linodego=$linodego_dir
          go mod tidy

      - name: run tests
        run: |
          make test-int
        env:
          LINODE_TOKEN: ${{ secrets.DX_LINODE_TOKEN }}
